Repository Farfetch/blackout, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: core, :package: react, type: maintenance, type: documentation

.github/labeler.yml:

":package: core":
  - 'packages/core/**/*'
  - 'packages/core/**/.*'
  - 'packages/core/.**/*'
  - 'packages/core/.**/.*'

":package: react":
  - 'packages/react/**/*'
  - 'packages/react/**/.*'
  - 'packages/react/.**/*'
  - 'packages/react/.**/.*'

"type: maintenance":
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

"type: documentation":
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'

feat(client): add get return workflow endpoint
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/returns/__fixtures__/getReturnWorkflow.fixtures.ts
  packages/client/src/returns/__tests__/__snapshots__/getReturnWorkflow.test.ts.snap
  packages/client/src/returns/__tests__/getReturnWorkflow.test.ts
  packages/client/src/returns/getReturnWorkflow.ts
  packages/client/src/returns/index.ts
  packages/client/src/returns/types/getReturnWorkflow.types.ts
  packages/client/src/returns/types/index.ts
  tests/__fixtures__/returns/returns.fixtures.ts
Labels: none

feat(client): add get return workflow endpoint
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/returns/__fixtures__/getReturnWorkflow.fixtures.ts
  packages/client/src/returns/__tests__/__snapshots__/getReturnWorkflow.test.ts.snap
  packages/client/src/returns/__tests__/getReturnWorkflow.test.ts
  packages/client/src/returns/getReturnWorkflow.ts
  packages/client/src/returns/index.ts
  packages/client/src/returns/types/getReturnWorkflow.types.ts
  packages/client/src/returns/types/index.ts
  tests/__fixtures__/returns/returns.fixtures.ts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix: subfolder on useLocale & serverInitialState
  packages/react/src/contents/hooks/__tests__/__fixtures__/useSeoMetadata.fixtures.ts
  packages/react/src/locale/hooks/__tests__/useLocale.test.tsx
  packages/react/src/locale/hooks/useLocale.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/locale/__tests__/selectors.test.ts
  packages/redux/src/locale/__tests__/serverInitialState.test.ts
  packages/redux/src/locale/actionTypes.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/selectors.ts
  packages/redux/src/locale/serverInitialState.ts
  packages/redux/src/locale/types/actions.types.ts
  packages/redux/src/locale/types/reducer.types.ts
  tests/__fixtures__/locale/locale.fixtures.ts
Labels: :package: react

fix: subfolder on useLocale & serverInitialState
  packages/react/src/contents/hooks/__tests__/__fixtures__/useSeoMetadata.fixtures.ts
  packages/react/src/locale/hooks/__tests__/useLocale.test.tsx
  packages/react/src/locale/hooks/useLocale.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/locale/__tests__/selectors.test.ts
  packages/redux/src/locale/__tests__/serverInitialState.test.ts
  packages/redux/src/locale/actionTypes.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/selectors.ts
  packages/redux/src/locale/serverInitialState.ts
  packages/redux/src/locale/types/actions.types.ts
  packages/redux/src/locale/types/reducer.types.ts
  tests/__fixtures__/locale/locale.fixtures.ts
Labels: :package: react

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(core|react): add unique id to GTM integration
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/__fixtures__/commonData.fixtures.js
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/__tests__/analytics.test.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/utils/constants.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GTM/GTM.js
  packages/react/src/analytics/integrations/__fixtures__/analyticsPageData.fixtures.json
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/GTM.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
Labels: :package: core, :package: react

fix: fix ga4 events
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: react

feat(core|react): add parameters checkout started event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

chore: publish [skip build]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: core, :package: react, type: documentation

fix: wrong actionType for the subfolder
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/locale/actionTypes.ts
  packages/redux/src/locale/actions/factories/fetchCountriesFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryCurrenciesFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryStateCitiesFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryStatesFactory.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/types/actions.types.ts
Labels: none

fix: wrong actionType for the subfolder
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/locale/actionTypes.ts
  packages/redux/src/locale/actions/factories/fetchCountriesFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryCurrenciesFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryStateCitiesFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryStatesFactory.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/types/actions.types.ts
Labels: none

fix: wrong actionType for the subfolder
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/locale/actionTypes.ts
  packages/redux/src/locale/actions/factories/fetchCountriesFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryCurrenciesFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryStateCitiesFactory.ts
  packages/redux/src/locale/actions/factories/fetchCountryStatesFactory.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/types/actions.types.ts
Labels: none

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat: add parameters checkout abandoned event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(analytics|react): add parameters checkout abandoned event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/Castle/index.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  packages/react/src/analytics/integrations/index.ts
  tests/__fixtures__/analytics/track/checkoutAbandonedTrackData.fixtures.mts
Labels: :package: react

feat(analytics|react): add parameters checkout abandoned event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/Castle/index.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  packages/react/src/analytics/integrations/index.ts
  tests/__fixtures__/analytics/track/checkoutAbandonedTrackData.fixtures.mts
Labels: :package: react

feat(analytics|react): add parameters checkout abandoned event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/Castle/index.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  packages/react/src/analytics/integrations/index.ts
  tests/__fixtures__/analytics/track/checkoutAbandonedTrackData.fixtures.mts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat: add parameters checkout abandoned event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

fix: refactor serverInitialState
  packages/core/src/contents/redux/actions/__tests__/__snapshots__/doGetContent.test.js.snap
  packages/core/src/contents/redux/serverInitialState.js
  packages/react/src/content/hooks/__tests__/__fixtures__/Page.fixtures.js
  packages/react/src/content/hooks/__tests__/__snapshots__/useContentType.test.js.snap
  packages/react/src/content/hooks/__tests__/useContentType.test.js
  tests/__fixtures__/contents/contents.fixtures.js
Labels: :package: core, :package: react

feat: add parameters checkout abandoned event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

fix: refactor serverInitialState
  packages/core/src/contents/redux/actions/__tests__/__snapshots__/doGetContent.test.js.snap
  packages/core/src/contents/redux/serverInitialState.js
  packages/react/src/content/hooks/__tests__/__fixtures__/Page.fixtures.js
  packages/react/src/content/hooks/__tests__/__snapshots__/useContentType.test.js.snap
  packages/react/src/content/hooks/__tests__/useContentType.test.js
  tests/__fixtures__/contents/contents.fixtures.js
Labels: :package: core, :package: react

chore: publish [skip build]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: core, :package: react, type: documentation

fix(core|react): fix filters events
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

fix(analytics|react): fix filters events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
Labels: :package: react

feat(redux): review fetch user orders internal storage
  jest.config.js
  packages/client/src/orders/__fixtures__/getUserOrders.fixtures.ts
  packages/client/src/orders/types/getUserOrders.types.ts
  packages/client/src/orders/types/orderSummary.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/orders/hooks/__tests__/useOrder.test.ts
  packages/react/src/orders/hooks/__tests__/useOrderReturnOptions.test.ts
  packages/react/src/orders/hooks/__tests__/useOrderReturns.test.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/index.ts
  packages/react/src/orders/hooks/types/index.ts
  packages/react/src/orders/hooks/types/useOrderReturns.ts
  packages/react/src/orders/hooks/useOrder.ts
  packages/react/src/orders/hooks/useOrderReturnOptions.ts
  packages/react/src/orders/hooks/useOrderReturns.ts
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  packages/redux/src/entities/schemas/orderSummary.ts
  packages/redux/src/entities/types/orders.types.ts
  packages/redux/src/orders/__tests__/reducer.test.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/actions/__tests__/fetchUserOrders.test.ts
  packages/redux/src/orders/actions/factories/fetchUserOrdersFactory.ts
  packages/redux/src/orders/actions/factories/helpers/generateUserOrdersRequestHash.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrderResponse.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrdersResponse.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/orders/types/actions.types.ts
  packages/redux/src/orders/types/state.types.ts
  packages/redux/src/types/storeState.types.ts
  packages/redux/src/users/addresses/actions/__tests__/__snapshots__/removeUserDefaultContactAddress.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/fetchUser.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/setUser.test.ts.snap
  packages/redux/src/users/titles/actions/__tests__/fetchUserTitles.test.ts
  tests/__fixtures__/orders/orders.fixtures.mts
  tests/__fixtures__/users/users.fixtures.mts
Labels: :package: react

feat(client|redux): refactor guest orders
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/orders/__fixtures__/getGuestOrders.fixtures.ts
  packages/client/src/orders/__tests__/__snapshots__/getGuestOrders.test.ts.snap
  packages/client/src/orders/__tests__/getGuestOrders.test.ts
  packages/client/src/orders/getGuestOrders.ts
  packages/client/src/orders/index.ts
  packages/client/src/orders/types/getGuestOrders.types.ts
  packages/client/src/orders/types/index.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/schemas/orderItem.ts
  packages/redux/src/entities/types/orderItems.types.ts
  packages/redux/src/orders/__tests__/reducer.test.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/actionTypes.ts
  packages/redux/src/orders/actions/__tests__/fetchGuestOrders.test.ts
  packages/redux/src/orders/actions/factories/fetchGuestOrderLegacyFactory.ts
  packages/redux/src/orders/actions/factories/fetchGuestOrdersFactory.ts
  packages/redux/src/orders/actions/factories/fetchOrderFactory.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrderResponse.ts
  packages/redux/src/orders/actions/factories/index.ts
  packages/redux/src/orders/actions/fetchGuestOrders.ts
  packages/redux/src/orders/actions/index.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/orders/types/actions.types.ts
  packages/redux/src/orders/types/state.types.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: :package: react

feat(client|redux): order change address endpoints
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/orders/__fixtures__/getOrderShippingAddressChangeRequests.fixtures.ts
  packages/client/src/orders/__fixtures__/postOrderShippingAddressChangeRequest.fixtures.ts
  packages/client/src/orders/__tests__/__snapshots__/getOrderShippingAddressChangeRequests.test.ts.snap
  packages/client/src/orders/__tests__/__snapshots__/postOrderShippingAddressChangeRequest.test.ts.snap
  packages/client/src/orders/__tests__/getOrderShippingAddressChangeRequests.test.ts
  packages/client/src/orders/__tests__/postOrderShippingAddressChangeRequest.test.ts
  packages/client/src/orders/getOrderShippingAddressChangeRequests.ts
  packages/client/src/orders/index.ts
  packages/client/src/orders/postOrderShippingAddressChangeRequest.ts
  packages/client/src/orders/types/getOrderShippingAddressChangeRequests.types.ts
  packages/client/src/orders/types/index.ts
  packages/client/src/orders/types/orderShippingAddressChangeRequests.types.ts
  packages/client/src/orders/types/postOrderShippingAddressChangeRequest.types.ts
  packages/redux/src/orders/actions/factories/index.ts
  packages/redux/src/orders/actions/index.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: none

chore: add `release:git` script
  .eslintrc.js
  gitpkg.config.js
  package.json
  packages/analytics/package.json
  packages/client/package.json
  packages/react/package.json
  packages/redux/package.json
  scripts/release-git.sh
  yarn.lock
Labels: :package: react

chore: add `release:git` script
  .eslintrc.js
  gitpkg.config.js
  package.json
  packages/analytics/package.json
  packages/client/package.json
  packages/react/package.json
  packages/redux/package.json
  scripts/release-git.sh
  yarn.lock
Labels: :package: react

chore: add `release:git` script
  .eslintrc.js
  gitpkg.config.js
  package.json
  packages/analytics/package.json
  packages/client/package.json
  packages/react/package.json
  packages/redux/package.json
  scripts/release-git.sh
  yarn.lock
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation
