Repository Farfetch/blackout, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: core, :package: react, type: maintenance, type: documentation

feat(core): add put bags promocodes endpoint
  packages/core/src/bags/client/__fixtures__/putBagPromocodes.fixtures.js
  packages/core/src/bags/client/__tests__/__snapshots__/putBagPromocodes.test.js.snap
  packages/core/src/bags/client/__tests__/putBagPromocodes.test.js
  packages/core/src/bags/client/index.js
  packages/core/src/bags/client/putBagPromocodes.js
  packages/core/src/bags/redux/__tests__/reducer.test.js
  packages/core/src/bags/redux/__tests__/selectors.test.js
  packages/core/src/bags/redux/actionTypes.js
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doSetBagPromocodes.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/doSetBagPromocodes.test.js
  packages/core/src/bags/redux/actions/doSetBagPromocodes.js
  packages/core/src/bags/redux/actions/index.js
  packages/core/src/bags/redux/middlewares/__tests__/getBagOnSetPromocodesRequestSuccess.test.js
  packages/core/src/bags/redux/middlewares/getBagOnSetPromocodesRequestSuccess.js
  packages/core/src/bags/redux/middlewares/index.js
  packages/core/src/bags/redux/reducer.js
  packages/core/src/bags/redux/selectors.js
  tests/__fixtures__/bags/bag.fixtures.js
Labels: :package: core

feat(core): add put bags promocodes endpoint
  packages/core/src/bags/client/__fixtures__/putBagPromocodes.fixtures.js
  packages/core/src/bags/client/__tests__/__snapshots__/putBagPromocodes.test.js.snap
  packages/core/src/bags/client/__tests__/putBagPromocodes.test.js
  packages/core/src/bags/client/index.js
  packages/core/src/bags/client/putBagPromocodes.js
  packages/core/src/bags/redux/__tests__/reducer.test.js
  packages/core/src/bags/redux/__tests__/selectors.test.js
  packages/core/src/bags/redux/actionTypes.js
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doSetBagPromocodes.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/doSetBagPromocodes.test.js
  packages/core/src/bags/redux/actions/doSetBagPromocodes.js
  packages/core/src/bags/redux/actions/index.js
  packages/core/src/bags/redux/middlewares/__tests__/getBagOnSetPromocodesRequestSuccess.test.js
  packages/core/src/bags/redux/middlewares/getBagOnSetPromocodesRequestSuccess.js
  packages/core/src/bags/redux/middlewares/index.js
  packages/core/src/bags/redux/reducer.js
  packages/core/src/bags/redux/selectors.js
  tests/__fixtures__/bags/bag.fixtures.js
Labels: :package: core

feat: add targets.segments on searchContents
  packages/core/src/contents/client/__fixtures__/contents.fixtures.js
  packages/core/src/contents/client/__tests__/getSearchContents.test.js
  packages/core/src/contents/client/getSearchContents.js
Labels: :package: core

feat(core|react): setup promocode applied analytics event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(core): add put bags promocodes endpoint
  packages/core/src/bags/client/__fixtures__/putBagPromocodes.fixtures.js
  packages/core/src/bags/client/__tests__/__snapshots__/putBagPromocodes.test.js.snap
  packages/core/src/bags/client/__tests__/putBagPromocodes.test.js
  packages/core/src/bags/client/index.js
  packages/core/src/bags/client/putBagPromocodes.js
  packages/core/src/bags/redux/__tests__/reducer.test.js
  packages/core/src/bags/redux/__tests__/selectors.test.js
  packages/core/src/bags/redux/actionTypes.js
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doSetBagPromocodes.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/doSetBagPromocodes.test.js
  packages/core/src/bags/redux/actions/doSetBagPromocodes.js
  packages/core/src/bags/redux/actions/index.js
  packages/core/src/bags/redux/middlewares/__tests__/getBagOnSetPromocodesRequestSuccess.test.js
  packages/core/src/bags/redux/middlewares/getBagOnSetPromocodesRequestSuccess.js
  packages/core/src/bags/redux/middlewares/index.js
  packages/core/src/bags/redux/reducer.js
  packages/core/src/bags/redux/selectors.js
  tests/__fixtures__/bags/bag.fixtures.js
Labels: :package: core

chore: publish [skip build]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: core, :package: react, type: documentation

fix: add "type": "module" to all packages
  packages/analytics/package.json
  packages/client/package.json
  packages/react/package.json
  packages/redux/package.json
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix: add "type": "module" to all packages
  packages/analytics/package.json
  packages/client/package.json
  packages/react/package.json
  packages/redux/package.json
Labels: :package: react

fix: add "type": "module" to all packages
  packages/analytics/package.json
  packages/client/package.json
  packages/react/package.json
  packages/redux/package.json
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix(redux): checkout reducer not overwriting address state
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/reducer.ts
Labels: none

fix(core): overwrite shipping and billing address state
  packages/core/src/checkout/redux/__tests__/reducer.test.js
  packages/core/src/checkout/redux/reducer.js
Labels: :package: core

fix(core): overwrite shipping and billing address state
  packages/core/src/checkout/redux/__tests__/reducer.test.js
  packages/core/src/checkout/redux/reducer.js
Labels: :package: core

fix(redux): checkout reducer not overwriting address state
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/reducer.ts
Labels: none

fix(redux): checkout reducer not overwriting address state
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/reducer.ts
Labels: none

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(client|redux): order change address endpoints
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/orders/__fixtures__/getOrderShippingAddressChangeRequests.fixtures.ts
  packages/client/src/orders/__fixtures__/postOrderShippingAddressChangeRequest.fixtures.ts
  packages/client/src/orders/__tests__/__snapshots__/getOrderShippingAddressChangeRequests.test.ts.snap
  packages/client/src/orders/__tests__/__snapshots__/postOrderShippingAddressChangeRequest.test.ts.snap
  packages/client/src/orders/__tests__/getOrderShippingAddressChangeRequests.test.ts
  packages/client/src/orders/__tests__/postOrderShippingAddressChangeRequest.test.ts
  packages/client/src/orders/getOrderShippingAddressChangeRequests.ts
  packages/client/src/orders/index.ts
  packages/client/src/orders/postOrderShippingAddressChangeRequest.ts
  packages/client/src/orders/types/getOrderShippingAddressChangeRequests.types.ts
  packages/client/src/orders/types/index.ts
  packages/client/src/orders/types/orderShippingAddressChangeRequests.types.ts
  packages/client/src/orders/types/postOrderShippingAddressChangeRequest.types.ts
  packages/redux/src/orders/actions/factories/index.ts
  packages/redux/src/orders/actions/index.ts
  tests/__fixtures__/orders/orders.fixtures.ts
Labels: none

feat(client|redux): order change address endpoints
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/orders/__fixtures__/getOrderShippingAddressChangeRequests.fixtures.ts
  packages/client/src/orders/__fixtures__/postOrderShippingAddressChangeRequest.fixtures.ts
  packages/client/src/orders/__tests__/__snapshots__/getOrderShippingAddressChangeRequests.test.ts.snap
  packages/client/src/orders/__tests__/__snapshots__/postOrderShippingAddressChangeRequest.test.ts.snap
  packages/client/src/orders/__tests__/getOrderShippingAddressChangeRequests.test.ts
  packages/client/src/orders/__tests__/postOrderShippingAddressChangeRequest.test.ts
  packages/client/src/orders/getOrderShippingAddressChangeRequests.ts
  packages/client/src/orders/index.ts
  packages/client/src/orders/postOrderShippingAddressChangeRequest.ts
  packages/client/src/orders/types/getOrderShippingAddressChangeRequests.types.ts
  packages/client/src/orders/types/index.ts
  packages/client/src/orders/types/orderShippingAddressChangeRequests.types.ts
  packages/client/src/orders/types/postOrderShippingAddressChangeRequest.types.ts
  packages/redux/src/orders/actions/factories/index.ts
  packages/redux/src/orders/actions/index.ts
  tests/__fixtures__/orders/orders.fixtures.ts
Labels: none

feat(redux): review internal logic of the fetch order and fetch return option procedures
  jest.config.js
  packages/client/src/orders/types/getOrderReturns.types.ts
  packages/client/src/orders/types/index.ts
  packages/react/src/orders/hooks/__tests__/useOrder.test.ts
  packages/react/src/orders/hooks/__tests__/useOrderReturnOptions.test.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/useOrder.ts
  packages/react/src/orders/hooks/useOrderReturnOptions.ts
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  packages/redux/src/entities/schemas/returnOption.ts
  packages/redux/src/entities/types/returnOptions.types.ts
  packages/redux/src/orders/__tests__/reducer.test.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/actionTypes.ts
  packages/redux/src/orders/actions/__tests__/resetOrderReturnOptions.test.ts
  packages/redux/src/orders/actions/factories/fetchOrderFactory.ts
  packages/redux/src/orders/actions/factories/fetchOrderReturnOptionsFactory.ts
  packages/redux/src/orders/actions/index.ts
  packages/redux/src/orders/actions/resetOrderReturnOptions.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/orders/types/actions.types.ts
  packages/redux/src/orders/types/state.types.ts
  packages/redux/src/returns/__tests__/selectors.test.ts
  packages/redux/src/returns/selectors.ts
  packages/redux/src/types/storeState.types.ts
  tests/__fixtures__/orders/orders.fixtures.ts
  tests/__fixtures__/returns/returns.fixtures.ts
Labels: :package: react

chore: update typescript to 4.9
  package.json
  packages/react/src/authentication/hooks/__tests__/useAuthentication.test.tsx
  packages/redux/package.json
  packages/redux/src/contents/__tests__/reducer.test.ts
  packages/redux/src/entities/schemas/order.ts
  yarn.lock
Labels: :package: react

chore: update typescript to 4.9
  package.json
  packages/react/src/authentication/hooks/__tests__/useAuthentication.test.tsx
  packages/redux/package.json
  packages/redux/src/contents/__tests__/reducer.test.ts
  packages/redux/src/entities/schemas/order.ts
  yarn.lock
Labels: :package: react

chore: update typescript to 4.9
  package.json
  packages/react/src/authentication/hooks/__tests__/useAuthentication.test.tsx
  packages/redux/package.json
  packages/redux/src/contents/__tests__/reducer.test.ts
  packages/redux/src/entities/schemas/order.ts
  yarn.lock
Labels: :package: react

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix(redux): fix useBag hook actions
  packages/react/src/bags/hooks/useBag.ts
  packages/redux/src/bags/actions/factories/addBagItemFactory.ts
  packages/redux/src/bags/actions/factories/fetchBagFactory.ts
  packages/redux/src/bags/actions/factories/fetchBagOperationFactory.ts
  packages/redux/src/bags/actions/factories/removeBagItemFactory.ts
  packages/redux/src/bags/actions/factories/setBagPromocodesFactory.ts
  packages/redux/src/bags/actions/factories/updateBagItemFactory.ts
  packages/redux/src/users/authentication/actions/factories/fetchGuestUserFactory.ts
  packages/redux/src/users/authentication/actions/factories/fetchUserFactory.ts
  packages/redux/src/users/authentication/actions/factories/loginFactory.ts
  packages/redux/src/users/authentication/actions/factories/logoutFactory.ts
  packages/redux/src/users/authentication/actions/factories/registerFactory.ts
  packages/redux/src/wishlists/actions/factories/addWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/addWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetsFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/updateWishlistItemFactory.ts
Labels: :package: react

fix(redux): fix useBag hook actions
  packages/react/src/bags/hooks/useBag.ts
  packages/redux/src/bags/actions/factories/addBagItemFactory.ts
  packages/redux/src/bags/actions/factories/fetchBagFactory.ts
  packages/redux/src/bags/actions/factories/fetchBagOperationFactory.ts
  packages/redux/src/bags/actions/factories/removeBagItemFactory.ts
  packages/redux/src/bags/actions/factories/setBagPromocodesFactory.ts
  packages/redux/src/bags/actions/factories/updateBagItemFactory.ts
  packages/redux/src/users/authentication/actions/factories/fetchGuestUserFactory.ts
  packages/redux/src/users/authentication/actions/factories/fetchUserFactory.ts
  packages/redux/src/users/authentication/actions/factories/loginFactory.ts
  packages/redux/src/users/authentication/actions/factories/logoutFactory.ts
  packages/redux/src/users/authentication/actions/factories/registerFactory.ts
  packages/redux/src/wishlists/actions/factories/addWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/addWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetsFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/updateWishlistItemFactory.ts
Labels: :package: react

fix(redux): fix useBag hook actions
  packages/react/src/bags/hooks/useBag.ts
  packages/redux/src/bags/actions/factories/addBagItemFactory.ts
  packages/redux/src/bags/actions/factories/fetchBagFactory.ts
  packages/redux/src/bags/actions/factories/fetchBagOperationFactory.ts
  packages/redux/src/bags/actions/factories/removeBagItemFactory.ts
  packages/redux/src/bags/actions/factories/setBagPromocodesFactory.ts
  packages/redux/src/bags/actions/factories/updateBagItemFactory.ts
  packages/redux/src/users/authentication/actions/factories/fetchGuestUserFactory.ts
  packages/redux/src/users/authentication/actions/factories/fetchUserFactory.ts
  packages/redux/src/users/authentication/actions/factories/loginFactory.ts
  packages/redux/src/users/authentication/actions/factories/logoutFactory.ts
  packages/redux/src/users/authentication/actions/factories/registerFactory.ts
  packages/redux/src/wishlists/actions/factories/addWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/addWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetsFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/updateWishlistItemFactory.ts
Labels: :package: react

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: improve Contributing guide
  CONTRIBUTING.md
Labels: type: documentation

chore: add some styling fixes and missing instructions
  CONTRIBUTING.md
Labels: type: documentation

feat(core|redux): add get return workflow endpoint
  packages/core/src/returns/client/__fixtures__/getReturnWorkflow.fixtures.js
  packages/core/src/returns/client/__tests__/__snapshots__/getReturnWorkflow.test.js.snap
  packages/core/src/returns/client/__tests__/getReturnWorkflow.test.js
  packages/core/src/returns/client/getReturnWorkflow.js
  packages/core/src/returns/client/index.js
Labels: :package: core

chore: change 'no-anonymous-default-export' rule to error
  .eslintrc.js
Labels: none

feat(core|redux): add get return workflow endpoint
  packages/core/src/returns/client/__fixtures__/getReturnWorkflow.fixtures.js
  packages/core/src/returns/client/__tests__/__snapshots__/getReturnWorkflow.test.js.snap
  packages/core/src/returns/client/__tests__/getReturnWorkflow.test.js
  packages/core/src/returns/client/getReturnWorkflow.js
  packages/core/src/returns/client/index.js
Labels: :package: core

chore: change 'no-anonymous-default-export' rule to error
  .eslintrc.js
Labels: none

chore: improve Contributing guide
  CONTRIBUTING.md
Labels: type: documentation

.github/labeler.yml:

":package: core":
  - 'packages/core/**/*'
  - 'packages/core/**/.*'
  - 'packages/core/.**/*'
  - 'packages/core/.**/.*'

":package: react":
  - 'packages/react/**/*'
  - 'packages/react/**/.*'
  - 'packages/react/.**/*'
  - 'packages/react/.**/.*'

"type: maintenance":
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

"type: documentation":
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'
