Repository Farfetch/blackout, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: core, :package: react, type: maintenance, type: documentation

.github/labeler.yml:

":package: core":
  - 'packages/core/**/*'
  - 'packages/core/**/.*'
  - 'packages/core/.**/*'
  - 'packages/core/.**/.*'

":package: react":
  - 'packages/react/**/*'
  - 'packages/react/**/.*'
  - 'packages/react/.**/*'
  - 'packages/react/.**/.*'

"type: maintenance":
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

"type: documentation":
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'

feat(react|redux): analytics improvements
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  packages/react/src/analytics/integrations/GTM/eventsMapper.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
Labels: :package: react

feat(core|react): analytics improvements
  packages/core/src/analytics/redux/middlewares/bag.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.js
  packages/react/src/analytics/integrations/GTM/eventsMapper.js
  packages/react/src/analytics/integrations/__tests__/AnalyticsApi.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
  packages/react/src/bags/hooks/useBagItem.js
Labels: :package: core, :package: react

feat(react): remove castle pageview event tracking
  packages/react/src/analytics/integrations/Castle/Castle.ts
  packages/react/src/analytics/integrations/Castle/__tests__/Castle.test.ts
Labels: :package: react

fix: refactor serverInitialState
  packages/redux/src/contents/serverInitialState.ts
  tests/__fixtures__/contents/contents.fixtures.mts
Labels: none

chore: prevent automatic major version bumps to `main`
  .github/workflows/CI.yml
  patches/@lerna+conventional-commits+5.6.2.patch
  patches/@lerna+version+5.6.2.patch
  scripts/release.sh
Labels: type: maintenance

chore: prevent automatic major version bumps to `main`
  .github/workflows/CI.yml
  patches/@lerna+conventional-commits+5.6.2.patch
  patches/@lerna+version+5.6.2.patch
  scripts/release.sh
Labels: type: maintenance

fix: refactor serverInitialState
  packages/redux/src/contents/serverInitialState.ts
  tests/__fixtures__/contents/contents.fixtures.mts
Labels: none

fix: refactor serverInitialState
  packages/redux/src/contents/serverInitialState.ts
  tests/__fixtures__/contents/contents.fixtures.mts
Labels: none

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(client): add package to unsubcribe action
  packages/client/src/subscriptions/types/deleteSubscription.types.ts
  tests/__fixtures__/subscriptions/subscriptions.fixtures.mts
Labels: none

feat(client): add package to unsubcribe action
  packages/client/src/subscriptions/types/deleteSubscription.types.ts
  tests/__fixtures__/subscriptions/subscriptions.fixtures.mts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(react|redux): analytics improvements
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  packages/react/src/analytics/integrations/GTM/eventsMapper.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
Labels: :package: react

feat(react|redux): analytics improvements
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  packages/react/src/analytics/integrations/GTM/eventsMapper.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
Labels: :package: react

feat: add package to unsubcribe action
  packages/core/src/subscriptions/client/__mocks__/deleteSubscription.fixtures.js
  packages/core/src/subscriptions/client/__tests__/deleteSubscription.test.js
  packages/core/src/subscriptions/client/deleteSubscription.js
  packages/core/src/subscriptions/redux/actions/__tests__/doUnsubscribeFromSubscription.test.js
  packages/core/src/subscriptions/redux/actions/doUnsubscribeFromSubscription.js
Labels: :package: core

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(react): remove castle pageview event tracking
  packages/react/src/analytics/integrations/Castle/Castle.ts
  packages/react/src/analytics/integrations/Castle/__tests__/Castle.test.ts
Labels: :package: react

feat(react): remove castle pageview event tracking
  packages/react/src/analytics/integrations/Castle/Castle.ts
  packages/react/src/analytics/integrations/Castle/__tests__/Castle.test.ts
Labels: :package: react

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: react, type: documentation

fix: remove `contentTypeCode` as required parameter
  packages/client/src/contents/getSearchContents.ts
  packages/client/src/contents/types/contents.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/contents/components/base/__tests__/ContentList.test.tsx
  packages/react/src/contents/components/base/contentList/ContentList.tsx
  packages/react/src/contents/hooks/__tests__/useContents.test.tsx
  packages/react/src/contents/hooks/index.ts
  packages/react/src/contents/hooks/types/useContentType.types.ts
  packages/react/src/contents/hooks/types/useContents.types.ts
  packages/react/src/contents/hooks/useContents.ts
  packages/redux/src/contents/__tests__/utils.test.ts
  packages/redux/src/contents/actions/factories/fetchContentsFactory.ts
  packages/redux/src/contents/utils.ts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix: remove `contentTypeCode` as required parameter
  packages/client/src/contents/getSearchContents.ts
  packages/client/src/contents/types/contents.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/contents/components/base/__tests__/ContentList.test.tsx
  packages/react/src/contents/components/base/contentList/ContentList.tsx
  packages/react/src/contents/hooks/__tests__/useContents.test.tsx
  packages/react/src/contents/hooks/index.ts
  packages/react/src/contents/hooks/types/useContentType.types.ts
  packages/react/src/contents/hooks/types/useContents.types.ts
  packages/react/src/contents/hooks/useContents.ts
  packages/redux/src/contents/__tests__/utils.test.ts
  packages/redux/src/contents/actions/factories/fetchContentsFactory.ts
  packages/redux/src/contents/utils.ts
Labels: :package: react

fix: remove `contentTypeCode` as required parameter
  packages/client/src/contents/getSearchContents.ts
  packages/client/src/contents/types/contents.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/contents/components/base/__tests__/ContentList.test.tsx
  packages/react/src/contents/components/base/contentList/ContentList.tsx
  packages/react/src/contents/hooks/__tests__/useContents.test.tsx
  packages/react/src/contents/hooks/index.ts
  packages/react/src/contents/hooks/types/useContentType.types.ts
  packages/react/src/contents/hooks/types/useContents.types.ts
  packages/react/src/contents/hooks/useContents.ts
  packages/redux/src/contents/__tests__/utils.test.ts
  packages/redux/src/contents/actions/factories/fetchContentsFactory.ts
  packages/redux/src/contents/utils.ts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix: fix useProductListing auto fetch check
  packages/react/src/products/hooks/useProductListing.ts
  packages/redux/src/entities/schemas/facet.ts
Labels: :package: react

fix(client|redux): type fixes
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/bags/types/bagOperation.types.ts
  packages/client/src/checkout/types/checkoutOrderOperation.types.ts
  packages/client/src/checkout/types/checkoutOrderOperationChange.types.ts
  packages/client/src/checkout/types/checkoutViolation.types.ts
  packages/client/src/types/common/operation.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/locale/__tests__/reducer.test.ts
  packages/redux/src/locale/actionTypes.ts
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountryAddressSchemas.test.ts.snap
  packages/redux/src/locale/actions/__tests__/fetchCountryAddressSchemas.test.ts
  packages/redux/src/locale/actions/factories/fetchCountryAddressSchemasFactory.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/types/actions.types.ts
  tests/__fixtures__/bags/bagOperations.fixtures.mts
Labels: :package: react

chore: rename checkout action type
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/actionTypes.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/checkout/types/actions.types.ts
  packages/redux/src/locale/reducer.ts
Labels: none

chore: add changes from patch
  packages/redux/src/entities/schemas/facet.ts
  packages/redux/src/products/serverInitialState/lists.ts
  packages/redux/src/types/model.types.ts
Labels: none

chore: add node 14 requirement to all packages
  packages/analytics/package.json
  packages/client/package.json
  packages/react/package.json
  packages/redux/package.json
Labels: :package: react

chore: rename token actions and selectors
  packages/client/src/users/authentication/__tests__/__snapshots__/postToken.test.ts.snap
  packages/client/src/users/authentication/__tests__/postToken.test.ts
  packages/client/src/users/authentication/deleteToken.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/types/utils/camelCase.types.ts
  packages/redux/src/users/authentication/__tests__/reducer.test.ts
  packages/redux/src/users/authentication/__tests__/selectors.test.ts
  packages/redux/src/users/authentication/actionTypes.ts
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/refreshToken.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/removeToken.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/removeUserToken.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/refreshToken.test.ts
  packages/redux/src/users/authentication/actions/__tests__/removeToken.test.ts
  packages/redux/src/users/authentication/actions/__tests__/resetAuthentication.test.ts
  packages/redux/src/users/authentication/actions/factories/index.ts
  packages/redux/src/users/authentication/actions/factories/refreshTokenFactory.ts
  packages/redux/src/users/authentication/actions/factories/removeTokenFactory.ts
  packages/redux/src/users/authentication/actions/index.ts
  packages/redux/src/users/authentication/actions/removeToken.ts
  packages/redux/src/users/authentication/actions/removeUserToken.ts
  packages/redux/src/users/authentication/reducer.ts
  packages/redux/src/users/authentication/selectors.ts
  packages/redux/src/users/authentication/types/state.types.ts
  packages/redux/src/users/authentication/types/subArea.types.ts
  tests/__fixtures__/authentication/authentication.fixtures.mts
  tests/__fixtures__/checkout/checkout.fixtures.mts
  tests/__fixtures__/users/authentication.fixtures.mts
  tests/__fixtures__/users/users.fixtures.mts
Labels: none

chore: rename FETCH_CONTENT_PAGES action types to singular
  packages/client/src/contents/getContentPage.ts
  packages/client/src/contents/types/contentPage.types.ts
  packages/react/src/contents/hooks/useContentPage.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/contents/actionTypes.ts
  packages/redux/src/contents/actions/__tests__/fetchContentPage.test.ts
  packages/redux/src/contents/actions/factories/fetchContentPageFactory.ts
  packages/redux/src/contents/reducer.ts
  packages/redux/src/contents/types/actions.types.ts
  tests/__fixtures__/contents/contentPage.fixtures.mts
Labels: :package: react

chore: change fetchCollectPoints action
  jest.config.js
  packages/client/src/checkout/types/getCheckoutOrderResponse.types.ts
  packages/react/src/checkout/hooks/__tests__/useCheckout.test.tsx
  packages/react/src/checkout/hooks/__tests__/useCollectPoints.test.tsx
  packages/react/src/checkout/hooks/useCheckout.ts
  packages/react/src/checkout/hooks/useCollectPoints.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/__tests__/selectors.test.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCollectPoints.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/fetchCollectPoints.test.ts
  packages/redux/src/checkout/actions/factories/fetchCollectPointsFactory.ts
  packages/redux/src/checkout/helpers/buildCollectPointsQueryHash.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/checkout/selectors.ts
  packages/redux/src/checkout/types/state.types.ts
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  packages/redux/src/entities/types/checkoutOrder.types.ts
  tests/__fixtures__/checkout/checkout.fixtures.mts
Labels: :package: react

chore: change put checkout promocode client to support multiple promocodes
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/bags/types/putBagPromocodes.types.ts
  packages/client/src/checkout/__fixtures__/putCheckoutOrderPromocodes.fixtures.ts
  packages/client/src/checkout/__tests__/__snapshots__/putCheckoutOrderPromocodes.test.ts.snap
  packages/client/src/checkout/__tests__/putCheckoutOrderPromocodes.test.ts
  packages/client/src/checkout/index.ts
  packages/client/src/checkout/putCheckoutOrderPromocode.ts
  packages/client/src/checkout/putCheckoutOrderPromocodes.ts
  packages/client/src/checkout/types/checkoutOrder.types.ts
  packages/client/src/checkout/types/index.ts
  packages/client/src/checkout/types/putCheckoutOrderPromocode.types.ts
  packages/client/src/checkout/types/putCheckoutOrderPromocodes.types.ts
  packages/react/src/checkout/hooks/__tests__/useCheckout.test.tsx
  packages/react/src/checkout/hooks/useCheckout.ts
  packages/react/src/contents/hooks/types/useCommercePages.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/__tests__/selectors.test.ts
  packages/redux/src/checkout/actionTypes.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderPromocodes.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/resetCheckoutOrderPromocodesState.test.ts
  packages/redux/src/checkout/actions/__tests__/setCheckoutOrderPromocodes.test.ts
  packages/redux/src/checkout/actions/factories/index.ts
  packages/redux/src/checkout/actions/factories/setCheckoutOrderPromocodesFactory.ts
  packages/redux/src/checkout/actions/index.ts
  packages/redux/src/checkout/actions/resetCheckoutOrderPromocodeState.ts
  packages/redux/src/checkout/actions/resetCheckoutOrderPromocodesState.ts
  packages/redux/src/checkout/actions/setCheckoutOrderPromocode.ts
  packages/redux/src/checkout/actions/setCheckoutOrderPromocodes.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/checkout/selectors.ts
  packages/redux/src/checkout/types/actions.types.ts
  packages/redux/src/checkout/types/state.types.ts
  packages/redux/src/contents/actions/factories/fetchCommercePagesFactory.ts
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  tests/__fixtures__/checkout/checkout.fixtures.mts
Labels: :package: react

chore: rename `getProductRecommendedSet` client and its dependents
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/products/__fixtures__/getRecommendedProductSet.fixtures.ts
  packages/client/src/products/__tests__/__snapshots__/getRecommendedProductSet.test.ts.snap
  packages/client/src/products/__tests__/getRecommendedProductSet.test.ts
  packages/client/src/products/getRecommendedProductSet.ts
  packages/client/src/products/index.ts
  packages/client/src/products/types/getRecommendedProductSet.types.ts
  packages/client/src/products/types/index.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/products/actionTypes/index.ts
  packages/redux/src/products/actionTypes/recommendedProductSet.actionTypes.ts
  packages/redux/src/products/actionTypes/recommendedSet.actionTypes.ts
  packages/redux/src/products/actions/__tests__/fetchRecommendedProductSet.test.ts
  packages/redux/src/products/actions/__tests__/fetchRecommendedSet.test.ts
  packages/redux/src/products/actions/factories/fetchRecommendedProductSetFactory.ts
  packages/redux/src/products/actions/factories/fetchRecommendedSetFactory.ts
  packages/redux/src/products/actions/factories/index.ts
  packages/redux/src/products/actions/fetchRecommendedProductSet.ts
  packages/redux/src/products/actions/fetchRecommendedSet.ts
  packages/redux/src/products/actions/index.ts
  packages/redux/src/products/reducer/__tests__/recommendedProductSet.test.ts
  packages/redux/src/products/reducer/index.ts
  packages/redux/src/products/reducer/recommendedProductSet.ts
  packages/redux/src/products/reducer/recommendedSet.ts
  packages/redux/src/products/selectors/__tests__/recommendedProductSet.test.ts
  packages/redux/src/products/selectors/__tests__/recommendedSet.test.ts
  packages/redux/src/products/selectors/index.ts
  packages/redux/src/products/selectors/recommendedProductSet.ts
  packages/redux/src/products/selectors/recommendedSet.ts
  packages/redux/src/products/types/actions/index.ts
  packages/redux/src/products/types/actions/recommendedProductSet.types.ts
  packages/redux/src/products/types/actions/recommendedSet.types.ts
  packages/redux/src/products/types/state.types.ts
  packages/redux/src/products/types/state/index.ts
  packages/redux/src/products/types/state/recommendedProductSet.state.types.ts
  packages/redux/src/products/types/state/recommendedSet.state.types.ts
  tests/__fixtures__/products/index.mts
  tests/__fixtures__/products/recommendedProductSet.fixtures.mts
  tests/__fixtures__/products/recommendedSet.fixtures.mts
  tests/__fixtures__/products/state.fixtures.mts
Labels: none
