Repository Farfetch/blackout, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: core, :package: react, type: maintenance, type: documentation

chore: add some styling fixes and missing instructions
  CONTRIBUTING.md
Labels: type: documentation

chore: improve Contributing guide
  CONTRIBUTING.md
Labels: type: documentation

chore: add some styling fixes and missing instructions
  CONTRIBUTING.md
Labels: type: documentation

chore: change 'no-anonymous-default-export' rule to error
  .eslintrc.js
Labels: none

feat(core|redux): add get return workflow endpoint
  packages/core/src/returns/client/__fixtures__/getReturnWorkflow.fixtures.js
  packages/core/src/returns/client/__tests__/__snapshots__/getReturnWorkflow.test.js.snap
  packages/core/src/returns/client/__tests__/getReturnWorkflow.test.js
  packages/core/src/returns/client/getReturnWorkflow.js
  packages/core/src/returns/client/index.js
Labels: :package: core

fix(core): overwrite shipping and billing address state
  packages/core/src/checkout/redux/__tests__/reducer.test.js
  packages/core/src/checkout/redux/reducer.js
Labels: :package: core

chore: publish [skip build]
  packages/core/CHANGELOG.md
  packages/core/package.json
Labels: :package: core, type: documentation

feat(client): add metadata to bag item and requests types
  packages/client/src/bags/types/bagItem.types.ts
  packages/client/src/bags/types/patchBagItem.types.ts
  packages/client/src/bags/types/postBagItem.types.ts
  packages/client/src/types/common/index.ts
  packages/client/src/types/common/jsonValue.types.ts
  packages/client/src/types/common/metadata.types.ts
Labels: none

feat(client): add metadata to bag item and requests types
  packages/client/src/bags/types/bagItem.types.ts
  packages/client/src/bags/types/patchBagItem.types.ts
  packages/client/src/bags/types/postBagItem.types.ts
  packages/client/src/types/common/index.ts
  packages/client/src/types/common/jsonValue.types.ts
  packages/client/src/types/common/metadata.types.ts
Labels: none

feat(client): add metadata to bag item and requests types
  packages/client/src/bags/types/bagItem.types.ts
  packages/client/src/bags/types/patchBagItem.types.ts
  packages/client/src/bags/types/postBagItem.types.ts
  packages/client/src/types/common/index.ts
  packages/client/src/types/common/jsonValue.types.ts
  packages/client/src/types/common/metadata.types.ts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix(redux): fix immer imports to work with nodenext
  packages/redux/package.json
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/returns/reducer.ts
  packages/redux/src/users/addresses/reducer.ts
  yarn.lock
Labels: none

fix(redux): fix immer imports to work with nodenext
  packages/redux/package.json
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/returns/reducer.ts
  packages/redux/src/users/addresses/reducer.ts
  yarn.lock
Labels: none

fix(redux): fix immer imports to work with nodenext
  packages/redux/package.json
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/returns/reducer.ts
  packages/redux/src/users/addresses/reducer.ts
  yarn.lock
Labels: none

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix(client): add metadata in post checkout order request and types
  packages/client/src/checkout/__tests__/postCheckoutOrder.test.ts
  packages/client/src/checkout/types/postCheckoutOrder.types.ts
  packages/react/src/checkout/hooks/__tests__/useCheckout.test.tsx
  packages/redux/src/checkout/actions/__tests__/createCheckoutOrder.test.ts
Labels: :package: react

fix(client): add metadata in post checkout order request and types
  packages/client/src/checkout/__tests__/postCheckoutOrder.test.ts
  packages/client/src/checkout/types/postCheckoutOrder.types.ts
  packages/react/src/checkout/hooks/__tests__/useCheckout.test.tsx
  packages/redux/src/checkout/actions/__tests__/createCheckoutOrder.test.ts
Labels: :package: react

fix(client): add metadata in post checkout order request and types
  packages/client/src/checkout/__tests__/postCheckoutOrder.test.ts
  packages/client/src/checkout/types/postCheckoutOrder.types.ts
  packages/react/src/checkout/hooks/__tests__/useCheckout.test.tsx
  packages/redux/src/checkout/actions/__tests__/createCheckoutOrder.test.ts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix: fix ga4 events
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: react

fix: fix ga4 events
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: react

feat(analytics|react): add unique id to GTM integration
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/__tests__/analytics.test.ts
  packages/analytics/src/utils/constants.ts
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/constants.ts
  packages/react/src/analytics/integrations/GTM/GTM.ts
  packages/react/src/analytics/integrations/GTM/__tests__/GTM.test.ts
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  tests/__fixtures__/analytics/baseAnalyticsEventData.fixtures.ts
Labels: :package: react

feat(core|react): add unique id to GTM integration
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/__fixtures__/commonData.fixtures.js
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/__tests__/analytics.test.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/utils/constants.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GTM/GTM.js
  packages/react/src/analytics/integrations/__fixtures__/analyticsPageData.fixtures.json
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/GTM.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
Labels: :package: core, :package: react

feat(analytics|react): add parameters checkout started event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/checkoutStartedTrackData.fixtures.ts
Labels: :package: react

feat(core|react): add parameters checkout started event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(core|react): add unique id to GTM integration
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/__fixtures__/commonData.fixtures.js
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/__tests__/analytics.test.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/utils/constants.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GTM/GTM.js
  packages/react/src/analytics/integrations/__fixtures__/analyticsPageData.fixtures.json
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/GTM.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
Labels: :package: core, :package: react

feat(analytics|react): add unique id to GTM integration
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/__tests__/analytics.test.ts
  packages/analytics/src/utils/constants.ts
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/constants.ts
  packages/react/src/analytics/integrations/GTM/GTM.ts
  packages/react/src/analytics/integrations/GTM/__tests__/GTM.test.ts
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  tests/__fixtures__/analytics/baseAnalyticsEventData.fixtures.ts
Labels: :package: react

feat(analytics|react): add unique id to GTM integration
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/__tests__/analytics.test.ts
  packages/analytics/src/utils/constants.ts
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/constants.ts
  packages/react/src/analytics/integrations/GTM/GTM.ts
  packages/react/src/analytics/integrations/GTM/__tests__/GTM.test.ts
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  tests/__fixtures__/analytics/baseAnalyticsEventData.fixtures.ts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix: subfolder on useLocale & serverInitialState
  packages/react/src/contents/hooks/__tests__/__fixtures__/useSeoMetadata.fixtures.ts
  packages/react/src/locale/hooks/__tests__/useLocale.test.tsx
  packages/react/src/locale/hooks/useLocale.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/locale/__tests__/selectors.test.ts
  packages/redux/src/locale/__tests__/serverInitialState.test.ts
  packages/redux/src/locale/actionTypes.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/selectors.ts
  packages/redux/src/locale/serverInitialState.ts
  packages/redux/src/locale/types/actions.types.ts
  packages/redux/src/locale/types/reducer.types.ts
  tests/__fixtures__/locale/locale.fixtures.ts
Labels: :package: react

feat(core|react): add parameters checkout started event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(analytics|react): add parameters checkout started event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/checkoutStartedTrackData.fixtures.ts
Labels: :package: react

feat(analytics|react): add parameters checkout started event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/checkoutStartedTrackData.fixtures.ts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(client): add get return workflow endpoint
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/returns/__fixtures__/getReturnWorkflow.fixtures.ts
  packages/client/src/returns/__tests__/__snapshots__/getReturnWorkflow.test.ts.snap
  packages/client/src/returns/__tests__/getReturnWorkflow.test.ts
  packages/client/src/returns/getReturnWorkflow.ts
  packages/client/src/returns/index.ts
  packages/client/src/returns/types/getReturnWorkflow.types.ts
  packages/client/src/returns/types/index.ts
  tests/__fixtures__/returns/returns.fixtures.ts
Labels: none

.github/labeler.yml:

":package: core":
  - 'packages/core/**/*'
  - 'packages/core/**/.*'
  - 'packages/core/.**/*'
  - 'packages/core/.**/.*'

":package: react":
  - 'packages/react/**/*'
  - 'packages/react/**/.*'
  - 'packages/react/.**/*'
  - 'packages/react/.**/.*'

"type: maintenance":
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

"type: documentation":
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'
