Repository Farfetch/blackout, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: core, :package: react, type: maintenance, type: documentation

.github/labeler.yml:

":package: core":
  - 'packages/core/**/*'
  - 'packages/core/**/.*'
  - 'packages/core/.**/*'
  - 'packages/core/.**/.*'

":package: react":
  - 'packages/react/**/*'
  - 'packages/react/**/.*'
  - 'packages/react/.**/*'
  - 'packages/react/.**/.*'

"type: maintenance":
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

"type: documentation":
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'

feat(core): exclude update product event
  packages/core/src/analytics/redux/middlewares/__tests__/bag.test.js
  packages/core/src/analytics/redux/middlewares/__tests__/wishlist.test.js
  packages/core/src/analytics/redux/middlewares/bag.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
Labels: :package: core

feat(redux): exclude update product event for next
  packages/redux/src/analytics/middlewares/__tests__/bag.test.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
Labels: none

feat(redux): exclude update product event for next
  packages/redux/src/analytics/middlewares/__tests__/bag.test.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
Labels: none

feat: add index parameter to events
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(core): exclude update product event
  packages/core/src/analytics/redux/middlewares/__tests__/bag.test.js
  packages/core/src/analytics/redux/middlewares/__tests__/wishlist.test.js
  packages/core/src/analytics/redux/middlewares/bag.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
Labels: :package: core

feat: add parameters add address info event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat: add parameters add shipping info event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: core, :package: react, type: documentation

chore(client): add `SelectedSaleIntent` property to `orderItem` type
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/checkout/types/checkoutOrderOperationChange.types.ts
  packages/client/src/orders/types/orderItem.types.ts
  packages/client/src/products/types/productVariant.types.ts
  packages/client/src/types/common/index.ts
  packages/client/src/types/common/saleIntent.types.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: none

chore(client): add `SelectedSaleIntent` property to `orderItem` type
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/checkout/types/checkoutOrderOperationChange.types.ts
  packages/client/src/orders/types/orderItem.types.ts
  packages/client/src/products/types/productVariant.types.ts
  packages/client/src/types/common/index.ts
  packages/client/src/types/common/saleIntent.types.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: none

fix: fix unit tests failing
  packages/client/src/orders/types/orderItem.types.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: none

fix: fix unit tests failing
  packages/client/src/orders/types/orderItem.types.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(core|react): add package version to analytics
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/utils/constants.js
  packages/react/src/analytics/__tests__/analytics.test.js
  packages/react/src/analytics/analytics.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(analytics|react): add package version to analytics next
  packages/react/src/analytics/__tests__/analytics.test.ts
  packages/react/src/analytics/analytics.ts
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
Labels: :package: react

chore(client): add metadata to order item types
  packages/client/src/orders/types/orderItem.types.ts
Labels: none

feat(analytics|react): add package version to analytics next
  packages/react/src/analytics/__tests__/analytics.test.ts
  packages/react/src/analytics/analytics.ts
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
Labels: :package: react

feat(analytics|react): add package version to analytics next
  packages/react/src/analytics/__tests__/analytics.test.ts
  packages/react/src/analytics/analytics.ts
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
Labels: :package: react

feat(core|react): add package version to analytics
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/utils/constants.js
  packages/react/src/analytics/__tests__/analytics.test.js
  packages/react/src/analytics/analytics.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: react, type: documentation

fix: fix Variation type mispelling
  packages/client/src/products/types/product.types.ts
Labels: none

chore(client): add metadata to order item types
  packages/client/src/orders/types/orderItem.types.ts
Labels: none

chore(client): add metadata to order item types
  packages/client/src/orders/types/orderItem.types.ts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(core|react): add location id parameter on analytics product events
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

fix: fix Variation type mispelling
  packages/client/src/products/types/product.types.ts
Labels: none

fix: fix Variation type mispelling
  packages/client/src/products/types/product.types.ts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(analytics|react): add location id parameter on analytics product events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/productUpdatedTrackData.fixtures.mts
Labels: :package: react

fix(react): add missing orderId parameter on order_completed event
  packages/react/src/analytics/integrations/GTM/eventsMapper.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
Labels: :package: react

fix(react): add missing orderId parameter on order_completed event
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  packages/react/src/analytics/integrations/GTM/eventsMapper.ts
Labels: :package: react

feat(core|react): add location id parameter on analytics product events
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(analytics|react): add location id parameter on analytics product events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/productUpdatedTrackData.fixtures.mts
Labels: :package: react

feat(analytics|react): add location id parameter on analytics product events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/productUpdatedTrackData.fixtures.mts
Labels: :package: react
