Repository Farfetch/blackout, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: core, :package: react, type: maintenance, type: documentation

.github/labeler.yml:

":package: core":
  - 'packages/core/**/*'
  - 'packages/core/**/.*'
  - 'packages/core/.**/*'
  - 'packages/core/.**/.*'

":package: react":
  - 'packages/react/**/*'
  - 'packages/react/**/.*'
  - 'packages/react/.**/*'
  - 'packages/react/.**/.*'

"type: maintenance":
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

"type: documentation":
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat: setup analytics api integration next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/utils/getters.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.ts
  packages/react/src/analytics/integrations/AnalyticsApi/__tests__/AnalyticsApi.test.ts
  packages/react/src/analytics/integrations/AnalyticsApi/index.ts
  packages/react/src/analytics/integrations/AnalyticsApi/types/index.ts
  packages/react/src/analytics/integrations/AnalyticsApi/types/types.ts
  packages/react/src/analytics/integrations/index.ts
Labels: :package: react

feat: setup analytics api integration
  packages/core/src/analytics/utils/getters.js
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.js
  packages/react/src/analytics/integrations/AnalyticsApi/index.js
  packages/react/src/analytics/integrations/__tests__/AnalyticsApi.test.js
  packages/react/src/analytics/integrations/index.js
Labels: :package: core, :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix(react): add missing orderId parameter on order_completed event
  packages/react/src/analytics/integrations/GTM/eventsMapper.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
Labels: :package: react

fix(react): add missing orderId parameter on order_completed event
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  packages/react/src/analytics/integrations/GTM/eventsMapper.ts
Labels: :package: react

fix(react): add missing orderId parameter on order_completed event
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  packages/react/src/analytics/integrations/GTM/eventsMapper.ts
Labels: :package: react

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: react, type: documentation

chore: prevent lodash imports in source
  .eslintrc.js
Labels: none

chore: prevent lodash imports in source
  .eslintrc.js
Labels: none

chore: prevent lodash imports in source
  .eslintrc.js
Labels: none

feat: setup analytics api integration next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/utils/getters.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.ts
  packages/react/src/analytics/integrations/AnalyticsApi/__tests__/AnalyticsApi.test.ts
  packages/react/src/analytics/integrations/AnalyticsApi/index.ts
  packages/react/src/analytics/integrations/AnalyticsApi/types/index.ts
  packages/react/src/analytics/integrations/AnalyticsApi/types/types.ts
  packages/react/src/analytics/integrations/index.ts
Labels: :package: react

feat: setup analytics api integration next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/utils/getters.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.ts
  packages/react/src/analytics/integrations/AnalyticsApi/__tests__/AnalyticsApi.test.ts
  packages/react/src/analytics/integrations/AnalyticsApi/index.ts
  packages/react/src/analytics/integrations/AnalyticsApi/types/index.ts
  packages/react/src/analytics/integrations/AnalyticsApi/types/types.ts
  packages/react/src/analytics/integrations/index.ts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat: setup analytics api integration
  packages/core/src/analytics/utils/getters.js
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.js
  packages/react/src/analytics/integrations/AnalyticsApi/index.js
  packages/react/src/analytics/integrations/__tests__/AnalyticsApi.test.js
  packages/react/src/analytics/integrations/index.js
Labels: :package: core, :package: react

chore: prevent automatic major version bumps to `main`
  .github/workflows/CI.yml
  patches/@lerna+conventional-commits+5.6.2.patch
  patches/@lerna+version+5.6.2.patch
  scripts/release.sh
Labels: type: maintenance

fix(react): add missing orderId parameter on order_completed event
  packages/react/src/analytics/integrations/GTM/eventsMapper.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
Labels: :package: react

feat(core|react): add location id parameter on analytics product events
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat: setup analytics api integration
  packages/core/src/analytics/utils/getters.js
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.js
  packages/react/src/analytics/integrations/AnalyticsApi/index.js
  packages/react/src/analytics/integrations/__tests__/AnalyticsApi.test.js
  packages/react/src/analytics/integrations/index.js
Labels: :package: core, :package: react

feat(core|react): add package version to analytics
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/utils/constants.js
  packages/react/src/analytics/__tests__/analytics.test.js
  packages/react/src/analytics/analytics.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

chore: publish [skip build]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: core, :package: react, type: documentation

feat(client|redux|react): add post guest orders endpoint
  packages/client/src/orders/__fixtures__/getGuestOrderLegacy.fixtures.ts
  packages/client/src/orders/__tests__/getGuestOrderLegacy.test.ts
  packages/client/src/orders/getGuestOrderLegacy.ts
  packages/client/src/orders/types/getGuestOrderLegacy.types.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/orders/actions/__tests__/fetchGuestOrderLegacy.test.ts
  packages/redux/src/orders/actions/factories/fetchGuestOrderLegacyFactory.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: :package: react

fix: fix possible infinite loop in `useCheckoutOrderDetails`
  packages/react/src/checkout/hooks/__tests__/useCheckoutOrderDetails.test.tsx
  packages/react/src/checkout/hooks/useCheckoutOrderDetails.ts
Labels: :package: react

feat: add package to unsubcribe action
  packages/core/src/subscriptions/client/__mocks__/deleteSubscription.fixtures.js
  packages/core/src/subscriptions/client/__tests__/deleteSubscription.test.js
  packages/core/src/subscriptions/client/deleteSubscription.js
  packages/core/src/subscriptions/redux/actions/__tests__/doUnsubscribeFromSubscription.test.js
  packages/core/src/subscriptions/redux/actions/doUnsubscribeFromSubscription.js
Labels: :package: core

feat(client): add package to unsubcribe action
  packages/client/src/subscriptions/types/deleteSubscription.types.ts
  tests/__fixtures__/subscriptions/subscriptions.fixtures.mts
Labels: none

fix(react|redux): useSEO hook looping requests
  packages/core/src/contents/redux/__tests__/reducer.test.js
  packages/core/src/contents/redux/reducer.js
  packages/react/src/content/hooks/useSEO.js
Labels: :package: core, :package: react

feat(core): add post guest orders endpoint
  .gitignore
  packages/analytics/tsconfig.ci.runtime.tsbuildinfo
  packages/client/tsconfig.ci.runtime.tsbuildinfo
  packages/core/src/entities/redux/__tests__/__snapshots__/reducer.test.js.snap
  packages/core/src/orders/client/__fixtures__/postGuestOrderDetails.fixtures.js
  packages/core/src/orders/client/__tests__/__snapshots__/postGuestOrderDetails.test.js.snap
  packages/core/src/orders/client/__tests__/postGuestOrderDetails.test.js
  packages/core/src/orders/client/index.js
  packages/core/src/orders/client/postGuestOrderDetails.js
  packages/core/src/orders/redux/actionTypes.js
  packages/core/src/orders/redux/actions/__tests__/__snapshots__/doPostOrderDetailsGuestUser.test.js.snap
  packages/core/src/orders/redux/actions/__tests__/doPostOrderDetailsGuestUser.test.js
  packages/core/src/orders/redux/actions/doPostOrderDetailsGuestUser.js
  packages/core/src/orders/redux/actions/index.js
  packages/core/src/orders/redux/reducer.js
  packages/react/tsconfig.ci.runtime.tsbuildinfo
  packages/redux/tsconfig.ci.runtime.tsbuildinfo
  tsconfig.ci.tests.tsbuildinfo
Labels: :package: core, :package: react

fix: fix possible infinite loop in `useCheckoutOrderDetails`
  packages/react/src/checkout/hooks/__tests__/useCheckoutOrderDetails.test.tsx
  packages/react/src/checkout/hooks/useCheckoutOrderDetails.ts
Labels: :package: react

fix: fix possible infinite loop in `useCheckoutOrderDetails`
  packages/react/src/checkout/hooks/__tests__/useCheckoutOrderDetails.test.tsx
  packages/react/src/checkout/hooks/useCheckoutOrderDetails.ts
Labels: :package: react

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: react, type: documentation

feat(client|redux|react): add post guest orders endpoint
  packages/client/src/orders/__fixtures__/getGuestOrderLegacy.fixtures.ts
  packages/client/src/orders/__tests__/getGuestOrderLegacy.test.ts
  packages/client/src/orders/getGuestOrderLegacy.ts
  packages/client/src/orders/types/getGuestOrderLegacy.types.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/orders/actions/__tests__/fetchGuestOrderLegacy.test.ts
  packages/redux/src/orders/actions/factories/fetchGuestOrderLegacyFactory.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: :package: react

feat(client|redux|react): add post guest orders endpoint
  packages/client/src/orders/__fixtures__/getGuestOrderLegacy.fixtures.ts
  packages/client/src/orders/__tests__/getGuestOrderLegacy.test.ts
  packages/client/src/orders/getGuestOrderLegacy.ts
  packages/client/src/orders/types/getGuestOrderLegacy.types.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/orders/actions/__tests__/fetchGuestOrderLegacy.test.ts
  packages/redux/src/orders/actions/factories/fetchGuestOrderLegacyFactory.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(core): add post guest orders endpoint
  .gitignore
  packages/analytics/tsconfig.ci.runtime.tsbuildinfo
  packages/client/tsconfig.ci.runtime.tsbuildinfo
  packages/core/src/entities/redux/__tests__/__snapshots__/reducer.test.js.snap
  packages/core/src/orders/client/__fixtures__/postGuestOrderDetails.fixtures.js
  packages/core/src/orders/client/__tests__/__snapshots__/postGuestOrderDetails.test.js.snap
  packages/core/src/orders/client/__tests__/postGuestOrderDetails.test.js
  packages/core/src/orders/client/index.js
  packages/core/src/orders/client/postGuestOrderDetails.js
  packages/core/src/orders/redux/actionTypes.js
  packages/core/src/orders/redux/actions/__tests__/__snapshots__/doPostOrderDetailsGuestUser.test.js.snap
  packages/core/src/orders/redux/actions/__tests__/doPostOrderDetailsGuestUser.test.js
  packages/core/src/orders/redux/actions/doPostOrderDetailsGuestUser.js
  packages/core/src/orders/redux/actions/index.js
  packages/core/src/orders/redux/reducer.js
  packages/react/tsconfig.ci.runtime.tsbuildinfo
  packages/redux/tsconfig.ci.runtime.tsbuildinfo
  tsconfig.ci.tests.tsbuildinfo
Labels: :package: core, :package: react
