Repository Farfetch/blackout, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: core, :package: react, type: maintenance, type: documentation

.github/labeler.yml:

":package: core":
  - 'packages/core/**/*'
  - 'packages/core/**/.*'
  - 'packages/core/.**/*'
  - 'packages/core/.**/.*'

":package: react":
  - 'packages/react/**/*'
  - 'packages/react/**/.*'
  - 'packages/react/.**/*'
  - 'packages/react/.**/.*'

"type: maintenance":
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

"type: documentation":
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'

feat(analytics|react): allow analytics to work with any consent categories
  packages/analytics/src/Analytics.ts
  packages/analytics/src/Consent.ts
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/__tests__/consent.test.ts
  packages/analytics/src/integrations/Integration.ts
  packages/analytics/src/integrations/__tests__/Integration.test.ts
  packages/analytics/src/types/analytics.types.ts
  packages/analytics/src/utils/__tests__/__snapshots__/contants.test.ts.snap
  packages/analytics/src/utils/__tests__/contants.test.ts
  packages/analytics/src/utils/constants.ts
  packages/analytics/src/utils/index.ts
  packages/react/src/analytics/integrations/GA/GA.ts
  packages/react/src/analytics/integrations/GA/__tests__/GA.test.ts
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
Labels: :package: react

feat(analytics|react): allow analytics to work with any consent categories
  packages/analytics/src/Analytics.ts
  packages/analytics/src/Consent.ts
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/__tests__/consent.test.ts
  packages/analytics/src/integrations/Integration.ts
  packages/analytics/src/integrations/__tests__/Integration.test.ts
  packages/analytics/src/types/analytics.types.ts
  packages/analytics/src/utils/__tests__/__snapshots__/contants.test.ts.snap
  packages/analytics/src/utils/__tests__/contants.test.ts
  packages/analytics/src/utils/constants.ts
  packages/analytics/src/utils/index.ts
  packages/react/src/analytics/integrations/GA/GA.ts
  packages/react/src/analytics/integrations/GA/__tests__/GA.test.ts
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(core|react): allow analytics to work with any consent categories
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/Consent.js
  packages/core/src/analytics/__tests__/analytics.test.js
  packages/core/src/analytics/__tests__/consent.test.js
  packages/core/src/analytics/integrations/Integration.js
  packages/core/src/analytics/integrations/__tests__/Integration.test.js
  packages/core/src/analytics/utils/__tests__/__snapshots__/contants.test.js.snap
  packages/core/src/analytics/utils/constants.js
  packages/react/src/analytics/integrations/Castle/CastleV1.js
  packages/react/src/analytics/integrations/Castle/CastleV2.js
  packages/react/src/analytics/integrations/Forter/Forter.js
  packages/react/src/analytics/integrations/GA/GA.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GTM/GTM.js
  packages/react/src/analytics/integrations/Riskified.js
  packages/react/src/analytics/integrations/Vitorino/Vitorino.js
Labels: :package: core, :package: react

feat(client): add product outfits endpoints
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/products/__fixtures__/getProductOutfits.fixtures.ts
  packages/client/src/products/__tests__/__snapshots__/getProductOutfits.test.ts.snap
  packages/client/src/products/__tests__/getProductOutfits.test.ts
  packages/client/src/products/getProductOutfits.ts
  packages/client/src/products/index.ts
  packages/client/src/products/types/getProductOutfits.types.ts
  packages/client/src/products/types/index.ts
  packages/client/src/products/types/productOutfit.types.ts
  tests/__fixtures__/products/details.fixtures.ts
  tests/__fixtures__/products/ids.fixtures.ts
  tests/__fixtures__/products/index.ts
  tests/__fixtures__/products/productOutfits.fixtures.ts
Labels: none

feat(redux): add redux product outfits
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/types/product.types.ts
  packages/redux/src/products/actionTypes/index.ts
  packages/redux/src/products/actionTypes/productOutfits.actionTypes.ts
  packages/redux/src/products/actions/__tests__/fetchProductOutfits.test.ts
  packages/redux/src/products/actions/factories/fetchProductOutfitsFactory.ts
  packages/redux/src/products/actions/factories/index.ts
  packages/redux/src/products/actions/fetchProductOutfits.ts
  packages/redux/src/products/actions/index.ts
  packages/redux/src/products/reducer/__tests__/outfits.test.ts
  packages/redux/src/products/reducer/index.ts
  packages/redux/src/products/reducer/outfits.ts
  packages/redux/src/products/selectors/__tests__/outfits.test.ts
  packages/redux/src/products/selectors/index.ts
  packages/redux/src/products/selectors/outfits.ts
  packages/redux/src/products/types/actions/index.ts
  packages/redux/src/products/types/actions/productOutfits.types.ts
  packages/redux/src/products/types/state.types.ts
  packages/redux/src/products/types/state/index.ts
  packages/redux/src/products/types/state/productOutfits.state.types.ts
  tests/__fixtures__/products/productOutfits.fixtures.ts
  tests/__fixtures__/products/products.fixtures.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: none

feat(redux): add redux product outfits
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/types/product.types.ts
  packages/redux/src/products/actionTypes/index.ts
  packages/redux/src/products/actionTypes/productOutfits.actionTypes.ts
  packages/redux/src/products/actions/__tests__/fetchProductOutfits.test.ts
  packages/redux/src/products/actions/factories/fetchProductOutfitsFactory.ts
  packages/redux/src/products/actions/factories/index.ts
  packages/redux/src/products/actions/fetchProductOutfits.ts
  packages/redux/src/products/actions/index.ts
  packages/redux/src/products/reducer/__tests__/outfits.test.ts
  packages/redux/src/products/reducer/index.ts
  packages/redux/src/products/reducer/outfits.ts
  packages/redux/src/products/selectors/__tests__/outfits.test.ts
  packages/redux/src/products/selectors/index.ts
  packages/redux/src/products/selectors/outfits.ts
  packages/redux/src/products/types/actions/index.ts
  packages/redux/src/products/types/actions/productOutfits.types.ts
  packages/redux/src/products/types/state.types.ts
  packages/redux/src/products/types/state/index.ts
  packages/redux/src/products/types/state/productOutfits.state.types.ts
  tests/__fixtures__/products/productOutfits.fixtures.ts
  tests/__fixtures__/products/products.fixtures.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: none

feat(client): add product outfits endpoints
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/products/__fixtures__/getProductOutfits.fixtures.ts
  packages/client/src/products/__tests__/__snapshots__/getProductOutfits.test.ts.snap
  packages/client/src/products/__tests__/getProductOutfits.test.ts
  packages/client/src/products/getProductOutfits.ts
  packages/client/src/products/index.ts
  packages/client/src/products/types/getProductOutfits.types.ts
  packages/client/src/products/types/index.ts
  packages/client/src/products/types/productOutfit.types.ts
  tests/__fixtures__/products/details.fixtures.ts
  tests/__fixtures__/products/ids.fixtures.ts
  tests/__fixtures__/products/index.ts
  tests/__fixtures__/products/productOutfits.fixtures.ts
Labels: none

feat(redux): add redux product outfits
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/types/product.types.ts
  packages/redux/src/products/actionTypes/index.ts
  packages/redux/src/products/actionTypes/productOutfits.actionTypes.ts
  packages/redux/src/products/actions/__tests__/fetchProductOutfits.test.ts
  packages/redux/src/products/actions/factories/fetchProductOutfitsFactory.ts
  packages/redux/src/products/actions/factories/index.ts
  packages/redux/src/products/actions/fetchProductOutfits.ts
  packages/redux/src/products/actions/index.ts
  packages/redux/src/products/reducer/__tests__/outfits.test.ts
  packages/redux/src/products/reducer/index.ts
  packages/redux/src/products/reducer/outfits.ts
  packages/redux/src/products/selectors/__tests__/outfits.test.ts
  packages/redux/src/products/selectors/index.ts
  packages/redux/src/products/selectors/outfits.ts
  packages/redux/src/products/types/actions/index.ts
  packages/redux/src/products/types/actions/productOutfits.types.ts
  packages/redux/src/products/types/state.types.ts
  packages/redux/src/products/types/state/index.ts
  packages/redux/src/products/types/state/productOutfits.state.types.ts
  tests/__fixtures__/products/productOutfits.fixtures.ts
  tests/__fixtures__/products/products.fixtures.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: none

feat(client): add product outfits endpoints
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/products/__fixtures__/getProductOutfits.fixtures.ts
  packages/client/src/products/__tests__/__snapshots__/getProductOutfits.test.ts.snap
  packages/client/src/products/__tests__/getProductOutfits.test.ts
  packages/client/src/products/getProductOutfits.ts
  packages/client/src/products/index.ts
  packages/client/src/products/types/getProductOutfits.types.ts
  packages/client/src/products/types/index.ts
  packages/client/src/products/types/productOutfit.types.ts
  tests/__fixtures__/products/details.fixtures.ts
  tests/__fixtures__/products/ids.fixtures.ts
  tests/__fixtures__/products/index.ts
  tests/__fixtures__/products/productOutfits.fixtures.ts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat: add filters validation analytics
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: none

feat: add filters validation analytics
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: none

feat: add filters validation analytics
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix(react): remove sandbox forter shop
  packages/react/src/analytics/integrations/Forter/Forter.js
  packages/react/src/analytics/integrations/Forter/ForterTokenLoadedEventDetector.js
  packages/react/src/analytics/integrations/Forter/constants.js
  packages/react/src/analytics/integrations/Forter/forterHelper.js
  packages/react/src/analytics/integrations/Riskified.js
  packages/react/src/analytics/integrations/Vitorino/constants.js
  packages/react/src/analytics/integrations/__tests__/Forter.test.js
Labels: :package: react

fix(react): remove sandbox forter shop
  packages/react/src/analytics/integrations/Forter/Forter.js
  packages/react/src/analytics/integrations/Forter/ForterTokenLoadedEventDetector.js
  packages/react/src/analytics/integrations/Forter/constants.js
  packages/react/src/analytics/integrations/Forter/forterHelper.js
  packages/react/src/analytics/integrations/Riskified.js
  packages/react/src/analytics/integrations/Vitorino/constants.js
  packages/react/src/analytics/integrations/__tests__/Forter.test.js
Labels: :package: react

fix: filters validation analytics
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: none

fix(react): add missing export on vitorino
  packages/react/src/analytics/integrations/Vitorino/index.js
Labels: :package: react

fix(react): add missing export on vitorino
  packages/react/src/analytics/integrations/Vitorino/index.js
Labels: :package: react

fix: filters validation analytics
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: none

fix: filters validation analytics
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix(react): add missing export on vitorino
  packages/react/src/analytics/integrations/Vitorino/index.js
Labels: :package: react

feat(core|react): allow analytics to work with any consent categories
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/Consent.js
  packages/core/src/analytics/__tests__/analytics.test.js
  packages/core/src/analytics/__tests__/consent.test.js
  packages/core/src/analytics/integrations/Integration.js
  packages/core/src/analytics/integrations/__tests__/Integration.test.js
  packages/core/src/analytics/utils/__tests__/__snapshots__/contants.test.js.snap
  packages/core/src/analytics/utils/constants.js
  packages/react/src/analytics/integrations/Castle/CastleV1.js
  packages/react/src/analytics/integrations/Castle/CastleV2.js
  packages/react/src/analytics/integrations/Forter/Forter.js
  packages/react/src/analytics/integrations/GA/GA.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GTM/GTM.js
  packages/react/src/analytics/integrations/Riskified.js
  packages/react/src/analytics/integrations/Vitorino/Vitorino.js
Labels: :package: core, :package: react

fix(react): remove sandbox forter shop
  packages/react/src/analytics/integrations/Forter/Forter.js
  packages/react/src/analytics/integrations/Forter/ForterTokenLoadedEventDetector.js
  packages/react/src/analytics/integrations/Forter/constants.js
  packages/react/src/analytics/integrations/Forter/forterHelper.js
  packages/react/src/analytics/integrations/Riskified.js
  packages/react/src/analytics/integrations/Vitorino/constants.js
  packages/react/src/analytics/integrations/__tests__/Forter.test.js
Labels: :package: react

chore: publish [skip build]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: core, :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix(client): add crypto-js to client's dependencies
  packages/client/package.json
Labels: none

fix(client): add crypto-js to client's dependencies
  packages/client/package.json
Labels: none

fix(client): add crypto-js to client's dependencies
  packages/client/package.json
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix(redux): fix checkout reducer
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
Labels: none

feat(redux): review fetch user orders internal storage
  jest.config.js
  packages/client/src/orders/__fixtures__/getUserOrders.fixtures.ts
  packages/client/src/orders/types/getUserOrders.types.ts
  packages/client/src/orders/types/orderSummary.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/orders/hooks/__tests__/useOrder.test.ts
  packages/react/src/orders/hooks/__tests__/useOrderReturnOptions.test.ts
  packages/react/src/orders/hooks/__tests__/useOrderReturns.test.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/index.ts
  packages/react/src/orders/hooks/types/index.ts
  packages/react/src/orders/hooks/types/useOrderReturns.ts
  packages/react/src/orders/hooks/useOrder.ts
  packages/react/src/orders/hooks/useOrderReturnOptions.ts
  packages/react/src/orders/hooks/useOrderReturns.ts
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  packages/redux/src/entities/schemas/orderSummary.ts
  packages/redux/src/entities/types/orders.types.ts
  packages/redux/src/orders/__tests__/reducer.test.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/actions/__tests__/fetchUserOrders.test.ts
  packages/redux/src/orders/actions/factories/fetchUserOrdersFactory.ts
  packages/redux/src/orders/actions/factories/helpers/generateUserOrdersRequestHash.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrderResponse.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrdersResponse.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/orders/types/actions.types.ts
  packages/redux/src/orders/types/state.types.ts
  packages/redux/src/types/storeState.types.ts
  packages/redux/src/users/addresses/actions/__tests__/__snapshots__/removeUserDefaultContactAddress.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/fetchUser.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/setUser.test.ts.snap
  packages/redux/src/users/titles/actions/__tests__/fetchUserTitles.test.ts
  tests/__fixtures__/orders/orders.fixtures.ts
  tests/__fixtures__/users/users.fixtures.ts
Labels: :package: react
