Repository Farfetch/blackout, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: core, :package: react, type: maintenance, type: documentation

.github/labeler.yml:

":package: core":
  - 'packages/core/**/*'
  - 'packages/core/**/.*'
  - 'packages/core/.**/*'
  - 'packages/core/.**/.*'

":package: react":
  - 'packages/react/**/*'
  - 'packages/react/**/.*'
  - 'packages/react/.**/*'
  - 'packages/react/.**/.*'

"type: maintenance":
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

"type: documentation":
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'

chore: update typescript to v5
  jest.config.js
  package.json
  packages/client/src/helpers/client/interceptors/authentication/AuthenticationTokenManager.ts
  tests/axiosErrorSerializer.mts
  tests/setupAfterEnv.mts
  tests/setupReactTestingLibrary.mts
  tsconfig.release.base.json
  yarn.lock
Labels: none

chore: update typescript to v5
  jest.config.js
  package.json
  packages/client/src/helpers/client/interceptors/authentication/AuthenticationTokenManager.ts
  tests/axiosErrorSerializer.mts
  tests/setupAfterEnv.mts
  tests/setupReactTestingLibrary.mts
  tsconfig.release.base.json
  yarn.lock
Labels: none

chore: update typescript to v5
  jest.config.js
  package.json
  packages/client/src/helpers/client/interceptors/authentication/AuthenticationTokenManager.ts
  tests/axiosErrorSerializer.mts
  tests/setupAfterEnv.mts
  tests/setupReactTestingLibrary.mts
  tsconfig.release.base.json
  yarn.lock
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(core|react): add parameters edit checkout step event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(analytics|react): add parameters edit checkout step event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/checkoutStepEditingTrackData.fixtures.mts
Labels: :package: react

feat: add config parameter to `useBag` and `useBagItem` actions
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/__tests__/useBagItem.test.tsx
  packages/react/src/bags/hooks/types/useBag.ts
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/bags/hooks/useBagItem.ts
Labels: :package: react

feat(analytics|react): add delivery method added event next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/types/EventTypes.ts
  packages/analytics/src/types/__tests__/__snapshots__/EventTypes.test.ts.snap
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/deliveryMethodAddedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/index.mts
Labels: :package: react

feat(core|react): add delivery method added event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/core/src/analytics/types/eventTypes.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(core|react): add delivery method added event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/core/src/analytics/types/eventTypes.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(analytics|react): add delivery method added event next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/types/EventTypes.ts
  packages/analytics/src/types/__tests__/__snapshots__/EventTypes.test.ts.snap
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/deliveryMethodAddedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/index.mts
Labels: :package: react

feat(analytics|react): add delivery method added event next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/types/EventTypes.ts
  packages/analytics/src/types/__tests__/__snapshots__/EventTypes.test.ts.snap
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/deliveryMethodAddedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/index.mts
Labels: :package: react

fix(core|react): fix filters events
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

fix(analytics|react): fix filters events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
Labels: :package: react

fix(analytics|react): fix filters events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(analytics|react): add billing info added event next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/types/EventTypes.ts
  packages/analytics/src/types/__tests__/__snapshots__/EventTypes.test.ts.snap
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/billingInfoAddedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/index.mts
Labels: :package: react

feat(core|react): add billing info added event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/core/src/analytics/types/eventTypes.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(core|react): add billing info added event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/core/src/analytics/types/eventTypes.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(analytics|react): add billing info added event next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/types/EventTypes.ts
  packages/analytics/src/types/__tests__/__snapshots__/EventTypes.test.ts.snap
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/billingInfoAddedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/index.mts
Labels: :package: react

feat(analytics|react): add billing info added event next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/types/EventTypes.ts
  packages/analytics/src/types/__tests__/__snapshots__/EventTypes.test.ts.snap
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/billingInfoAddedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/index.mts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat: add parameters add shipping method event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/checkoutStartedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/shippingMethodAddedTrackData.fixtures.mts
Labels: :package: react

feat: add config parameter to `useBag` and `useBagItem` actions
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/__tests__/useBagItem.test.tsx
  packages/react/src/bags/hooks/types/useBag.ts
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/bags/hooks/useBagItem.ts
Labels: :package: react

feat: add config parameter to `useBag` and `useBagItem` actions
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/__tests__/useBagItem.test.tsx
  packages/react/src/bags/hooks/types/useBag.ts
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/bags/hooks/useBagItem.ts
Labels: :package: react

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: react, type: documentation

feat(core|react): add parameters edit checkout step event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(core|react): add delivery method added event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/core/src/analytics/types/eventTypes.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

fix(core|react): fix filters events
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(core|react): add billing info added event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/core/src/analytics/types/eventTypes.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(core|react): add parameters edit checkout step event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

chore: publish [skip build]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: core, :package: react, type: documentation

feat(analytics|react): add parameters edit checkout step event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/checkoutStepEditingTrackData.fixtures.mts
Labels: :package: react

feat(analytics|react): add parameters edit checkout step event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/checkoutStepEditingTrackData.fixtures.mts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation
