Repository Farfetch/blackout, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: core, :package: react, type: maintenance, type: documentation

.github/labeler.yml:

":package: core":
  - 'packages/core/**/*'
  - 'packages/core/**/.*'
  - 'packages/core/.**/*'
  - 'packages/core/.**/.*'

":package: react":
  - 'packages/react/**/*'
  - 'packages/react/**/.*'
  - 'packages/react/.**/*'
  - 'packages/react/.**/.*'

"type: maintenance":
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

"type: documentation":
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'

feat: add parameters add shipping method event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(client): add legacy fetch user returns endpoint
  packages/client/src/users/returns/__fixtures__/getUserReturnsLegacy.fixtures.ts
  packages/client/src/users/returns/__tests__/__snapshots__/getUserReturnsLegacy.test.ts.snap
  packages/client/src/users/returns/__tests__/getUserReturnsLegacy.test.ts
  packages/client/src/users/returns/getUserReturnsLegacy.ts
  packages/client/src/users/returns/index.ts
Labels: none

feat: add parameters add shipping method event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/checkoutStartedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/shippingMethodAddedTrackData.fixtures.mts
Labels: :package: react

feat: add parameters add shipping method event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/checkoutStartedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/shippingMethodAddedTrackData.fixtures.mts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix: fix `patchCheckoutOrderItems` types
  packages/client/src/checkout/types/patchCheckoutOrderItems.types.ts
  packages/redux/src/checkout/actions/__tests__/updateCheckoutOrderItems.test.ts
  tests/__fixtures__/checkout/checkout.fixtures.mts
Labels: none

fix: fix `patchCheckoutOrderItems` types
  packages/client/src/checkout/types/patchCheckoutOrderItems.types.ts
  packages/redux/src/checkout/actions/__tests__/updateCheckoutOrderItems.test.ts
  tests/__fixtures__/checkout/checkout.fixtures.mts
Labels: none

fix: fix `patchCheckoutOrderItems` types
  packages/client/src/checkout/types/patchCheckoutOrderItems.types.ts
  packages/redux/src/checkout/actions/__tests__/updateCheckoutOrderItems.test.ts
  tests/__fixtures__/checkout/checkout.fixtures.mts
Labels: none

feat: add parameters add shipping method event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat: add parameters add shipping method event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

chore: publish [skip build]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: core, :package: react, type: documentation

feat: add index parameter to events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/productAddedToCartTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/productAddedToWishlistTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/productUpdatedTrackData.fixtures.mts
Labels: :package: react

feat: add index parameter to events
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

chore: update Product Variant types with publication features
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/products/types/productVariant.types.ts
  tests/__fixtures__/products/productVariantsMerchantsLocations.fixtures.mts
Labels: none

chore: update Product Variant types with publication features
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/products/types/productVariant.types.ts
  tests/__fixtures__/products/productVariantsMerchantsLocations.fixtures.mts
Labels: none

chore: update Product Variant types with publication features
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/products/types/productVariant.types.ts
  tests/__fixtures__/products/productVariantsMerchantsLocations.fixtures.mts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat: add parameters add address info event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/addressInfoAddedTrackData.fixtures.mts
Labels: :package: react

feat: add parameters add address info event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat: add parameters add shipping info event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/shippingInfoAddedTrackData.fixtures.mts
Labels: :package: react

feat: add parameters add shipping info event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat: add parameters add shipping info event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat: add parameters add shipping info event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/shippingInfoAddedTrackData.fixtures.mts
Labels: :package: react

feat: add parameters add shipping info event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/shippingInfoAddedTrackData.fixtures.mts
Labels: :package: react

feat: add parameters add address info event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat: add parameters add address info event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/addressInfoAddedTrackData.fixtures.mts
Labels: :package: react

feat: add parameters add address info event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/addressInfoAddedTrackData.fixtures.mts
Labels: :package: react

feat: add index parameter to events
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat: add index parameter to events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/productAddedToCartTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/productAddedToWishlistTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/productUpdatedTrackData.fixtures.mts
Labels: :package: react

feat: add index parameter to events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/productAddedToCartTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/productAddedToWishlistTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/productUpdatedTrackData.fixtures.mts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(core): exclude update product event
  packages/core/src/analytics/redux/middlewares/__tests__/bag.test.js
  packages/core/src/analytics/redux/middlewares/__tests__/wishlist.test.js
  packages/core/src/analytics/redux/middlewares/bag.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
Labels: :package: core

feat(redux): exclude update product event for next
  packages/redux/src/analytics/middlewares/__tests__/bag.test.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
Labels: none

chore(client): add `SelectedSaleIntent` property to `orderItem` type
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/checkout/types/checkoutOrderOperationChange.types.ts
  packages/client/src/orders/types/orderItem.types.ts
  packages/client/src/products/types/productVariant.types.ts
  packages/client/src/types/common/index.ts
  packages/client/src/types/common/saleIntent.types.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: none

fix: fix unit tests failing
  packages/client/src/orders/types/orderItem.types.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: none
