Repository Farfetch/blackout, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: core, :package: react, type: maintenance, type: documentation

.github/labeler.yml:

":package: core":
  - 'packages/core/**/*'
  - 'packages/core/**/.*'
  - 'packages/core/.**/*'
  - 'packages/core/.**/.*'

":package: react":
  - 'packages/react/**/*'
  - 'packages/react/**/.*'
  - 'packages/react/.**/*'
  - 'packages/react/.**/.*'

"type: maintenance":
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

"type: documentation":
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'

feat(react): remove castle pageview event tracking
  packages/react/src/analytics/integrations/Castle/Castle.js
  packages/react/src/analytics/integrations/Castle/CastleV1.js
  packages/react/src/analytics/integrations/Castle/CastleV2.js
  packages/react/src/analytics/integrations/__tests__/Castle.test.js
  packages/react/src/analytics/integrations/__tests__/CastleV1.test.js
  packages/react/src/analytics/integrations/__tests__/CastleV2.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/CastleV1.test.js.snap
Labels: :package: react

feat(core|react): analytics improvements
  packages/core/src/analytics/redux/middlewares/bag.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.js
  packages/react/src/analytics/integrations/GTM/eventsMapper.js
  packages/react/src/analytics/integrations/__tests__/AnalyticsApi.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
  packages/react/src/bags/hooks/useBagItem.js
Labels: :package: core, :package: react

feat(react): remove castle pageview event tracking
  packages/react/src/analytics/integrations/Castle/Castle.js
  packages/react/src/analytics/integrations/Castle/CastleV1.js
  packages/react/src/analytics/integrations/Castle/CastleV2.js
  packages/react/src/analytics/integrations/__tests__/Castle.test.js
  packages/react/src/analytics/integrations/__tests__/CastleV1.test.js
  packages/react/src/analytics/integrations/__tests__/CastleV2.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/CastleV1.test.js.snap
Labels: :package: react

chore: rename contents exports
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/contents/types/commercePages.types.ts
  packages/client/src/contents/types/contents.types.ts
  packages/react/src/contents/utils/sortContentType.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/contents/__tests__/utils.test.ts
  packages/redux/src/contents/actions/__tests__/fetchCommercePages.test.ts
  packages/redux/src/contents/actions/factories/fetchCommercePagesFactory.ts
  packages/redux/src/contents/index.ts
  packages/redux/src/contents/selectors.ts
  packages/redux/src/contents/types/actions.types.ts
  packages/redux/src/contents/types/commercePagesRankingStrategy.types.ts
  packages/redux/src/contents/types/index.ts
  packages/redux/src/contents/utils.ts
  packages/redux/src/entities/types/contents.types.ts
  packages/redux/src/types/storeState.types.ts
  tests/__fixtures__/contents/commercePages.fixtures.mts
  tests/__fixtures__/contents/contents.fixtures.mts
Labels: :package: react

chore: rename facet groups selectors
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/products/selectors/lists.ts
  packages/redux/src/products/utils/__tests__/getFacetGroupsMaxDepth.test.ts
  packages/redux/src/products/utils/__tests__/getFacetGroupsShallowestDepth.test.ts
  packages/redux/src/products/utils/getFacetGroupsMaxDepth.ts
  packages/redux/src/products/utils/getFacetGroupsShallowestDepth.ts
  packages/redux/src/products/utils/getMaxDepth.ts
  packages/redux/src/products/utils/getShallowestDepth.ts
  packages/redux/src/products/utils/index.ts
Labels: none

chore: rename authentication actions
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/users/authentication/actionTypes.ts
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/createPhoneNumberValidation.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/createPhoneNumberValidations.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/createPhoneToken.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/createPhoneTokenValidation.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/createPhoneTokenValidations.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/createPhoneNumberValidation.test.ts
  packages/redux/src/users/authentication/actions/__tests__/createPhoneToken.test.ts
  packages/redux/src/users/authentication/actions/__tests__/createPhoneTokenValidation.test.ts
  packages/redux/src/users/authentication/actions/createPhoneNumberValidation.ts
  packages/redux/src/users/authentication/actions/createPhoneNumberValidations.ts
  packages/redux/src/users/authentication/actions/createPhoneToken.ts
  packages/redux/src/users/authentication/actions/createPhoneTokenValidation.ts
  packages/redux/src/users/authentication/actions/createPhoneTokenValidations.ts
  packages/redux/src/users/authentication/actions/factories/createPhoneNumberValidationFactory.ts
  packages/redux/src/users/authentication/actions/factories/createPhoneTokenFactory.ts
  packages/redux/src/users/authentication/actions/factories/createPhoneTokenValidationFactory.ts
  packages/redux/src/users/authentication/actions/factories/index.ts
  packages/redux/src/users/authentication/actions/index.ts
Labels: none

chore: rename selectors some selectors
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/contents/__tests__/selectors.test.ts
  packages/redux/src/contents/selectors.ts
  packages/redux/src/raffles/__tests__/selectors.test.ts
  packages/redux/src/raffles/selectors.ts
  packages/redux/src/returns/__tests__/selectors.test.ts
  packages/redux/src/returns/selectors.ts
  packages/redux/src/users/returns/selectors.ts
Labels: none

fix: fix useWishlistSets hook
  packages/client/src/products/types/product.types.ts
  packages/client/src/wishlists/types/wishlist.types.ts
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/__tests__/useBagItem.test.tsx
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/wishlists/hooks/__tests__/useWishlist.test.tsx
  packages/react/src/wishlists/hooks/__tests__/useWishlistItem.test.tsx
  packages/react/src/wishlists/hooks/__tests__/useWishlistSets.test.tsx
  packages/react/src/wishlists/hooks/useWishlist.ts
  packages/react/src/wishlists/hooks/useWishlistItem.ts
  packages/react/src/wishlists/hooks/useWishlistSets.ts
  packages/redux/src/bags/actions/__tests__/__snapshots__/addBagItem.test.ts.snap
  packages/redux/src/bags/actions/__tests__/addBagItem.test.ts
  packages/redux/src/bags/actions/__tests__/removeBagItem.test.ts
  packages/redux/src/bags/actions/__tests__/updateBagItem.test.ts
  packages/redux/src/bags/actions/factories/addBagItemFactory.ts
  packages/redux/src/bags/actions/factories/fetchBagFactory.ts
  packages/redux/src/bags/actions/factories/removeBagItemFactory.ts
  packages/redux/src/bags/actions/factories/updateBagItemFactory.ts
  packages/redux/src/wishlists/actions/__tests__/addWishlistItem.test.ts
  packages/redux/src/wishlists/actions/__tests__/addWishlistSet.test.ts
  packages/redux/src/wishlists/actions/__tests__/fetchWishlistSet.test.ts
  packages/redux/src/wishlists/actions/__tests__/fetchWishlistSets.test.ts
  packages/redux/src/wishlists/actions/__tests__/removeWishlistItem.test.ts
  packages/redux/src/wishlists/actions/__tests__/removeWishlistSet.test.ts
  packages/redux/src/wishlists/actions/__tests__/updateWishlistItem.test.ts
  packages/redux/src/wishlists/actions/__tests__/updateWishlistSet.test.ts
  packages/redux/src/wishlists/actions/factories/addWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/addWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetsFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/updateWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/updateWishlistSetFactory.ts
  packages/redux/src/wishlists/middlewares/updateWishlistSetsUponItemDeletion.ts
  tests/__fixtures__/bags/bag.fixtures.mts
  tests/__fixtures__/wishlists/wishlists.fixtures.mts
Labels: :package: react

chore: more consistency changes
  jest.config.js
  packages/client/src/contents/types/contents.types.ts
  packages/client/src/contents/types/seoMetadata.types.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/types/TokenChangesListeners.types.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/types/TokenData.types.ts
  packages/client/src/helpers/client/interceptors/authentication/types/AuthenticationConfig.types.ts
  packages/client/src/helpers/client/interceptors/authentication/types/TokenManagerOptions.types.ts
  packages/client/src/helpers/client/interceptors/authentication/types/UserToken.types.ts
  packages/client/src/locale/types/cities.ts
  packages/client/src/users/authentication/types/postLogin.types.ts
  packages/client/src/users/authentication/types/postPasswordChange.types.ts
  packages/client/src/users/authentication/types/postPasswordRecover.types.ts
  packages/client/src/users/authentication/types/postPasswordReset.types.ts
  packages/client/src/users/authentication/types/postUser.types.ts
  packages/client/src/users/authentication/types/postValidateEmail.types.ts
  packages/react/src/authentication/contexts/AuthenticationContext.ts
  packages/react/src/authentication/contexts/UserProfileContext.ts
  packages/react/src/authentication/contexts/UserProfileProvider.tsx
  packages/react/src/authentication/hooks/useUserAuthState.ts
  packages/react/src/contents/components/base/__tests__/ComponentsList.test.tsx
  packages/react/src/contents/components/base/componentList/ComponentList.tsx
  packages/react/src/contents/components/base/index.ts
  packages/react/src/contents/types/component.types.ts
Labels: :package: react

chore: add support for legacy user endpoints
  packages/analytics/src/types/analytics.types.ts
  packages/analytics/src/utils/hashUserData.ts
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/types/gender.types.ts
  packages/client/src/users/authentication/__fixtures__/getUserLegacy.fixtures.ts
  packages/client/src/users/authentication/__fixtures__/login.fixtures.ts
  packages/client/src/users/authentication/__fixtures__/postUser.fixtures.ts
  packages/client/src/users/authentication/__fixtures__/postUserLegacy.fixtures.ts
  packages/client/src/users/authentication/__tests__/__snapshots__/getUserLegacy.test.ts.snap
  packages/client/src/users/authentication/__tests__/__snapshots__/postUserLegacy.test.ts.snap
  packages/client/src/users/authentication/__tests__/getUserLegacy.test.ts
  packages/client/src/users/authentication/__tests__/postUserLegacy.test.ts
  packages/client/src/users/authentication/getUserLegacy.ts
  packages/client/src/users/authentication/index.ts
  packages/client/src/users/authentication/postUserLegacy.ts
  packages/client/src/users/authentication/types/getUserLegacy.types.ts
  packages/client/src/users/authentication/types/index.ts
  packages/client/src/users/authentication/types/login.types.ts
  packages/client/src/users/authentication/types/postLogin.types.ts
  packages/client/src/users/authentication/types/postUserLegacy.types.ts
  packages/client/src/users/authentication/types/putUser.types.ts
  packages/client/src/users/authentication/types/user.types.ts
  packages/react/src/analytics/integrations/Castle/Castle.ts
  packages/react/src/checkout/hooks/useCheckout.ts
  packages/react/src/users/hooks/__tests__/useUser.test.ts
  packages/react/src/users/hooks/types/useUser.types.ts
  packages/react/src/users/hooks/useUser.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/types/user.types.ts
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/fetchUserLegacy.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/registerLegacy.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/fetchUserLegacy.test.ts
  packages/redux/src/users/authentication/actions/__tests__/registerLegacy.test.ts
  packages/redux/src/users/authentication/actions/factories/fetchUserLegacyFactory.ts
  packages/redux/src/users/authentication/actions/factories/index.ts
  packages/redux/src/users/authentication/actions/factories/registerLegacyFactory.ts
  packages/redux/src/users/authentication/actions/fetchUserLegacy.ts
  packages/redux/src/users/authentication/actions/index.ts
  packages/redux/src/users/authentication/actions/registerLegacy.ts
  tests/__fixtures__/authentication/authentication.fixtures.mts
Labels: :package: react

chore: change compilation of tsx files to jsx
  packages/react/src/authentication/contexts/index.ts
  packages/react/src/contents/components/__tests__/Component.test.tsx
  packages/react/src/contents/components/base/__tests__/CallToAction.test.tsx
  packages/react/src/contents/components/base/__tests__/Media.test.tsx
  packages/react/src/contents/components/base/contentList/ContentList.tsx
  packages/react/src/contents/components/base/index.ts
  packages/react/src/contents/components/base/media/components/audio/index.ts
  packages/react/src/contents/components/base/media/components/image/Image.tsx
  packages/react/src/contents/components/base/media/components/image/index.ts
  packages/react/src/contents/components/base/media/components/video/index.ts
  packages/react/src/contents/components/index.ts
  packages/react/src/contents/helpers/__tests__/renderContent.test.tsx
  packages/react/src/contents/helpers/index.ts
  packages/react/src/contents/index.ts
  packages/redux/src/contents/utils.ts
  scripts/clean.sh
  scripts/transpile.sh
Labels: :package: react

fix: fix AnalyticsAPI options
  packages/react/src/analytics/__tests__/analytics.test.ts
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.ts
  packages/react/src/analytics/integrations/AnalyticsApi/__tests__/AnalyticsApi.test.ts
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/fetchUserLegacy.test.ts.snap
Labels: :package: react

fix(react|redux): useSEO hook looping requests
  packages/core/src/contents/redux/__tests__/reducer.test.js
  packages/core/src/contents/redux/reducer.js
  packages/react/src/content/hooks/useSEO.js
Labels: :package: core, :package: react

fix(react): change handle delete bag item parameters
  packages/react/src/bags/hooks/useBagItem.js
Labels: :package: react

fix(react): change handle delete bag item parameters
  packages/react/src/bags/hooks/useBagItem.js
Labels: :package: react

feat: add package to unsubcribe action
  packages/core/src/subscriptions/client/__mocks__/deleteSubscription.fixtures.js
  packages/core/src/subscriptions/client/__tests__/deleteSubscription.test.js
  packages/core/src/subscriptions/client/deleteSubscription.js
  packages/core/src/subscriptions/redux/actions/__tests__/doUnsubscribeFromSubscription.test.js
  packages/core/src/subscriptions/redux/actions/doUnsubscribeFromSubscription.js
Labels: :package: core

fix(react|redux): useSEO hook looping requests
  packages/core/src/contents/redux/__tests__/reducer.test.js
  packages/core/src/contents/redux/reducer.js
  packages/react/src/content/hooks/useSEO.js
Labels: :package: core, :package: react

fix(react): change handle delete bag item parameters
  packages/react/src/bags/hooks/useBagItem.js
Labels: :package: react

feat(core): add post guest orders endpoint
  .gitignore
  packages/analytics/tsconfig.ci.runtime.tsbuildinfo
  packages/client/tsconfig.ci.runtime.tsbuildinfo
  packages/core/src/entities/redux/__tests__/__snapshots__/reducer.test.js.snap
  packages/core/src/orders/client/__fixtures__/postGuestOrderDetails.fixtures.js
  packages/core/src/orders/client/__tests__/__snapshots__/postGuestOrderDetails.test.js.snap
  packages/core/src/orders/client/__tests__/postGuestOrderDetails.test.js
  packages/core/src/orders/client/index.js
  packages/core/src/orders/client/postGuestOrderDetails.js
  packages/core/src/orders/redux/actionTypes.js
  packages/core/src/orders/redux/actions/__tests__/__snapshots__/doPostOrderDetailsGuestUser.test.js.snap
  packages/core/src/orders/redux/actions/__tests__/doPostOrderDetailsGuestUser.test.js
  packages/core/src/orders/redux/actions/doPostOrderDetailsGuestUser.js
  packages/core/src/orders/redux/actions/index.js
  packages/core/src/orders/redux/reducer.js
  packages/react/tsconfig.ci.runtime.tsbuildinfo
  packages/redux/tsconfig.ci.runtime.tsbuildinfo
  tsconfig.ci.tests.tsbuildinfo
Labels: :package: core, :package: react

feat(react): remove castle pageview event tracking
  packages/react/src/analytics/integrations/Castle/Castle.js
  packages/react/src/analytics/integrations/Castle/CastleV1.js
  packages/react/src/analytics/integrations/Castle/CastleV2.js
  packages/react/src/analytics/integrations/__tests__/Castle.test.js
  packages/react/src/analytics/integrations/__tests__/CastleV1.test.js
  packages/react/src/analytics/integrations/__tests__/CastleV2.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/CastleV1.test.js.snap
Labels: :package: react

feat(core|react): analytics improvements
  packages/core/src/analytics/redux/middlewares/bag.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.js
  packages/react/src/analytics/integrations/GTM/eventsMapper.js
  packages/react/src/analytics/integrations/__tests__/AnalyticsApi.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
  packages/react/src/bags/hooks/useBagItem.js
Labels: :package: core, :package: react

chore: publish [skip build]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: :package: core, :package: react, type: documentation

chore: rename `getProductRecommendedSet` client and its dependents
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/products/__fixtures__/getRecommendedProductSet.fixtures.ts
  packages/client/src/products/__tests__/__snapshots__/getRecommendedProductSet.test.ts.snap
  packages/client/src/products/__tests__/getRecommendedProductSet.test.ts
  packages/client/src/products/getRecommendedProductSet.ts
  packages/client/src/products/index.ts
  packages/client/src/products/types/getRecommendedProductSet.types.ts
  packages/client/src/products/types/index.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/products/actionTypes/index.ts
  packages/redux/src/products/actionTypes/recommendedProductSet.actionTypes.ts
  packages/redux/src/products/actionTypes/recommendedSet.actionTypes.ts
  packages/redux/src/products/actions/__tests__/fetchRecommendedProductSet.test.ts
  packages/redux/src/products/actions/__tests__/fetchRecommendedSet.test.ts
  packages/redux/src/products/actions/factories/fetchRecommendedProductSetFactory.ts
  packages/redux/src/products/actions/factories/fetchRecommendedSetFactory.ts
  packages/redux/src/products/actions/factories/index.ts
  packages/redux/src/products/actions/fetchRecommendedProductSet.ts
  packages/redux/src/products/actions/fetchRecommendedSet.ts
  packages/redux/src/products/actions/index.ts
  packages/redux/src/products/reducer/__tests__/recommendedProductSet.test.ts
  packages/redux/src/products/reducer/index.ts
  packages/redux/src/products/reducer/recommendedProductSet.ts
  packages/redux/src/products/reducer/recommendedSet.ts
  packages/redux/src/products/selectors/__tests__/recommendedProductSet.test.ts
  packages/redux/src/products/selectors/__tests__/recommendedSet.test.ts
  packages/redux/src/products/selectors/index.ts
  packages/redux/src/products/selectors/recommendedProductSet.ts
  packages/redux/src/products/selectors/recommendedSet.ts
  packages/redux/src/products/types/actions/index.ts
  packages/redux/src/products/types/actions/recommendedProductSet.types.ts
  packages/redux/src/products/types/actions/recommendedSet.types.ts
  packages/redux/src/products/types/state.types.ts
  packages/redux/src/products/types/state/index.ts
  packages/redux/src/products/types/state/recommendedProductSet.state.types.ts
  packages/redux/src/products/types/state/recommendedSet.state.types.ts
  tests/__fixtures__/products/index.mts
  tests/__fixtures__/products/recommendedProductSet.fixtures.mts
  tests/__fixtures__/products/recommendedSet.fixtures.mts
  tests/__fixtures__/products/state.fixtures.mts
Labels: none

chore: add support for legacy user endpoints
  packages/analytics/src/types/analytics.types.ts
  packages/analytics/src/utils/hashUserData.ts
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/types/gender.types.ts
  packages/client/src/users/authentication/__fixtures__/getUserLegacy.fixtures.ts
  packages/client/src/users/authentication/__fixtures__/login.fixtures.ts
  packages/client/src/users/authentication/__fixtures__/postUser.fixtures.ts
  packages/client/src/users/authentication/__fixtures__/postUserLegacy.fixtures.ts
  packages/client/src/users/authentication/__tests__/__snapshots__/getUserLegacy.test.ts.snap
  packages/client/src/users/authentication/__tests__/__snapshots__/postUserLegacy.test.ts.snap
  packages/client/src/users/authentication/__tests__/getUserLegacy.test.ts
  packages/client/src/users/authentication/__tests__/postUserLegacy.test.ts
  packages/client/src/users/authentication/getUserLegacy.ts
  packages/client/src/users/authentication/index.ts
  packages/client/src/users/authentication/postUserLegacy.ts
  packages/client/src/users/authentication/types/getUserLegacy.types.ts
  packages/client/src/users/authentication/types/index.ts
  packages/client/src/users/authentication/types/login.types.ts
  packages/client/src/users/authentication/types/postLogin.types.ts
  packages/client/src/users/authentication/types/postUserLegacy.types.ts
  packages/client/src/users/authentication/types/putUser.types.ts
  packages/client/src/users/authentication/types/user.types.ts
  packages/react/src/analytics/integrations/Castle/Castle.ts
  packages/react/src/checkout/hooks/useCheckout.ts
  packages/react/src/users/hooks/__tests__/useUser.test.ts
  packages/react/src/users/hooks/types/useUser.types.ts
  packages/react/src/users/hooks/useUser.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/types/user.types.ts
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/fetchUserLegacy.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/registerLegacy.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/fetchUserLegacy.test.ts
  packages/redux/src/users/authentication/actions/__tests__/registerLegacy.test.ts
  packages/redux/src/users/authentication/actions/factories/fetchUserLegacyFactory.ts
  packages/redux/src/users/authentication/actions/factories/index.ts
  packages/redux/src/users/authentication/actions/factories/registerLegacyFactory.ts
  packages/redux/src/users/authentication/actions/fetchUserLegacy.ts
  packages/redux/src/users/authentication/actions/index.ts
  packages/redux/src/users/authentication/actions/registerLegacy.ts
  tests/__fixtures__/authentication/authentication.fixtures.mts
Labels: :package: react

chore: rename facet groups selectors
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/products/selectors/lists.ts
  packages/redux/src/products/utils/__tests__/getFacetGroupsMaxDepth.test.ts
  packages/redux/src/products/utils/__tests__/getFacetGroupsShallowestDepth.test.ts
  packages/redux/src/products/utils/getFacetGroupsMaxDepth.ts
  packages/redux/src/products/utils/getFacetGroupsShallowestDepth.ts
  packages/redux/src/products/utils/getMaxDepth.ts
  packages/redux/src/products/utils/getShallowestDepth.ts
  packages/redux/src/products/utils/index.ts
Labels: none

fix: fix useWishlistSets hook
  packages/client/src/products/types/product.types.ts
  packages/client/src/wishlists/types/wishlist.types.ts
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/__tests__/useBagItem.test.tsx
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/wishlists/hooks/__tests__/useWishlist.test.tsx
  packages/react/src/wishlists/hooks/__tests__/useWishlistItem.test.tsx
  packages/react/src/wishlists/hooks/__tests__/useWishlistSets.test.tsx
  packages/react/src/wishlists/hooks/useWishlist.ts
  packages/react/src/wishlists/hooks/useWishlistItem.ts
  packages/react/src/wishlists/hooks/useWishlistSets.ts
  packages/redux/src/bags/actions/__tests__/__snapshots__/addBagItem.test.ts.snap
  packages/redux/src/bags/actions/__tests__/addBagItem.test.ts
  packages/redux/src/bags/actions/__tests__/removeBagItem.test.ts
  packages/redux/src/bags/actions/__tests__/updateBagItem.test.ts
  packages/redux/src/bags/actions/factories/addBagItemFactory.ts
  packages/redux/src/bags/actions/factories/fetchBagFactory.ts
  packages/redux/src/bags/actions/factories/removeBagItemFactory.ts
  packages/redux/src/bags/actions/factories/updateBagItemFactory.ts
  packages/redux/src/wishlists/actions/__tests__/addWishlistItem.test.ts
  packages/redux/src/wishlists/actions/__tests__/addWishlistSet.test.ts
  packages/redux/src/wishlists/actions/__tests__/fetchWishlistSet.test.ts
  packages/redux/src/wishlists/actions/__tests__/fetchWishlistSets.test.ts
  packages/redux/src/wishlists/actions/__tests__/removeWishlistItem.test.ts
  packages/redux/src/wishlists/actions/__tests__/removeWishlistSet.test.ts
  packages/redux/src/wishlists/actions/__tests__/updateWishlistItem.test.ts
  packages/redux/src/wishlists/actions/__tests__/updateWishlistSet.test.ts
  packages/redux/src/wishlists/actions/factories/addWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/addWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetsFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/updateWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/updateWishlistSetFactory.ts
  packages/redux/src/wishlists/middlewares/updateWishlistSetsUponItemDeletion.ts
  tests/__fixtures__/bags/bag.fixtures.mts
  tests/__fixtures__/wishlists/wishlists.fixtures.mts
Labels: :package: react

chore: rename token actions and selectors
  packages/client/src/users/authentication/__tests__/__snapshots__/postToken.test.ts.snap
  packages/client/src/users/authentication/__tests__/postToken.test.ts
  packages/client/src/users/authentication/deleteToken.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/types/utils/camelCase.types.ts
  packages/redux/src/users/authentication/__tests__/reducer.test.ts
  packages/redux/src/users/authentication/__tests__/selectors.test.ts
  packages/redux/src/users/authentication/actionTypes.ts
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/refreshToken.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/removeToken.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/removeUserToken.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/refreshToken.test.ts
  packages/redux/src/users/authentication/actions/__tests__/removeToken.test.ts
  packages/redux/src/users/authentication/actions/__tests__/resetAuthentication.test.ts
  packages/redux/src/users/authentication/actions/factories/index.ts
  packages/redux/src/users/authentication/actions/factories/refreshTokenFactory.ts
  packages/redux/src/users/authentication/actions/factories/removeTokenFactory.ts
  packages/redux/src/users/authentication/actions/index.ts
  packages/redux/src/users/authentication/actions/removeToken.ts
  packages/redux/src/users/authentication/actions/removeUserToken.ts
  packages/redux/src/users/authentication/reducer.ts
  packages/redux/src/users/authentication/selectors.ts
  packages/redux/src/users/authentication/types/state.types.ts
  packages/redux/src/users/authentication/types/subArea.types.ts
  tests/__fixtures__/authentication/authentication.fixtures.mts
  tests/__fixtures__/checkout/checkout.fixtures.mts
  tests/__fixtures__/users/authentication.fixtures.mts
  tests/__fixtures__/users/users.fixtures.mts
Labels: none

chore: add changes from patch
  packages/redux/src/entities/schemas/facet.ts
  packages/redux/src/products/serverInitialState/lists.ts
  packages/redux/src/types/model.types.ts
Labels: none

chore: rename contents exports
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/contents/types/commercePages.types.ts
  packages/client/src/contents/types/contents.types.ts
  packages/react/src/contents/utils/sortContentType.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/contents/__tests__/utils.test.ts
  packages/redux/src/contents/actions/__tests__/fetchCommercePages.test.ts
  packages/redux/src/contents/actions/factories/fetchCommercePagesFactory.ts
  packages/redux/src/contents/index.ts
  packages/redux/src/contents/selectors.ts
  packages/redux/src/contents/types/actions.types.ts
  packages/redux/src/contents/types/commercePagesRankingStrategy.types.ts
  packages/redux/src/contents/types/index.ts
  packages/redux/src/contents/utils.ts
  packages/redux/src/entities/types/contents.types.ts
  packages/redux/src/types/storeState.types.ts
  tests/__fixtures__/contents/commercePages.fixtures.mts
  tests/__fixtures__/contents/contents.fixtures.mts
Labels: :package: react

chore: change put checkout promocode client to support multiple promocodes
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/bags/types/putBagPromocodes.types.ts
  packages/client/src/checkout/__fixtures__/putCheckoutOrderPromocodes.fixtures.ts
  packages/client/src/checkout/__tests__/__snapshots__/putCheckoutOrderPromocodes.test.ts.snap
  packages/client/src/checkout/__tests__/putCheckoutOrderPromocodes.test.ts
  packages/client/src/checkout/index.ts
  packages/client/src/checkout/putCheckoutOrderPromocode.ts
  packages/client/src/checkout/putCheckoutOrderPromocodes.ts
  packages/client/src/checkout/types/checkoutOrder.types.ts
  packages/client/src/checkout/types/index.ts
  packages/client/src/checkout/types/putCheckoutOrderPromocode.types.ts
  packages/client/src/checkout/types/putCheckoutOrderPromocodes.types.ts
  packages/react/src/checkout/hooks/__tests__/useCheckout.test.tsx
  packages/react/src/checkout/hooks/useCheckout.ts
  packages/react/src/contents/hooks/types/useCommercePages.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/__tests__/selectors.test.ts
  packages/redux/src/checkout/actionTypes.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderPromocodes.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/resetCheckoutOrderPromocodesState.test.ts
  packages/redux/src/checkout/actions/__tests__/setCheckoutOrderPromocodes.test.ts
  packages/redux/src/checkout/actions/factories/index.ts
  packages/redux/src/checkout/actions/factories/setCheckoutOrderPromocodesFactory.ts
  packages/redux/src/checkout/actions/index.ts
  packages/redux/src/checkout/actions/resetCheckoutOrderPromocodeState.ts
  packages/redux/src/checkout/actions/resetCheckoutOrderPromocodesState.ts
  packages/redux/src/checkout/actions/setCheckoutOrderPromocode.ts
  packages/redux/src/checkout/actions/setCheckoutOrderPromocodes.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/checkout/selectors.ts
  packages/redux/src/checkout/types/actions.types.ts
  packages/redux/src/checkout/types/state.types.ts
  packages/redux/src/contents/actions/factories/fetchCommercePagesFactory.ts
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  tests/__fixtures__/checkout/checkout.fixtures.mts
Labels: :package: react

chore: rename FETCH_CONTENT_PAGES action types to singular
  packages/client/src/contents/getContentPage.ts
  packages/client/src/contents/types/contentPage.types.ts
  packages/react/src/contents/hooks/useContentPage.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/contents/actionTypes.ts
  packages/redux/src/contents/actions/__tests__/fetchContentPage.test.ts
  packages/redux/src/contents/actions/factories/fetchContentPageFactory.ts
  packages/redux/src/contents/reducer.ts
  packages/redux/src/contents/types/actions.types.ts
  tests/__fixtures__/contents/contentPage.fixtures.mts
Labels: :package: react

fix: fix useProductListing auto fetch check
  packages/react/src/products/hooks/useProductListing.ts
  packages/redux/src/entities/schemas/facet.ts
Labels: :package: react

chore: add node 14 requirement to all packages
  packages/analytics/package.json
  packages/client/package.json
  packages/react/package.json
  packages/redux/package.json
Labels: :package: react

chore: rename checkout action type
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/actionTypes.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/checkout/types/actions.types.ts
  packages/redux/src/locale/reducer.ts
Labels: none

chore: rename FETCH_CONTENT_PAGES action types to singular
  packages/client/src/contents/getContentPage.ts
  packages/client/src/contents/types/contentPage.types.ts
  packages/react/src/contents/hooks/useContentPage.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/contents/actionTypes.ts
  packages/redux/src/contents/actions/__tests__/fetchContentPage.test.ts
  packages/redux/src/contents/actions/factories/fetchContentPageFactory.ts
  packages/redux/src/contents/reducer.ts
  packages/redux/src/contents/types/actions.types.ts
  tests/__fixtures__/contents/contentPage.fixtures.mts
Labels: :package: react

chore: change compilation of tsx files to jsx
  packages/react/src/authentication/contexts/index.ts
  packages/react/src/contents/components/__tests__/Component.test.tsx
  packages/react/src/contents/components/base/__tests__/CallToAction.test.tsx
  packages/react/src/contents/components/base/__tests__/Media.test.tsx
  packages/react/src/contents/components/base/contentList/ContentList.tsx
  packages/react/src/contents/components/base/index.ts
  packages/react/src/contents/components/base/media/components/audio/index.ts
  packages/react/src/contents/components/base/media/components/image/Image.tsx
  packages/react/src/contents/components/base/media/components/image/index.ts
  packages/react/src/contents/components/base/media/components/video/index.ts
  packages/react/src/contents/components/index.ts
  packages/react/src/contents/helpers/__tests__/renderContent.test.tsx
  packages/react/src/contents/helpers/index.ts
  packages/react/src/contents/index.ts
  packages/redux/src/contents/utils.ts
  scripts/clean.sh
  scripts/transpile.sh
Labels: :package: react

fix: fix AnalyticsAPI options
  packages/react/src/analytics/__tests__/analytics.test.ts
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.ts
  packages/react/src/analytics/integrations/AnalyticsApi/__tests__/AnalyticsApi.test.ts
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/fetchUserLegacy.test.ts.snap
Labels: :package: react

fix(client|redux): type fixes
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/bags/types/bagOperation.types.ts
  packages/client/src/checkout/types/checkoutOrderOperation.types.ts
  packages/client/src/checkout/types/checkoutOrderOperationChange.types.ts
  packages/client/src/checkout/types/checkoutViolation.types.ts
  packages/client/src/types/common/operation.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/locale/__tests__/reducer.test.ts
  packages/redux/src/locale/actionTypes.ts
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountryAddressSchemas.test.ts.snap
  packages/redux/src/locale/actions/__tests__/fetchCountryAddressSchemas.test.ts
  packages/redux/src/locale/actions/factories/fetchCountryAddressSchemasFactory.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/types/actions.types.ts
  tests/__fixtures__/bags/bagOperations.fixtures.mts
Labels: :package: react

chore: rename checkout action type
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/actionTypes.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/checkout/types/actions.types.ts
  packages/redux/src/locale/reducer.ts
Labels: none

fix(client|redux): type fixes
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/bags/types/bagOperation.types.ts
  packages/client/src/checkout/types/checkoutOrderOperation.types.ts
  packages/client/src/checkout/types/checkoutOrderOperationChange.types.ts
  packages/client/src/checkout/types/checkoutViolation.types.ts
  packages/client/src/types/common/operation.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/locale/__tests__/reducer.test.ts
  packages/redux/src/locale/actionTypes.ts
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountryAddressSchemas.test.ts.snap
  packages/redux/src/locale/actions/__tests__/fetchCountryAddressSchemas.test.ts
  packages/redux/src/locale/actions/factories/fetchCountryAddressSchemasFactory.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/types/actions.types.ts
  tests/__fixtures__/bags/bagOperations.fixtures.mts
Labels: :package: react
