Repository Farfetch/blackout, changes with the labels that .github/labeler.yml gives for each.
All labels: :package: core, :package: react, type: maintenance, type: documentation

.github/labeler.yml:

":package: core":
  - 'packages/core/**/*'
  - 'packages/core/**/.*'
  - 'packages/core/.**/*'
  - 'packages/core/.**/.*'

":package: react":
  - 'packages/react/**/*'
  - 'packages/react/**/.*'
  - 'packages/react/.**/*'
  - 'packages/react/.**/.*'

"type: maintenance":
  - any: ['.github/**/*', '!**/*.md', '!.**/*.md']

"type: documentation":
  - '**/*.md'
  - '**/.*.md'
  - '.**/*.md'
  - '.**/.*.md'

feat(redux): review fetch user orders internal storage
  jest.config.js
  packages/client/src/orders/__fixtures__/getUserOrders.fixtures.ts
  packages/client/src/orders/types/getUserOrders.types.ts
  packages/client/src/orders/types/orderSummary.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/orders/hooks/__tests__/useOrder.test.ts
  packages/react/src/orders/hooks/__tests__/useOrderReturnOptions.test.ts
  packages/react/src/orders/hooks/__tests__/useOrderReturns.test.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/index.ts
  packages/react/src/orders/hooks/types/index.ts
  packages/react/src/orders/hooks/types/useOrderReturns.ts
  packages/react/src/orders/hooks/useOrder.ts
  packages/react/src/orders/hooks/useOrderReturnOptions.ts
  packages/react/src/orders/hooks/useOrderReturns.ts
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  packages/redux/src/entities/schemas/orderSummary.ts
  packages/redux/src/entities/types/orders.types.ts
  packages/redux/src/orders/__tests__/reducer.test.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/actions/__tests__/fetchUserOrders.test.ts
  packages/redux/src/orders/actions/factories/fetchUserOrdersFactory.ts
  packages/redux/src/orders/actions/factories/helpers/generateUserOrdersRequestHash.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrderResponse.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrdersResponse.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/orders/types/actions.types.ts
  packages/redux/src/orders/types/state.types.ts
  packages/redux/src/types/storeState.types.ts
  packages/redux/src/users/addresses/actions/__tests__/__snapshots__/removeUserDefaultContactAddress.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/fetchUser.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/setUser.test.ts.snap
  packages/redux/src/users/titles/actions/__tests__/fetchUserTitles.test.ts
  tests/__fixtures__/orders/orders.fixtures.ts
  tests/__fixtures__/users/users.fixtures.ts
Labels: :package: react

fix(redux): fix checkout reducer
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
Labels: none

fix(redux): fix checkout reducer
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
Labels: none

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: use @types/json-patch instead of custom types
  packages/client/package.json
  packages/client/src/checkout/types/patchCheckoutOrderDeliveryBundleUpgrades.types.ts
  packages/client/src/checkout/types/patchCheckoutOrderItems.types.ts
  packages/client/src/raffles/__tests__/patchRaffleParticipation.test.ts
  packages/client/src/raffles/types/patchRaffleParticipation.types.ts
  packages/client/src/users/attributes/__tests__/patchUserAttribute.test.ts
  packages/client/src/users/attributes/types/patchUserAttribute.types.ts
  packages/client/src/users/contacts/__tests__/patchUserContact.test.ts
  packages/client/src/users/contacts/types/patchUserContact.types.ts
  packages/client/src/wishlists/types/patchWishlistSet.types.ts
  packages/redux/src/analytics/middlewares/types/wishlist.types.ts
  packages/redux/src/checkout/actions/__tests__/updateCheckoutOrderDeliveryBundleUpgrades.test.ts
  packages/redux/src/checkout/actions/__tests__/updateCheckoutOrderItems.test.ts
  packages/redux/src/raffles/actions/__tests__/updateRaffleParticipation.test.ts
  packages/redux/src/users/contacts/actions/__tests__/updateUserContact.test.ts
  tests/__fixtures__/checkout/checkout.fixtures.ts
  tests/__fixtures__/users/userAttribute.fixtures.ts
  tests/__fixtures__/wishlists/wishlistSets.fixtures.ts
  yarn.lock
Labels: none

feat(analytics|react): add forter and riskified integrations
  .gitignore
  cspell.json
  jest.config.js
  package.json
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/Forter/Forter.ts
  packages/react/src/analytics/integrations/Forter/__tests__/Forter.test.ts
  packages/react/src/analytics/integrations/Forter/__tests__/forterTokenLoadedEventDetector.test.ts
  packages/react/src/analytics/integrations/Forter/constants.ts
  packages/react/src/analytics/integrations/Forter/forterTokenLoadedEventDetector.ts
  packages/react/src/analytics/integrations/Forter/index.ts
  packages/react/src/analytics/integrations/Forter/loadForterScriptForSiteId.ts
  packages/react/src/analytics/integrations/Forter/types/globals.d.ts
  packages/react/src/analytics/integrations/Forter/types/index.ts
  packages/react/src/analytics/integrations/Forter/types/types.ts
  packages/react/src/analytics/integrations/Riskified/Riskified.ts
  packages/react/src/analytics/integrations/Riskified/__tests__/Riskified.test.ts
  packages/react/src/analytics/integrations/Riskified/index.ts
  packages/react/src/analytics/integrations/Riskified/types/globals.d.ts
  packages/react/src/analytics/integrations/Riskified/types/index.ts
  packages/react/src/analytics/integrations/Riskified/types/types.ts
  packages/react/src/analytics/integrations/Vitorino/Vitorino.ts
  packages/react/src/analytics/integrations/Vitorino/__tests__/Vitorino.test.ts
  packages/react/src/analytics/integrations/Vitorino/constants.ts
  packages/react/src/analytics/integrations/Vitorino/index.ts
  packages/react/src/analytics/integrations/Vitorino/types/globals.d.ts
  packages/react/src/analytics/integrations/Vitorino/types/types.ts
  packages/react/src/analytics/integrations/index.ts
  packages/redux/tsconfig.ci.tests.json
  tsconfig.ci.tests.json
  tsconfig.release.base.json
  yarn.lock
Labels: :package: react

feat(analytics|react): add forter and riskified integrations
  .gitignore
  cspell.json
  jest.config.js
  package.json
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/Forter/Forter.ts
  packages/react/src/analytics/integrations/Forter/__tests__/Forter.test.ts
  packages/react/src/analytics/integrations/Forter/__tests__/forterTokenLoadedEventDetector.test.ts
  packages/react/src/analytics/integrations/Forter/constants.ts
  packages/react/src/analytics/integrations/Forter/forterTokenLoadedEventDetector.ts
  packages/react/src/analytics/integrations/Forter/index.ts
  packages/react/src/analytics/integrations/Forter/loadForterScriptForSiteId.ts
  packages/react/src/analytics/integrations/Forter/types/globals.d.ts
  packages/react/src/analytics/integrations/Forter/types/index.ts
  packages/react/src/analytics/integrations/Forter/types/types.ts
  packages/react/src/analytics/integrations/Riskified/Riskified.ts
  packages/react/src/analytics/integrations/Riskified/__tests__/Riskified.test.ts
  packages/react/src/analytics/integrations/Riskified/index.ts
  packages/react/src/analytics/integrations/Riskified/types/globals.d.ts
  packages/react/src/analytics/integrations/Riskified/types/index.ts
  packages/react/src/analytics/integrations/Riskified/types/types.ts
  packages/react/src/analytics/integrations/Vitorino/Vitorino.ts
  packages/react/src/analytics/integrations/Vitorino/__tests__/Vitorino.test.ts
  packages/react/src/analytics/integrations/Vitorino/constants.ts
  packages/react/src/analytics/integrations/Vitorino/index.ts
  packages/react/src/analytics/integrations/Vitorino/types/globals.d.ts
  packages/react/src/analytics/integrations/Vitorino/types/types.ts
  packages/react/src/analytics/integrations/index.ts
  packages/redux/tsconfig.ci.tests.json
  tsconfig.ci.tests.json
  tsconfig.release.base.json
  yarn.lock
Labels: :package: react

feat(analytics|react): add forter and riskified integrations
  .gitignore
  cspell.json
  jest.config.js
  package.json
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/Forter/Forter.ts
  packages/react/src/analytics/integrations/Forter/__tests__/Forter.test.ts
  packages/react/src/analytics/integrations/Forter/__tests__/forterTokenLoadedEventDetector.test.ts
  packages/react/src/analytics/integrations/Forter/constants.ts
  packages/react/src/analytics/integrations/Forter/forterTokenLoadedEventDetector.ts
  packages/react/src/analytics/integrations/Forter/index.ts
  packages/react/src/analytics/integrations/Forter/loadForterScriptForSiteId.ts
  packages/react/src/analytics/integrations/Forter/types/globals.d.ts
  packages/react/src/analytics/integrations/Forter/types/index.ts
  packages/react/src/analytics/integrations/Forter/types/types.ts
  packages/react/src/analytics/integrations/Riskified/Riskified.ts
  packages/react/src/analytics/integrations/Riskified/__tests__/Riskified.test.ts
  packages/react/src/analytics/integrations/Riskified/index.ts
  packages/react/src/analytics/integrations/Riskified/types/globals.d.ts
  packages/react/src/analytics/integrations/Riskified/types/index.ts
  packages/react/src/analytics/integrations/Riskified/types/types.ts
  packages/react/src/analytics/integrations/Vitorino/Vitorino.ts
  packages/react/src/analytics/integrations/Vitorino/__tests__/Vitorino.test.ts
  packages/react/src/analytics/integrations/Vitorino/constants.ts
  packages/react/src/analytics/integrations/Vitorino/index.ts
  packages/react/src/analytics/integrations/Vitorino/types/globals.d.ts
  packages/react/src/analytics/integrations/Vitorino/types/types.ts
  packages/react/src/analytics/integrations/index.ts
  packages/redux/tsconfig.ci.tests.json
  tsconfig.ci.tests.json
  tsconfig.release.base.json
  yarn.lock
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(client|redux): refactor guest orders
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/orders/__fixtures__/getGuestOrders.fixtures.ts
  packages/client/src/orders/__tests__/__snapshots__/getGuestOrders.test.ts.snap
  packages/client/src/orders/__tests__/getGuestOrders.test.ts
  packages/client/src/orders/getGuestOrders.ts
  packages/client/src/orders/index.ts
  packages/client/src/orders/types/getGuestOrders.types.ts
  packages/client/src/orders/types/index.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/schemas/orderItem.ts
  packages/redux/src/entities/types/orderItems.types.ts
  packages/redux/src/orders/__tests__/reducer.test.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/actionTypes.ts
  packages/redux/src/orders/actions/__tests__/fetchGuestOrderLegacy.test.ts
  packages/redux/src/orders/actions/__tests__/fetchGuestOrders.test.ts
  packages/redux/src/orders/actions/__tests__/fetchOrder.test.ts
  packages/redux/src/orders/actions/factories/fetchGuestOrderLegacyFactory.ts
  packages/redux/src/orders/actions/factories/fetchGuestOrdersFactory.ts
  packages/redux/src/orders/actions/factories/fetchOrderFactory.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrderResponse.ts
  packages/redux/src/orders/actions/factories/index.ts
  packages/redux/src/orders/actions/fetchGuestOrders.ts
  packages/redux/src/orders/actions/index.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/orders/types/actions.types.ts
  packages/redux/src/orders/types/state.types.ts
  tests/__fixtures__/orders/orders.fixtures.ts
Labels: :package: react

feat(client|redux): refactor guest orders
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/orders/__fixtures__/getGuestOrders.fixtures.ts
  packages/client/src/orders/__tests__/__snapshots__/getGuestOrders.test.ts.snap
  packages/client/src/orders/__tests__/getGuestOrders.test.ts
  packages/client/src/orders/getGuestOrders.ts
  packages/client/src/orders/index.ts
  packages/client/src/orders/types/getGuestOrders.types.ts
  packages/client/src/orders/types/index.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/schemas/orderItem.ts
  packages/redux/src/entities/types/orderItems.types.ts
  packages/redux/src/orders/__tests__/reducer.test.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/actionTypes.ts
  packages/redux/src/orders/actions/__tests__/fetchGuestOrderLegacy.test.ts
  packages/redux/src/orders/actions/__tests__/fetchGuestOrders.test.ts
  packages/redux/src/orders/actions/__tests__/fetchOrder.test.ts
  packages/redux/src/orders/actions/factories/fetchGuestOrderLegacyFactory.ts
  packages/redux/src/orders/actions/factories/fetchGuestOrdersFactory.ts
  packages/redux/src/orders/actions/factories/fetchOrderFactory.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrderResponse.ts
  packages/redux/src/orders/actions/factories/index.ts
  packages/redux/src/orders/actions/fetchGuestOrders.ts
  packages/redux/src/orders/actions/index.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/orders/types/actions.types.ts
  packages/redux/src/orders/types/state.types.ts
  tests/__fixtures__/orders/orders.fixtures.ts
Labels: :package: react

chore: refactor raffle estimation factory
  packages/redux/src/entities/schemas/raffleEstimations.ts
  packages/redux/src/raffles/actions/factories/fetchRaffleEstimationFactory.ts
Labels: none

fix: remove deprecated params from translations
  packages/client/src/language/types/translations.type.ts
Labels: none

fix: remove deprecated params from translations
  packages/client/src/language/types/translations.type.ts
Labels: none

fix: remove deprecated params from translations
  packages/client/src/language/types/translations.type.ts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat: add set bag promocodes in bag
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/bags/__fixtures__/putBagPromocodes.fixtures.ts
  packages/client/src/bags/__tests__/__snapshots__/putBagPromocodes.test.ts.snap
  packages/client/src/bags/__tests__/putBagPromocodes.test.ts
  packages/client/src/bags/index.ts
  packages/client/src/bags/putBagPromocodes.ts
  packages/client/src/bags/types/index.ts
  packages/client/src/bags/types/putBagPromocodes.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/bags/__tests__/selectors.test.ts
  packages/redux/src/bags/actionTypes.ts
  packages/redux/src/bags/actions/__tests__/__snapshots__/setBagPromocodes.test.ts.snap
  packages/redux/src/bags/actions/__tests__/setBagPromocodes.test.ts
  packages/redux/src/bags/actions/factories/index.ts
  packages/redux/src/bags/actions/factories/setBagPromocodesFactory.ts
  packages/redux/src/bags/actions/index.ts
  packages/redux/src/bags/actions/setBagPromocodes.ts
  packages/redux/src/bags/index.ts
  packages/redux/src/bags/middlewares/__tests__/fetchBagOnSetPromocodesRequestSuccess.test.ts
  packages/redux/src/bags/middlewares/fetchBagOnSetPromocodesRequestSuccess.ts
  packages/redux/src/bags/middlewares/index.ts
  packages/redux/src/bags/reducer.ts
  packages/redux/src/bags/selectors.ts
  packages/redux/src/bags/types/state.types.ts
  packages/redux/src/entities/types/bagPromocodesInformation.types.ts
  packages/redux/src/entities/types/index.ts
  packages/redux/src/types/storeState.types.ts
  tests/__fixtures__/bags/bag.fixtures.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: none

feat: add set bag promocodes in bag
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/bags/__fixtures__/putBagPromocodes.fixtures.ts
  packages/client/src/bags/__tests__/__snapshots__/putBagPromocodes.test.ts.snap
  packages/client/src/bags/__tests__/putBagPromocodes.test.ts
  packages/client/src/bags/index.ts
  packages/client/src/bags/putBagPromocodes.ts
  packages/client/src/bags/types/index.ts
  packages/client/src/bags/types/putBagPromocodes.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/bags/__tests__/selectors.test.ts
  packages/redux/src/bags/actionTypes.ts
  packages/redux/src/bags/actions/__tests__/__snapshots__/setBagPromocodes.test.ts.snap
  packages/redux/src/bags/actions/__tests__/setBagPromocodes.test.ts
  packages/redux/src/bags/actions/factories/index.ts
  packages/redux/src/bags/actions/factories/setBagPromocodesFactory.ts
  packages/redux/src/bags/actions/index.ts
  packages/redux/src/bags/actions/setBagPromocodes.ts
  packages/redux/src/bags/index.ts
  packages/redux/src/bags/middlewares/__tests__/fetchBagOnSetPromocodesRequestSuccess.test.ts
  packages/redux/src/bags/middlewares/fetchBagOnSetPromocodesRequestSuccess.ts
  packages/redux/src/bags/middlewares/index.ts
  packages/redux/src/bags/reducer.ts
  packages/redux/src/bags/selectors.ts
  packages/redux/src/bags/types/state.types.ts
  packages/redux/src/entities/types/bagPromocodesInformation.types.ts
  packages/redux/src/entities/types/index.ts
  packages/redux/src/types/storeState.types.ts
  tests/__fixtures__/bags/bag.fixtures.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: none

feat: add set bag promocodes in bag
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/bags/__fixtures__/putBagPromocodes.fixtures.ts
  packages/client/src/bags/__tests__/__snapshots__/putBagPromocodes.test.ts.snap
  packages/client/src/bags/__tests__/putBagPromocodes.test.ts
  packages/client/src/bags/index.ts
  packages/client/src/bags/putBagPromocodes.ts
  packages/client/src/bags/types/index.ts
  packages/client/src/bags/types/putBagPromocodes.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/bags/__tests__/selectors.test.ts
  packages/redux/src/bags/actionTypes.ts
  packages/redux/src/bags/actions/__tests__/__snapshots__/setBagPromocodes.test.ts.snap
  packages/redux/src/bags/actions/__tests__/setBagPromocodes.test.ts
  packages/redux/src/bags/actions/factories/index.ts
  packages/redux/src/bags/actions/factories/setBagPromocodesFactory.ts
  packages/redux/src/bags/actions/index.ts
  packages/redux/src/bags/actions/setBagPromocodes.ts
  packages/redux/src/bags/index.ts
  packages/redux/src/bags/middlewares/__tests__/fetchBagOnSetPromocodesRequestSuccess.test.ts
  packages/redux/src/bags/middlewares/fetchBagOnSetPromocodesRequestSuccess.ts
  packages/redux/src/bags/middlewares/index.ts
  packages/redux/src/bags/reducer.ts
  packages/redux/src/bags/selectors.ts
  packages/redux/src/bags/types/state.types.ts
  packages/redux/src/entities/types/bagPromocodesInformation.types.ts
  packages/redux/src/entities/types/index.ts
  packages/redux/src/types/storeState.types.ts
  tests/__fixtures__/bags/bag.fixtures.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: use @types/json-patch instead of custom types
  packages/client/package.json
  packages/client/src/checkout/types/patchCheckoutOrderDeliveryBundleUpgrades.types.ts
  packages/client/src/checkout/types/patchCheckoutOrderItems.types.ts
  packages/client/src/raffles/__tests__/patchRaffleParticipation.test.ts
  packages/client/src/raffles/types/patchRaffleParticipation.types.ts
  packages/client/src/users/attributes/__tests__/patchUserAttribute.test.ts
  packages/client/src/users/attributes/types/patchUserAttribute.types.ts
  packages/client/src/users/contacts/__tests__/patchUserContact.test.ts
  packages/client/src/users/contacts/types/patchUserContact.types.ts
  packages/client/src/wishlists/types/patchWishlistSet.types.ts
  packages/redux/src/analytics/middlewares/types/wishlist.types.ts
  packages/redux/src/checkout/actions/__tests__/updateCheckoutOrderDeliveryBundleUpgrades.test.ts
  packages/redux/src/checkout/actions/__tests__/updateCheckoutOrderItems.test.ts
  packages/redux/src/raffles/actions/__tests__/updateRaffleParticipation.test.ts
  packages/redux/src/users/contacts/actions/__tests__/updateUserContact.test.ts
  tests/__fixtures__/checkout/checkout.fixtures.ts
  tests/__fixtures__/users/userAttribute.fixtures.ts
  tests/__fixtures__/wishlists/wishlistSets.fixtures.ts
  yarn.lock
Labels: none

chore: use @types/json-patch instead of custom types
  packages/client/package.json
  packages/client/src/checkout/types/patchCheckoutOrderDeliveryBundleUpgrades.types.ts
  packages/client/src/checkout/types/patchCheckoutOrderItems.types.ts
  packages/client/src/raffles/__tests__/patchRaffleParticipation.test.ts
  packages/client/src/raffles/types/patchRaffleParticipation.types.ts
  packages/client/src/users/attributes/__tests__/patchUserAttribute.test.ts
  packages/client/src/users/attributes/types/patchUserAttribute.types.ts
  packages/client/src/users/contacts/__tests__/patchUserContact.test.ts
  packages/client/src/users/contacts/types/patchUserContact.types.ts
  packages/client/src/wishlists/types/patchWishlistSet.types.ts
  packages/redux/src/analytics/middlewares/types/wishlist.types.ts
  packages/redux/src/checkout/actions/__tests__/updateCheckoutOrderDeliveryBundleUpgrades.test.ts
  packages/redux/src/checkout/actions/__tests__/updateCheckoutOrderItems.test.ts
  packages/redux/src/raffles/actions/__tests__/updateRaffleParticipation.test.ts
  packages/redux/src/users/contacts/actions/__tests__/updateUserContact.test.ts
  tests/__fixtures__/checkout/checkout.fixtures.ts
  tests/__fixtures__/users/userAttribute.fixtures.ts
  tests/__fixtures__/wishlists/wishlistSets.fixtures.ts
  yarn.lock
Labels: none

chore: refactor raffle estimation factory
  packages/redux/src/entities/schemas/raffleEstimations.ts
  packages/redux/src/raffles/actions/factories/fetchRaffleEstimationFactory.ts
Labels: none

chore: refactor raffle estimation factory
  packages/redux/src/entities/schemas/raffleEstimations.ts
  packages/redux/src/raffles/actions/factories/fetchRaffleEstimationFactory.ts
Labels: none

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

feat(core|react): setup promocode applied analytics event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(core|react): setup promocode applied analytics event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: core, :package: react

feat(analytics|react): setup promocode applied event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/placeOrderStartedTrackData.fixtures.ts
  tests/__fixtures__/analytics/track/promocodeAppliedTrackData.fixtures.ts
Labels: :package: react

feat(analytics|react): setup promocode applied event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/placeOrderStartedTrackData.fixtures.ts
  tests/__fixtures__/analytics/track/promocodeAppliedTrackData.fixtures.ts
Labels: :package: react

feat(analytics|react): setup promocode applied event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/placeOrderStartedTrackData.fixtures.ts
  tests/__fixtures__/analytics/track/promocodeAppliedTrackData.fixtures.ts
Labels: :package: react

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

chore: publish [skip build]
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/redux/CHANGELOG.md
  packages/redux/package.json
Labels: :package: react, type: documentation

fix: refactor serverInitialState
  packages/core/src/contents/redux/actions/__tests__/__snapshots__/doGetContent.test.js.snap
  packages/core/src/contents/redux/serverInitialState.js
  packages/react/src/content/hooks/__tests__/__fixtures__/Page.fixtures.js
  packages/react/src/content/hooks/__tests__/__snapshots__/useContentType.test.js.snap
  packages/react/src/content/hooks/__tests__/useContentType.test.js
  tests/__fixtures__/contents/contents.fixtures.js
Labels: :package: core, :package: react

feat: add targets.segments on searchContents
  packages/core/src/contents/client/__fixtures__/contents.fixtures.js
  packages/core/src/contents/client/__tests__/getSearchContents.test.js
  packages/core/src/contents/client/getSearchContents.js
Labels: :package: core

feat: add targets.segments on searchContents
  packages/core/src/contents/client/__fixtures__/contents.fixtures.js
  packages/core/src/contents/client/__tests__/getSearchContents.test.js
  packages/core/src/contents/client/getSearchContents.js
Labels: :package: core
