Repository Farfetch/blackout, pull requests merged in 2021-12, with the labels that each got.

#47 fix(react): update handleSize function on the useBagItem
  packages/react/src/bags/hooks/__tests__/__snapshots__/useBagItem.test.tsx.snap
  packages/react/src/bags/hooks/__tests__/useBagItem.test.tsx
  packages/react/src/bags/hooks/types/useBagItem.ts
  packages/react/src/bags/hooks/useBagItem.ts
  packages/react/src/helpers/index.ts
  tests/__fixtures__/bags/bag.fixtures.ts
  tests/__fixtures__/bags/bagItem.fixtures.ts
  tests/__fixtures__/products/productSizes.fixtures.ts
  yarn.lock
Labels: type: bug, :package: react

#52 fix(core): remove entries in server initial state of product/details
  packages/core/src/products/details/redux/__tests__/__snapshots__/serverInitialState.test.js.snap
  packages/core/src/products/details/redux/serverInitialState.js
Labels: type: bug, :package: core

#53 fix(redux): remove entries in server initial state of product/details
  packages/redux/src/products/serverInitialState/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/products/serverInitialState/__tests__/__snapshots__/products.test.ts.snap
  packages/redux/src/products/serverInitialState/products.ts
Labels: type: bug, :package: redux

#50 fix(react): creating checkout just runs on mount
  packages/react/src/checkout/hooks/useCheckout.ts
Labels: type: bug, :package: react

#46 feat(core): add commerce pages redux
  packages/core/src/contents/__tests__/utils.test.js
  packages/core/src/contents/redux/__tests__/reducer.test.js
  packages/core/src/contents/redux/actionTypes.js
  packages/core/src/contents/redux/actions/__tests__/__snapshots__/doGetCommercePages.test.js.snap
  packages/core/src/contents/redux/actions/__tests__/doGetCommercePages.test.js
  packages/core/src/contents/redux/actions/doGetCommercePages.js
  packages/core/src/contents/redux/actions/index.js
  packages/core/src/contents/redux/reducer.js
  packages/core/src/contents/utils.js
  tests/__fixtures__/contents/commercePages.fixtures.js
  tests/__fixtures__/contents/index.js
Labels: priority: high, type: feature, :package: core

#56 fix(core): make `getItemWholeQuantity` return 0 when there's no bag
  packages/core/src/bags/redux/__tests__/selectors.test.js
  packages/core/src/bags/redux/selectors.js
Labels: type: bug, :package: core

#57 fix(redux): make `getBagItems` return empty array
  packages/redux/src/bags/__tests__/selectors.test.ts
  packages/redux/src/bags/selectors.ts
Labels: type: bug, :package: redux

#61 fix(core|react): handle guest users expired in authentication provider
  packages/core/src/helpers/client/interceptors/authentication/AuthenticationConfigOptions.js
  packages/core/src/helpers/client/interceptors/authentication/AxiosAuthenticationTokenManager.js
  packages/core/src/helpers/client/interceptors/authentication/__tests__/AxiosAuthenticationTokenManager.test.js
  packages/core/src/helpers/client/interceptors/authentication/errors.js
  packages/core/src/helpers/client/interceptors/authentication/token-providers/GuestTokenProvider.js
  packages/core/src/helpers/client/interceptors/authentication/token-providers/TokenProvider.js
  packages/core/src/helpers/client/interceptors/authentication/token-providers/UserTokenProvider.js
  packages/core/src/helpers/client/interceptors/authentication/token-providers/__tests__/GuestTokenProvider.test.js
  packages/core/src/helpers/client/interceptors/authentication/token-providers/__tests__/TokenData.test.js
  packages/core/src/helpers/client/interceptors/authentication/token-providers/__tests__/TokenProvider.test.js
  packages/react/src/authentication/contexts/UserProfileProvider.js
  packages/react/src/authentication/hooks/__tests__/useAuthentication.test.js
  packages/react/src/authentication/hooks/useUserAuthState.js
Labels: type: bug, :package: react, :package: core

#62 fix(core|react): handle guest users expired in authentication provider - next
  packages/client/src/helpers/client/interceptors/authentication/AuthenticationConfigOptions.js
  packages/client/src/helpers/client/interceptors/authentication/AxiosAuthenticationTokenManager.js
  packages/client/src/helpers/client/interceptors/authentication/__tests__/AxiosAuthenticationTokenManager.test.js
  packages/client/src/helpers/client/interceptors/authentication/errors.js
  packages/client/src/helpers/client/interceptors/authentication/token-providers/GuestTokenProvider.js
  packages/client/src/helpers/client/interceptors/authentication/token-providers/TokenProvider.js
  packages/client/src/helpers/client/interceptors/authentication/token-providers/UserTokenProvider.js
  packages/client/src/helpers/client/interceptors/authentication/token-providers/__tests__/GuestTokenProvider.test.js
  packages/client/src/helpers/client/interceptors/authentication/token-providers/__tests__/TokenData.test.js
  packages/client/src/helpers/client/interceptors/authentication/token-providers/__tests__/TokenProvider.test.js
  packages/react/src/authentication/contexts/UserProfileProvider.js
  packages/react/src/authentication/hooks/__tests__/useAuthentication.test.js
  packages/react/src/authentication/hooks/__tests__/useUserProfile.test.js
  packages/react/src/authentication/hooks/useUserAuthState.js
Labels: type: bug, :package: client, :package: react

#63 chore: add yalc to scripts
  package.json
  scripts/yalc.sh
Labels: type: maintenance

#64 chore: add yalc to scripts next
  package.json
  scripts/yalc.sh
Labels: type: maintenance

#69 chore(core): update documentation about product types
  packages/core/src/bags/redux/selectors.js
  packages/core/src/products/listing/redux/selectors.js
  packages/core/src/products/listing/utils/buildListingHash.js
Labels: type: documentation, :package: core

#68 feat: add selector to get all product sizes with remaining quantity
  packages/redux/src/products/selectors/__tests__/details.test.ts
  packages/redux/src/products/selectors/details.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: type: feature, :package: redux

#70 feat(core): add promotionEvaluations endpoints
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doAddBagItem.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doDeleteBagItem.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doGetBag.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doUpdateBagItem.test.js.snap
  packages/core/src/categories/redux/__tests__/reducer.test.js
  packages/core/src/promotionEvaluations/client/__fixtures__/getPromotionEvaluationItems.fixtures.js
  packages/core/src/promotionEvaluations/client/__tests__/__snapshots__/getPromotionEvaluationItems.test.js.snap
  packages/core/src/promotionEvaluations/client/__tests__/getPromotionEvaluationItems.test.js
  packages/core/src/promotionEvaluations/client/getPromotionEvaluationItems.js
  packages/core/src/promotionEvaluations/client/index.js
  packages/core/src/promotionEvaluations/redux/__tests__/reducer.test.js
  packages/core/src/promotionEvaluations/redux/__tests__/selectors.test.js
  packages/core/src/promotionEvaluations/redux/actionTypes.js
  packages/core/src/promotionEvaluations/redux/actions/__tests__/__snapshots__/fetchPromotionEvaluationItems.test.js.snap
  packages/core/src/promotionEvaluations/redux/actions/__tests__/fetchPromotionEvaluationItems.test.js
  packages/core/src/promotionEvaluations/redux/actions/fetchPromotionEvaluationItems.js
  packages/core/src/promotionEvaluations/redux/actions/index.js
  packages/core/src/promotionEvaluations/redux/index.js
  packages/core/src/promotionEvaluations/redux/reducer.js
  packages/core/src/promotionEvaluations/redux/selectors.js
  tests/__fixtures__/bags/bag.fixtures.js
  tests/__fixtures__/bags/bagItem.fixtures.js
  tests/__fixtures__/promotionEvaluations/index.js
  tests/__fixtures__/promotionEvaluations/promotionEvaluations.fixtures.js
Labels: type: feature, :package: core

#71 chore(redux): update documentation about product types
  packages/redux/src/bags/selectors.ts
Labels: :package: redux, type: documentation

#65 feat(core|react): add support for GA4 custom events
  packages/core/src/analytics/index.js
  packages/core/src/analytics/integrations/Integration.js
  packages/core/src/analytics/integrations/Omnitracking/__tests__/omnitracking-helper.test.js
  packages/core/src/analytics/redux/middlewares/__tests__/bag.test.js
  packages/core/src/analytics/redux/middlewares/__tests__/helpers.test.js
  packages/core/src/analytics/redux/middlewares/__tests__/wishlist.test.js
  packages/core/src/analytics/redux/middlewares/bag.js
  packages/core/src/analytics/redux/middlewares/helpers.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
  packages/core/src/analytics/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/interactionTypes.test.js.snap
  packages/core/src/analytics/types/__tests__/interactionTypes.test.js
  packages/core/src/analytics/types/eventTypes.js
  packages/core/src/analytics/types/fromParameterTypes.js
  packages/core/src/analytics/types/interactionTypes.js
  packages/core/src/bags/redux/utils/buildBagItem.js
  packages/core/src/subscriptions/redux/selectors.js
  packages/core/src/wishlists/redux/actions/__tests__/__snapshots__/doAddWishlistItem.test.js.snap
  packages/core/src/wishlists/redux/actions/__tests__/__snapshots__/doDeleteWishlistItem.test.js.snap
  packages/core/src/wishlists/redux/actions/__tests__/__snapshots__/doUpdateWishlistItem.test.js.snap
  packages/core/src/wishlists/redux/actions/__tests__/__snapshots__/doUpdateWishlistSet.test.js.snap
  packages/core/src/wishlists/redux/actions/doAddWishlistItem.js
  packages/core/src/wishlists/redux/actions/doDeleteWishlistItem.js
  packages/core/src/wishlists/redux/actions/doUpdateWishlistItem.js
  packages/core/src/wishlists/redux/actions/doUpdateWishlistSet.js
  packages/core/src/wishlists/redux/utils/__tests__/buildWishlistItem.test.js
  packages/core/src/wishlists/redux/utils/buildWishlistItem.js
  packages/react/src/analytics/index.js
  packages/react/src/analytics/integrations/Castle.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GA4/commands.js
  packages/react/src/analytics/integrations/GA4/constants.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
  packages/react/src/analytics/integrations/GA4/validation/optionsValidator.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA.test.js.snap
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
  packages/react/src/analytics/integrations/shared/validation/eventSchemas.js
  packages/react/src/bags/hooks/useBagItem.js
Labels: type: feature, :package: react, :package: core

#74 feat(client|redux): remove getGuestOrderDetails from next
  packages/client/src/orders/client/__fixtures__/getGuestOrderDetails.fixtures.js
  packages/client/src/orders/client/__tests__/__snapshots__/getGuestOrderDetails.test.js.snap
  packages/client/src/orders/client/__tests__/getGuestOrderDetails.test.js
  packages/client/src/orders/client/getGuestOrderDetails.js
  packages/client/src/orders/client/index.js
  packages/client/src/orders/redux/actions/__tests__/fetchOrderDetailsGuestUser.test.js
  packages/client/src/orders/redux/actions/fetchOrderDetailsGuestUser.js
  packages/client/src/orders/redux/actions/index.js
Labels: type: feature, :package: client, :rotating_light: BREAKING CHANGE

#80 feat(core): add additional user attributes client
  packages/core/src/profile/client/__fixtures__/deleteUserAttribute.fixtures.js
  packages/core/src/profile/client/__fixtures__/getUserAttribute.fixtures.js
  packages/core/src/profile/client/__fixtures__/getUserAttributes.fixtures.js
  packages/core/src/profile/client/__fixtures__/patchUserAttribute.fixtures.js
  packages/core/src/profile/client/__fixtures__/postUserAttributes.fixtures.js
  packages/core/src/profile/client/__fixtures__/putUserAttribute.fixtures.js
  packages/core/src/profile/client/__tests__/__snapshots__/deleteUserAttribute.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/getUserAttribute.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/getUserAttributes.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/patchUserAttribute.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/postUserAttributes.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/putUserAttribute.test.js.snap
  packages/core/src/profile/client/__tests__/deleteUserAttribute.test.js
  packages/core/src/profile/client/__tests__/getUserAttribute.test.js
  packages/core/src/profile/client/__tests__/getUserAttributes.test.js
  packages/core/src/profile/client/__tests__/patchUserAttribute.test.js
  packages/core/src/profile/client/__tests__/postUserAttributes.test.js
  packages/core/src/profile/client/__tests__/putUserAttribute.test.js
  packages/core/src/profile/client/deleteUserAttribute.js
  packages/core/src/profile/client/getUserAttribute.js
  packages/core/src/profile/client/getUserAttributes.js
  packages/core/src/profile/client/index.js
  packages/core/src/profile/client/patchUserAttribute.js
  packages/core/src/profile/client/postUserAttributes.js
  packages/core/src/profile/client/putUserAttribute.js
  packages/core/src/profile/redux/__fixtures__/userAttribute.fixtures.js
  packages/core/src/profile/redux/__fixtures__/userAttributes.fixtures.js
  packages/core/src/profile/redux/__tests__/reducer.test.js
  packages/core/src/profile/redux/__tests__/selectors.test.js
  packages/core/src/profile/redux/actionTypes.js
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doDeleteUserAttribute.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doGetUserAttribute.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doGetUserAttributes.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPatchUserAttribute.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPostUserAttributes.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPutUserAttribute.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/doDeleteUserAttribute.test.js
  packages/core/src/profile/redux/actions/__tests__/doGetUserAttribute.test.js
  packages/core/src/profile/redux/actions/__tests__/doGetUserAttributes.test.js
  packages/core/src/profile/redux/actions/__tests__/doPatchUserAttribute.test.js
  packages/core/src/profile/redux/actions/__tests__/doPostUserAttributes.test.js
  packages/core/src/profile/redux/actions/__tests__/doPutUserAttribute.test.js
  packages/core/src/profile/redux/actions/doDeleteUserAttribute.js
  packages/core/src/profile/redux/actions/doGetUserAttribute.js
  packages/core/src/profile/redux/actions/doGetUserAttributes.js
  packages/core/src/profile/redux/actions/doPatchUserAttribute.js
  packages/core/src/profile/redux/actions/doPostUserAttributes.js
  packages/core/src/profile/redux/actions/doPutUserAttribute.js
  packages/core/src/profile/redux/actions/index.js
  packages/core/src/profile/redux/reducer.js
  packages/core/src/profile/redux/selectors.js
Labels: type: feature, :package: core

#79 chore(react): update hooks tests strategy
  packages/react/src/bags/hooks/__tests__/useBagItem.test.js
  packages/react/src/search/hooks/__tests__/__fixtures__/Search.fixtures.js
  packages/react/src/search/hooks/__tests__/__snapshots__/useSearchIntents.test.js.snap
  packages/react/src/search/hooks/__tests__/useSearchIntents.test.js
  tests/__fixtures__/search/searchIntents.fixtures.js
Labels: type: enhancement, :package: react

#78 chore(react): update hooks tests strategy
  packages/react/src/bags/hooks/__tests__/useBagItem.test.tsx
  packages/react/src/categories/hooks/__tests__/__fixtures__/Categories.fixtures.js
  packages/react/src/categories/hooks/__tests__/__snapshots__/useCategories.test.tsx.snap
  packages/react/src/categories/hooks/__tests__/useCategories.test.tsx
  packages/react/src/search/hooks/__tests__/__fixtures__/Search.fixtures.tsx
  packages/react/src/search/hooks/__tests__/__snapshots__/useSearchIntents.test.tsx.snap
  packages/react/src/search/hooks/__tests__/useSearchIntents.test.tsx
  tests/__fixtures__/categories/categories.fixtures.ts
  tests/__fixtures__/search/searchIntents.fixtures.ts
Labels: type: enhancement, :package: react

#86 fix: fix ga4 promocode_applied event schema
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
  packages/react/src/analytics/integrations/shared/validation/eventSchemas.js
Labels: :package: react

#84 fix: fix ga4 promocode_applied event schema
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
  packages/react/src/analytics/integrations/shared/validation/eventSchemas.js
Labels: :package: react

#82 chore(redux): remove `id` property from `products.details` reducer
  packages/redux/src/products/reducer/__tests__/details.test.ts
  packages/redux/src/products/reducer/details.ts
  packages/redux/src/products/serverInitialState/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/products/serverInitialState/__tests__/__snapshots__/products.test.ts.snap
  packages/redux/src/products/serverInitialState/products.ts
  packages/redux/src/products/types/state.types.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: type: enhancement, :package: redux

#89 fix(react): add from to PRODUCT_CLICKED event mapping in GA4 - next
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
Labels: type: bug, :package: react

#87 fix(redux): remove circular dependency from recently viewed
  packages/redux/src/recentlyViewed/actions/factories/fetchRecentlyViewedProductsFactory.js
Labels: type: bug, :package: redux

#88 fix(react): add `from` to PRODUCT_CLICKED event mapping in GA4
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: bug, :package: react

#83 docs: add new query parameter contents
  packages/core/src/contents/client/getSearchContents.js
  packages/core/src/contents/redux/actions/doGetContent.js
Labels: :package: core

#91 chore: improvements to workflows
  .github/semantic.yml
  .github/workflows/PullRequestLabeler.yml
Labels: type: maintenance

#93 feat(client|redux): loyalty - rename api, general mocks and return statements
  packages/client/src/loyalty/postProgramMembership.js
  packages/client/src/loyalty/postProgramMembershipReplacement.js
  packages/redux/src/loyalty/__tests__/reducer.test.js
  packages/redux/src/loyalty/__tests__/selectors.test.js
  packages/redux/src/loyalty/actionTypes.js
  packages/redux/src/loyalty/actions/__tests__/__snapshots__/createProgramMembership.test.js.snap
  packages/redux/src/loyalty/actions/__tests__/__snapshots__/createProgramMembershipConvert.test.js.snap
  packages/redux/src/loyalty/actions/__tests__/__snapshots__/createProgramMembershipReplacement.test.js.snap
  packages/redux/src/loyalty/actions/__tests__/__snapshots__/doCreateProgramMembershipConvert.test.js.snap
  packages/redux/src/loyalty/actions/__tests__/__snapshots__/doGetProgramMembershipStatements.test.js.snap
  packages/redux/src/loyalty/actions/__tests__/__snapshots__/doRequestProgramMembershipReplacement.test.js.snap
  packages/redux/src/loyalty/actions/__tests__/__snapshots__/fetchProgramMembershipStatements.test.js.snap
  packages/redux/src/loyalty/actions/__tests__/__snapshots__/fetchProgramUsersMembership.test.js.snap
  packages/redux/src/loyalty/actions/__tests__/__snapshots__/fetchPrograms.test.js.snap
  packages/redux/src/loyalty/actions/__tests__/createProgramMembership.test.js
  packages/redux/src/loyalty/actions/__tests__/createProgramMembershipConvert.test.js
  packages/redux/src/loyalty/actions/__tests__/createProgramMembershipReplacement.test.js
  packages/redux/src/loyalty/actions/__tests__/fetchProgramMembershipStatements.test.js
  packages/redux/src/loyalty/actions/__tests__/fetchProgramUsersMembership.test.js
  packages/redux/src/loyalty/actions/__tests__/fetchPrograms.test.js
  packages/redux/src/loyalty/actions/createProgramMembership.js
  packages/redux/src/loyalty/actions/createProgramMembershipConvert.js
  packages/redux/src/loyalty/actions/createProgramMembershipReplacement.js
  packages/redux/src/loyalty/actions/fetchProgramMembershipStatements.js
  packages/redux/src/loyalty/actions/fetchProgramUsersMembership.js
  packages/redux/src/loyalty/actions/fetchPrograms.js
  packages/redux/src/loyalty/actions/index.js
  packages/redux/src/loyalty/reducer.js
  tests/__fixtures__/loyalty/loyalty.fixtures.js
Labels: :package: client, :package: redux, :rotating_light: BREAKING CHANGE

#95 feat(redux): provide loyalty actions with a client
  packages/redux/src/loyalty/actions/__tests__/createProgramMembership.test.js
  packages/redux/src/loyalty/actions/__tests__/createProgramMembershipConvert.test.js
  packages/redux/src/loyalty/actions/__tests__/createProgramMembershipReplacement.test.js
  packages/redux/src/loyalty/actions/__tests__/fetchProgramMembershipStatements.test.js
  packages/redux/src/loyalty/actions/__tests__/fetchProgramUsersMembership.test.js
  packages/redux/src/loyalty/actions/__tests__/fetchPrograms.test.js
  packages/redux/src/loyalty/actions/createProgramMembership.js
  packages/redux/src/loyalty/actions/createProgramMembershipConvert.js
  packages/redux/src/loyalty/actions/createProgramMembershipReplacement.js
  packages/redux/src/loyalty/actions/factories/createProgramMembershipConvertFactory.js
  packages/redux/src/loyalty/actions/factories/createProgramMembershipFactory.js
  packages/redux/src/loyalty/actions/factories/createProgramMembershipReplacementFactory.js
  packages/redux/src/loyalty/actions/factories/fetchProgramMembershipStatementsFactory.js
  packages/redux/src/loyalty/actions/factories/fetchProgramUsersMembershipFactory.js
  packages/redux/src/loyalty/actions/factories/fetchProgramsFactory.js
  packages/redux/src/loyalty/actions/factories/index.js
  packages/redux/src/loyalty/actions/fetchProgramMembershipStatements.js
  packages/redux/src/loyalty/actions/fetchProgramUsersMembership.js
  packages/redux/src/loyalty/actions/fetchPrograms.js
Labels: :package: redux, :rotating_light: BREAKING CHANGE

#85 docs: add new query parameters contents next
  packages/client/src/contents/getSearchContents.ts
  packages/client/src/contents/types/contents.types.ts
  packages/redux/src/contents/actions/factories/fetchContentFactory.ts
  packages/redux/src/contents/actions/fetchContent.ts
Labels: :package: client, :package: redux
