Repository Farfetch/blackout, pull requests merged in 2022-03, with the labels that each got.

#205 fix(redux): add missing reducers and selectors for activities endpoints
  packages/core/src/orders/redux/__tests__/selectors.test.js
  packages/core/src/orders/redux/reducer.js
  packages/core/src/orders/redux/selectors.js
Labels: type: bug, :package: redux, :package: core

#206 fix(redux): add missing reducers and selectors for activities endpoint on next
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/orders/types/actions.types.ts
  packages/redux/src/orders/types/state.types.ts
  tests/__fixtures__/orders/orders.fixtures.ts
Labels: type: bug, :package: redux

#208 feat(core): update order of components and fix ranking on merge strategy for commerce pages
  packages/core/src/contents/utils.js
  tests/__fixtures__/contents/commercePages.fixtures.js
Labels: type: feature, :package: core

#214 fix(core): add `groupsOn` to the sizes facet's entity id
  packages/redux/src/entities/schemas/facet.ts
Labels: type: bug, :package: redux

#212 feat(core): update order of components and fix ranking on merge strategy for commerce pages next
  packages/redux/src/contents/actions/__tests__/__snapshots__/fetchCommercePages.test.ts.snap
  packages/redux/src/contents/utils.ts
  tests/__fixtures__/contents/commercePages.ts
Labels: type: feature, :package: redux

#217 Release 08-03-2022
  packages/core/src/entities/schemas/facet.js
Labels: :package: core

#218 chore: add create github release and send email workflows
  .github/workflows/CreateRelease.yml
  .github/workflows/SendEmail.yml
Labels: type: maintenance

#219 chore: add create github release and send email workflows next
  .github/workflows/CreateRelease.yml
  .github/workflows/SendEmail.yml
Labels: type: maintenance

#211 feat(react): implement missing selectors and actions in address hook
  packages/react/src/addresses/hooks/__tests__/__fixtures__/Adresses.fixtures.js
  packages/react/src/addresses/hooks/__tests__/__snapshots__/useAddresses.test.tsx.snap
  packages/react/src/addresses/hooks/__tests__/useAddresses.test.tsx
  packages/react/src/addresses/hooks/useAddresses.ts
  tests/__fixtures__/addresses/addresses.fixtures.ts
Labels: :package: react

#226 chore: change lerna publish message
  .github/workflows/CI.yml
Labels: type: maintenance

#227 chore: change lerna publish message next
  .github/workflows/CI.yml
Labels: type: maintenance

#230 Chore(react) update react checkout tests to typescript
  packages/react/src/checkout/hooks/__tests__/__fixtures__/Checkout.fixtures.tsx
  packages/react/src/checkout/hooks/__tests__/__snapshots__/useCheckout.test.tsx.snap
  packages/react/src/checkout/hooks/__tests__/useCheckout.test.tsx
Labels: :package: react

#224 feat(react): update renderContent method
  packages/react/src/content/helpers/__fixtures__/renderContent.fixtures.js
  packages/react/src/content/helpers/__tests__/__snapshots__/renderContent.test.js.snap
  packages/react/src/content/helpers/__tests__/renderContent.test.js
  packages/react/src/content/helpers/renderContent.js
Labels: type: feature, :package: react

#231 chore: add new comment for selector on products lists
  packages/redux/src/products/selectors/lists.ts
Labels: :package: redux

#229 chore(react): memoize queryCommerce and queryContent and improve fetchCommerce callback
  packages/react/src/content/hooks/useCommercePage.js
Labels: type: maintenance, :package: react

#233 fix(core): implement fallback commerce page metadata string
  packages/core/src/contents/__tests__/utils.test.js
  packages/core/src/contents/utils.js
Labels: type: bug, type: maintenance, :package: react, type: documentation, :package: core

#234 feat(blackout-analytics|blackout-react): convert GTM integration to typescript
  packages/analytics/src/Analytics.ts
  packages/analytics/src/__tests__/analytics.test.ts
  packages/analytics/src/integrations/Integration.ts
  packages/analytics/src/integrations/__tests__/Integration.test.ts
  packages/analytics/src/types/analytics.types.ts
  packages/analytics/src/utils/__tests__/defaults.node.test.ts
  packages/analytics/src/utils/hashUserData.ts
  packages/react/src/analytics/__tests__/analytics.test.ts
  packages/react/src/analytics/analytics.ts
  packages/react/src/analytics/integrations/GA/GA.ts
  packages/react/src/analytics/integrations/GA/types/globals.d.ts
  packages/react/src/analytics/integrations/GTM/GTM.ts
  packages/react/src/analytics/integrations/GTM/__tests__/GTM.node.test.ts
  packages/react/src/analytics/integrations/GTM/__tests__/GTM.test.ts
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  packages/react/src/analytics/integrations/GTM/constants.ts
  packages/react/src/analytics/integrations/GTM/eventsMapper.ts
  packages/react/src/analytics/integrations/GTM/gtmTag.ts
  packages/react/src/analytics/integrations/GTM/index.ts
  packages/react/src/analytics/integrations/GTM/types/globals.d.ts
  packages/react/src/analytics/integrations/GTM/types/index.ts
  packages/react/src/analytics/integrations/GTM/utils.js
  packages/react/src/analytics/integrations/GTM/utils.ts
  packages/react/src/analytics/integrations/Omnitracking/storage/__tests__/UniqueViewIdStorage.test.js
Labels: type: feature, :package: react, :package: analytics

#237 fix(blackout-core): fix doUpdateUserSubscriptions action
  packages/core/src/subscriptions/client/__tests__/putSubscriptions.test.js
  packages/core/src/subscriptions/client/putSubscriptions.js
  packages/core/src/subscriptions/redux/__fixtures__/storeSubscriptionsState.fixtures.js
  packages/core/src/subscriptions/redux/__tests__/selectors.test.js
  packages/core/src/subscriptions/redux/actions/__tests__/doUpdateUserSubscriptions.test.js
  packages/core/src/subscriptions/redux/actions/doUpdateUserSubscriptions.js
  packages/core/src/subscriptions/redux/reducer/__tests__/user.test.js
  packages/core/src/subscriptions/redux/reducer/user.js
  packages/core/src/subscriptions/redux/selectors.js
Labels: type: bug, :package: core

#243 fix(react): add lodash map to render content
  packages/react/src/content/helpers/renderContent.js
Labels: type: bug, :package: react

#240 feat(react): include new params hook useContentType
  packages/react/src/content/hooks/useContentType.js
Labels: type: feature, :package: react

#244 fix(react): add lodash map render content
  packages/client/src/users/__tests__/getTitles.test.ts
  packages/react/src/contents/helpers/__tests__/renderContent.test.tsx
  packages/react/src/contents/helpers/renderContent.tsx
  packages/react/src/contents/structured-data/__tests__/product.test.tsx
  packages/react/src/contents/structured-data/__tests__/videoObject.test.tsx
  packages/redux/src/addresses/types/action.types.ts
Labels: type: bug, :package: client, :package: react, :package: redux

#241 feat(react): include new params hook useContentType next
  packages/react/src/contents/hooks/useContentType.ts
  packages/react/src/contents/types/params.types.ts
Labels: type: feature, :package: react
