Repository Farfetch/blackout, pull requests merged in 2022-02, with the labels that each got.

#158 chore(client): replace `moxios` with `msw` in `staffMembers`
  packages/client/src/staffMembers/__fixtures__/getStaffMember.fixtures.ts
  packages/client/src/staffMembers/__tests__/__snapshots__/getStaffMember.test.ts.snap
  packages/client/src/staffMembers/__tests__/getStaffMember.test.ts
Labels: type: enhancement, :package: client

#159 chore(client): replace moxios with msw in brands
  packages/client/src/brands/__fixtures__/getBrand.fixtures.ts
  packages/client/src/brands/__fixtures__/getBrands.fixtures.ts
  packages/client/src/brands/__tests__/__snapshots__/getBrand.test.ts.snap
  packages/client/src/brands/__tests__/__snapshots__/getBrands.test.ts.snap
  packages/client/src/brands/__tests__/getBrand.test.ts
  packages/client/src/brands/__tests__/getBrands.test.ts
Labels: type: enhancement, :package: client

#160 chore(client): replace moxios with msw in merchantsLocations
  packages/client/src/merchantsLocations/__fixtures__/getMerchantsLocations.fixtures.ts
  packages/client/src/merchantsLocations/__tests__/__snapshots__/getMerchantsLocations.test.ts.snap
  packages/client/src/merchantsLocations/__tests__/getMerchantsLocations.test.ts
Labels: type: enhancement, :package: client

#164 chore(client): replace moxios with msw on products client
  packages/client/src/bags/__fixtures__/getBag.fixtures.ts
  packages/client/src/bags/__fixtures__/patchBagItem.fixtures.ts
  packages/client/src/bags/__fixtures__/postBagItem.fixtures.ts
  packages/client/src/bags/__tests__/getBag.test.ts
  packages/client/src/bags/__tests__/patchBagItem.test.ts
  packages/client/src/bags/__tests__/postBagItem.test.ts
  packages/client/src/products/__fixtures__/getListing.fixtures.ts
  packages/client/src/products/__fixtures__/getProductAttributes.fixtures.ts
  packages/client/src/products/__fixtures__/getProductColorGrouping.fixtures.ts
  packages/client/src/products/__fixtures__/getProductDetails.fixtures.ts
  packages/client/src/products/__fixtures__/getProductFittings.fixtures.ts
  packages/client/src/products/__fixtures__/getProductSizeGuides.fixtures.ts
  packages/client/src/products/__fixtures__/getProductSizes.fixtures.ts
  packages/client/src/products/__fixtures__/getProductVariantsByMerchantsLocations.fixtures.ts
  packages/client/src/products/__fixtures__/getProductVariantsMeasurements.fixtures.ts
  packages/client/src/products/__fixtures__/getRecommendedSet.fixtures.ts
  packages/client/src/products/__fixtures__/getSet.fixtures.ts
  packages/client/src/products/__tests__/__snapshots__/getListing.test.ts.snap
  packages/client/src/products/__tests__/__snapshots__/getProductAttributes.test.ts.snap
  packages/client/src/products/__tests__/__snapshots__/getProductColorGrouping.test.ts.snap
  packages/client/src/products/__tests__/__snapshots__/getProductDetails.test.ts.snap
  packages/client/src/products/__tests__/__snapshots__/getProductFittings.test.ts.snap
  packages/client/src/products/__tests__/__snapshots__/getProductSizeGuides.test.ts.snap
  packages/client/src/products/__tests__/__snapshots__/getProductSizes.test.ts.snap
  packages/client/src/products/__tests__/__snapshots__/getProductVariantsByMerchantsLocations.test.ts.snap
  packages/client/src/products/__tests__/__snapshots__/getProductVariantsMeasurements.test.ts.snap
  packages/client/src/products/__tests__/__snapshots__/getRecommendedSet.test.ts.snap
  packages/client/src/products/__tests__/__snapshots__/getSet.test.ts.snap
  packages/client/src/products/__tests__/getListing.test.ts
  packages/client/src/products/__tests__/getProductAttributes.test.ts
  packages/client/src/products/__tests__/getProductColorGrouping.test.ts
  packages/client/src/products/__tests__/getProductDetails.test.ts
  packages/client/src/products/__tests__/getProductFittings.test.ts
  packages/client/src/products/__tests__/getProductSizeGuides.test.ts
  packages/client/src/products/__tests__/getProductSizes.test.ts
  packages/client/src/products/__tests__/getProductVariantsByMerchantsLocations.test.ts
  packages/client/src/products/__tests__/getProductVariantsMeasurements.test.ts
  packages/client/src/products/__tests__/getRecommendedSet.test.ts
  packages/client/src/products/__tests__/getSet.test.ts
  tests/__fixtures__/products/recommendedSet.fixtures.ts
Labels: type: enhancement, :package: client

#155 chore(client): replace `moxios` with `msw` in wishlists
  packages/client/src/wishlists/__fixtures__/deleteWishlistItem.fixtures.ts
  packages/client/src/wishlists/__fixtures__/deleteWishlistSet.fixtures.ts
  packages/client/src/wishlists/__fixtures__/getWishlist.fixtures.ts
  packages/client/src/wishlists/__fixtures__/getWishlistSet.fixtures.ts
  packages/client/src/wishlists/__fixtures__/getWishlistSets.fixtures.ts
  packages/client/src/wishlists/__fixtures__/patchWishlistItem.fixtures.ts
  packages/client/src/wishlists/__fixtures__/patchWishlistSet.fixtures.ts
  packages/client/src/wishlists/__fixtures__/postWishlistItem.fixtures.ts
  packages/client/src/wishlists/__fixtures__/postWishlistSet.fixtures.ts
  packages/client/src/wishlists/__tests__/__snapshots__/deleteWishlistItem.test.ts.snap
  packages/client/src/wishlists/__tests__/__snapshots__/deleteWishlistSet.test.ts.snap
  packages/client/src/wishlists/__tests__/__snapshots__/getWishlist.test.ts.snap
  packages/client/src/wishlists/__tests__/__snapshots__/getWishlistSet.test.ts.snap
  packages/client/src/wishlists/__tests__/__snapshots__/getWishlistSets.test.ts.snap
  packages/client/src/wishlists/__tests__/__snapshots__/patchWishlistItem.test.ts.snap
  packages/client/src/wishlists/__tests__/__snapshots__/patchWishlistSet.test.ts.snap
  packages/client/src/wishlists/__tests__/__snapshots__/postWishlistItem.test.ts.snap
  packages/client/src/wishlists/__tests__/__snapshots__/postWishlistSet.test.ts.snap
  packages/client/src/wishlists/__tests__/deleteWishlistItem.test.ts
  packages/client/src/wishlists/__tests__/deleteWishlistSet.test.ts
  packages/client/src/wishlists/__tests__/getWishlist.test.ts
  packages/client/src/wishlists/__tests__/getWishlistSet.test.ts
  packages/client/src/wishlists/__tests__/getWishlistSets.test.ts
  packages/client/src/wishlists/__tests__/patchWishlistItem.test.ts
  packages/client/src/wishlists/__tests__/patchWishlistSet.test.ts
  packages/client/src/wishlists/__tests__/postWishlistItem.test.ts
  packages/client/src/wishlists/__tests__/postWishlistSet.test.ts
Labels: type: enhancement, :package: client

#165 chore: enable eslint react hooks plugin
  .eslintrc.json
  package.json
  packages/react/src/bags/hooks/useBag.ts
  packages/redux/src/recentlyViewed/actions/factories/fetchRecentlyViewedProductsFactory.ts
  packages/redux/src/recentlyViewed/actions/factories/removeRecentlyViewedProductFactory.ts
  packages/redux/src/recommendations/actions/factories/fetchProductRecommendationsFactory.ts
  yarn.lock
Labels: type: maintenance, :package: react, :package: redux

#166 fix(client|redux): save pickup capabilities time slots
  packages/client/src/entities/redux/selectors/index.js
  packages/client/src/entities/redux/selectors/returns.js
  packages/client/src/returns/types/getPickupCapabilities.types.ts
  packages/client/src/returns/types/pickupCapabilities.types.ts
  packages/redux/src/entities/selectors/__tests__/returns.test.js
  packages/redux/src/entities/selectors/index.ts
  packages/redux/src/entities/selectors/returns.ts
  packages/redux/src/entities/types/availableTimeSlots.types.ts
  packages/redux/src/entities/types/index.ts
  packages/redux/src/entities/types/returnItems.types.ts
  packages/redux/src/entities/types/returns.types.ts
  packages/redux/src/returns/actions/__tests__/__snapshots__/fetchPickupCapabilities.test.ts.snap
  packages/redux/src/returns/actions/__tests__/fetchPickupCapabilities.test.ts
  packages/redux/src/returns/actions/factories/fetchPickupCapabilitiesFactory.ts
  packages/redux/src/returns/selectors.ts
  packages/redux/src/types/StoreState.types.ts
  tests/__fixtures__/returns/returns.fixtures.ts
Labels: :package: client, :package: redux

#153 feat(redux): improve actions of 'users'
  packages/client/src/users/types/contact.types.ts
  packages/client/src/users/types/deleteContact.types.ts
  packages/client/src/users/types/getContact.types.ts
  packages/client/src/users/types/getContacts.types.ts
  packages/client/src/users/types/getGuestUser.types.ts
  packages/client/src/users/types/getPreferences.types.ts
  packages/client/src/users/types/getUserAttribute.types.ts
  packages/client/src/users/types/guestUser.types.ts
  packages/client/src/users/types/index.ts
  packages/client/src/users/types/patchContact.types.ts
  packages/client/src/users/types/postContact.types.ts
  packages/client/src/users/types/postGuestUser.types.ts
  packages/client/src/users/types/preferences.types.ts
  packages/client/src/users/types/query.types.ts
  packages/client/src/users/types/setPreferences.types.ts
  packages/client/src/users/types/titles.types.ts
  packages/redux/src/users/actions/factories/createContactFactory.ts
  packages/redux/src/users/actions/factories/createGuestUserFactory.ts
  packages/redux/src/users/actions/factories/fetchBenefitsFactory.ts
  packages/redux/src/users/actions/factories/fetchContactFactory.ts
  packages/redux/src/users/actions/factories/fetchContactsFactory.ts
  packages/redux/src/users/actions/factories/fetchCreditFactory.ts
  packages/redux/src/users/actions/factories/fetchCreditMovementsFactory.ts
  packages/redux/src/users/actions/factories/fetchGuestUserFactory.ts
  packages/redux/src/users/actions/factories/fetchPreferencesFactory.ts
  packages/redux/src/users/actions/factories/fetchTitlesFactory.ts
  packages/redux/src/users/actions/factories/fetchUserFactory.ts
  packages/redux/src/users/actions/factories/removeContactFactory.ts
  packages/redux/src/users/actions/factories/setPreferencesFactory.ts
  packages/redux/src/users/actions/factories/setUserFactory.ts
  packages/redux/src/users/actions/factories/updateContactFactory.ts
Labels: type: feature, :package: client, :package: redux

#180 fix(redux): fix fetchWishlistSetFactory
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetFactory.ts
Labels: type: bug, :package: redux

#168 fix(react): truncate categories if the categories sent are greater than limit (next)
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
Labels: type: bug, :package: react

#167 fix(react): truncate categories if the categories sent are greater than limit
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
Labels: type: bug, :package: react

#186 feat(core): add operations endpoints
  packages/core/src/checkout/client/__fixtures__/getOperation.fixtures.js
  packages/core/src/checkout/client/__fixtures__/getOperations.fixtures.js
  packages/core/src/checkout/client/__tests__/__snapshots__/getOperation.test.js.snap
  packages/core/src/checkout/client/__tests__/__snapshots__/getOperations.test.js.snap
  packages/core/src/checkout/client/__tests__/getOperation.test.js
  packages/core/src/checkout/client/__tests__/getOperations.test.js
  packages/core/src/checkout/client/getOperation.js
  packages/core/src/checkout/client/getOperations.js
  packages/core/src/checkout/client/index.js
Labels: type: feature, :package: core

#185 fix: remove GA4 non essential events
  packages/analytics/src/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/analytics/src/types/eventTypes.js
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.js.snap
  packages/react/src/analytics/integrations/GA4/commands.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
  packages/react/src/analytics/integrations/shared/validation/eventSchemas.js
  tests/__fixtures__/analytics/track/changeScaleSizeGuideTrackData.fixtures.ts
  tests/__fixtures__/analytics/track/index.ts
  tests/__fixtures__/analytics/track/sameBillingAddressSelectedTrackData.fixtures.ts
  tests/__fixtures__/analytics/track/sortOptionChangedTrackData.fixtures.ts
Labels: type: bug, :package: react, :package: analytics

#191 feat(client|redux): add order activities endpoints
  packages/core/src/orders/client/getOrderAvailableItemsActivities.js
  packages/core/src/orders/client/getOrderItemAvailableActivities.js
  packages/core/src/orders/client/index.js
  packages/core/src/orders/client/postOrderItemActivities.js
  packages/core/src/orders/redux/actionTypes.js
  packages/core/src/orders/redux/actions/__tests__/__snapshots__/doGetOrderAvailableItemsActivities.test.js.snap
  packages/core/src/orders/redux/actions/__tests__/__snapshots__/doGetOrderItemAvailableActivities.test.js.snap
  packages/core/src/orders/redux/actions/__tests__/__snapshots__/doPostOrderItemActivities.test.js.snap
  packages/core/src/orders/redux/actions/__tests__/doGetOrderAvailableItemsActivities.test.js
  packages/core/src/orders/redux/actions/__tests__/doGetOrderItemAvailableActivities.test.js
  packages/core/src/orders/redux/actions/__tests__/doPostOrderItemActivities.test.js
  packages/core/src/orders/redux/actions/doGetOrderAvailableItemsActivities.js
  packages/core/src/orders/redux/actions/doGetOrderItemAvailableActivities.js
  packages/core/src/orders/redux/actions/doPostOrderItemActivities.js
  packages/core/src/orders/redux/actions/index.js
Labels: type: feature, :package: redux, :package: core

#198 fix(react): fix interact content payload in GA4 (next)
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/GA4/commands.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
Labels: type: bug, :package: react

#197 fix(react): fix interact content payload in GA4
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GA4/commands.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
Labels: type: bug, :package: react

#196 feat(redux): get operations actions
  packages/core/src/checkout/redux/__fixtures__/checkoutSelector.fixtures.js
  packages/core/src/checkout/redux/__tests__/reducer.test.js
  packages/core/src/checkout/redux/__tests__/selectors.test.js
  packages/core/src/checkout/redux/actionTypes.js
  packages/core/src/checkout/redux/actions/__tests__/__snapshots__/doGetOperation.test.js.snap
  packages/core/src/checkout/redux/actions/__tests__/__snapshots__/doGetOperations.test.js.snap
  packages/core/src/checkout/redux/actions/__tests__/doGetOperation.test.js
  packages/core/src/checkout/redux/actions/__tests__/doGetOperations.test.js
  packages/core/src/checkout/redux/actions/doGetOperation.js
  packages/core/src/checkout/redux/actions/doGetOperations.js
  packages/core/src/checkout/redux/actions/index.js
  packages/core/src/checkout/redux/reducer.js
  packages/core/src/checkout/redux/selectors.js
Labels: type: feature, :package: core

#195 feat(client|redux): add order activities endpoints next
  packages/client/src/orders/getOrderAvailableItemsActivities.ts
  packages/client/src/orders/getOrderItemAvailableActivities.ts
  packages/client/src/orders/index.ts
  packages/client/src/orders/postOrderItemActivities.ts
  packages/client/src/orders/types/getOrderAvailableItemsActivities.types.ts
  packages/client/src/orders/types/getOrderItemAvailableActivities.types.ts
  packages/client/src/orders/types/index.ts
  packages/client/src/orders/types/postOrderItemActivities.types.ts
  packages/redux/src/orders/actionTypes.ts
  packages/redux/src/orders/actions/__tests__/addOrderItemActivities.test.ts
  packages/redux/src/orders/actions/__tests__/fetchOrderAvailableItemsActivities.test.ts
  packages/redux/src/orders/actions/__tests__/fetchOrderItemAvailableActivities.test.ts
  packages/redux/src/orders/actions/addOrderItemActivities.ts
  packages/redux/src/orders/actions/factories/addOrderItemActivitiesFactory.ts
  packages/redux/src/orders/actions/factories/fetchOrderAvailableItemsActivitiesFactory.ts
  packages/redux/src/orders/actions/factories/fetchOrderItemAvailableActivitiesFactory.ts
  packages/redux/src/orders/actions/factories/index.ts
  packages/redux/src/orders/actions/fetchOrderAvailableItemsActivities.ts
  packages/redux/src/orders/actions/fetchOrderItemAvailableActivities.ts
  packages/redux/src/orders/actions/index.ts
  tests/__fixtures__/orders/orders.fixtures.ts
Labels: type: feature, :package: client, :package: redux

#202 feat(core): add new mapper on omnitracking integration to calculate parameters from data object - next
  packages/analytics/src/integrations/Omnitracking/Omnitracking.js
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.js
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.js
  packages/analytics/src/integrations/Omnitracking/definitions.js
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.js
Labels: :package: analytics

#203 fix(blackout-react): fix `from` parameter in useAddOrUpdateBagItem hook
  packages/react/src/bags/hooks/useAddOrUpdateBagItem.ts
Labels: type: bug, :package: react
