Repository Farfetch/blackout, pull requests merged in 2022-01, with the labels that each got.

#105 feat(react): add useBag hook
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/index.ts
  packages/react/src/bags/hooks/types/index.ts
  packages/react/src/bags/hooks/types/useBag.ts
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/categories/hooks/useCategories.ts
  tests/__fixtures__/bags/bag.fixtures.ts
Labels: type: feature, :package: react

#109 feat(react): add `useWishlist` hook
  packages/react/src/wishlists/hooks/__tests__/useWishlist.test.tsx
  packages/react/src/wishlists/hooks/index.ts
  packages/react/src/wishlists/hooks/types/index.ts
  packages/react/src/wishlists/hooks/types/useWishlist.ts
  packages/react/src/wishlists/hooks/useWishlist.ts
  tests/__fixtures__/wishlists/wishlists.fixtures.ts
Labels: type: feature, :package: react

#110 fix: `useBag` hook types
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/types/useBag.ts
  packages/react/src/bags/hooks/useBag.ts
  packages/redux/src/bags/actions/fetchBag.ts
Labels: type: bug, :package: react, :package: redux

#115 feat(react): add index file to export everything from the wishlist chunk
  packages/react/src/wishlists/index.ts
Labels: type: feature, :package: react

#102 feat(core): implement new return endpoints
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  packages/core/src/returns/client/__fixtures__/getPickupCapabilities.fixtures.js
  packages/core/src/returns/client/__fixtures__/getReferences.fixtures.js
  packages/core/src/returns/client/__fixtures__/getReturn.fixtures.js
  packages/core/src/returns/client/__fixtures__/patchReturn.fixtures.js
  packages/core/src/returns/client/__fixtures__/postReturn.fixtures.js
  packages/core/src/returns/client/__tests__/__snapshots__/getPickupCapabilities.test.js.snap
  packages/core/src/returns/client/__tests__/getPickupCapabilities.test.js
  packages/core/src/returns/client/__tests__/getReferences.test.js
  packages/core/src/returns/client/__tests__/getReturn.test.js
  packages/core/src/returns/client/__tests__/patchReturn.test.js
  packages/core/src/returns/client/__tests__/postReturn.test.js
  packages/core/src/returns/client/getPickupCapabilities.js
  packages/core/src/returns/client/getReferences.js
  packages/core/src/returns/client/getReturn.js
  packages/core/src/returns/client/patchReturn.js
  packages/core/src/returns/client/postReturn.js
  packages/core/src/returns/redux/actions/__tests__/doGetPickupCapabilities.test.js
  packages/core/src/returns/redux/actions/doGetPickupCapabilities.js
Labels: type: maintenance, type: feature, :package: core

#117 fix(core): fix returns account migration service tests
  packages/core/src/returns/client/__tests__/getPickupCapabilities.test.js
  packages/core/src/returns/client/getPickupCapabilities.js
Labels: type: bug, :package: core

#112 feat(redux): reset returns data on logout
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.js.snap
  packages/redux/src/returns/__tests__/reducer.test.js
  packages/redux/src/returns/reducer.js
Labels: type: feature, :package: redux

#118 chore: add support for typescript in test files
  configs/typescript/tsconfig.basic.json
  configs/typescript/tsconfig.package-build.json
  jest.config.js
  package.json
  packages/analytics/tsconfig.build.json
  packages/analytics/tsconfig.json
  packages/client/tsconfig.build.json
  packages/client/tsconfig.json
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
  packages/redux/src/analytics/middlewares/__tests__/bag.test.js
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.js
  packages/redux/src/forms/actions/__tests__/fetchFormSchema.test.ts
  packages/redux/src/forms/actions/__tests__/resetFormSchema.test.ts
  packages/redux/src/forms/actions/__tests__/submitFormData.test.ts
  packages/redux/src/recentlyViewed/actions/__tests__/fetchRecentlyViewedProducts.test.js
  packages/redux/src/recentlyViewed/actions/__tests__/removeRecentlyViewedProduct.test.js
  packages/redux/src/recentlyViewed/actions/__tests__/saveRecentlyViewedProduct.test.js
  packages/redux/src/recommendations/__tests__/reducer.test.js
  packages/redux/src/recommendations/__tests__/selectors.test.js
  packages/redux/src/recommendations/actions/__tests__/fetchProductRecommendations.test.js
  packages/redux/src/subscriptions/actions/__tests__/clearAllUnsubscribeRecipientFromTopicRequests.test.js
  packages/redux/src/subscriptions/actions/__tests__/clearUnsubscribeRecipientFromTopicRequest.test.js
  packages/redux/src/subscriptions/actions/__tests__/fetchSubscriptionPackages.test.js
  packages/redux/src/subscriptions/actions/__tests__/fetchUserSubscriptions.test.js
  packages/redux/src/subscriptions/actions/__tests__/resetSubscriptions.test.js
  packages/redux/src/subscriptions/actions/__tests__/updateUserSubscriptions.test.js
  packages/redux/src/subscriptions/reducer/__tests__/index.test.js
  packages/redux/tsconfig.build.json
  packages/redux/tsconfig.json
Labels: type: enhancement, :package: client, :package: react, :package: redux, :package: analytics

#120 feat(react): add useProductDetails hook
  packages/react/src/products/hooks/__tests__/useProductDetails.test.tsx
  packages/react/src/products/hooks/index.ts
  packages/react/src/products/hooks/types/index.ts
  packages/react/src/products/hooks/types/useProductDetails.ts
  packages/react/src/products/hooks/useProductDetails.ts
  packages/react/src/products/index.ts
  packages/redux/src/entities/selectors/products.ts
  packages/redux/src/products/selectors/details.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: type: feature, :package: react, :package: redux

#124 fix(core): add `id` to the listing server initial state
  packages/core/src/products/listing/redux/__tests__/__snapshots__/serverInitialState.test.js.snap
  packages/core/src/products/listing/redux/__tests__/serverInitialState.test.js
  packages/core/src/products/listing/redux/serverInitialState.js
  tests/__fixtures__/products/listing.fixtures.js
Labels: type: bug, :package: core

#126 feat: add `addWishlistItem` to `useWishlist` hook
  packages/react/src/wishlists/hooks/__tests__/useWishlist.test.tsx
  packages/react/src/wishlists/hooks/types/useWishlist.ts
  packages/react/src/wishlists/hooks/useWishlist.ts
Labels: type: feature, :package: react

#116 feat(react): create hook commerce pages next
  packages/react/src/contents/hooks/__tests__/__snapshots__/useContentTypes.test.tsx.snap
  packages/react/src/contents/hooks/__tests__/__snapshots__/useNavbars.test.tsx.snap
  packages/react/src/contents/hooks/__tests__/__snapshots__/usePage.test.tsx.snap
  packages/react/src/contents/hooks/__tests__/__snapshots__/useWidget.test.tsx.snap
  packages/react/src/contents/hooks/__tests__/useCommercePages.test.tsx
  packages/react/src/contents/hooks/__tests__/useContentTypes.test.tsx
  packages/react/src/contents/hooks/__tests__/useMetaTags.test.tsx
  packages/react/src/contents/hooks/__tests__/useNavbars.test.tsx
  packages/react/src/contents/hooks/__tests__/usePage.test.tsx
  packages/react/src/contents/hooks/__tests__/useWidget.test.tsx
  packages/react/src/contents/hooks/index.ts
  packages/react/src/contents/hooks/useCommercePages.ts
  packages/react/src/contents/types/commercePages.types.ts
  packages/react/src/contents/types/index.ts
  packages/react/src/contents/types/params.types.ts
  tests/__fixtures__/contents/commercePages.ts
Labels: type: feature, :package: react

#134 chore: prevent CI action to run on draft pull requests
  .github/workflows/CI.yml
Labels: type: maintenance

#138 chore: prevent CI action to run on draft pull requests
  .github/workflows/CI.yml
Labels: type: maintenance

#133 feat(react): add custom user id property option
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/GA4/constants.js
  packages/react/src/analytics/integrations/GA4/validation/optionsValidator.js
Labels: type: feature, :package: react

#130 feat(client): add mock service worker contents
  package.json
  packages/client/src/contents/__fixtures__/commercepages.fixtures.js
  packages/client/src/contents/__fixtures__/contentTypes.fixtures.js
  packages/client/src/contents/__fixtures__/contents.fixtures.js
  packages/client/src/contents/__fixtures__/seo.fixtures.js
  packages/client/src/contents/__tests__/__snapshots__/getCommercePages.test.js.snap
  packages/client/src/contents/__tests__/__snapshots__/getContentTypes.test.js.snap
  packages/client/src/contents/__tests__/__snapshots__/getSEO.test.js.snap
  packages/client/src/contents/__tests__/__snapshots__/getSearchContents.test.js.snap
  packages/client/src/contents/__tests__/getCommercePages.test.js
  packages/client/src/contents/__tests__/getContentTypes.test.js
  packages/client/src/contents/__tests__/getSEO.test.js
  packages/client/src/contents/__tests__/getSearchContents.test.js
  packages/client/tests/index.js
  packages/client/tests/mswServer.js
  yarn.lock
Labels: type: enhancement, :package: client

#140 feat(client): create client search translations next
  packages/client/src/language/__fixtures__/getTranslations.fixtures.ts
  packages/client/src/language/__tests__/__snapshots__/getTranslations.test.ts.snap
  packages/client/src/language/__tests__/getTranslations.test.ts
  packages/client/src/language/getTranslations.ts
  packages/client/src/language/index.ts
  packages/client/src/language/types/getTranslations.types.ts
  packages/client/src/language/types/getTranslationsQuery.type.ts
  packages/client/src/language/types/index.ts
  packages/client/src/language/types/translations.type.ts
  packages/client/tests/mswServer.ts
Labels: type: feature, :package: client

#123 feat(redux): reset loyalty data on logout
  packages/redux/src/loyalty/__tests__/reducer.test.ts
  packages/redux/src/loyalty/reducer.ts
Labels: type: feature, :package: redux

#128 feat(client|redux): convert recommendations area to ts
  packages/client/src/helpers/adapters/__tests__/__snapshots__/adaptProductRecommendations.test.ts.snap
  packages/client/src/helpers/adapters/__tests__/adaptProductRecommendations.test.ts
  packages/client/src/helpers/adapters/adaptProductRecommendations.ts
  packages/client/src/recommendations/__fixtures__/getProductRecommendations.fixtures.ts
  packages/client/src/recommendations/__tests__/__snapshots__/getProductRecommendations.test.ts.snap
  packages/client/src/recommendations/__tests__/getProductRecommendations.test.ts
  packages/client/src/recommendations/getProductRecommendations.js
  packages/client/src/recommendations/getProductRecommendations.ts
  packages/client/src/recommendations/index.ts
  packages/client/src/recommendations/types/getProductRecommendations.types.ts
  packages/client/src/recommendations/types/index.ts
  packages/client/src/recommendations/types/productRecommendation.types.ts
  packages/redux/src/contents/actions/__tests__/fetchCommercePages.test.ts
  packages/redux/src/forms/reducer.ts
  packages/redux/src/forms/types/action.types.ts
  packages/redux/src/recentlyViewed/__tests__/reducer.test.ts
  packages/redux/src/recommendations/__tests__/reducer.test.ts
  packages/redux/src/recommendations/__tests__/selectors.test.ts
  packages/redux/src/recommendations/actionTypes.ts
  packages/redux/src/recommendations/actions/__tests__/__snapshots__/fetchProductRecommendations.test.ts.snap
  packages/redux/src/recommendations/actions/__tests__/fetchProductRecommendations.test.ts
  packages/redux/src/recommendations/actions/factories/fetchProductRecommendationsFactory.js
  packages/redux/src/recommendations/actions/factories/fetchProductRecommendationsFactory.ts
  packages/redux/src/recommendations/actions/factories/index.ts
  packages/redux/src/recommendations/actions/factories/types/FetchProductRecommendationsFactory.types.ts
  packages/redux/src/recommendations/actions/factories/types/index.ts
  packages/redux/src/recommendations/actions/fetchProductRecommendations.ts
  packages/redux/src/recommendations/actions/index.ts
  packages/redux/src/recommendations/index.ts
  packages/redux/src/recommendations/reducer.ts
  packages/redux/src/recommendations/selectors.js
  packages/redux/src/recommendations/selectors.ts
  packages/redux/src/recommendations/types/action.types.ts
  packages/redux/src/recommendations/types/index.ts
  packages/redux/src/recommendations/types/state.types.ts
  packages/redux/src/types/StoreState.types.ts
  tests/__fixtures__/recommendations/getRecommendations.ts
  tests/__fixtures__/recommendations/index.ts
  tests/__fixtures__/recommendations/recommendations.fixtures.ts
Labels: type: feature, :package: client, :package: redux, :rotating_light: BREAKING CHANGE

#131 feat(react): add custom user id property option
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GA4/constants.js
  packages/react/src/analytics/integrations/GA4/validation/optionsValidator.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
Labels: type: feature, :package: react

#142 feat(react): update billing support on handleSetShippingAddress
  packages/react/src/checkout/hooks/useCheckout.ts
Labels: type: feature, :package: react

#136 feat(react): add ga4 change size event on first selection
  packages/react/src/analytics/integrations/GA4/commands.js
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react

#135 feat(react): add ga4 change size event on first selection next
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.js.snap
  packages/react/src/analytics/integrations/GA4/commands.js
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
  tests/__fixtures__/analytics/track/productUpdatedTrackData.fixtures.ts
Labels: type: feature, :package: react

#143 feat(react): add parameter path_clean on GA4 view_page event for next
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react

#144 feat(react): add parameter path_clean on GA4 view_page event
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react

#145 feat(redux): add isWishlistSetFetched selector
  packages/redux/src/wishlists/selectors/__tests__/wishlistsSets.test.ts
  packages/redux/src/wishlists/selectors/wishlistsSets.ts
Labels: type: feature, :package: redux

#137 feat(core): create client search translations
  packages/core/src/language/client/__mocks__/getTranslations.fixtures.js
  packages/core/src/language/client/__tests__/__snapshots__/getTranslations.test.js.snap
  packages/core/src/language/client/__tests__/getTranslations.test.js
  packages/core/src/language/client/getTranslations.js
  packages/core/src/language/client/index.js
Labels: type: feature, :package: core

#132 fix(redux): multiple entries generates same hash contents
  packages/redux/src/entities/schemas/content.ts
  tests/__fixtures__/contents/contents.ts
Labels: type: bug, :package: redux

#151 chore(client): replace moxios with msw bags
  packages/client/src/bags/__fixtures__/deleteBagItem.fixtures.ts
  packages/client/src/bags/__fixtures__/getBag.fixtures.ts
  packages/client/src/bags/__fixtures__/patchBagItem.fixtures.ts
  packages/client/src/bags/__fixtures__/postBagItem.fixtures.ts
  packages/client/src/bags/__tests__/__snapshots__/deleteBagItem.test.ts.snap
  packages/client/src/bags/__tests__/__snapshots__/getBag.test.ts.snap
  packages/client/src/bags/__tests__/__snapshots__/patchBagItem.test.ts.snap
  packages/client/src/bags/__tests__/__snapshots__/postBagItem.test.ts.snap
  packages/client/src/bags/__tests__/deleteBagItem.test.ts
  packages/client/src/bags/__tests__/getBag.test.ts
  packages/client/src/bags/__tests__/patchBagItem.test.ts
  packages/client/src/bags/__tests__/postBagItem.test.ts
Labels: type: enhancement, :package: client

#152 feat(react): add `useProductsList` hook
  packages/react/src/products/hooks/__tests__/useProductsList.test.tsx
  packages/react/src/products/hooks/index.ts
  packages/react/src/products/hooks/types/index.ts
  packages/react/src/products/hooks/types/useProductsList.ts
  packages/react/src/products/hooks/useProductsList.ts
  tests/__fixtures__/products/productsLists.fixtures.ts
Labels: type: feature, :package: react

#156 feat(client|redux): add new unsubscribe client for next
  packages/client/src/subscriptions/__fixtures__/deleteSubscription.fixtures.js
  packages/client/src/subscriptions/__fixtures__/deleteSubscriptions.fixtures.js
  packages/client/src/subscriptions/__tests__/__snapshots__/deleteSubscription.test.js.snap
  packages/client/src/subscriptions/__tests__/deleteSubscription.test.js
  packages/client/src/subscriptions/__tests__/deleteSubscriptions.test.js
  packages/client/src/subscriptions/deleteSubscription.js
  packages/client/src/subscriptions/deleteSubscriptions.js
  packages/client/src/subscriptions/index.js
  packages/redux/src/subscriptions/actionTypes.js
  packages/redux/src/subscriptions/actions/__tests__/unsubscribeFromSubscriptions.test.js
  packages/redux/src/subscriptions/actions/factories/index.js
  packages/redux/src/subscriptions/actions/factories/unsubscribeAllSubscriptionsFactory.js
  packages/redux/src/subscriptions/actions/factories/unsubscribeFromSubscriptionFactory.js
  packages/redux/src/subscriptions/actions/index.js
  packages/redux/src/subscriptions/actions/unsubscribeAllSubscriptions.js
  packages/redux/src/subscriptions/actions/unsubscribeFromSubscription.js
  packages/redux/src/subscriptions/reducer/__tests__/user.test.js
  packages/redux/src/subscriptions/reducer/user.js
  tests/__fixtures__/subscriptions/deleteSubscription.fixtures.ts
Labels: type: feature, :package: client, :package: redux, :rotating_light: BREAKING CHANGE
