Repository Farfetch/blackout, pull requests merged in 2022-07, with the labels that each got.

#390 feat(client|redux): change return files exports
  packages/client/src/returns/getReturn.ts
  packages/client/src/returns/getReturnPickupCapabilities.ts
  packages/client/src/returns/getReturnPickupRescheduleRequest.ts
  packages/client/src/returns/getReturnPickupRescheduleRequests.ts
  packages/client/src/returns/getReturnReferences.ts
  packages/client/src/returns/getReturnsFromOrder.ts
  packages/client/src/returns/index.ts
  packages/client/src/returns/patchReturn.ts
  packages/client/src/returns/postReturn.ts
  packages/client/src/returns/postReturnPickupRescheduleRequest.ts
  packages/redux/src/returns/actions/createReturn.ts
  packages/redux/src/returns/actions/createReturnPickupRescheduleRequest.ts
  packages/redux/src/returns/actions/factories/createReturnFactory.ts
  packages/redux/src/returns/actions/factories/createReturnPickupRescheduleRequestFactory.ts
  packages/redux/src/returns/actions/factories/fetchReturnFactory.ts
  packages/redux/src/returns/actions/factories/fetchReturnPickupCapabilitiesFactory.ts
  packages/redux/src/returns/actions/factories/fetchReturnPickupRescheduleRequestFactory.ts
  packages/redux/src/returns/actions/factories/fetchReturnPickupRescheduleRequestsFactory.ts
  packages/redux/src/returns/actions/factories/fetchReturnReferencesFactory.ts
  packages/redux/src/returns/actions/factories/fetchReturnsFromOrderFactory.ts
  packages/redux/src/returns/actions/factories/index.ts
  packages/redux/src/returns/actions/factories/updateReturnFactory.ts
  packages/redux/src/returns/actions/fetchReturn.ts
  packages/redux/src/returns/actions/fetchReturnPickupCapabilities.ts
  packages/redux/src/returns/actions/fetchReturnPickupRescheduleRequest.ts
  packages/redux/src/returns/actions/fetchReturnPickupRescheduleRequests.ts
  packages/redux/src/returns/actions/fetchReturnReferences.ts
  packages/redux/src/returns/actions/fetchReturnsFromOrder.ts
  packages/redux/src/returns/actions/index.ts
  packages/redux/src/returns/actions/resetReturn.ts
  packages/redux/src/returns/actions/updateReturn.ts
Labels: type: feature, :package: client, :package: redux

#395 feat(client|redux): add applepaysession related packages
  packages/core/src/payments/client/__fixtures__/postApplePaySession.fixtures.js
  packages/core/src/payments/client/__tests__/__snapshots__/postApplePaySession.test.js.snap
  packages/core/src/payments/client/__tests__/postApplePaySession.test.js
  packages/core/src/payments/client/index.js
  packages/core/src/payments/client/postApplePaySession.js
  packages/core/src/payments/redux/__fixtures__/applePaySession.fixtures.js
  packages/core/src/payments/redux/__tests__/reducer.test.js
  packages/core/src/payments/redux/__tests__/selectors.test.js
  packages/core/src/payments/redux/actionTypes.js
  packages/core/src/payments/redux/actions/__tests__/__snapshots__/doPostApplePaySession.test.js.snap
  packages/core/src/payments/redux/actions/__tests__/doPostApplePaySession.test.js
  packages/core/src/payments/redux/actions/doPostApplePaySession.js
  packages/core/src/payments/redux/actions/index.js
  packages/core/src/payments/redux/reducer.js
  packages/core/src/payments/redux/selectors.js
Labels: type: feature, :package: core

#393 feat(core): add omnitracking's product list page missing parameters
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/Omnitracking.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#377 feat(redux): add defaultCulture and defaultSubfolder keys on locale
  packages/redux/src/contents/__tests__/reducer.test.ts
  packages/redux/src/contents/__tests__/serverInitialState.test.ts
  packages/redux/src/contents/actions/__tests__/fetchCommercePages.test.ts
  packages/redux/src/contents/actions/__tests__/fetchContent.test.ts
  packages/redux/src/contents/actions/__tests__/fetchContentTypes.test.ts
  packages/redux/src/contents/actions/__tests__/fetchSEO.test.ts
  packages/redux/src/contents/actions/__tests__/resetContents.test.ts
  packages/redux/src/contents/index.ts
  packages/redux/src/index.ts
  packages/redux/src/locale/__tests__/reducer.test.ts
  packages/redux/src/locale/__tests__/selectors.test.ts
  packages/redux/src/locale/__tests__/serverInitialState.test.ts
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountries.test.ts.snap
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountry.test.ts.snap
  packages/redux/src/locale/actions/__tests__/fetchCountries.test.ts
  packages/redux/src/locale/actions/__tests__/fetchCountry.test.ts
  packages/redux/src/locale/actions/__tests__/fetchCountryCities.test.ts
  packages/redux/src/locale/actions/__tests__/fetchCountryCurrencies.test.ts
  packages/redux/src/locale/actions/__tests__/fetchCountryStates.test.ts
  packages/redux/src/locale/actions/__tests__/resetLocaleState.test.ts
  packages/redux/src/locale/actions/__tests__/setCountryCode.test.ts
  packages/redux/src/locale/index.ts
  packages/redux/src/locale/middlewares/__tests__/setCountryCode.test.ts
  packages/redux/src/locale/middlewares/setCountryCode.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/selectors.ts
  packages/redux/src/locale/serverInitialState.ts
  packages/redux/src/locale/types/reducer.types.ts
  packages/redux/src/locale/types/serverInitialState.types.ts
  packages/redux/src/types/model.types.ts
  tests/__fixtures__/locale/locale.fixtures.ts
  tsconfig.json
Labels: status: blocked, type: feature, :package: redux, :rotating_light: BREAKING CHANGE

#402 feat(core): add new get groupingProperties endpoint
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doAddBagItem.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doDeleteBagItem.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doGetBag.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doUpdateBagItem.test.js.snap
  packages/core/src/entities/schemas/product.js
  packages/core/src/products/details/client/__fixtures__/getProductGroupingProperties.fixtures.js
  packages/core/src/products/details/client/__tests__/__snapshots__/getProductGroupingProperties.test.js.snap
  packages/core/src/products/details/client/__tests__/getProductGroupingProperties.test.js
  packages/core/src/products/details/client/getColorGrouping.js
  packages/core/src/products/details/client/getProductGroupingProperties.js
  packages/core/src/products/details/client/index.js
  packages/core/src/products/details/redux/__tests__/__snapshots__/serverInitialState.test.js.snap
  packages/core/src/products/details/redux/__tests__/reducer.test.js
  packages/core/src/products/details/redux/actionTypes.js
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/doGetColorGrouping.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/doGetMeasurements.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/doGetProductAttributes.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/doGetProductDetails.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/doGetProductGrouping.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/doGetProductGroupingProperties.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/doGetProductMerchantsLocations.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/doGetProductSizeguides.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/doGetProductSizes.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/doGetRecommendedSet.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/doGetSet.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/__snapshots__/fetchProductFittings.test.js.snap
  packages/core/src/products/details/redux/actions/__tests__/doGetProductGroupingProperties.test.js
  packages/core/src/products/details/redux/actions/doGetProductGroupingProperties.js
  packages/core/src/products/details/redux/actions/index.js
  packages/core/src/products/details/redux/reducer.js
  packages/core/src/products/details/redux/selectors/__tests__/groupingProperties.test.js
  packages/core/src/products/details/redux/selectors/groupingProperties.js
  packages/core/src/products/details/redux/selectors/index.js
  packages/core/src/products/listing/redux/__tests__/__snapshots__/serverInitialState.test.js.snap
  packages/core/src/products/listing/redux/actions/__tests__/__snapshots__/doGetListing.test.js.snap
  packages/core/src/products/listing/redux/actions/__tests__/__snapshots__/doGetNextListing.test.js.snap
  packages/core/src/wishlists/redux/actions/__tests__/__snapshots__/doAddWishlistItem.test.js.snap
  packages/core/src/wishlists/redux/actions/__tests__/__snapshots__/doDeleteWishlistItem.test.js.snap
  packages/core/src/wishlists/redux/actions/__tests__/__snapshots__/doGetWishlist.test.js.snap
  packages/core/src/wishlists/redux/actions/__tests__/__snapshots__/doUpdateWishlistItem.test.js.snap
  tests/__fixtures__/products/details.fixtures.js
  tests/__fixtures__/products/products.fixtures.js
Labels: priority: high, type: feature, :package: core

#408 chore: add missing query param in getProductGrouping jsdoc
  packages/core/src/products/details/client/getProductGrouping.js
  packages/core/src/products/details/redux/actions/doGetProductGrouping.js
Labels: :package: core, ignore-for-release

#407 feat(blackout-core): add lineItems omnitracking mapping
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/Omnitracking.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#405 feat(core|redux): add order change address endpoints
  packages/core/src/orders/client/__fixtures__/getOrderShippingAddressChangeRequests.fixtures.js
  packages/core/src/orders/client/__fixtures__/postOrderShippingAddressChangeRequests.fixtures.js
  packages/core/src/orders/client/__tests__/__snapshots__/getOrderShippingAddressChangeRequests.test.js.snap
  packages/core/src/orders/client/__tests__/__snapshots__/postOrderShippingAddressChangeRequests.test.js.snap
  packages/core/src/orders/client/__tests__/getOrderShippingAddressChangeRequests.test.js
  packages/core/src/orders/client/__tests__/postOrderShippingAddressChangeRequests.test.js
  packages/core/src/orders/client/getOrderShippingAddressChangeRequests.js
  packages/core/src/orders/client/index.js
  packages/core/src/orders/client/postOrderShippingAddressChangeRequests.js
  packages/core/src/orders/redux/actionTypes.js
  packages/core/src/orders/redux/actions/__tests__/__snapshots__/doGetOrderShippingAddressChangeRequests.test.js.snap
  packages/core/src/orders/redux/actions/__tests__/__snapshots__/doPostOrderShippingAddressChangeRequests.test.js.snap
  packages/core/src/orders/redux/actions/__tests__/doGetOrderShippingAddressChangeRequests.test.js
  packages/core/src/orders/redux/actions/__tests__/doPostOrderShippingAddressChangeRequests.test.js
  packages/core/src/orders/redux/actions/doGetOrderShippingAddressChangeRequests.js
  packages/core/src/orders/redux/actions/doPostOrderShippingAddressChangeRequests.js
  packages/core/src/orders/redux/actions/index.js
  packages/core/src/orders/redux/reducer.js
Labels: type: feature, :package: redux, :package: core

#412 feat(react): refactor useWishlist
  jest.config.js
  packages/react/src/wishlists/hooks/__tests__/useWishlist.test.tsx
  packages/react/src/wishlists/hooks/__tests__/useWishlistItem.test.tsx
  packages/react/src/wishlists/hooks/types/useWishlist.ts
  packages/react/src/wishlists/hooks/types/useWishlistItem.ts
  packages/react/src/wishlists/hooks/useWishlist.ts
  packages/react/src/wishlists/hooks/useWishlistItem.ts
  packages/react/tests/helpers/react.tsx
  packages/redux/src/wishlists/selectors/wishlists.ts
  packages/redux/src/wishlists/types/state.types.ts
  tests/__fixtures__/wishlists/wishlists.fixtures.ts
Labels: status: blocked, :package: react, :package: redux, :rotating_light: BREAKING CHANGE

#409 fix: added reset function to reset auth state on react-core
  packages/react/src/authentication/hooks/__tests__/useAuthentication.test.js
  packages/react/src/authentication/hooks/useUserAuthState.js
Labels: type: bug, :package: react

#424 chore: rename `postRegister` client
  babel.config.js
  package.json
  packages/analytics/package.json
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/utils/logger.ts
  packages/client/package.json
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/users/authentication/__fixtures__/postUser.fixtures.ts
  packages/client/src/users/authentication/__tests__/__snapshots__/postUser.test.ts.snap
  packages/client/src/users/authentication/__tests__/postUser.test.ts
  packages/client/src/users/authentication/index.ts
  packages/client/src/users/authentication/postUser.ts
  packages/client/src/users/authentication/types/index.ts
  packages/client/src/users/authentication/types/postUser.types.ts
  packages/client/src/users/authentication/types/register.types.ts
  packages/react/package.json
  packages/redux/package.json
  packages/redux/src/users/authentication/actions/__tests__/login.test.ts
  packages/redux/src/users/authentication/actions/__tests__/register.test.ts
  packages/redux/src/users/authentication/actions/factories/registerFactory.ts
  packages/redux/src/users/authentication/actions/register.ts
  tests/__fixtures__/authentication/authentication.fixtures.ts
Labels: :package: client, :package: react, :package: redux, :package: analytics, :rotating_light: BREAKING CHANGE

#427 fix(redux): update keys on locale serverInitialState
  packages/redux/src/locale/serverInitialState.ts
Labels: type: bug, :package: redux
