Repository Farfetch/blackout, pull requests merged in 2022-08, with the labels that each got.

#426 fix(redux): add reducer and selectors to personal ids
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/users/personalIds/__tests__/reducer.test.ts
  packages/redux/src/users/personalIds/__tests__/selectors.test.ts
  packages/redux/src/users/personalIds/actionTypes.ts
  packages/redux/src/users/personalIds/reducer.ts
  packages/redux/src/users/personalIds/selectors.ts
  packages/redux/src/users/personalIds/types/action.types.ts
  packages/redux/src/users/personalIds/types/index.ts
  packages/redux/src/users/personalIds/types/state.types.ts
  packages/redux/src/users/reducer.ts
  packages/redux/src/users/selectors.ts
  packages/redux/src/users/types/state.types.ts
Labels: type: bug, :package: redux

#429 chore: improve compilation settings
  .browserslistrc
  babel-plugins/plugin-package-json-transformer.js
  babel.config.js
  packages/analytics/package.json
  packages/client/package.json
  packages/react/package.json
  packages/react/src/authentication/hooks/__tests__/useUserProfile.test.tsx
  packages/redux/package.json
  packages/redux/src/locale/__tests__/selectors.test.ts
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountryAddressSchemas.test.ts.snap
  packages/redux/src/locale/actions/factories/fetchCountryAddressSchemasFactory.ts
  packages/redux/src/locale/types/actions.types.ts
  tests/__fixtures__/locale/locale.fixtures.ts
Labels: :package: client, :package: react, :package: redux, :package: analytics

#428 feat(react): add useUser react hook
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/index.ts
  packages/react/src/users/hooks/__tests__/useUser.test.tsx
  packages/react/src/users/hooks/index.ts
  packages/react/src/users/hooks/types/index.ts
  packages/react/src/users/hooks/types/useUser.types.ts
  packages/react/src/users/hooks/useUser.ts
  packages/react/src/users/index.ts
  packages/react/src/wishlists/hooks/index.ts
  packages/react/src/wishlists/hooks/types/index.ts
  packages/react/src/wishlists/hooks/types/useWishlist.types.ts
  packages/react/src/wishlists/hooks/types/useWishlistItem.types.ts
  packages/react/src/wishlists/hooks/types/useWishlistSet.types.ts
  packages/react/src/wishlists/hooks/types/useWishlistSets.types.ts
  packages/react/src/wishlists/hooks/useWishlistItem.ts
  tests/__fixtures__/users/users.fixtures.ts
Labels: type: feature, :package: react

#431 fix(redux|react): fix fetched selectors
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/wishlists/hooks/useWishlist.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/bags/__tests__/selectors.test.ts
  packages/redux/src/bags/selectors.ts
  packages/redux/src/categories/reducer/__tests__/categories.test.ts
  packages/redux/src/categories/reducer/categories.ts
  packages/redux/src/categories/selectors/categories.ts
  packages/redux/src/categories/selectors/topCategories.ts
  packages/redux/src/products/reducer/__tests__/attributes.test.ts
  packages/redux/src/products/reducer/__tests__/details.test.ts
  packages/redux/src/products/reducer/__tests__/fittings.test.ts
  packages/redux/src/products/reducer/__tests__/lists.test.ts
  packages/redux/src/products/reducer/__tests__/measurements.test.ts
  packages/redux/src/products/reducer/__tests__/sizeGuides.test.ts
  packages/redux/src/products/reducer/__tests__/sizes.test.ts
  packages/redux/src/products/reducer/__tests__/variantsByMerchantsLocations.test.ts
  packages/redux/src/products/reducer/attributes.ts
  packages/redux/src/products/reducer/details.ts
  packages/redux/src/products/reducer/fittings.ts
  packages/redux/src/products/reducer/lists.ts
  packages/redux/src/products/reducer/measurements.ts
  packages/redux/src/products/reducer/sizeGuides.ts
  packages/redux/src/products/reducer/sizes.ts
  packages/redux/src/products/reducer/variantsByMerchantsLocations.ts
  packages/redux/src/products/selectors/recentlyViewedProducts.ts
  packages/redux/src/products/selectors/recommendedSet.ts
  packages/redux/src/sizeScales/selectors.ts
  packages/redux/src/wishlists/selectors/__tests__/wishlists.test.ts
  packages/redux/src/wishlists/selectors/wishlists.ts
Labels: :package: react, :package: redux

#434 fix(react): fix GA4 integration not firing PRODUCT_UPDATED.CHANGE_QUANTITY when quantity is 0
  packages/react/src/analytics/integrations/GA4/commands.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: bug, :package: react

#442 fix: added isLoading to content page hook to prevent infinite loops
  packages/react/src/content/hooks/useContentPage.js
Labels: type: bug, :package: react

#437 chore: add main branch to release script
  scripts/release.sh
Labels: type: maintenance

#436 fix: change getCountries client
  packages/client/src/locale/__fixtures__/getCountries.fixtures.ts
  packages/client/src/locale/__tests__/getCountries.test.ts
  packages/client/src/locale/getCountries.ts
  packages/client/src/locale/types/countries.ts
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountries.test.ts.snap
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountry.test.ts.snap
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountryStates.test.ts.snap
  packages/redux/src/locale/actions/__tests__/fetchCountries.test.ts
  packages/redux/src/locale/actions/factories/fetchCountriesFactory.ts
  tests/__fixtures__/locale/locale.fixtures.ts
Labels: :package: client, :package: redux, :rotating_light: BREAKING CHANGE

#445 feat(core): add omnitracking's checkout abandoned event mappings
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#435 feat(core): add omnitracking's wishlist page tracking mappings
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#440 feat(core): add omnitracking's checkout page tracking mappings
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#444 feat(core): add omnitracking's bag page tracking mappings
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#446 Feat add omnitracking edit checkout step track
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#449 fix(core): fix omnitrackings's 'navigatedFrom' parameter logic
  packages/core/src/analytics/integrations/Omnitracking/Omnitracking.js
Labels: type: bug, :package: core

#451 feat(react): add locale hooks
  packages/client/src/locale/types/country.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/index.ts
  packages/react/src/locale/hooks/__tests__/useCountries.test.tsx
  packages/react/src/locale/hooks/__tests__/useCountryAddressSchemas.test.tsx
  packages/react/src/locale/hooks/__tests__/useCountryCities.test.tsx
  packages/react/src/locale/hooks/__tests__/useCountryStates.test.tsx
  packages/react/src/locale/hooks/__tests__/useLocale.test.tsx
  packages/react/src/locale/hooks/index.ts
  packages/react/src/locale/hooks/useCountries.ts
  packages/react/src/locale/hooks/useCountryAddressSchemas.ts
  packages/react/src/locale/hooks/useCountryCities.ts
  packages/react/src/locale/hooks/useCountryStates.ts
  packages/react/src/locale/hooks/useLocale.ts
  packages/react/src/locale/index.ts
  packages/react/src/locale/types/index.ts
  packages/react/src/locale/types/useCountries.types.ts
  packages/react/src/locale/types/useCountryAddressSchemas.types.ts
  packages/react/src/locale/types/useCountryCities.types.ts
  packages/react/src/locale/types/useCountryStates.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/selectors/__tests__/cities.test.ts
  packages/redux/src/entities/selectors/__tests__/countries.test.ts
  packages/redux/src/entities/selectors/__tests__/states.test.ts
  packages/redux/src/entities/selectors/cities.ts
  packages/redux/src/entities/selectors/countries.ts
  packages/redux/src/entities/selectors/index.ts
  packages/redux/src/entities/selectors/states.ts
  packages/redux/src/entities/types/countries.types.ts
  packages/redux/src/entities/types/countryAddressSchemas.types.ts
  packages/redux/src/locale/__tests__/reducer.test.ts
  packages/redux/src/locale/__tests__/selectors.test.ts
  packages/redux/src/locale/__tests__/serverInitialState.test.ts
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountries.test.ts.snap
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountry.test.ts.snap
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountryAddressSchemas.test.ts.snap
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountryCurrencies.test.ts.snap
  packages/redux/src/locale/actions/__tests__/fetchCountries.test.ts
  packages/redux/src/locale/actions/__tests__/fetchCountryAddressSchemas.test.ts
  packages/redux/src/locale/actions/factories/fetchCountryAddressSchemasFactory.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/selectors.ts
  packages/redux/src/locale/types/actions.types.ts
  packages/redux/src/locale/types/reducer.types.ts
  packages/redux/src/types/storeState.types.ts
  packages/redux/tests/__fixtures__/initialReduxState.ts
  tests/__fixtures__/locale/locale.fixtures.ts
Labels: :package: client, :package: react, :package: redux, :rotating_light: BREAKING CHANGE

#438 chore: add v1 branch to pipeline
  .github/workflows/CI.yml
Labels: type: maintenance, ignore-for-release

#454 feat(react): add useProductSizeGuides hook
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/products/hooks/__tests__/useProductSizeGuides.test.tsx
  packages/react/src/products/hooks/index.ts
  packages/react/src/products/hooks/types/index.ts
  packages/react/src/products/hooks/types/useProductSizeGuides.ts
  packages/react/src/products/hooks/useProductSizeGuides.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/products/selectors/__tests__/sizeGuides.test.ts
  packages/redux/src/products/selectors/sizeGuides.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: type: feature, :package: react, :package: redux

#455 feat(react): add useProductAttributes hook
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/products/hooks/__tests__/useProductAttributes.test.tsx
  packages/react/src/products/hooks/index.ts
  packages/react/src/products/hooks/types/index.ts
  packages/react/src/products/hooks/types/useProductAttributes.ts
  packages/react/src/products/hooks/useProductAttributes.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: type: feature, :package: react

#456 fix(redux): fix buildBagItem
  packages/client/src/bags/types/postBagItem.types.ts
  packages/redux/src/bags/utils/buildBagItem.ts
Labels: type: bug, :package: client, :package: redux

#439 fix(redux): add productImgQueryParam to checkout order items
  packages/redux/src/checkout/actions/factories/fetchCheckoutFactory.ts
  packages/redux/src/entities/schemas/checkoutOrderItem.ts
  packages/redux/src/entities/schemas/checkoutOrderItemProduct.ts
Labels: :package: redux

#461 fix(client): fix adaptError for errors with no response description
  packages/client/src/helpers/client/__fixtures__/errors.fixtures.ts
  packages/client/src/helpers/client/__tests__/__snapshots__/formatError.test.ts.snap
  packages/client/src/helpers/client/__tests__/formatError.test.ts
  packages/client/src/helpers/client/formatError.ts
  packages/client/src/helpers/client/types/formatError.types.ts
Labels: type: bug, :package: client

#457 feat(react): add user addresses hooks
  packages/client/src/forms/postFormData.ts
  packages/client/src/forms/types/index.ts
  packages/client/src/forms/types/postFormData.types.ts
  packages/client/src/forms/types/postFormSchema.types.ts
  packages/client/src/forms/types/submittedFormData.types.ts
  packages/client/src/products/types/product.types.ts
  packages/client/src/types/common/address.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/locale/hooks/__tests__/useCountryAddressSchemas.test.tsx
  packages/react/src/locale/hooks/useCountryAddressSchemas.ts
  packages/react/src/users/hooks/__tests__/useUser.test.ts
  packages/react/src/users/hooks/__tests__/useUserAddress.test.ts
  packages/react/src/users/hooks/__tests__/useUserAddresses.test.tsx
  packages/react/src/users/hooks/index.ts
  packages/react/src/users/hooks/types/index.ts
  packages/react/src/users/hooks/types/useUserAddress.types.ts
  packages/react/src/users/hooks/types/useUserAddresses.types.ts
  packages/react/src/users/hooks/useUserAddress.ts
  packages/react/src/users/hooks/useUserAddresses.ts
  packages/react/tests/helpers/flushPromises.ts
  packages/react/tests/helpers/index.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/forms/actions/factories/submitFormDataFactory.ts
  packages/redux/src/forms/actions/factories/types/SubmitFormDataFactory.types.ts
  packages/redux/src/forms/actions/factories/types/SubmitFormSchemaFactory.types.ts
  packages/redux/src/forms/actions/factories/types/index.ts
  packages/redux/src/forms/types/action.types.ts
  packages/redux/src/users/addresses/__tests__/reducer.test.ts
  packages/redux/src/users/addresses/actions/__tests__/__snapshots__/fetchUserAddress.test.ts.snap
  packages/redux/src/users/addresses/actions/__tests__/__snapshots__/fetchUserAddresses.test.ts.snap
  packages/redux/src/users/addresses/actions/__tests__/__snapshots__/fetchUserDefaultContactAddress.test.ts.snap
  packages/redux/src/users/addresses/actions/factories/removeUserAddressFactory.ts
  packages/redux/src/users/addresses/reducer.ts
  packages/redux/src/users/addresses/selectors.ts
  tests/__fixtures__/addresses/addresses.fixtures.ts
  tests/__fixtures__/users/addresses.fixtures.ts
  tests/__fixtures__/users/users.fixtures.ts
Labels: :package: client, :package: react, :package: redux

#463 Fix(client|react|redux): rename locale selectors
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/locale/__fixtures__/getCountryStateCities.fixtures.ts
  packages/client/src/locale/__tests__/__snapshots__/getCountryStateCities.test.ts.snap
  packages/client/src/locale/__tests__/getCountryStateCities.test.ts
  packages/client/src/locale/getCountryStateCities.ts
  packages/client/src/locale/index.ts
  packages/client/src/locale/types/cities.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/locale/hooks/__tests__/useCountryStateCities.test.tsx
  packages/react/src/locale/hooks/__tests__/useLocale.test.tsx
  packages/react/src/locale/hooks/index.ts
  packages/react/src/locale/hooks/useCountryCities.ts
  packages/react/src/locale/hooks/useCountryStateCities.ts
  packages/react/src/locale/types/index.ts
  packages/react/src/locale/types/useCountryStateCities.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/locale/__tests__/reducer.test.ts
  packages/redux/src/locale/__tests__/selectors.test.ts
  packages/redux/src/locale/actionTypes.ts
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountryStateCities.test.ts.snap
  packages/redux/src/locale/actions/__tests__/fetchCountryStateCities.test.ts
  packages/redux/src/locale/actions/factories/fetchCountryStateCitiesFactory.ts
  packages/redux/src/locale/actions/factories/index.ts
  packages/redux/src/locale/actions/fetchCountryCities.ts
  packages/redux/src/locale/actions/fetchCountryStateCities.ts
  packages/redux/src/locale/actions/index.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/selectors.ts
  packages/redux/src/locale/types/actions.types.ts
  tests/__fixtures__/locale/locale.fixtures.ts
Labels: :package: client, :package: react, :package: redux, :rotating_light: BREAKING CHANGE

#460 chore(redux): migrate reducers action types to anyAction
  packages/redux/src/addresses/reducer.ts
  packages/redux/src/bags/reducer.ts
  packages/redux/src/brands/reducer.ts
  packages/redux/src/categories/reducer/categories.ts
  packages/redux/src/categories/reducer/topCategories.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/contents/reducer.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/loyalty/reducer.ts
  packages/redux/src/merchantsLocations/reducer.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/payments/reducer.ts
  packages/redux/src/products/reducer/attributes.ts
  packages/redux/src/products/reducer/details.ts
  packages/redux/src/products/reducer/fittings.ts
  packages/redux/src/products/reducer/grouping.ts
  packages/redux/src/products/reducer/lists.ts
  packages/redux/src/products/reducer/measurements.ts
  packages/redux/src/products/reducer/recommendedSet.ts
  packages/redux/src/products/reducer/sizeGuides.ts
  packages/redux/src/products/reducer/sizes.ts
  packages/redux/src/products/reducer/variantsByMerchantsLocations.ts
  packages/redux/src/promotionEvaluations/reducer.ts
  packages/redux/src/returns/reducer.ts
  packages/redux/src/search/reducer/searchDidYouMean.ts
  packages/redux/src/search/reducer/searchIntents.ts
  packages/redux/src/search/reducer/searchSuggestions.ts
  packages/redux/src/sizeGuides/reducer.ts
  packages/redux/src/sizeScales/reducer.ts
  packages/redux/src/staffMembers/reducer.ts
  packages/redux/src/wishlists/reducer/wishlists.ts
  packages/redux/src/wishlists/reducer/wishlistsSets.ts
Labels: type: enhancement, :package: redux

#464 chore(redux): update reducers export to use Reducer type
  packages/client/src/products/types/product.types.ts
  packages/redux/src/addresses/reducer.ts
  packages/redux/src/bags/reducer.ts
  packages/redux/src/brands/reducer.ts
  packages/redux/src/categories/reducer/categories.ts
  packages/redux/src/categories/reducer/topCategories.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/contents/reducer.ts
  packages/redux/src/forms/reducer.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/loyalty/reducer.ts
  packages/redux/src/merchantsLocations/reducer.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/types/state.types.ts
  packages/redux/src/payments/reducer.ts
  packages/redux/src/products/reducer/__tests__/recommendedSet.test.ts
  packages/redux/src/products/reducer/attributes.ts
  packages/redux/src/products/reducer/details.ts
  packages/redux/src/products/reducer/fittings.ts
  packages/redux/src/products/reducer/grouping.ts
  packages/redux/src/products/reducer/index.ts
  packages/redux/src/products/reducer/lists.ts
  packages/redux/src/products/reducer/measurements.ts
  packages/redux/src/products/reducer/recentlyViewedProducts.ts
  packages/redux/src/products/reducer/recommendedProducts.ts
  packages/redux/src/products/reducer/recommendedSet.ts
  packages/redux/src/products/reducer/sizeGuides.ts
  packages/redux/src/products/reducer/sizes.ts
  packages/redux/src/products/reducer/variantsByMerchantsLocations.ts
  packages/redux/src/products/types/state/recommendedSet.state.types.ts
  packages/redux/src/promotionEvaluations/reducer.ts
  packages/redux/src/returns/reducer.ts
  packages/redux/src/returns/types/actions.types.ts
  packages/redux/src/returns/types/state.types.ts
  packages/redux/src/search/reducer/searchDidYouMean.ts
  packages/redux/src/search/reducer/searchIntents.ts
  packages/redux/src/search/reducer/searchSuggestions.ts
  packages/redux/src/sizeGuides/reducer.ts
  packages/redux/src/sizeScales/reducer.ts
  packages/redux/src/staffMembers/reducer.ts
  packages/redux/src/subscriptions/reducer/subscriptionPackages.ts
  packages/redux/src/subscriptions/reducer/userSubscriptions.ts
  packages/redux/src/types/index.ts
  packages/redux/src/types/reducerSwitch.types.ts
  packages/redux/src/users/addresses/reducer.ts
  packages/redux/src/users/attributes/reducer.ts
  packages/redux/src/users/authentication/reducer.ts
  packages/redux/src/users/personalIds/reducer.ts
  packages/redux/src/users/reducer.ts
  packages/redux/src/wishlists/reducer/wishlists.ts
  packages/redux/src/wishlists/reducer/wishlistsSets.ts
Labels: :package: client, :package: redux

#465 chore(client|redux): remove size scale mappings
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/sizeScales/__fixtures__/getSizeScaleMappings.fixtures.ts
  packages/client/src/sizeScales/__tests__/__snapshots__/getSizeScaleMappings.test.ts.snap
  packages/client/src/sizeScales/__tests__/getSizeScaleMappings.test.ts
  packages/client/src/sizeScales/getSizeScaleMappings.ts
  packages/client/src/sizeScales/index.ts
  packages/client/src/sizeScales/types/getSizeScaleMappings.types.ts
  packages/client/src/sizeScales/types/index.ts
  packages/client/src/sizeScales/types/sizeScaleMapping.types.ts
  packages/client/src/sizeScales/types/sizeScaleMappingsQuery.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/sizeScales/__tests__/reducer.test.ts
  packages/redux/src/sizeScales/__tests__/selectors.test.ts
  packages/redux/src/sizeScales/__tests__/utils.test.ts
  packages/redux/src/sizeScales/actionTypes.ts
  packages/redux/src/sizeScales/actions/__tests__/fetchSizeScaleMappings.test.ts
  packages/redux/src/sizeScales/actions/factories/fetchSizeScaleMappingsFactory.ts
  packages/redux/src/sizeScales/actions/factories/index.ts
  packages/redux/src/sizeScales/actions/fetchSizeScaleMappings.ts
  packages/redux/src/sizeScales/actions/index.ts
  packages/redux/src/sizeScales/reducer.ts
  packages/redux/src/sizeScales/selectors.ts
  packages/redux/src/sizeScales/types/action.types.ts
  packages/redux/src/sizeScales/types/state.types.ts
  packages/redux/src/sizeScales/utils.ts
  tests/__fixtures__/sizeScales/index.ts
  tests/__fixtures__/sizeScales/sizeScaleMappings.fixtures.ts
Labels: :package: client, :package: redux, :package: core

#466 feat(redux): add result return on doGetProfile
  packages/core/src/profile/client/getProfile.js
  packages/core/src/profile/redux/actions/doGetProfile.js
Labels: type: feature, :package: redux, :package: core

#470 feat(core): add new selector for order splitting
  packages/core/src/orders/redux/__fixtures__/orders.fixtures.js
  packages/core/src/orders/redux/__tests__/selectors.test.js
  packages/core/src/orders/redux/selectors.js
Labels: type: feature, :package: core

#425 feat(redux): add request pagination on commercepage v2 endpoint
  packages/core/src/contents/client/__fixtures__/commercepages.fixtures.js
  packages/core/src/contents/client/__tests__/getCommercePages.test.js
  packages/core/src/contents/client/getCommercePages.js
  packages/core/src/contents/redux/actions/__tests__/__snapshots__/doGetCommercePages.test.js.snap
  packages/core/src/contents/redux/actions/__tests__/doGetCommercePages.test.js
  packages/core/src/contents/redux/actions/doGetCommercePages.js
  tests/__fixtures__/contents/commercePages.fixtures.js
Labels: type: feature, :package: redux, :package: core

#471 feat(react): add usePaymentTokens hook
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/index.ts
  packages/react/src/payments/hooks/__tests__/usePaymentTokens.test.tsx
  packages/react/src/payments/hooks/index.ts
  packages/react/src/payments/hooks/types/index.ts
  packages/react/src/payments/hooks/types/usePaymentTokens.types.ts
  packages/react/src/payments/hooks/usePaymentTokens.ts
  packages/react/src/payments/index.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/payments/__tests__/reducer.test.ts
  packages/redux/src/payments/__tests__/selectors.test.ts
  packages/redux/src/payments/reducer.ts
  packages/redux/src/payments/selectors.ts
Labels: type: feature, :package: react, :package: redux
