Repository Farfetch/blackout, pull requests merged in 2022-10, with the labels that each got.

#516 feat(analytics): upgrade omnitracking's contract to v1.15
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: :package: analytics

#517 feat(analytics): add omnitracking pre-calculated parameters
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/types/Omnitracking.types.ts
Labels: type: feature, :package: analytics

#521 feat(client): add getConfiguration client
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/settings/__fixtures__/getConfiguration.fixtures.ts
  packages/client/src/settings/__tests__/__snapshots__/getConfiguration.test.ts.snap
  packages/client/src/settings/__tests__/getConfiguration.test.ts
  packages/client/src/settings/__tests__/getConfigurations.test.ts
  packages/client/src/settings/getConfiguration.ts
  packages/client/src/settings/index.ts
  packages/client/src/settings/types/configuration.ts
  packages/client/src/settings/types/configurationQuery.ts
  packages/client/src/settings/types/configurationsQuery.ts
  packages/client/src/settings/types/getConfiguration.ts
  packages/client/src/settings/types/getConfigurations.ts
  packages/client/src/settings/types/index.ts
  packages/client/src/settings/types/property.ts
  packages/client/src/settings/types/resource.ts
Labels: :package: client

#523 chore(client): make query param optional on configuration clients
  packages/client/src/settings/__tests__/getConfiguration.test.ts
  packages/client/src/settings/types/getConfiguration.ts
  packages/client/src/settings/types/getConfigurations.ts
Labels: type: enhancement, :package: client

#524 feat(analytics|react): add product details and listing pages to omnitracking
  packages/analytics/src/Analytics.ts
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/analytics/src/types/analytics.types.ts
  packages/react/src/analytics/__tests__/context.test.ts
  packages/react/src/analytics/context.ts
  tests/__fixtures__/analytics/baseAnalyticsEventData.fixtures.ts
  tests/__fixtures__/analytics/page/index.ts
  tests/__fixtures__/analytics/page/listingPageData.fixtures.ts
  tests/__fixtures__/analytics/page/productPageData.fixtures.ts
Labels: type: feature, :package: react, :package: analytics

#527 fix(analytics|react): fix omnitracking's clientLanguage and clientCountry parameters
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/__fixtures__/expectedPagePayloadMobile.fixtures.ts
  packages/analytics/src/integrations/Omnitracking/__fixtures__/expectedPagePayloadUnknown.fixtures.ts
  packages/analytics/src/integrations/Omnitracking/__fixtures__/expectedPagePayloadWeb.fixtures.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/Omnitracking/Omnitracking.ts
  packages/react/src/analytics/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/react/src/analytics/integrations/Omnitracking/omnitracking-web-helper.ts
  tests/__fixtures__/analytics/baseAnalyticsEventData.fixtures.ts
Labels: :package: react, :package: analytics

#528 feat(analytics): add omnitracking's checkout abandoned event mappings
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: type: feature, :package: analytics

#530 Feat add checkout order placed omnitracking next
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
Labels: type: feature, :package: analytics

#531 feat(analytics): add omnitracking's checkout started and checkout page view event mappings
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  tests/__fixtures__/analytics/page/checkoutPageData.fixtures.ts
  tests/__fixtures__/analytics/page/index.ts
Labels: :package: analytics

#534 feat(analytics): remove percentage in scroll event
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react

#526 fix(client|redux): fix content redux exports
  packages/client/src/contents/__tests__/getSearchContents.test.ts
  packages/client/src/contents/getSearchContents.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/index.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/contents/index.ts
Labels: type: bug, :package: client, :package: react, :package: redux

#520 fix(redux): ts errors on redux selectors
  packages/client/src/contents/types/contents.types.ts
  packages/react/src/locale/hooks/__tests__/useCountryAddressSchemas.test.tsx
  packages/redux/src/contents/utils.ts
  packages/redux/src/entities/selectors/__tests__/entity.test.ts
  packages/redux/src/locale/__tests__/selectors.test.ts
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountries.test.ts.snap
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountry.test.ts.snap
  packages/redux/src/locale/actions/__tests__/__snapshots__/fetchCountryAddressSchemas.test.ts.snap
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/returns/__tests__/selectors.test.ts
  packages/redux/src/sizeGuides/__tests__/selectors.test.ts
  packages/redux/src/sizeScales/__tests__/selectors.test.ts
  packages/redux/src/users/authentication/__tests__/selectors.test.ts
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/login.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/register.test.ts.snap
  packages/redux/src/wishlists/actions/__tests__/__snapshots__/addWishlistItem.test.ts.snap
  packages/redux/src/wishlists/actions/__tests__/__snapshots__/fetchWishlist.test.ts.snap
  packages/redux/src/wishlists/actions/__tests__/__snapshots__/removeWishlistItem.test.ts.snap
  packages/redux/src/wishlists/actions/__tests__/__snapshots__/updateWishlistItem.test.ts.snap
  packages/redux/src/wishlists/selectors/__tests__/wishlists.test.ts
  packages/redux/src/wishlists/selectors/__tests__/wishlistsSets.test.ts
  tests/__fixtures__/analytics/wishlist/wishlist.fixtures.ts
  tests/__fixtures__/authentication/authentication.fixtures.ts
  tests/__fixtures__/locale/locale.fixtures.ts
  tests/__fixtures__/merchantsLocations/merchantsLocations.fixtures.ts
  tests/__fixtures__/payments/payments.fixtures.ts
  tests/__fixtures__/promotionEvaluations/promotionEvaluations.fixtures.ts
  tests/__fixtures__/returns/returns.fixtures.ts
  tests/__fixtures__/search/searchDidYouMean.fixtures.ts
  tests/__fixtures__/search/searchIntents.fixtures.ts
  tests/__fixtures__/search/searchSuggestions.fixtures.ts
  tests/__fixtures__/sizeGuides/sizeGuides.fixtures.ts
  tests/__fixtures__/users/authentication.fixtures.ts
  tests/__fixtures__/users/index.ts
  tests/__fixtures__/wishlists/wishlists.fixtures.ts
Labels: :package: client, :package: react, :package: redux

#536 feat(analytics): add omnitracking's share event mappings
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  tests/__fixtures__/analytics/track/shareTrackData.fixtures.ts
Labels: type: feature, :package: analytics

#540 feat(analytics): add omnitracking's address info mappings
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  tests/__fixtures__/analytics/track/addressInfoAddedTrackData.fixtures.ts
Labels: :package: react, :package: analytics

#542 feat(analytics): add omnitracking's shipping and payment mappings
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  tests/__fixtures__/analytics/track/shippingInfoAddedTrackData.fixtures.ts
  tests/__fixtures__/analytics/track/shippingMethodAddedTrackData.fixtures.ts
Labels: :package: react, :package: analytics

#537 fix(core): split by merchant validation
  packages/core/src/orders/client/helpers/adaptOrderDetails.js
  packages/core/src/orders/client/postOrderItemActivities.js
  packages/core/src/orders/redux/actions/__tests__/__snapshots__/doGetOrderDetails.test.js.snap
  packages/core/src/orders/redux/actions/doGetOrderDetails.js
  packages/core/src/orders/redux/actions/doPostOrderItemActivities.js
Labels: type: bug, :package: core

#548 Weekly Release - 18-10-22
  packages/core/src/orders/client/helpers/adaptOrderDetails.js
  packages/core/src/orders/client/postOrderItemActivities.js
  packages/core/src/orders/redux/actions/__tests__/__snapshots__/doGetOrderDetails.test.js.snap
  packages/core/src/orders/redux/actions/doGetOrderDetails.js
  packages/core/src/orders/redux/actions/doPostOrderItemActivities.js
Labels: :package: core

#543 feat(redux): configurations actions
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/settings/__tests__/getConfiguration.test.ts
  packages/client/src/settings/__tests__/getConfigurations.test.ts
  packages/client/src/settings/types/configuration.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  packages/redux/src/entities/reducer/createDefaultEntitiesReducer.ts
  packages/redux/src/entities/schemas/configuration.ts
  packages/redux/src/entities/types/configurations.types.ts
  packages/redux/src/index.ts
  packages/redux/src/settings/actionTypes.ts
  packages/redux/src/settings/actions/__tests__/fetchConfiguration.test.ts
  packages/redux/src/settings/actions/__tests__/fetchConfigurations.test.ts
  packages/redux/src/settings/actions/__tests__/resetConfigurationsState.test.ts
  packages/redux/src/settings/actions/factories/fetchConfigurationFactory.ts
  packages/redux/src/settings/actions/factories/fetchConfigurationsFactory.ts
  packages/redux/src/settings/actions/factories/index.ts
  packages/redux/src/settings/actions/fetchConfiguration.ts
  packages/redux/src/settings/actions/fetchConfigurations.ts
  packages/redux/src/settings/actions/index.ts
  packages/redux/src/settings/actions/resetConfigurationsState.ts
  packages/redux/src/settings/index.ts
  packages/redux/src/settings/reducer/__tests__/configuration.test.ts
  packages/redux/src/settings/reducer/__tests__/configurations.test.ts
  packages/redux/src/settings/reducer/configuration.ts
  packages/redux/src/settings/reducer/configurations.ts
  packages/redux/src/settings/reducer/index.ts
  packages/redux/src/settings/selectors/__tests__/configuration.test.ts
  packages/redux/src/settings/selectors/__tests__/configurations.test.ts
  packages/redux/src/settings/selectors/configuration.ts
  packages/redux/src/settings/selectors/configurations.ts
  packages/redux/src/settings/selectors/index.ts
  packages/redux/src/settings/types/action.types.ts
  packages/redux/src/settings/types/index.ts
  packages/redux/src/settings/types/state.types.ts
  packages/redux/src/types/storeState.types.ts
  tests/__fixtures__/settings/configurations.fixtures.ts
  tests/__fixtures__/settings/index.ts
Labels: :package: client, :package: redux

#549 feat(analytics|redux): add omnitracking's bag events mappings next
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/redux/src/analytics/middlewares/__tests__/bag.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
Labels: type: feature, :package: redux, :package: analytics

#551 fix(analytics): make use of omnitracking's page events mapper
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/types/Omnitracking.types.ts
Labels: :package: analytics

#546 feat(analytics): add omnitracking's select content events mappings
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/analytics/src/integrations/Omnitracking/types/Omnitracking.types.ts
  tests/__fixtures__/analytics/track/selectContentTrackData.fixtures.ts
Labels: type: feature, :package: analytics

#552 feat(analytics): add omnitracking's wishlist events mappings next
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: type: feature, :package: analytics

#553 feat(core): review return endpoints
  packages/core/src/returns/client/getReturn.js
  packages/core/src/returns/client/getReturnsFromOrder.js
  packages/core/src/returns/client/postReturn.js
Labels: type: feature, :package: core

#554 feat(analytics|react): add omnitracking's signup newsletter events mappings
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/analytics/src/types/index.ts
  packages/analytics/src/types/signupNewsletterGenderTypes.ts
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  packages/react/src/analytics/integrations/shared/dataMappings/index.ts
Labels: type: feature, :package: react, :package: analytics

#555 fix(analytics): remove omnitracking's duplicated events
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: :package: analytics

#557 feat(analytics): add omnitracking's filters events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: type: feature, :package: analytics

#559 fix(analytics|react): fix checkout steps mapping for GA4 and omnitracking parity
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
Labels: :package: analytics

#567 fix(react): fix getListingSeoMetadataParams params
  packages/react/src/contents/types/metatags.types.ts
  packages/react/src/contents/utils/__tests__/getListingSeoMetadataParams.test.ts
  packages/react/src/contents/utils/getListingSeoMetadataParams.ts
Labels: :package: react

#566 chore(react): update castle.io dependency - next
  packages/react/package.json
  yarn.lock
Labels: :package: react

#556 feat(react): settings hooks
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/index.ts
  packages/react/src/settings/hooks/__tests__/useConfiguration.test.tsx
  packages/react/src/settings/hooks/__tests__/useConfigurations.test.tsx
  packages/react/src/settings/hooks/index.ts
  packages/react/src/settings/hooks/types/index.ts
  packages/react/src/settings/hooks/types/useConfiguration.ts
  packages/react/src/settings/hooks/types/useConfigurations.ts
  packages/react/src/settings/hooks/useConfiguration.ts
  packages/react/src/settings/hooks/useConfigurations.ts
  packages/react/src/settings/index.ts
  tests/__fixtures__/settings/configurations.fixtures.ts
Labels: :package: react

#561 feat(analytics|react): add omnitracking's interact content events mappings next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  tests/__fixtures__/analytics/track/interactContentTrackData.fixtures.ts
Labels: type: feature, :package: react, :package: analytics

#564 feat(analytics|react): add omnitracking's scroll track on interact content event mappings next
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: type: feature, :package: analytics
