Repository Farfetch/blackout, pull requests merged in 2022-04, with the labels that each got.

#251 fix(blackout-core): fix `getWishlistItemIdFromAction` function next
  packages/redux/src/analytics/middlewares/wishlist.js
Labels: type: bug, :package: redux

#250 fix(blackout-core): fix `getWishlistItemIdFromAction` function
  packages/core/src/analytics/redux/middlewares/wishlist.js
Labels: type: bug, :package: core

#249 fix(blackout-react): ignore unhandled events in ga/ga4
  packages/react/src/analytics/integrations/GA/GA.ts
  packages/react/src/analytics/integrations/GA/__tests__/GA.test.ts
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.js
Labels: type: bug, :package: react

#253 fix(blackout-client): fix logout in axios interceptor
  packages/client/src/helpers/client/interceptors/authentication/AxiosAuthenticationTokenManager.js
  packages/react/src/authentication/hooks/__tests__/useAuthentication.test.tsx
Labels: type: bug, :package: client, :package: react

#246 fix(blackout-client|blackout-redux): fix updateUserSubscriptions action
  packages/client/src/subscriptions/__fixtures__/putSubscriptions.fixtures.ts
  packages/client/src/subscriptions/__tests__/putSubscriptions.test.ts
  packages/client/src/subscriptions/deleteRecipientFromTopic.ts
  packages/client/src/subscriptions/deleteSubscription.ts
  packages/client/src/subscriptions/getSubscriptionPackages.ts
  packages/client/src/subscriptions/getSubscriptions.ts
  packages/client/src/subscriptions/index.ts
  packages/client/src/subscriptions/putSubscriptions.ts
  packages/client/src/subscriptions/types/putSubscriptions.types.ts
  packages/redux/src/entities/selectors/__tests__/entity.test.ts
  packages/redux/src/entities/selectors/entity.ts
  packages/redux/src/subscriptions/__tests__/selectors.test.ts
  packages/redux/src/subscriptions/actions/__tests__/__snapshots__/updateUserSubscriptions.test.ts.snap
  packages/redux/src/subscriptions/actions/__tests__/updateUserSubscriptions.test.ts
  packages/redux/src/subscriptions/actions/factories/updateUserSubscriptionsFactory.ts
  packages/redux/src/subscriptions/reducer/__tests__/user.test.ts
  packages/redux/src/subscriptions/reducer/user.ts
  packages/redux/src/subscriptions/selectors.ts
  packages/redux/src/subscriptions/types/action.types.ts
  packages/redux/src/subscriptions/types/state.types.ts
  packages/redux/src/wishlists/selectors/wishlists.ts
  tests/__fixtures__/subscriptions/state.fixtures.ts
  tests/__fixtures__/subscriptions/subscriptions.fixtures.ts
Labels: type: bug, :package: client, :package: redux, :rotating_light: BREAKING CHANGE

#252 fix(blackout-core): fix logout in axios interceptor
  packages/core/src/helpers/client/interceptors/authentication/AxiosAuthenticationTokenManager.js
  packages/react/src/authentication/hooks/__tests__/useAuthentication.test.js
Labels: type: bug, :package: react, :package: core

#247 feat(blackout-analytics|blackout-redux): convert analytic's user middleware
  packages/analytics/src/Analytics.ts
  packages/analytics/src/User.ts
  packages/redux/src/analytics/middlewares/__tests__/setUser.test.ts
  packages/redux/src/analytics/middlewares/setUser.ts
  packages/redux/src/analytics/middlewares/types/index.ts
  packages/redux/src/analytics/middlewares/types/setUser.types.ts
Labels: type: feature, :package: redux, :package: analytics

#259 refactor(client): remove entities folder from client and redux folder from helpers
  packages/client/src/entities/redux/index.js
  packages/client/src/entities/redux/selectors/__tests__/benefits.test.js
  packages/client/src/entities/redux/selectors/__tests__/preferences.test.js
  packages/client/src/entities/redux/selectors/benefits.js
  packages/client/src/entities/redux/selectors/brands.js
  packages/client/src/entities/redux/selectors/categories.js
  packages/client/src/entities/redux/selectors/entity.js
  packages/client/src/entities/redux/selectors/facets.js
  packages/client/src/entities/redux/selectors/index.js
  packages/client/src/entities/redux/selectors/merchants.js
  packages/client/src/entities/redux/selectors/preferences.js
  packages/client/src/entities/redux/selectors/products.js
  packages/client/src/entities/schemas/addresses.js
  packages/client/src/entities/schemas/benefit.js
  packages/client/src/entities/schemas/brand.js
  packages/client/src/entities/schemas/category.js
  packages/client/src/entities/schemas/checkoutOrder.js
  packages/client/src/entities/schemas/checkoutOrderItem.js
  packages/client/src/entities/schemas/contact.js
  packages/client/src/entities/schemas/convert.js
  packages/client/src/entities/schemas/membership.js
  packages/client/src/entities/schemas/merchant.js
  packages/client/src/entities/schemas/preference.js
  packages/client/src/entities/schemas/product.js
  packages/client/src/entities/schemas/program.js
  packages/client/src/entities/schemas/replacement.js
  packages/client/src/entities/schemas/statement.js
  packages/client/src/entities/schemas/titles.js
  packages/client/src/entities/schemas/tracking.js
  packages/client/src/helpers/redux/__fixtures__/createMergedObject.fixtures.js
  packages/client/src/helpers/redux/__tests__/__snapshots__/serverInitialState.test.js.snap
  packages/client/src/helpers/redux/__tests__/createMergedObject.test.js
  packages/client/src/helpers/redux/__tests__/reducerFactory.test.js
  packages/client/src/helpers/redux/__tests__/serverInitialState.test.js
  packages/client/src/helpers/redux/createMergedObject.ts
  packages/client/src/helpers/redux/index.ts
  packages/client/src/helpers/redux/reducerFactory.ts
  packages/client/src/helpers/redux/serverInitialState.ts
  packages/redux/src/entities/schemas/courier.ts
  packages/redux/src/entities/schemas/labelTracking.ts
  packages/redux/src/entities/schemas/order.ts
  packages/redux/src/entities/schemas/returnOption.ts
  packages/redux/src/entities/selectors/entity.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/returns/__tests__/selectors.test.ts
  packages/redux/src/returns/selectors.ts
Labels: type: enhancement, :package: client, :package: redux

#254 feat(react): add castle 2.0 analytics' integration
  packages/react/package.json
  packages/react/src/analytics/integrations/Castle/Castle.js
  packages/react/src/analytics/integrations/Castle/CastleV1.js
  packages/react/src/analytics/integrations/Castle/CastleV2.js
  packages/react/src/analytics/integrations/Castle/index.js
  packages/react/src/analytics/integrations/__fixtures__/analyticsPageData.fixtures.json
  packages/react/src/analytics/integrations/__tests__/Castle.test.js
  packages/react/src/analytics/integrations/__tests__/CastleV1.test.js
  packages/react/src/analytics/integrations/__tests__/CastleV2.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/CastleV1.test.js.snap
  yarn.lock
Labels: type: feature, :package: react

#263 fix(react): update integration options contract
  packages/react/src/analytics/integrations/Castle/Castle.js
  packages/react/src/analytics/integrations/Castle/CastleV2.js
  packages/react/src/analytics/integrations/__tests__/Castle.test.js
  packages/react/src/analytics/integrations/__tests__/CastleV2.test.js
Labels: type: bug, :package: react

#256 feat(react): add base components to render components
  packages/react/src/content/components/Component.js
  packages/react/src/content/components/base/__tests__/CallToAction.test.js
  packages/react/src/content/components/base/__tests__/ComponentsList.test.js
  packages/react/src/content/components/base/__tests__/Html.test.js
  packages/react/src/content/components/base/__tests__/__snapshots__/CallToAction.test.js.snap
  packages/react/src/content/components/base/__tests__/__snapshots__/ComponentsList.test.js.snap
  packages/react/src/content/components/base/__tests__/__snapshots__/Html.test.js.snap
  packages/react/src/content/components/base/__tests__/__snapshots__/text.test.js.snap
  packages/react/src/content/components/base/__tests__/text.test.js
  packages/react/src/content/components/base/callToAction/CallToAction.js
  packages/react/src/content/components/base/componentsList/ComponentsList.js
  packages/react/src/content/components/base/html/Html.js
  packages/react/src/content/components/base/index.js
  packages/react/src/content/components/base/text/Text.js
Labels: type: feature, :package: react

#261 feat(blackout-analytics): update Omnitracking contract to v1.13 - next
  packages/analytics/src/integrations/Omnitracking/Omnitracking.js
  packages/analytics/src/integrations/Omnitracking/__fixtures__/expectedPagePayloadMobile.fixtures.js
  packages/analytics/src/integrations/Omnitracking/__fixtures__/expectedPagePayloadUnknown.fixtures.js
  packages/analytics/src/integrations/Omnitracking/__fixtures__/expectedPagePayloadWeb.fixtures.js
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.js
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/analytics/src/integrations/Omnitracking/definitions.js
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.js
Labels: type: feature, :package: analytics

#266 feat(core): add phone token validation endpoints
  packages/core/src/profile/client/__fixtures__/postPhoneNumberValidations.fixtures.js
  packages/core/src/profile/client/__fixtures__/postPhoneTokenValidations.fixtures.js
  packages/core/src/profile/client/__fixtures__/postPhoneTokens.fixtures.js
  packages/core/src/profile/client/__tests__/__snapshots__/postPhoneNumberValidations.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/postPhoneTokenValidations.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/postPhoneTokens.test.js.snap
  packages/core/src/profile/client/__tests__/postPhoneNumberValidations.test.js
  packages/core/src/profile/client/__tests__/postPhoneTokenValidations.test.js
  packages/core/src/profile/client/__tests__/postPhoneTokens.test.js
  packages/core/src/profile/client/index.js
  packages/core/src/profile/client/postPhoneNumberValidations.js
  packages/core/src/profile/client/postPhoneTokenValidations.js
  packages/core/src/profile/client/postPhoneTokens.js
  packages/core/src/profile/redux/actionTypes.js
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPostPhoneNumberValidations.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPostPhoneToken.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPostPhoneTokenValidations.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/doPostPhoneNumberValidations.test.js
  packages/core/src/profile/redux/actions/__tests__/doPostPhoneToken.test.js
  packages/core/src/profile/redux/actions/__tests__/doPostPhoneTokenValidations.test.js
  packages/core/src/profile/redux/actions/doPostPhoneNumberValidations.js
  packages/core/src/profile/redux/actions/doPostPhoneToken.js
  packages/core/src/profile/redux/actions/doPostPhoneTokenValidations.js
  packages/core/src/profile/redux/actions/index.js
Labels: type: feature, :package: core

#269 Release 19-04-22
  packages/core/src/profile/client/__fixtures__/postPhoneNumberValidations.fixtures.js
  packages/core/src/profile/client/__fixtures__/postPhoneTokenValidations.fixtures.js
  packages/core/src/profile/client/__fixtures__/postPhoneTokens.fixtures.js
  packages/core/src/profile/client/__tests__/__snapshots__/postPhoneNumberValidations.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/postPhoneTokenValidations.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/postPhoneTokens.test.js.snap
  packages/core/src/profile/client/__tests__/postPhoneNumberValidations.test.js
  packages/core/src/profile/client/__tests__/postPhoneTokenValidations.test.js
  packages/core/src/profile/client/__tests__/postPhoneTokens.test.js
  packages/core/src/profile/client/index.js
  packages/core/src/profile/client/postPhoneNumberValidations.js
  packages/core/src/profile/client/postPhoneTokenValidations.js
  packages/core/src/profile/client/postPhoneTokens.js
  packages/core/src/profile/redux/actionTypes.js
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPostPhoneNumberValidations.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPostPhoneToken.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPostPhoneTokenValidations.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/doPostPhoneNumberValidations.test.js
  packages/core/src/profile/redux/actions/__tests__/doPostPhoneToken.test.js
  packages/core/src/profile/redux/actions/__tests__/doPostPhoneTokenValidations.test.js
  packages/core/src/profile/redux/actions/doPostPhoneNumberValidations.js
  packages/core/src/profile/redux/actions/doPostPhoneToken.js
  packages/core/src/profile/redux/actions/doPostPhoneTokenValidations.js
  packages/core/src/profile/redux/actions/index.js
Labels: :package: core

#271 feat(react): expose Vitorino network option
  packages/react/src/analytics/integrations/Vitorino/Vitorino.js
  packages/react/src/analytics/integrations/Vitorino/__tests__/Vitorino.test.js
Labels: type: feature, :package: react

#273 Release 26-04-22
  packages/react/src/analytics/integrations/Vitorino/Vitorino.js
  packages/react/src/analytics/integrations/Vitorino/__tests__/Vitorino.test.js
Labels: :package: react

#267 feat(blackout-analytics|blackout-redux): convert analytics bag middleware
  packages/redux/src/analytics/middlewares/__tests__/bag.test.ts
  packages/redux/src/analytics/middlewares/__tests__/helpers.test.ts
  packages/redux/src/analytics/middlewares/__tests__/setUser.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/helpers.js
  packages/redux/src/analytics/middlewares/helpers.ts
  packages/redux/src/analytics/middlewares/tests/simplifiedStore.ts
  packages/redux/src/analytics/middlewares/types/bag.types.ts
  packages/redux/src/analytics/middlewares/types/index.ts
  tests/__fixtures__/analytics/bag/bag.fixtures.ts
  tests/__fixtures__/analytics/bag/index.ts
Labels: type: feature, :package: redux

#275 fix(core): fix phone tokens endpoints requests
  packages/core/src/profile/client/__fixtures__/postPhoneNumberValidations.fixtures.js
  packages/core/src/profile/client/__fixtures__/postPhoneTokenValidations.fixtures.js
  packages/core/src/profile/client/__fixtures__/postPhoneTokens.fixtures.js
  packages/core/src/profile/client/__tests__/postPhoneNumberValidations.test.js
  packages/core/src/profile/client/__tests__/postPhoneTokenValidations.test.js
  packages/core/src/profile/client/__tests__/postPhoneTokens.test.js
  packages/core/src/profile/client/postPhoneNumberValidations.js
  packages/core/src/profile/client/postPhoneTokenValidations.js
  packages/core/src/profile/client/postPhoneTokens.js
Labels: type: bug, :package: core

#278 fix(client): fix phone tokens endpoints requests
  packages/client/src/users/__fixtures__/postPhoneNumberValidations.fixtures.ts
  packages/client/src/users/__fixtures__/postPhoneTokenValidations.fixtures.ts
  packages/client/src/users/__fixtures__/postPhoneTokens.fixtures.ts
  packages/client/src/users/__tests__/postPhoneNumberValidations.test.ts
  packages/client/src/users/__tests__/postPhoneTokenValidations.test.ts
  packages/client/src/users/__tests__/postPhoneTokens.test.ts
  packages/client/src/users/postPhoneNumberValidations.ts
  packages/client/src/users/postPhoneTokenValidations.ts
  packages/client/src/users/postPhoneTokens.ts
Labels: type: bug, :package: client

#270 feat(blackout-analytics|blackout-redux): convert analytics Wishlist middleware
  packages/redux/src/analytics/index.ts
  packages/redux/src/analytics/middlewares/__tests__/bag.test.ts
  packages/redux/src/analytics/middlewares/__tests__/setUser.test.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/index.ts
  packages/redux/src/analytics/middlewares/setUser.ts
  packages/redux/src/analytics/middlewares/tests/simplifiedStore.ts
  packages/redux/src/analytics/middlewares/types/index.ts
  packages/redux/src/analytics/middlewares/types/wishlist.types.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
  tests/__fixtures__/analytics/wishlist/index.ts
  tests/__fixtures__/analytics/wishlist/wishlist.fixtures.ts
Labels: type: feature, :package: redux

#274 feat(blackout-core): use previous store data of analytics bag on upda…
  packages/core/src/analytics/redux/middlewares/__tests__/bag.test.js
  packages/core/src/analytics/redux/middlewares/bag.js
Labels: type: feature, :package: core

#281 fix(blackout-react): fix missing ga4 sort option schema
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
Labels: type: bug, :package: react

#272 feat(blackout-react): add support multigender ga4's signup newsletter
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
Labels: type: feature, :package: react
