Repository Farfetch/blackout, pull requests merged in 2022-05, with the labels that each got.

#277 feat(blackout-react): add support multigender ga4's signup newsletter
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react

#276 feat(core): add personal ids endpoints
  packages/core/src/addresses/client/__tests__/putDefaultContactAddress.test.js
  packages/core/src/profile/client/__fixtures__/getDefaultPersonalId.fixtures.js
  packages/core/src/profile/client/__fixtures__/getPersonalIds.fixture.js
  packages/core/src/profile/client/__fixtures__/postPersonalIds.fixtures.js
  packages/core/src/profile/client/__fixtures__/putDefaultPersonalId.fixtures.js
  packages/core/src/profile/client/__tests__/__snapshots__/getDefaultPersonalId.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/getPersonalIds.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/postPersonalIds.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/putDefaultPersonalId.test.js.snap
  packages/core/src/profile/client/__tests__/getDefaultPersonalId.test.js
  packages/core/src/profile/client/__tests__/getPersonalIds.test.js
  packages/core/src/profile/client/__tests__/postPersonalIds.test.js
  packages/core/src/profile/client/__tests__/putDefaultPersonalId.test.js
  packages/core/src/profile/client/getDefaultPersonalId.js
  packages/core/src/profile/client/getPersonalIds.js
  packages/core/src/profile/client/index.js
  packages/core/src/profile/client/postPersonalIds.js
  packages/core/src/profile/client/putDefaultPersonalId.js
  packages/core/src/profile/redux/__fixtures__/personalIds.fixtures.js
  packages/core/src/profile/redux/actionTypes.js
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doGetDefaultPersonalId.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doGetPersonalIds.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPostPersonalIds.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPutDefaultPersonalId.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/doGetDefaultPersonalId.test.js
  packages/core/src/profile/redux/actions/__tests__/doGetPersonalIds.test.js
  packages/core/src/profile/redux/actions/__tests__/doPostPersonalIds.test.js
  packages/core/src/profile/redux/actions/__tests__/doPutDefaultPersonalId.test.js
  packages/core/src/profile/redux/actions/doGetDefaultPersonalId.js
  packages/core/src/profile/redux/actions/doGetPersonalIds.js
  packages/core/src/profile/redux/actions/doPostPersonalIds.js
  packages/core/src/profile/redux/actions/doPutDefaultPersonalId.js
  packages/core/src/profile/redux/actions/index.js
Labels: type: feature, :package: core

#279 feat(react): convert Vitorino integration to typescript
  packages/react/src/analytics/integrations/Castle/Castle.ts
  packages/react/src/analytics/integrations/Castle/__tests__/Castle.test.ts
  packages/react/src/analytics/integrations/Vitorino/Vitorino.ts
  packages/react/src/analytics/integrations/Vitorino/__tests__/Vitorino.test.ts
  packages/react/src/analytics/integrations/Vitorino/constants.ts
  packages/react/src/analytics/integrations/Vitorino/index.ts
  packages/react/src/analytics/integrations/Vitorino/types/globals.d.ts
  packages/react/src/analytics/integrations/Vitorino/types/types.ts
  packages/react/src/analytics/integrations/Vitorino/vitorino-helper.js
  packages/react/src/analytics/types/analytics.types.ts
Labels: :package: react, :rotating_light: BREAKING CHANGE

#280 feat: add `useSearchSuggestions` hook
  packages/react/src/search/hooks/__tests__/useSearchSuggestions.test.tsx
  packages/react/src/search/hooks/types/index.ts
  packages/react/src/search/hooks/types/useSearchSuggestions.types.ts
  packages/react/src/search/hooks/useSearchSuggestions.ts
  tests/__fixtures__/search/searchSuggestions.fixtures.ts
Labels: type: feature, :package: react

#284 feat(core): add personal id and image endpoints
  packages/core/src/profile/client/__fixtures__/deletePersonalId.fixtures.js
  packages/core/src/profile/client/__fixtures__/getPersonalId.fixtures.js
  packages/core/src/profile/client/__fixtures__/patchPersonalId.fixtures.js
  packages/core/src/profile/client/__fixtures__/postPersonalIdImage.fixtures.js
  packages/core/src/profile/client/__tests__/__snapshots__/deletePersonalId.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/getPersonalId.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/patchPersonalId.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/postPersonalIdImage.test.js.snap
  packages/core/src/profile/client/__tests__/deletePersonalId.test.js
  packages/core/src/profile/client/__tests__/getPersonalId.test.js
  packages/core/src/profile/client/__tests__/patchPersonalId.test.js
  packages/core/src/profile/client/__tests__/postPersonalIdImage.test.js
  packages/core/src/profile/client/deletePersonalId.js
  packages/core/src/profile/client/getPersonalId.js
  packages/core/src/profile/client/index.js
  packages/core/src/profile/client/patchPersonalId.js
  packages/core/src/profile/client/postPersonalIdImage.js
  packages/core/src/profile/redux/__fixtures__/personalId.fixtures.js
  packages/core/src/profile/redux/actionTypes.js
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doDeletePersonalId.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doGetPersonalId.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPatchPersonalId.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doPostPersonalIdImage.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/doDeletePersonalId.test.js
  packages/core/src/profile/redux/actions/__tests__/doGetPersonalId.test.js
  packages/core/src/profile/redux/actions/__tests__/doPatchPersonalId.test.js
  packages/core/src/profile/redux/actions/__tests__/doPostPersonalIdImage.test.js
  packages/core/src/profile/redux/actions/doDeletePersonalId.js
  packages/core/src/profile/redux/actions/doGetPersonalId.js
  packages/core/src/profile/redux/actions/doPatchPersonalId.js
  packages/core/src/profile/redux/actions/doPostPersonalIdImage.js
  packages/core/src/profile/redux/actions/index.js
Labels: type: feature, :package: core

#285 chore(blackout-analytics|blackout-react): fix typings
  packages/analytics/src/types/analytics.types.ts
  packages/react/package.json
  packages/react/src/analytics/analytics.ts
  packages/react/src/analytics/integrations/Castle/Castle.ts
  packages/react/src/analytics/integrations/Castle/__tests__/Castle.test.ts
  packages/react/src/analytics/integrations/Vitorino/Vitorino.ts
  packages/react/src/analytics/integrations/Vitorino/__tests__/Vitorino.test.ts
  packages/react/src/analytics/types/analytics.types.ts
  yarn.lock
Labels: type: enhancement, :package: react, :package: analytics

#292 fix(core): contents server initial state
  packages/core/src/contents/redux/serverInitialState.js
  packages/core/src/contents/utils.js
  tests/__fixtures__/contents/contents.fixtures.js
Labels: type: bug, :package: core

#293 chore(blackout-analytics|blackout-client|blackout-react): transform analytics service to typescript
  packages/analytics/src/integrations/AnalyticsService/AnalyticsService.ts
  packages/analytics/src/integrations/AnalyticsService/__tests__/AnalyticsService.test.ts
  packages/analytics/src/integrations/AnalyticsService/constants.ts
  packages/analytics/src/integrations/AnalyticsService/index.ts
  packages/analytics/src/integrations/AnalyticsService/types/AnalyticsService.types.ts
  packages/client/src/analyticsService/__fixtures__/postAnalytics.fixtures.ts
  packages/client/src/analyticsService/__tests__/__snapshots__/postAnalytics.test.ts.snap
  packages/client/src/analyticsService/__tests__/postAnalytics.test.ts
  packages/client/src/analyticsService/index.js
  packages/client/src/analyticsService/index.ts
  packages/client/src/analyticsService/postAnalytics.ts
  packages/react/src/analytics/integrations/AnalyticsService/AnalyticsService.ts
  packages/react/src/analytics/integrations/AnalyticsService/__tests__/AnalyticsService.test.ts
  packages/react/src/analytics/integrations/AnalyticsService/index.ts
Labels: :package: client, :package: react, :package: analytics

#295 fix(blackout-analytics): analytics fixes for HPP
  packages/analytics/src/Analytics.ts
  packages/analytics/src/User.ts
  packages/analytics/src/__tests__/analytics.test.ts
  packages/analytics/src/__tests__/user.test.ts
  packages/analytics/src/utils/StorageWrapper.ts
  packages/analytics/src/utils/__tests__/StorageWrapper.test.ts
  packages/analytics/src/utils/types/storage.types.ts
Labels: :package: analytics

#297 fix(blackout-react): remove Castle's default Date when no valid 'createdDate' is passed
  packages/react/src/analytics/integrations/Castle/CastleV2.js
  packages/react/src/analytics/integrations/__tests__/CastleV2.test.js
Labels: type: bug, :package: react

#286 feat(client|redux): add personal ids endpoints
  packages/client/src/users/__fixtures__/getDefaultPersonalId.fixtures.ts
  packages/client/src/users/__fixtures__/getPersonalIds.fixtures.ts
  packages/client/src/users/__fixtures__/postPersonalIds.fixtures.ts
  packages/client/src/users/__fixtures__/putDefaultPersonalId.fixtures.ts
  packages/client/src/users/__tests__/__snapshots__/getDefaultPersonalId.test.ts.snap
  packages/client/src/users/__tests__/__snapshots__/getPersonalIds.test.ts.snap
  packages/client/src/users/__tests__/__snapshots__/postPersonalIds.test.ts.snap
  packages/client/src/users/__tests__/__snapshots__/putDefaultPersonalId.test.ts.snap
  packages/client/src/users/__tests__/getDefaultPersonalId.test.ts
  packages/client/src/users/__tests__/getPersonalIds.test.ts
  packages/client/src/users/__tests__/postPersonalIds.test.ts
  packages/client/src/users/__tests__/putDefaultPersonalId.test.ts
  packages/client/src/users/getDefaultPersonalId.ts
  packages/client/src/users/getPersonalIds.ts
  packages/client/src/users/index.ts
  packages/client/src/users/postPersonalIds.ts
  packages/client/src/users/putDefaultPersonalId.ts
  packages/client/src/users/types/getDefaultPersonalId.types.ts
  packages/client/src/users/types/getPersonalIds.types.ts
  packages/client/src/users/types/index.ts
  packages/client/src/users/types/personalId.types.ts
  packages/client/src/users/types/postPersonalIds.types.ts
  packages/client/src/users/types/putDefaultPersonalId.types.ts
  packages/redux/src/users/actionTypes.ts
  packages/redux/src/users/actions/__tests__/__snapshots__/createPersonalIds.test.ts.snap
  packages/redux/src/users/actions/__tests__/__snapshots__/fetchDefaultPersonalId.test.ts.snap
  packages/redux/src/users/actions/__tests__/__snapshots__/fetchPersonalIds.test.ts.snap
  packages/redux/src/users/actions/__tests__/__snapshots__/setDefaultPersonalId.test.ts.snap
  packages/redux/src/users/actions/__tests__/createPersonalIds.test.ts
  packages/redux/src/users/actions/__tests__/fetchDefaultPersonalId.test.ts
  packages/redux/src/users/actions/__tests__/fetchPersonalIds.test.ts
  packages/redux/src/users/actions/__tests__/setDefaultPersonalId.test.ts
  packages/redux/src/users/actions/createPersonalIds.ts
  packages/redux/src/users/actions/factories/createPersonalIdsFactory.ts
  packages/redux/src/users/actions/factories/fetchDefaultPersonalIdFactory.ts
  packages/redux/src/users/actions/factories/fetchPersonalIdsFactory.ts
  packages/redux/src/users/actions/factories/index.ts
  packages/redux/src/users/actions/factories/setDefaultPersonalIdFactory.ts
  packages/redux/src/users/actions/fetchDefaultPersonalId.ts
  packages/redux/src/users/actions/fetchPersonalIds.ts
  packages/redux/src/users/actions/index.ts
  packages/redux/src/users/actions/setDefaultPersonalId.ts
  packages/redux/src/users/types/action.types.ts
  tests/__fixtures__/users/index.ts
  tests/__fixtures__/users/personalIds.fixtures.ts
Labels: type: feature, :package: client, :package: redux

#289 feat(client|redux): add personal id and image endpoints
  packages/client/src/users/__fixtures__/deletePersonalId.fixtures.ts
  packages/client/src/users/__fixtures__/getPersonalId.fixtures.ts
  packages/client/src/users/__fixtures__/patchPersonalId.fixtures.ts
  packages/client/src/users/__fixtures__/postPersonalIdImage.fixtures.ts
  packages/client/src/users/__tests__/__snapshots__/deletePersonalId.test.ts.snap
  packages/client/src/users/__tests__/__snapshots__/getPersonalId.test.ts.snap
  packages/client/src/users/__tests__/__snapshots__/patchPersonalId.test.ts.snap
  packages/client/src/users/__tests__/__snapshots__/postPersonalIdImage.test.ts.snap
  packages/client/src/users/__tests__/deletePersonalId.test.ts
  packages/client/src/users/__tests__/getPersonalId.test.ts
  packages/client/src/users/__tests__/patchPersonalId.test.ts
  packages/client/src/users/__tests__/postPersonalIdImage.test.ts
  packages/client/src/users/deletePersonalId.ts
  packages/client/src/users/getPersonalId.ts
  packages/client/src/users/index.ts
  packages/client/src/users/patchPersonalId.ts
  packages/client/src/users/postPersonalIdImage.ts
  packages/client/src/users/types/deletePersonalId.types.ts
  packages/client/src/users/types/getPersonalId.types.ts
  packages/client/src/users/types/index.ts
  packages/client/src/users/types/patchPersonalId.types.ts
  packages/client/src/users/types/personalId.types.ts
  packages/client/src/users/types/postPersonalIdImage.types.ts
  packages/redux/src/users/actionTypes.ts
  packages/redux/src/users/actions/__tests__/__snapshots__/createPersonalIdImage.test.ts.snap
  packages/redux/src/users/actions/__tests__/__snapshots__/fetchPersonalId.test.ts.snap
  packages/redux/src/users/actions/__tests__/__snapshots__/removePersonalId.test.ts.snap
  packages/redux/src/users/actions/__tests__/__snapshots__/updatePersonalId.test.ts.snap
  packages/redux/src/users/actions/__tests__/createPersonalIdImage.test.ts
  packages/redux/src/users/actions/__tests__/fetchPersonalId.test.ts
  packages/redux/src/users/actions/__tests__/removePersonalId.test.ts
  packages/redux/src/users/actions/__tests__/updatePersonalId.test.ts
  packages/redux/src/users/actions/createPersonalIdImage.ts
  packages/redux/src/users/actions/factories/createPersonalIdImageFactory.ts
  packages/redux/src/users/actions/factories/fetchPersonalIdFactory.ts
  packages/redux/src/users/actions/factories/index.ts
  packages/redux/src/users/actions/factories/removePersonalIdFactory.ts
  packages/redux/src/users/actions/factories/updatePersonalIdFactory.ts
  packages/redux/src/users/actions/fetchPersonalId.ts
  packages/redux/src/users/actions/index.ts
  packages/redux/src/users/actions/removePersonalId.ts
  packages/redux/src/users/actions/updatePersonalId.ts
  tests/__fixtures__/users/personalIds.fixtures.ts
Labels: type: feature, :package: client, :package: redux

#301 fix(blackout-core): fix omnitracking parameters
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: bug, :package: core

#302 fix(blackout-analytics): fix omnitracking parameters
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: type: bug, :package: analytics

#303 fix: only use the `resources` to build the `searchRedirectUrl` if they exist
  packages/react/src/search/hooks/useSearchIntents.js
Labels: type: bug, :package: react

#304 fix: only use the `resources` to build the `searchRedirectUrl` if they exist
  packages/react/src/search/hooks/useSearchIntents.ts
Labels: type: bug, :package: react

#305 feat: add the `facetId` to the `filterSegments` on the `searchResult` entity
  packages/core/src/entities/schemas/facet.js
  packages/core/src/entities/schemas/searchResult.js
  packages/core/src/products/listing/redux/__tests__/__snapshots__/serverInitialState.test.js.snap
  packages/core/src/products/listing/redux/actions/__tests__/__snapshots__/doGetListing.test.js.snap
  packages/core/src/products/listing/redux/actions/__tests__/__snapshots__/doGetNextListing.test.js.snap
  packages/core/src/products/listing/redux/actions/__tests__/doGetListing.test.js
  tests/__fixtures__/products/listing.fixtures.js
Labels: type: feature, :package: core

#294 feat(client|redux): add reschedule endpoints
  packages/client/src/returns/__fixtures__/getPickupRescheduleRequest.fixtures.ts
  packages/client/src/returns/__fixtures__/getPickupRescheduleRequests.fixtures.ts
  packages/client/src/returns/__fixtures__/postPickupRescheduleRequest.fixtures.ts
  packages/client/src/returns/__tests__/__snapshots__/getPickupRescheduleRequest.test.ts.snap
  packages/client/src/returns/__tests__/__snapshots__/getPickupRescheduleRequests.test.ts.snap
  packages/client/src/returns/__tests__/__snapshots__/postPickupRescheduleRequest.test.ts.snap
  packages/client/src/returns/__tests__/getPickupRescheduleRequest.test.ts
  packages/client/src/returns/__tests__/getPickupRescheduleRequests.test.ts
  packages/client/src/returns/__tests__/postPickupRescheduleRequest.test.ts
  packages/client/src/returns/getPickupRescheduleRequest.ts
  packages/client/src/returns/getPickupRescheduleRequests.ts
  packages/client/src/returns/index.ts
  packages/client/src/returns/postPickupRescheduleRequest.ts
  packages/client/src/returns/types/getPickupRescheduleRequest.types.ts
  packages/client/src/returns/types/getPickupRescheduleRequests.types.ts
  packages/client/src/returns/types/index.ts
  packages/client/src/returns/types/pickupRescheduleRequests.types.ts
  packages/client/src/returns/types/postPickupRescheduleRequests.types.ts
  packages/redux/src/returns/actionTypes.ts
  packages/redux/src/returns/actions/__tests__/__snapshots__/createPickupRescheduleRequest.test.ts.snap
  packages/redux/src/returns/actions/__tests__/__snapshots__/fetchPickupRescheduleRequest.test.ts.snap
  packages/redux/src/returns/actions/__tests__/__snapshots__/fetchPickupRescheduleRequestsFactory.test.ts.snap
  packages/redux/src/returns/actions/__tests__/createPickupRescheduleRequest.test.ts
  packages/redux/src/returns/actions/__tests__/fetchPickupRescheduleRequest.test.ts
  packages/redux/src/returns/actions/__tests__/fetchPickupRescheduleRequestsFactory.test.ts
  packages/redux/src/returns/actions/createPickupRescheduleRequest.ts
  packages/redux/src/returns/actions/factories/createPickupRescheduleRequestFactory.ts
  packages/redux/src/returns/actions/factories/fetchPickupRescheduleRequestFactory.ts
  packages/redux/src/returns/actions/factories/fetchPickupRescheduleRequestsFactory.ts
  packages/redux/src/returns/actions/factories/index.ts
  packages/redux/src/returns/actions/fetchPickupRescheduleRequest.ts
  packages/redux/src/returns/actions/fetchPickupRescheduleRequests.ts
  packages/redux/src/returns/actions/index.ts
  packages/redux/src/returns/types/actions.types.ts
  tests/__fixtures__/returns/returns.fixtures.ts
Labels: type: feature, :package: client, :package: redux

#300 fix(core): fix pickup capabilities timestamp parsing
  packages/core/src/returns/client/__fixtures__/getPickupCapabilities.fixtures.js
  packages/core/src/returns/client/__tests__/getPickupCapabilities.test.js
  packages/core/src/returns/client/getPickupCapabilities.js
  packages/core/src/returns/redux/actions/__tests__/doGetPickupCapabilities.test.js
  packages/core/src/returns/redux/actions/doGetPickupCapabilities.js
Labels: type: bug, :package: core

#311 feat(react): add more base components
  packages/react/package.json
  packages/react/src/content/components/base/__fixtures__/contentList.fixtures.js
  packages/react/src/content/components/base/__tests__/Boolean.test.js
  packages/react/src/content/components/base/__tests__/Color.test.js
  packages/react/src/content/components/base/__tests__/ContentList.test.js
  packages/react/src/content/components/base/__tests__/DateTime.test.js
  packages/react/src/content/components/base/__tests__/Media.test.js
  packages/react/src/content/components/base/__tests__/Number.test.js
  packages/react/src/content/components/base/__tests__/__snapshots__/Boolean.test.js.snap
  packages/react/src/content/components/base/__tests__/__snapshots__/Color.test.js.snap
  packages/react/src/content/components/base/__tests__/__snapshots__/Media.test.js.snap
  packages/react/src/content/components/base/boolean/Boolean.js
  packages/react/src/content/components/base/boolean/styles.js
  packages/react/src/content/components/base/color/Color.js
  packages/react/src/content/components/base/color/styles.js
  packages/react/src/content/components/base/contentList/ContentList.js
  packages/react/src/content/components/base/dateTime/DateTime.js
  packages/react/src/content/components/base/index.js
  packages/react/src/content/components/base/media/Media.js
  packages/react/src/content/components/base/media/__tests__/Audio.test.js
  packages/react/src/content/components/base/media/__tests__/Image.test.js
  packages/react/src/content/components/base/media/__tests__/Video.test.js
  packages/react/src/content/components/base/media/__tests__/__mocks__/MediaMocks.js
  packages/react/src/content/components/base/media/__tests__/__snapshots__/Audio.test.js.snap
  packages/react/src/content/components/base/media/__tests__/__snapshots__/Image.test.js.snap
  packages/react/src/content/components/base/media/__tests__/__snapshots__/Video.test.js.snap
  packages/react/src/content/components/base/media/components/audio/Audio.js
  packages/react/src/content/components/base/media/components/audio/index.js
  packages/react/src/content/components/base/media/components/audio/styles.js
  packages/react/src/content/components/base/media/components/image/Image.js
  packages/react/src/content/components/base/media/components/image/index.js
  packages/react/src/content/components/base/media/components/image/styles.js
  packages/react/src/content/components/base/media/components/utils/imageArrToObj.js
  packages/react/src/content/components/base/media/components/utils/index.js
  packages/react/src/content/components/base/media/components/video/Video.js
  packages/react/src/content/components/base/media/components/video/index.js
  packages/react/src/content/components/base/media/components/video/styles.js
  packages/react/src/content/components/base/media/styles.js
  packages/react/src/content/components/base/number/Number.js
  packages/react/src/content/helpers/__tests__/renderContent.test.js
  packages/react/src/content/helpers/renderContent.js
  packages/react/src/content/utils/__tests__/sortContentType.test.js
  packages/react/src/content/utils/index.js
  packages/react/src/content/utils/sortContentType.js
  yarn.lock
Labels: type: feature, :package: react

#315 feat(blackout-react): add product added to cart/wishlist mappings in Zaraz
  packages/react/src/analytics/integrations/Zaraz/Zaraz.js
  packages/react/src/analytics/integrations/Zaraz/eventsMapper.js
  packages/react/src/analytics/integrations/__tests__/Zaraz.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/Zaraz.test.js.snap
Labels: type: feature, :package: react

#314 feat(blackout-react): add product added to cart/wishlist mappings in Zaraz (next)
  packages/react/src/analytics/integrations/Zaraz/Zaraz.ts
  packages/react/src/analytics/integrations/Zaraz/__tests__/Zaraz.test.ts
  packages/react/src/analytics/integrations/Zaraz/__tests__/__snapshots__/Zaraz.test.ts.snap
  packages/react/src/analytics/integrations/Zaraz/eventsMapper.ts
Labels: :package: react

#320 fix: add fallback for filter segments without facet
  packages/core/src/entities/schemas/searchResult.js
Labels: type: bug, :package: core

#324 feat(react): add exports contents
  packages/react/src/content/helpers/index.js
  packages/react/src/content/utils/__tests__/sortContentType.test.js
  packages/react/src/content/utils/sortContentType.js
Labels: type: feature, :package: react
