Repository Farfetch/blackout, pull requests merged in 2022-06, with the labels that each got.

#322 fix(redux): get entity selectors errors
  packages/redux/src/addresses/selectors.ts
  packages/redux/src/bags/selectors.ts
  packages/redux/src/checkout/selectors.ts
  packages/redux/src/entities/selectors/cities.ts
  packages/redux/src/entities/selectors/contents.ts
  packages/redux/src/entities/selectors/countries.ts
  packages/redux/src/entities/selectors/entity.ts
  packages/redux/src/entities/selectors/states.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/payments/selectors.ts
  packages/redux/src/products/selectors/lists.ts
  packages/redux/src/returns/__tests__/selectors.test.ts
  packages/redux/src/returns/selectors.ts
  packages/redux/src/wishlists/selectors/wishlists.ts
  packages/redux/src/wishlists/selectors/wishlistsSets.ts
Labels: type: bug, :package: redux

#325 feat(blackout-react): add checkout events mappings to Zaraz (next)
  packages/analytics/src/integrations/AnalyticsService/AnalyticsService.ts
  packages/analytics/src/integrations/AnalyticsService/__tests__/AnalyticsService.test.ts
  packages/analytics/src/integrations/AnalyticsService/constants.ts
  packages/analytics/src/integrations/AnalyticsService/index.ts
  packages/analytics/src/integrations/AnalyticsService/types/AnalyticsService.types.ts
  packages/analytics/src/integrations/index.ts
  packages/client/src/analyticsService/__fixtures__/postAnalytics.fixtures.ts
  packages/client/src/analyticsService/__tests__/__snapshots__/postAnalytics.test.ts.snap
  packages/client/src/analyticsService/__tests__/postAnalytics.test.ts
  packages/client/src/analyticsService/index.ts
  packages/client/src/analyticsService/postAnalytics.ts
  packages/client/src/helpers/client/interceptors/authentication/__tests__/AxiosAuthenticationTokenManager.test.ts
  packages/react/src/analytics/integrations/AnalyticsService/AnalyticsService.ts
  packages/react/src/analytics/integrations/AnalyticsService/__tests__/AnalyticsService.test.ts
  packages/react/src/analytics/integrations/AnalyticsService/index.ts
  packages/react/src/analytics/integrations/Zaraz/__tests__/__snapshots__/Zaraz.test.ts.snap
  packages/react/src/analytics/integrations/Zaraz/eventsMapper.ts
  packages/react/src/analytics/integrations/index.ts
Labels: type: feature, :package: client, :package: react, :package: analytics

#333 fix: fix gender filter segment without description
  packages/core/src/entities/schemas/searchResult.js
Labels: type: bug, :package: core

#329 feat(blackout-react): implement signup form completed mappings in zaraz (next)
  packages/react/src/analytics/integrations/Zaraz/__tests__/Zaraz.test.ts
  packages/react/src/analytics/integrations/Zaraz/__tests__/__snapshots__/Zaraz.test.ts.snap
  packages/react/src/analytics/integrations/Zaraz/constants.ts
  packages/react/src/analytics/integrations/Zaraz/eventsMapper.ts
Labels: type: feature, :package: react

#342 feat(core): new recover password endpoint
  packages/core/src/authentication/client/__fixtures__/postPasswordRecover.fixtures.js
  packages/core/src/authentication/client/__tests__/__snapshots__/postPasswordRecover.test.js.snap
  packages/core/src/authentication/client/__tests__/postPasswordRecover.test.js
  packages/core/src/authentication/client/postPasswordRecover.js
  packages/core/src/authentication/redux/actions/__tests__/doPasswordRecover.test.js
  packages/core/src/authentication/redux/actions/doPasswordRecover.js
Labels: type: feature, :package: core

#336 chore(redux): export inline types
  packages/client/src/authentication/types/deleteTokens.types.ts
  packages/client/src/authentication/types/login.types.ts
  packages/client/src/authentication/types/postPasswordChange.types.ts
  packages/client/src/authentication/types/postPasswordRecover.types.ts
  packages/client/src/authentication/types/postPasswordReset.types.ts
  packages/client/src/authentication/types/postRefreshEmailToken.types.ts
  packages/client/src/authentication/types/postRegister.types.ts
  packages/client/src/authentication/types/postTokens.types.ts
  packages/client/src/authentication/types/postUserImpersonation.types.ts
  packages/client/src/authentication/types/postValidateEmail.types.ts
  packages/client/src/authentication/types/register.types.ts
  packages/redux/src/authentication/actions/factories/changePasswordFactory.ts
  packages/redux/src/authentication/actions/factories/createClientCredentialsTokenFactory.ts
  packages/redux/src/authentication/actions/factories/createUserImpersonationFactory.ts
  packages/redux/src/authentication/actions/factories/createUserTokenFactory.ts
  packages/redux/src/authentication/actions/factories/loginFactory.ts
  packages/redux/src/authentication/actions/factories/logoutFactory.ts
  packages/redux/src/authentication/actions/factories/recoverPasswordFactory.ts
  packages/redux/src/authentication/actions/factories/refreshEmailTokenFactory.ts
  packages/redux/src/authentication/actions/factories/refreshTokenFactory.ts
  packages/redux/src/authentication/actions/factories/registerFactory.ts
  packages/redux/src/authentication/actions/factories/removeUserImpersonationFactory.ts
  packages/redux/src/authentication/actions/factories/removeUserTokenFactory.ts
  packages/redux/src/authentication/actions/factories/resetPasswordFactory.ts
  packages/redux/src/authentication/actions/factories/validateEmailFactory.ts
Labels: :package: client, :package: redux

#330 fix(redux): remove unsupported params from FetchUserFactory
  packages/client/src/users/types/getUser.types.ts
  packages/redux/src/users/actions/__tests__/fetchUser.test.ts
  packages/redux/src/users/actions/factories/fetchUserFactory.ts
Labels: type: bug, :package: client, :package: redux

#345 fix(blackout-client|blackout-redux): fix getFormSchemaByCode selector
  packages/client/package.json
  packages/client/src/forms/types/formSchema.types.ts
  packages/redux/src/forms/__tests__/reducer.test.ts
  packages/redux/src/forms/selectors.ts
  yarn.lock
Labels: type: bug, :package: client, :package: redux

#346 feat(redux): add reset action for users
  packages/redux/src/users/actionTypes.ts
  packages/redux/src/users/actions/__tests__/resetUser.test.ts
  packages/redux/src/users/actions/__tests__/resetUserState.test.ts
  packages/redux/src/users/actions/index.ts
  packages/redux/src/users/actions/resetUser.ts
  packages/redux/src/users/actions/resetUserState.ts
  packages/redux/src/users/types/action.types.ts
Labels: type: feature, :package: redux

#350 feat: add `facetId` to `filterSegments` in `productsList` entity
  packages/redux/src/entities/schemas/facet.ts
  packages/redux/src/entities/schemas/productsList.ts
  packages/redux/src/products/selectors/__tests__/lists.test.ts
  packages/redux/src/products/serverInitialState/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/products/serverInitialState/__tests__/__snapshots__/lists.test.ts.snap
  packages/redux/src/products/utils/__tests__/buildFacetTree.test.ts
  tests/__fixtures__/products/products.fixtures.ts
  tests/__fixtures__/products/productsLists.fixtures.ts
Labels: type: feature, :package: redux

#340 chore: review tooling packages
  .enzymerc.js
  .github/labeler.yml
  .github/workflows/CreateRelease.yml
  .github/workflows/PullRequestLabeler.yml
  .github/workflows/SendEmail.yml
  .prettierrc
  babel.config.js
  jest.config.js
  package.json
  packages/client/package.json
  packages/client/src/helpers/client/interceptors/authentication/__tests__/AxiosAuthenticationTokenManager.test.ts
  packages/client/src/payments/__tests__/getIntent.test.ts
  packages/react/package.json
  packages/react/src/addresses/hooks/__tests__/__fixtures__/Addresses.fixtures.tsx
  packages/react/src/addresses/hooks/__tests__/useAddresses.test.tsx
  packages/react/src/authentication/hooks/__tests__/useAuthentication.test.tsx
  packages/react/src/authentication/hooks/__tests__/useUserProfile.test.tsx
  packages/react/src/bags/hooks/__tests__/useAddOrUpdateBagItem.test.tsx
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/__tests__/useBagItem.test.tsx
  packages/react/src/categories/hooks/__tests__/useCategories.test.tsx
  packages/react/src/checkout/hooks/__tests__/__fixtures__/Checkout.fixtures.tsx
  packages/react/src/checkout/hooks/__tests__/useCheckout.test.tsx
  packages/react/src/contents/helpers/__tests__/renderContent.test.tsx
  packages/react/src/contents/hooks/__tests__/__fixtures__/Page.fixtures.tsx
  packages/react/src/contents/hooks/__tests__/useCommercePages.test.tsx
  packages/react/src/contents/hooks/__tests__/useMetaTags.test.tsx
  packages/react/src/contents/structured-data/__tests__/__fixtures__/renderScript.tsx
  packages/react/src/helpers/__tests__/useAction.test.tsx
  packages/react/src/payments/hooks/__tests__/usePayments.test.js
  packages/react/src/products/hooks/__tests__/useProductDetails.test.tsx
  packages/react/src/products/hooks/__tests__/useProductsList.test.tsx
  packages/react/src/search/hooks/__tests__/useSearchIntents.test.tsx
  packages/react/src/search/hooks/__tests__/useSearchSuggestions.test.tsx
  packages/react/src/wishlists/hooks/__tests__/useWishlist.test.tsx
  packages/react/src/wishlists/hooks/__tests__/useWishlistItem.test.tsx
  packages/react/src/wishlists/hooks/__tests__/useWishlistSet.test.tsx
  packages/react/src/wishlists/hooks/__tests__/useWishlistSets.test.tsx
  packages/react/tests/mswServer.ts
  packages/redux/package.json
  packages/redux/src/analytics/middlewares/__tests__/setUser.test.ts
  tests/setupAfterEnv.js
  yarn.lock
Labels: type: maintenance, type: enhancement, :package: client, :package: react, :package: redux

#351 fix(redux): remove setUser middleware mandatory parameter
  packages/redux/src/analytics/middlewares/setUser.ts
Labels: type: bug, :package: redux

#353 feat: add `totalQuantity` and `itemsCount` to `useBag` hook
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/types/useBag.ts
  packages/react/src/bags/hooks/types/useBagItem.ts
  packages/react/src/bags/hooks/useBag.ts
  packages/redux/src/bags/selectors.ts
Labels: type: feature, :package: react, :package: redux

#352 chore(client): add recovered to orderStatusError
  packages/client/src/checkout/types/getCheckoutResponse.types.ts
Labels: type: enhancement, :package: client

#355 chore(redux): update checkoutOrderItemProduct entity
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/__tests__/selectors.test.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/createCheckout.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckout.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutDetails.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setItemTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setPromocode.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/updateCheckout.test.ts.snap
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/checkout/selectors.ts
  packages/redux/src/entities/schemas/checkoutOrderItem.ts
  packages/redux/src/entities/schemas/checkoutOrderItemProduct.ts
  tests/__fixtures__/checkout/checkout.fixtures.ts
  tests/__fixtures__/checkout/checkoutSelector.fixtures.ts
  tests/__fixtures__/payments/payments.fixtures.ts
Labels: type: enhancement, :package: redux

#337 feat(client|redux): export clients and actions on root
  packages/client/package.json
  packages/client/src/index.ts
  packages/redux/package.json
  packages/redux/src/contents/__tests__/reducer.test.ts
  packages/redux/src/contents/__tests__/serverInitialState.test.ts
  packages/redux/src/contents/actions/__tests__/fetchCommercePages.test.ts
  packages/redux/src/contents/actions/__tests__/fetchContent.test.ts
  packages/redux/src/contents/actions/__tests__/fetchContentTypes.test.ts
  packages/redux/src/contents/actions/__tests__/fetchSEO.test.ts
  packages/redux/src/contents/actions/__tests__/resetContents.test.ts
  packages/redux/src/contents/index.ts
  packages/redux/src/contents/reducer.ts
  packages/redux/src/contents/serverInitialState.ts
  packages/redux/src/index.ts
  packages/redux/src/locale/__tests__/reducer.test.ts
  packages/redux/src/locale/__tests__/serverInitialState.test.ts
  packages/redux/src/locale/actions/__tests__/fetchCountries.test.ts
  packages/redux/src/locale/actions/__tests__/fetchCountry.test.ts
  packages/redux/src/locale/actions/__tests__/fetchCountryCities.test.ts
  packages/redux/src/locale/actions/__tests__/fetchCountryCurrencies.test.ts
  packages/redux/src/locale/actions/__tests__/fetchCountryStates.test.ts
  packages/redux/src/locale/actions/__tests__/resetLocaleState.test.ts
  packages/redux/src/locale/actions/__tests__/setCountryCode.test.ts
  packages/redux/src/locale/index.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/serverInitialState.ts
Labels: :package: client, :package: redux, :rotating_light: BREAKING CHANGE

#369 fix(react): remove unnecessary custom GA script validation
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
Labels: type: bug, :package: react

#367 fix(react): remove unnecessary custom GA script validation
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
Labels: :package: react

#361 feat(blackout-client|blackout-react|blackout-redux): export analytics modules in root index file
  packages/analytics/package.json
  packages/analytics/src/__tests__/analytics.test.ts
  packages/analytics/src/index.ts
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/analytics/src/integrations/Omnitracking/types/Omnitracking.types.ts
  packages/analytics/src/tsconfig.build.json
  packages/analytics/src/types/index.ts
  packages/analytics/src/utils/__tests__/StorageWrapper.test.ts
  packages/analytics/src/utils/constants.ts
  packages/analytics/src/utils/getCustomerIdFromUser.ts
  packages/analytics/src/utils/index.ts
  packages/analytics/src/utils/logger.ts
  packages/analytics/tsconfig.build.json
  packages/analytics/tsconfig.json
  packages/client/README.md
  packages/client/src/index.ts
  packages/client/src/omnitracking/postTrackings.ts
  packages/react/src/analytics/index.ts
  packages/react/src/analytics/integrations/Castle/Castle.ts
  packages/react/src/analytics/integrations/GTM/GTM.ts
  packages/react/src/analytics/integrations/Omnitracking/Omnitracking.ts
  packages/react/src/analytics/integrations/Vitorino/Vitorino.ts
  packages/react/src/analytics/integrations/Vitorino/__tests__/Vitorino.test.ts
  packages/react/src/analytics/integrations/__tests__/Omnitracking.test.ts
  packages/react/src/index.ts
  packages/redux/src/analytics/index.ts
  packages/redux/src/analytics/middlewares/__tests__/bag.test.ts
  packages/redux/src/analytics/middlewares/__tests__/setUser.test.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/helpers.ts
  packages/redux/src/analytics/middlewares/index.ts
  packages/redux/src/analytics/middlewares/setUser.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
  packages/redux/src/index.ts
Labels: type: feature, :package: client, :package: react, :package: redux, :package: analytics, type: documentation, :rotating_light: BREAKING CHANGE

#368 feat(blackout-client|blackout-redux): export forms modules in root index file
  packages/client/src/forms/index.ts
  packages/client/src/index.ts
  packages/client/tsconfig.build.json
  packages/client/tsconfig.json
  packages/redux/src/forms/__tests__/reducer.test.ts
  packages/redux/src/forms/actionTypes.ts
  packages/redux/src/forms/actions/__tests__/fetchFormSchema.test.ts
  packages/redux/src/forms/actions/__tests__/resetFormSchema.test.ts
  packages/redux/src/forms/actions/__tests__/submitFormData.test.ts
  packages/redux/src/forms/actions/factories/fetchFormSchemaFactory.ts
  packages/redux/src/forms/actions/factories/index.ts
  packages/redux/src/forms/actions/factories/submitFormDataFactory.ts
  packages/redux/src/forms/actions/factories/types/FetchFormSchemaFactory.types.ts
  packages/redux/src/forms/actions/factories/types/SubmitFormSchemaFactory.types.ts
  packages/redux/src/forms/actions/fetchFormSchema.ts
  packages/redux/src/forms/actions/index.ts
  packages/redux/src/forms/actions/resetFormSchema.ts
  packages/redux/src/forms/actions/submitFormData.ts
  packages/redux/src/forms/index.ts
  packages/redux/src/forms/reducer.ts
  packages/redux/src/forms/selectors.ts
  packages/redux/src/forms/types/action.types.ts
  packages/redux/src/forms/types/state.types.ts
  packages/redux/src/index.ts
  packages/redux/src/types/storeState.types.ts
  packages/redux/tsconfig.build.json
  packages/redux/tsconfig.json
Labels: type: feature, :package: client, :package: redux

#376 fix(blackout-redux): fix reset recently viewed action naming
  packages/redux/src/entities/reducer/entitiesMapper.ts
  packages/redux/src/products/actionTypes/recentlyViewedProducts.actionTypes.ts
  packages/redux/src/products/actions/__tests__/fetchListing.test.ts
  packages/redux/src/products/actions/__tests__/fetchProductAttributes.test.ts
  packages/redux/src/products/actions/__tests__/fetchProductColorGrouping.test.ts
  packages/redux/src/products/actions/__tests__/fetchProductDetails.test.ts
  packages/redux/src/products/actions/__tests__/fetchProductFittings.test.ts
  packages/redux/src/products/actions/__tests__/fetchProductGrouping.test.ts
  packages/redux/src/products/actions/__tests__/fetchProductMeasurements.test.ts
  packages/redux/src/products/actions/__tests__/fetchProductSizeGuides.test.ts
  packages/redux/src/products/actions/__tests__/fetchProductSizes.test.ts
  packages/redux/src/products/actions/__tests__/fetchProductVariantsByMerchantsLocations.test.ts
  packages/redux/src/products/actions/__tests__/fetchRecentlyViewedProducts.test.ts
  packages/redux/src/products/actions/__tests__/fetchRecommendedSet.test.ts
  packages/redux/src/products/actions/__tests__/fetchSet.test.ts
  packages/redux/src/products/actions/__tests__/removeRecentlyViewedProduct.test.ts
  packages/redux/src/products/actions/__tests__/resetProductDetails.test.ts
  packages/redux/src/products/actions/__tests__/resetProductDetailsState.test.ts
  packages/redux/src/products/actions/__tests__/resetProductsLists.test.ts
  packages/redux/src/products/actions/__tests__/resetProductsListsState.test.ts
  packages/redux/src/products/actions/__tests__/saveRecentlyViewedProduct.test.ts
  packages/redux/src/products/index.ts
  packages/redux/src/products/reducer/__tests__/attributes.test.ts
  packages/redux/src/products/reducer/__tests__/colorGrouping.test.ts
  packages/redux/src/products/reducer/__tests__/details.test.ts
  packages/redux/src/products/reducer/__tests__/fittings.test.ts
  packages/redux/src/products/reducer/__tests__/grouping.test.ts
  packages/redux/src/products/reducer/__tests__/lists.test.ts
  packages/redux/src/products/reducer/__tests__/measurements.test.ts
  packages/redux/src/products/reducer/__tests__/recentlyViewed.test.ts
  packages/redux/src/products/reducer/__tests__/sizeGuides.test.ts
  packages/redux/src/products/reducer/__tests__/sizes.test.ts
  packages/redux/src/products/reducer/__tests__/variantsByMerchantsLocations.test.ts
Labels: type: bug, :package: redux

#334 feat(core): add new client contentPages
  packages/core/src/contents/client/__fixtures__/contentPages.fixtures.js
  packages/core/src/contents/client/__tests__/__snapshots__/getContentPages.test.js.snap
  packages/core/src/contents/client/__tests__/getContentPages.test.js
  packages/core/src/contents/client/getCommercePages.js
  packages/core/src/contents/client/getContentPages.js
  packages/core/src/contents/client/index.js
  packages/core/src/contents/redux/__tests__/reducer.test.js
  packages/core/src/contents/redux/actionTypes.js
  packages/core/src/contents/redux/actions/__tests__/__snapshots__/doGetContentPages.test.js.snap
  packages/core/src/contents/redux/actions/__tests__/doGetCommercePages.test.js
  packages/core/src/contents/redux/actions/__tests__/doGetContentPages.test.js
  packages/core/src/contents/redux/actions/doGetCommercePages.js
  packages/core/src/contents/redux/actions/doGetContentPages.js
  packages/core/src/contents/redux/actions/index.js
  packages/core/src/contents/redux/reducer.js
  packages/react/src/content/hooks/__tests__/__fixtures__/ContentPage.fixtures.js
  packages/react/src/content/hooks/__tests__/__snapshots__/useContentPage.test.js.snap
  packages/react/src/content/hooks/__tests__/useContentPage.test.js
  packages/react/src/content/hooks/index.js
  packages/react/src/content/hooks/useContentPage.js
  tests/__fixtures__/contents/contentPages.fixtures.js
  tests/__fixtures__/contents/index.js
Labels: type: feature, :package: react, :package: core

#378 fix(client): update size prop to optional
  packages/client/src/wishlists/types/postWishlistItem.types.ts
Labels: :package: client

#379 dev-main-28-06-22
  packages/core/src/contents/client/__fixtures__/contentPages.fixtures.js
  packages/core/src/contents/client/__tests__/__snapshots__/getContentPages.test.js.snap
  packages/core/src/contents/client/__tests__/getContentPages.test.js
  packages/core/src/contents/client/getCommercePages.js
  packages/core/src/contents/client/getContentPages.js
  packages/core/src/contents/client/index.js
  packages/core/src/contents/redux/__tests__/reducer.test.js
  packages/core/src/contents/redux/actionTypes.js
  packages/core/src/contents/redux/actions/__tests__/__snapshots__/doGetContentPages.test.js.snap
  packages/core/src/contents/redux/actions/__tests__/doGetCommercePages.test.js
  packages/core/src/contents/redux/actions/__tests__/doGetContentPages.test.js
  packages/core/src/contents/redux/actions/doGetCommercePages.js
  packages/core/src/contents/redux/actions/doGetContentPages.js
  packages/core/src/contents/redux/actions/index.js
  packages/core/src/contents/redux/reducer.js
  packages/react/src/content/hooks/__tests__/__fixtures__/ContentPage.fixtures.js
  packages/react/src/content/hooks/__tests__/__snapshots__/useContentPage.test.js.snap
  packages/react/src/content/hooks/__tests__/useContentPage.test.js
  packages/react/src/content/hooks/index.js
  packages/react/src/content/hooks/useContentPage.js
  tests/__fixtures__/contents/contentPages.fixtures.js
  tests/__fixtures__/contents/index.js
Labels: :package: react, :package: core

#364 fix(react): fix useAddresses functions and export types
  packages/react/src/addresses/hooks/__tests__/__fixtures__/Addresses.fixtures.tsx
  packages/react/src/addresses/hooks/__tests__/useAddresses.test.tsx
  packages/react/src/addresses/hooks/useAddresses.ts
Labels: type: bug, :package: react, :rotating_light: BREAKING CHANGE

#380 fix(blackout-redux): set customActionTypes as optional
  packages/redux/src/locale/middlewares/setCountryCode.ts
Labels: type: bug, :package: redux

#381 fix: fix `adaptProductImages` type
  packages/client/src/helpers/adapters/adaptProductImages.ts
  packages/client/src/helpers/adapters/types/adaptProductImages.types.ts
Labels: type: bug, :package: client

#382 fix(redux): add users reset actions to reducer
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.js.snap
  packages/redux/src/users/actionTypes.ts
  packages/redux/src/users/reducer.ts
  packages/redux/src/users/types/action.types.ts
Labels: type: bug, :package: redux

#387 fix(redux): merge entities and run duplicate keys
  packages/redux/src/entities/reducer/__tests__/entitiesMapper.test.ts
  packages/redux/src/entities/reducer/entitiesMapper.ts
  packages/redux/src/returns/__tests__/reducer.test.ts
  packages/redux/src/returns/reducer.ts
Labels: type: bug, :package: redux, :rotating_light: BREAKING CHANGE
