Repository Farfetch/blackout, pull requests merged in 2022-11, with the labels that each got.

#570 feat(react): update GA4 page view command
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, type: documentation, :package: core

#571 feat(react): update GA4 page view command - next
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
Labels: :package: react

#568 fix(core): pickup reschedule reducer
  packages/core/src/returns/redux/__tests__/reducer.test.js
  packages/core/src/returns/redux/__tests__/selectors.test.js
  packages/core/src/returns/redux/reducer.js
  packages/core/src/returns/redux/selectors.js
Labels: type: bug, :package: core

#574 fix(core): pickup reschedule reducer
  packages/core/src/returns/redux/__tests__/reducer.test.js
  packages/core/src/returns/redux/__tests__/selectors.test.js
  packages/core/src/returns/redux/reducer.js
  packages/core/src/returns/redux/selectors.js
Labels: type: bug, :package: core

#576 fix(react): remove unnecessary castle.io tracking requests
  packages/react/src/analytics/integrations/Castle/Castle.ts
  packages/react/src/analytics/integrations/Castle/__tests__/Castle.test.ts
  tests/__fixtures__/analytics/baseAnalyticsEventData.fixtures.ts
Labels: :package: react

#575 feat(react|redux|client): add content hooks
  packages/client/src/contents/__fixtures__/commercepages.fixtures.ts
  packages/client/src/contents/__tests__/getCommercePages.test.ts
  packages/client/src/contents/getCommercePages.ts
  packages/client/src/contents/types/commercePages.types.ts
  packages/client/src/contents/types/contents.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/contents/hooks/__tests__/__fixtures__/ContentTypes.fixtures.tsx
  packages/react/src/contents/hooks/__tests__/__fixtures__/Navbars.fixtures.tsx
  packages/react/src/contents/hooks/__tests__/__fixtures__/Page.fixtures.tsx
  packages/react/src/contents/hooks/__tests__/__fixtures__/Widget.fixtures.tsx
  packages/react/src/contents/hooks/__tests__/__snapshots__/useContentTypes.test.tsx.snap
  packages/react/src/contents/hooks/__tests__/__snapshots__/useNavbars.test.tsx.snap
  packages/react/src/contents/hooks/__tests__/__snapshots__/usePage.test.tsx.snap
  packages/react/src/contents/hooks/__tests__/__snapshots__/useWidget.test.tsx.snap
  packages/react/src/contents/hooks/__tests__/useCommercePages.test.tsx
  packages/react/src/contents/hooks/__tests__/useContentType.test.tsx
  packages/react/src/contents/hooks/__tests__/useContentTypes.test.tsx
  packages/react/src/contents/hooks/__tests__/useNavbars.test.tsx
  packages/react/src/contents/hooks/__tests__/usePage.test.tsx
  packages/react/src/contents/hooks/__tests__/useWidget.test.tsx
  packages/react/src/contents/hooks/index.ts
  packages/react/src/contents/hooks/types/useCommercePages.types.ts
  packages/react/src/contents/hooks/types/useContentType.types.ts
  packages/react/src/contents/hooks/types/useSeoMetadataOptions.types.ts
  packages/react/src/contents/hooks/useCommercePages.ts
  packages/react/src/contents/hooks/useContentType.ts
  packages/react/src/contents/hooks/useNavbars.ts
  packages/react/src/contents/hooks/usePage.ts
  packages/react/src/contents/hooks/useSeoMetadata.ts
  packages/react/src/contents/hooks/useWidget.ts
  packages/react/src/contents/types/metatags.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/contents/actions/factories/fetchCommercePagesFactory.ts
  packages/redux/src/contents/selectors.ts
  packages/redux/src/contents/types/contentTypeCode.types.ts
  packages/redux/src/contents/types/index.ts
  packages/redux/src/contents/types/selectors.types.ts
  packages/redux/src/contents/utils.ts
  tests/__fixtures__/contents/commercePages.fixtures.ts
Labels: :package: client, :package: react, :package: redux, :rotating_light: BREAKING CHANGE

#577 fix(core): fix analytics' setUser middleware on logout action
  packages/core/src/analytics/redux/middlewares/__tests__/setUser.test.js
  packages/core/src/analytics/redux/middlewares/setUser.js
Labels: type: bug, :package: core

#580 Weekly Release - 15-11-22
  packages/core/src/analytics/redux/middlewares/__tests__/setUser.test.js
  packages/core/src/analytics/redux/middlewares/setUser.js
Labels: :package: core

#581 fix(react): remove useSeoMedata default app links and fix useProductD…
  packages/react/src/contents/hooks/__tests__/useSeoMetadata.test.tsx
  packages/react/src/contents/hooks/useSeoMetadata.ts
  packages/react/src/contents/utils/seoMetadata.ts
  packages/react/src/products/hooks/useProductDetails.ts
Labels: :package: react

#578 fix(redux): fix bag reducer
  packages/redux/src/bags/__tests__/reducer.test.ts
  packages/redux/src/bags/reducer.ts
Labels: type: bug, :package: redux

#583 fix(react): fix add/update bag item errors in useBag hook
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/errors/index.ts
  packages/react/src/bags/hooks/useBag.ts
  tests/__fixtures__/bags/bag.fixtures.ts
Labels: type: bug, :package: react

#582 fix(redux): fix analytics' setUser middleware on logout action - Next
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/redux/src/analytics/middlewares/__tests__/setUser.test.ts
  packages/redux/src/analytics/middlewares/setUser.ts
Labels: :package: redux, :package: analytics

#586 fix(redux): fix countrySourceCode in locale initial state
  packages/redux/src/locale/serverInitialState.ts
  packages/redux/src/types/model.types.ts
  tests/__fixtures__/locale/locale.fixtures.ts
Labels: :package: redux

#587 feat(core): update seo metadata endpoint
  packages/core/src/contents/client/__fixtures__/seo.fixtures.js
  packages/core/src/contents/client/__tests__/getSEO.test.js
  packages/core/src/contents/client/getSEO.js
Labels: type: feature, :package: core

#588 feat(core): add user and guestUser benefits endpoints
  packages/core/src/profile/client/__fixtures__/getGuestUserBenefits.fixtures.js
  packages/core/src/profile/client/__fixtures__/getUserBenefits.fixtures.js
  packages/core/src/profile/client/__tests__/__snapshots__/getGuestUserBenefits.test.js.snap
  packages/core/src/profile/client/__tests__/__snapshots__/getUserBenefits.test.js.snap
  packages/core/src/profile/client/__tests__/getGuestUserBenefits.test.js
  packages/core/src/profile/client/__tests__/getUserBenefits.test.js
  packages/core/src/profile/client/getGuestUserBenefits.js
  packages/core/src/profile/client/getUserBenefits.js
  packages/core/src/profile/client/index.js
  packages/core/src/profile/redux/__fixtures__/userBenefits.fixtures.js
  packages/core/src/profile/redux/actionTypes.js
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doGetGuestUserBenefits.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doGetUserBenefits.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/doGetGuestUserBenefits.test.js
  packages/core/src/profile/redux/actions/__tests__/doGetUserBenefits.test.js
  packages/core/src/profile/redux/actions/doGetGuestUserBenefits.js
  packages/core/src/profile/redux/actions/doGetUserBenefits.js
  packages/core/src/profile/redux/actions/index.js
Labels: type: feature, :package: redux, :package: core

#590 chore: add baseurl param on seo docs
  packages/core/src/contents/redux/actions/doGetSEO.js
  packages/react/src/content/hooks/useSEO.js
Labels: :package: react, :package: redux, :package: core, ignore-for-release

#592 chore(redux|react): Refactor whishlist initial state
  packages/react/src/wishlists/hooks/useWishlist.ts
  packages/redux/src/wishlists/reducer/wishlists.ts
  packages/redux/src/wishlists/types/state.types.ts
Labels: type: enhancement, :package: react, :package: redux, :rotating_light: BREAKING CHANGE

#594 chore: fix --yes flag position in lerna version
  scripts/release.sh
Labels: type: maintenance

#595 Weekly Release - 29-11-22
  packages/core/src/contents/redux/actions/doGetSEO.js
  packages/react/src/content/hooks/useSEO.js
Labels: :package: react, :package: core, ignore-for-release

#591 chore(react|redux): add missing type exports
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/helpers/client/index.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/bags/hooks/index.ts
  packages/react/src/brands/hooks/index.ts
  packages/react/src/categories/hooks/index.ts
  packages/react/src/contents/index.ts
  packages/react/src/locale/index.ts
  packages/react/src/orders/hooks/index.ts
  packages/react/src/payments/hooks/index.ts
  packages/react/src/products/hooks/index.ts
  packages/react/src/search/hooks/index.ts
  packages/react/src/settings/hooks/index.ts
  packages/react/src/subscriptions/hooks/index.ts
  packages/react/src/users/hooks/index.ts
  packages/redux/src/addresses/index.ts
Labels: :package: client, :package: react, :package: redux
