Repository Farfetch/blackout, pull requests merged in 2022-09, with the labels that each got.

#458 feat(core): add omnitracking's share event mappings
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#459 Feat add omnitracking checkout started event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#469 chore: cleanup project
  .eslintrc.json
  README.md
  package.json
  packages/analytics/package.json
  packages/client/README.md
  packages/client/package.json
  packages/client/src/contents/getSearchContents.ts
  packages/react/README.md
  packages/react/package.json
  packages/react/src/analytics/integrations/shared/validation/eventValidator.ts
  packages/redux/README.md
  packages/redux/package.json
  packages/redux/src/forms/selectors.ts
  packages/redux/src/products/selectors/__tests__/recommendedProducts.test.ts
  yarn.lock
Labels: :package: client, :package: react, :package: redux, :package: analytics, type: documentation

#475 feat(core): add omnitracking's promocode mappings
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#476 feat(core): add omnitracking's place order started event mappings
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/__tests__/omnitracking-helper.test.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#477 Feat add omnitracking order completed event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#479 Feat add omnitracking signup newsletter event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/__tests__/omnitracking-helper.test.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/integrations/index.js
  packages/core/src/analytics/integrations/shared/dataMappings/signupNewsletterGenderMappings.js
  packages/react/src/analytics/integrations/shared/dataMappings/index.js
Labels: type: feature, :package: react, :package: core

#481 feat(core): add omnitracking's homepage mappings
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#482 fix(client): change post address request response
  packages/core/src/orders/client/__tests__/postOrderShippingAddressChangeRequests.test.js
  packages/core/src/orders/client/postOrderShippingAddressChangeRequests.js
Labels: type: bug, :package: client, :package: core

#484 feat(core): add omnitracking's generic page mappings
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#480 fix(redux|client): fix checkout and payments types
  packages/client/src/checkout/types/checkoutOrder.types.ts
  packages/client/src/checkout/types/postCheckoutOrderCharge.types.ts
  packages/client/src/payments/types/payer.types.ts
  packages/client/src/payments/types/paymentIntentCharge.types.ts
  packages/client/src/payments/types/postPaymentIntentInstrument.types.ts
  packages/redux/src/checkout/actions/factories/fetchCheckoutOrderChargeFactory.ts
  packages/redux/src/entities/types/checkoutOrderItem.types.ts
Labels: type: bug, :package: client, :package: redux

#485 feat(core): update omnitracking's contract to v1.15
  packages/core/src/analytics/integrations/Omnitracking/Omnitracking.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#486 feat(core): add omnitracking's address info mappings
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/__tests__/omnitracking-helper.test.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#487 Feat add omnitracking payment info event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#491 feat(analytics): add new option to pass an http client to omnitracking integration - next
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/constants.ts
  packages/analytics/src/integrations/Omnitracking/types/Omnitracking.types.ts
Labels: :package: analytics

#489 Feat add omnitracking shipping event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/__tests__/omnitracking-helper.test.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#493 feat(core): add omnitracking's bag events mappings
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/redux/middlewares/__tests__/bag.test.js
  packages/core/src/analytics/redux/middlewares/bag.js
Labels: type: feature, :package: core

#494 feat(core): add omnitracking's wishlist events mappings
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/redux/middlewares/__tests__/bag.test.js
  packages/core/src/analytics/redux/middlewares/__tests__/wishlist.test.js
  packages/core/src/analytics/redux/middlewares/bag.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
Labels: type: feature, :package: core

#490 feat(core): add new option to pass an http client to omnitracking integration
  packages/core/src/analytics/integrations/Omnitracking/Omnitracking.js
  packages/core/src/analytics/integrations/Omnitracking/constants.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
Labels: type: feature, :package: core

#467 fix(react): add products brand data to useProductListing hook
  packages/react/src/products/hooks/__tests__/useProductListing.test.tsx
  packages/react/src/products/hooks/useProductListing.ts
  packages/redux/src/brands/selectors.ts
  packages/redux/src/entities/types/product.types.ts
  packages/redux/src/products/selectors/__tests__/lists.test.ts
  packages/redux/src/products/selectors/lists.ts
  packages/redux/src/products/serverInitialState/__tests__/lists.test.ts
  packages/redux/src/products/serverInitialState/lists.ts
  tests/__fixtures__/products/productsLists.fixtures.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: :package: react, :package: redux

#496 fix(core|react): fix omnitracking's clientLanguage and clientCountry parameters
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/__fixtures__/userData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/Omnitracking.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/react/src/analytics/integrations/Omnitracking/Omnitracking.js
  packages/react/src/analytics/integrations/Omnitracking/omnitracking-web-helper.js
  packages/react/src/analytics/integrations/__tests__/Omnitracking.test.js
Labels: type: bug, :package: react, :package: core

#497 feat(core): add omnitracking's product updated events mappings
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/redux/middlewares/__tests__/bag.test.js
  packages/core/src/analytics/redux/middlewares/__tests__/wishlist.test.js
  packages/core/src/analytics/redux/middlewares/bag.js
  packages/core/src/analytics/redux/middlewares/helpers.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
Labels: type: feature, :package: core

#498 Feat add omnitracking product clicked event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#499 Feat add omnitracking filters events
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#501 Feat add omnitracking login signup events
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#503 Feat add omnitracking interact content event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#504 Feat add omnitracking select content event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#507 Feat add omnitracking scroll track event
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
Labels: type: feature, :package: core

#502 feat(core|react): share uuid between omnitracking and google analytics 4
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/__fixtures__/commonData.fixtures.js
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/__tests__/analytics.test.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GA4/commands.js
  packages/react/src/analytics/integrations/GA4/constants.js
  packages/react/src/analytics/integrations/__fixtures__/analyticsPageData.fixtures.json
  packages/react/src/analytics/integrations/__fixtures__/analyticsTrackData.fixtures.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/GTM.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#500 fix(react): remove `useAction` from public exports
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/categories/hooks/useCategories.ts
  packages/react/src/checkout/hooks/useCheckout.ts
  packages/react/src/contents/hooks/useCommercePages.ts
  packages/react/src/contents/hooks/useContentType.ts
  packages/react/src/contents/hooks/useMetaTags.ts
  packages/react/src/contents/hooks/useNavbars.ts
  packages/react/src/contents/hooks/usePage.ts
  packages/react/src/contents/hooks/useWidget.ts
  packages/react/src/helpers/index.ts
  packages/react/src/locale/hooks/useCountries.ts
  packages/react/src/locale/hooks/useCountryAddressSchemas.ts
  packages/react/src/locale/hooks/useCountryStateCities.ts
  packages/react/src/locale/hooks/useCountryStates.ts
  packages/react/src/orders/hooks/useOrders.ts
  packages/react/src/payments/hooks/usePaymentTokens.ts
  packages/react/src/products/hooks/useProductAttributes.ts
  packages/react/src/products/hooks/useProductDetails.ts
  packages/react/src/products/hooks/useProductListing.ts
  packages/react/src/products/hooks/useProductSizeGuides.ts
  packages/react/src/search/hooks/useSearchDidYouMean.ts
  packages/react/src/search/hooks/useSearchIntents.ts
  packages/react/src/search/hooks/useSearchSuggestions.ts
  packages/react/src/users/hooks/useUser.ts
  packages/react/src/users/hooks/useUserAddress.ts
  packages/react/src/users/hooks/useUserAddresses.ts
  packages/react/src/wishlists/hooks/useWishlist.ts
  packages/react/src/wishlists/hooks/useWishlistSet.ts
  packages/react/src/wishlists/hooks/useWishlistSets.ts
Labels: type: bug, :package: react, :rotating_light: BREAKING CHANGE

#505 fix(redux): fix resetProductsLists action
  packages/react/src/products/hooks/__tests__/useProductListing.test.tsx
  packages/react/src/products/hooks/useProductListing.ts
  packages/redux/src/entities/types/productsList.types.ts
  packages/redux/src/products/actions/resetProductDetails.ts
  packages/redux/src/products/actions/resetProductDetailsState.ts
  packages/redux/src/products/actions/resetProductsLists.ts
  packages/redux/src/products/actions/resetProductsListsState.ts
  packages/redux/src/products/reducer/__tests__/details.test.ts
  packages/redux/src/products/reducer/__tests__/lists.test.ts
  packages/redux/src/products/reducer/details.ts
  packages/redux/src/products/reducer/lists.ts
  packages/redux/src/products/types/actions/productDetails.types.ts
  packages/redux/src/products/types/actions/productsLists.types.ts
  tests/__fixtures__/products/productsLists.fixtures.ts
Labels: type: bug, :package: react, :package: redux

#513 fix(react): fix GA4 page and event tracking
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: bug, :package: react

#515 Weekly Release - 27-09-22
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: react

#514 fix(client): fix locale types
  packages/client/src/locale/__fixtures__/getCountryStateCities.fixtures.ts
  packages/client/src/locale/__fixtures__/getCountryStates.fixtures.ts
Labels: :package: client
