Repository Farfetch/blackout, pull requests merged in 2022-12, with the labels that each got.

#599 fix(analytics): reset analytics' setUser promise when user is anonymised - Next
  packages/analytics/src/Analytics.ts
  packages/analytics/src/User.ts
  packages/analytics/src/__tests__/analytics.test.ts
  packages/react/src/users/hooks/__tests__/useUserAddresses.test.tsx
  packages/react/tests/helpers/index.ts
  tests/flushPromises.ts
Labels: :package: react, :package: analytics

#600 fix: remove environmentCode query
  packages/react/src/content/hooks/useContentType.js
Labels: type: bug, :package: react

#562 feat(react|redux): add getProductDenormalized selector
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/types/useBag.ts
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/products/hooks/__tests__/useProductDetails.test.tsx
  packages/react/src/products/hooks/__tests__/useProductListing.test.tsx
  packages/react/src/products/hooks/__tests__/useRecentlyViewedProducts.test.tsx
  packages/react/src/products/hooks/useProductDetails.ts
  packages/react/src/wishlists/hooks/__tests__/useWishlist.test.tsx
  packages/react/src/wishlists/hooks/__tests__/useWishlistItem.test.tsx
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/helpers.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
  packages/redux/src/bags/__tests__/selectors.test.ts
  packages/redux/src/bags/selectors.ts
  packages/redux/src/bags/utils/buildBagItem.ts
  packages/redux/src/bags/utils/generateBagItemHash.ts
  packages/redux/src/categories/selectors/categories.ts
  packages/redux/src/categories/selectors/category.ts
  packages/redux/src/entities/types/bagItem.types.ts
  packages/redux/src/entities/types/product.types.ts
  packages/redux/src/entities/types/wishlistItem.types.ts
  packages/redux/src/products/selectors/__tests__/details.test.ts
  packages/redux/src/products/selectors/__tests__/lists.test.ts
  packages/redux/src/products/selectors/details.ts
  packages/redux/src/products/selectors/lists.ts
  packages/redux/src/products/selectors/product.ts
  packages/redux/src/wishlists/selectors/__tests__/wishlists.test.ts
  packages/redux/src/wishlists/selectors/__tests__/wishlistsSets.test.ts
  packages/redux/src/wishlists/selectors/wishlists.ts
  packages/redux/src/wishlists/selectors/wishlistsSets.ts
  packages/redux/src/wishlists/utils/generateWishlistItemHash.ts
  tests/__fixtures__/bags/bag.fixtures.ts
  tests/__fixtures__/bags/bagItem.fixtures.ts
  tests/__fixtures__/products/products.fixtures.ts
  tests/__fixtures__/products/productsLists.fixtures.ts
  tests/__fixtures__/products/state.fixtures.ts
  tests/__fixtures__/wishlists/wishlists.fixtures.ts
Labels: :package: react, :package: redux, :rotating_light: BREAKING CHANGE

#601 fix(react|redux): fix wishlist and bag selectors
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/contents/components/base/contentList/ContentList.tsx
  packages/react/src/contents/helpers/__tests__/renderContent.test.tsx
  packages/react/src/contents/helpers/renderContent.tsx
  packages/react/src/contents/types/component.types.ts
  packages/react/src/contents/types/metatags.types.ts
  packages/react/src/wishlists/hooks/__tests__/useWishlist.test.tsx
  packages/react/src/wishlists/hooks/useWishlist.ts
  packages/redux/src/analytics/middlewares/__tests__/bag.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/bags/__tests__/selectors.test.ts
  packages/redux/src/bags/selectors.ts
  packages/redux/src/entities/types/wishlistItem.types.ts
  packages/redux/src/products/selectors/product.ts
  packages/redux/src/wishlists/selectors/__tests__/wishlists.test.ts
  packages/redux/src/wishlists/selectors/wishlists.ts
Labels: type: bug, :package: react, :package: redux

#610 fix(redux): add missing selectors exports
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/products/selectors/index.ts
Labels: type: bug, :package: redux

#609 feat(client|redux|react) add support to metadata on bag and wishlist actions for NEXT
  packages/client/src/wishlists/types/patchWishlistSet.types.ts
  packages/react/src/bags/hooks/__tests__/useBagItem.test.tsx
  packages/react/src/bags/hooks/useBagItem.ts
  packages/react/src/wishlists/hooks/__tests__/useWishlistItem.test.tsx
  packages/react/src/wishlists/hooks/useWishlistItem.ts
  packages/react/src/wishlists/hooks/useWishlistSets.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
  packages/redux/src/wishlists/actions/factories/updateWishlistSetFactory.ts
  packages/redux/src/wishlists/types/actions.types.ts
Labels: type: feature, :package: client, :package: react, :package: redux, :rotating_light: BREAKING CHANGE

#612 fix(react): fix getListingSeoMetadataParams
  packages/react/src/contents/types/metatags.types.ts
  packages/react/src/contents/utils/getListingSeoMetadataParams.ts
Labels: type: bug, :package: react

#603 fix(redux|react|client): fix product listing hook and filters related types
  .nvmrc
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/products/types/facetGroup.types.ts
  packages/react/src/products/hooks/__tests__/useProductListing.test.tsx
  packages/react/src/products/hooks/useProductListing.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/types/productsList.types.ts
  packages/redux/src/products/selectors/__tests__/lists.test.ts
  packages/redux/src/products/selectors/lists.ts
  packages/redux/src/products/serverInitialState/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/products/serverInitialState/__tests__/__snapshots__/lists.test.ts.snap
  packages/redux/src/products/utils/buildSetFiltersQueryParams.ts
  packages/redux/src/products/utils/buildUnsetFiltersQueryParams.ts
  tests/__fixtures__/products/products.fixtures.ts
  tests/__fixtures__/products/productsLists.fixtures.ts
Labels: :package: client, :package: react, :package: redux

#613 chore(redux): Adyen HPP deprecation iDeal
  packages/core/src/payments/redux/__fixtures__/getPaymentMethods.fixtures.js
  packages/core/src/payments/redux/actions/doPostInstruments.js
Labels: :package: redux, :package: core, ignore-for-release

#620 Fix omnitracking navigatedfrom parameter logic
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
Labels: type: bug, :package: analytics
