Repository Farfetch/blackout, pull requests merged in 2023-05, with the labels that each got.

#743 fix(react): add missing orderId parameter on order_completed event
  packages/react/src/analytics/integrations/GTM/eventsMapper.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
Labels: type: bug, :package: react

#744 fix(react): add missing orderId parameter on order_completed event
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  packages/react/src/analytics/integrations/GTM/eventsMapper.ts
Labels: :package: react

#736 feat(core): add exchanges endpoints
  packages/analytics/tsconfig.ci.runtime.tsbuildinfo
  packages/client/tsconfig.ci.runtime.tsbuildinfo
  packages/core/src/exchanges/client/__fixtures__/getExchange.fixtures.js
  packages/core/src/exchanges/client/__fixtures__/getExchangeBookRequest.fixtures.js
  packages/core/src/exchanges/client/__fixtures__/postExchange.fixtures.js
  packages/core/src/exchanges/client/__fixtures__/postExchangeBookRequest.fixtures.js
  packages/core/src/exchanges/client/__fixtures__/postExchangeFilter.fixtures.js
  packages/core/src/exchanges/client/__tests__/__snapshots__/getExchange.test.js.snap
  packages/core/src/exchanges/client/__tests__/__snapshots__/getExchangeBookRequest.test.js.snap
  packages/core/src/exchanges/client/__tests__/__snapshots__/postExchange.test.js.snap
  packages/core/src/exchanges/client/__tests__/__snapshots__/postExchangeBookRequest.test.js.snap
  packages/core/src/exchanges/client/__tests__/__snapshots__/postExchangeFilter.test.js.snap
  packages/core/src/exchanges/client/__tests__/getExchange.test.js
  packages/core/src/exchanges/client/__tests__/getExchangeBookRequest.test.js
  packages/core/src/exchanges/client/__tests__/postExchange.test.js
  packages/core/src/exchanges/client/__tests__/postExchangeBookRequest.test.js
  packages/core/src/exchanges/client/__tests__/postExchangeFilter.test.js
  packages/core/src/exchanges/client/getExchange.js
  packages/core/src/exchanges/client/getExchangeBookRequest.js
  packages/core/src/exchanges/client/index.js
  packages/core/src/exchanges/client/postExchange.js
  packages/core/src/exchanges/client/postExchangeBookRequest.js
  packages/core/src/exchanges/client/postExchangeFilter.js
  packages/core/src/exchanges/redux/__fixtures__/exchanges.fixtures.js
  packages/core/src/exchanges/redux/__tests__/reducer.test.js
  packages/core/src/exchanges/redux/__tests__/selectors.test.js
  packages/core/src/exchanges/redux/actionTypes.js
  packages/core/src/exchanges/redux/actions/__tests__/__snapshots__/doCreateExchange.test.js.snap
  packages/core/src/exchanges/redux/actions/__tests__/__snapshots__/doCreateExchangeBookRequest.test.js.snap
  packages/core/src/exchanges/redux/actions/__tests__/__snapshots__/doCreateExchangeFilter.test.js.snap
  packages/core/src/exchanges/redux/actions/__tests__/__snapshots__/doGetExchange.test.js.snap
  packages/core/src/exchanges/redux/actions/__tests__/__snapshots__/doGetExchangeBookRequest.test.js.snap
  packages/core/src/exchanges/redux/actions/__tests__/doCreateExchange.test.js
  packages/core/src/exchanges/redux/actions/__tests__/doCreateExchangeBookRequest.test.js
  packages/core/src/exchanges/redux/actions/__tests__/doCreateExchangeFilter.test.js
  packages/core/src/exchanges/redux/actions/__tests__/doGetExchange.test.js
  packages/core/src/exchanges/redux/actions/__tests__/doGetExchangeBookRequest.test.js
  packages/core/src/exchanges/redux/actions/__tests__/reset.test.js
  packages/core/src/exchanges/redux/actions/doCreateExchange.js
  packages/core/src/exchanges/redux/actions/doCreateExchangeBookRequest.js
  packages/core/src/exchanges/redux/actions/doCreateExchangeFilter.js
  packages/core/src/exchanges/redux/actions/doGetExchange.js
  packages/core/src/exchanges/redux/actions/doGetExchangeBookRequest.js
  packages/core/src/exchanges/redux/actions/index.js
  packages/core/src/exchanges/redux/actions/reset.js
  packages/core/src/exchanges/redux/index.js
  packages/core/src/exchanges/redux/reducer.js
  packages/core/src/exchanges/redux/selectors.js
  packages/core/src/returns/client/index.js
  packages/react/tsconfig.ci.runtime.tsbuildinfo
  packages/redux/tsconfig.ci.runtime.tsbuildinfo
  tsconfig.ci.tests.tsbuildinfo
Labels: type: feature, :package: react, :package: core

#746 chore: prevent lodash imports in source
  .eslintrc.js
Labels: type: maintenance

#741 feat: setup analytics api integration next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/utils/getters.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.ts
  packages/react/src/analytics/integrations/AnalyticsApi/__tests__/AnalyticsApi.test.ts
  packages/react/src/analytics/integrations/AnalyticsApi/index.ts
  packages/react/src/analytics/integrations/AnalyticsApi/types/index.ts
  packages/react/src/analytics/integrations/AnalyticsApi/types/types.ts
  packages/react/src/analytics/integrations/index.ts
Labels: type: feature, :package: react, :package: analytics

#750 fix: fix possible infinite loop in `useCheckoutOrderDetails`
  packages/react/src/checkout/hooks/__tests__/useCheckoutOrderDetails.test.tsx
  packages/react/src/checkout/hooks/useCheckoutOrderDetails.ts
Labels: type: bug, :package: react

#749 feat(core): add post guest orders endpoint
  .gitignore
  packages/analytics/tsconfig.ci.runtime.tsbuildinfo
  packages/client/tsconfig.ci.runtime.tsbuildinfo
  packages/core/src/entities/redux/__tests__/__snapshots__/reducer.test.js.snap
  packages/core/src/orders/client/__fixtures__/postGuestOrderDetails.fixtures.js
  packages/core/src/orders/client/__tests__/__snapshots__/postGuestOrderDetails.test.js.snap
  packages/core/src/orders/client/__tests__/postGuestOrderDetails.test.js
  packages/core/src/orders/client/index.js
  packages/core/src/orders/client/postGuestOrderDetails.js
  packages/core/src/orders/redux/actionTypes.js
  packages/core/src/orders/redux/actions/__tests__/__snapshots__/doPostOrderDetailsGuestUser.test.js.snap
  packages/core/src/orders/redux/actions/__tests__/doPostOrderDetailsGuestUser.test.js
  packages/core/src/orders/redux/actions/doPostOrderDetailsGuestUser.js
  packages/core/src/orders/redux/actions/index.js
  packages/core/src/orders/redux/reducer.js
  packages/react/tsconfig.ci.runtime.tsbuildinfo
  packages/redux/tsconfig.ci.runtime.tsbuildinfo
  tsconfig.ci.tests.tsbuildinfo
Labels: type: feature, :package: react, :package: core

#745 chore: prevent automatic major version bumps to `main`
  .github/workflows/CI.yml
  patches/@lerna+conventional-commits+5.6.2.patch
  patches/@lerna+version+5.6.2.patch
  scripts/release.sh
Labels: type: maintenance

#675 fix(redux): refactor server initial state to search content type code
  packages/redux/src/contents/serverInitialState.ts
  tests/__fixtures__/contents/contents.fixtures.mts
Labels: :package: redux

#756 Feat analytics improvements
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  packages/react/src/analytics/integrations/GTM/eventsMapper.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
Labels: :package: react, :package: redux

#752 feat: add package to unsubcribe action
  packages/core/src/subscriptions/client/__mocks__/deleteSubscription.fixtures.js
  packages/core/src/subscriptions/client/__tests__/deleteSubscription.test.js
  packages/core/src/subscriptions/client/deleteSubscription.js
  packages/core/src/subscriptions/redux/actions/__tests__/doUnsubscribeFromSubscription.test.js
  packages/core/src/subscriptions/redux/actions/doUnsubscribeFromSubscription.js
Labels: type: feature, :package: core

#758 feat(react): remove castle pageview event tracking for `next`
  packages/react/src/analytics/integrations/Castle/Castle.ts
  packages/react/src/analytics/integrations/Castle/__tests__/Castle.test.ts
Labels: :package: react

#707 fix: remove `contentTypeCode` as required parameter
  packages/client/src/contents/getSearchContents.ts
  packages/client/src/contents/types/contents.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/contents/components/base/__tests__/ContentList.test.tsx
  packages/react/src/contents/components/base/contentList/ContentList.tsx
  packages/react/src/contents/hooks/__tests__/useContents.test.tsx
  packages/react/src/contents/hooks/index.ts
  packages/react/src/contents/hooks/types/useContentType.types.ts
  packages/react/src/contents/hooks/types/useContents.types.ts
  packages/react/src/contents/hooks/useContents.ts
  packages/redux/src/contents/__tests__/utils.test.ts
  packages/redux/src/contents/actions/factories/fetchContentsFactory.ts
  packages/redux/src/contents/utils.ts
Labels: type: bug, :package: client, :package: react, :package: redux, :rotating_light: BREAKING CHANGE

#751 feat(core|react): analytics improvements
  packages/core/src/analytics/redux/middlewares/bag.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.js
  packages/react/src/analytics/integrations/GTM/eventsMapper.js
  packages/react/src/analytics/integrations/__tests__/AnalyticsApi.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
  packages/react/src/bags/hooks/useBagItem.js
Labels: type: feature, :package: react, :package: core

#757 feat(react): remove castle pageview event tracking
  packages/react/src/analytics/integrations/Castle/Castle.js
  packages/react/src/analytics/integrations/Castle/CastleV1.js
  packages/react/src/analytics/integrations/Castle/CastleV2.js
  packages/react/src/analytics/integrations/__tests__/Castle.test.js
  packages/react/src/analytics/integrations/__tests__/CastleV1.test.js
  packages/react/src/analytics/integrations/__tests__/CastleV2.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/CastleV1.test.js.snap
Labels: type: feature, :package: react

#754 fix(react|redux): useSEO hook looping requests
  packages/core/src/contents/redux/__tests__/reducer.test.js
  packages/core/src/contents/redux/reducer.js
  packages/react/src/content/hooks/useSEO.js
Labels: type: bug, :package: react, :package: core

#760 fix(react): change handle delete bag item parameters
  packages/react/src/bags/hooks/useBagItem.js
Labels: type: bug, :package: react

#755 feat(client|redux): add checkoutOrder context endpoint
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/checkout/__fixtures__/deleteCheckoutOrderContext.fixtures.ts
  packages/client/src/checkout/__fixtures__/getCheckoutOrderContext.fixtures.ts
  packages/client/src/checkout/__fixtures__/getCheckoutOrderContexts.fixtures.ts
  packages/client/src/checkout/__fixtures__/postCheckoutOrder.fixtures.ts
  packages/client/src/checkout/__fixtures__/postCheckoutOrderContext.fixtures.ts
  packages/client/src/checkout/__tests__/__snapshots__/deleteCheckoutOrderContext.test.ts.snap
  packages/client/src/checkout/__tests__/__snapshots__/getCheckoutOrderContext.test.ts.snap
  packages/client/src/checkout/__tests__/__snapshots__/getCheckoutOrderContexts.test.ts.snap
  packages/client/src/checkout/__tests__/__snapshots__/postCheckoutOrderContext.test.ts.snap
  packages/client/src/checkout/__tests__/deleteCheckoutOrderContext.test.ts
  packages/client/src/checkout/__tests__/getCheckoutOrderContext.test.ts
  packages/client/src/checkout/__tests__/getCheckoutOrderContexts.test.ts
  packages/client/src/checkout/__tests__/postCheckoutOrderContext.test.ts
  packages/client/src/checkout/deleteCheckoutOrderContext.ts
  packages/client/src/checkout/getCheckoutOrderContext.ts
  packages/client/src/checkout/getCheckoutOrderContexts.ts
  packages/client/src/checkout/index.ts
  packages/client/src/checkout/postCheckoutOrderContext.ts
  packages/client/src/checkout/types/checkoutOrderContext.types.ts
  packages/client/src/checkout/types/deleteCheckoutOrderContext.types.ts
  packages/client/src/checkout/types/getCheckoutOrderContext.types.ts
  packages/client/src/checkout/types/getCheckoutOrderContexts.types.ts
  packages/client/src/checkout/types/index.ts
  packages/client/src/checkout/types/postCheckoutOrderContext.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/__tests__/selectors.test.ts
  packages/redux/src/checkout/actionTypes.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/createCheckoutOrderContext.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrderContext.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrderContexts.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/removeCheckoutOrderContext.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/createCheckoutOrderContext.test.ts
  packages/redux/src/checkout/actions/__tests__/fetchCheckoutOrderContext.test.ts
  packages/redux/src/checkout/actions/__tests__/fetchCheckoutOrderContexts.test.ts
  packages/redux/src/checkout/actions/__tests__/removeCheckoutOrderContext.test.ts
  packages/redux/src/checkout/actions/__tests__/resetCheckoutOrderContextState.test.ts
  packages/redux/src/checkout/actions/createCheckoutOrderContext.ts
  packages/redux/src/checkout/actions/factories/createCheckoutOrderContextFactory.ts
  packages/redux/src/checkout/actions/factories/fetchCheckoutOrderContextFactory.ts
  packages/redux/src/checkout/actions/factories/fetchCheckoutOrderContextsFactory.ts
  packages/redux/src/checkout/actions/factories/index.ts
  packages/redux/src/checkout/actions/factories/removeCheckoutOrderContextFactory.ts
  packages/redux/src/checkout/actions/fetchCheckoutOrderContext.ts
  packages/redux/src/checkout/actions/fetchCheckoutOrderContexts.ts
  packages/redux/src/checkout/actions/index.ts
  packages/redux/src/checkout/actions/removeCheckoutOrderContext.ts
  packages/redux/src/checkout/actions/resetCheckoutOrderContext.ts
  packages/redux/src/checkout/actions/resetCheckoutOrderContexts.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/checkout/selectors.ts
  packages/redux/src/checkout/types/actions.types.ts
  packages/redux/src/checkout/types/state.types.ts
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  packages/redux/src/entities/schemas/checkoutOrderContext.ts
  packages/redux/src/entities/types/checkoutOrderContext.types.ts
  packages/redux/src/entities/types/index.ts
  packages/redux/src/types/storeState.types.ts
  tests/__fixtures__/checkout/checkout.fixtures.mts
Labels: type: feature, :package: client, :package: redux

#766 feat(client): add backorder types to order item
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/orders/types/orderItem.types.ts
  packages/client/src/types/common/saleIntent.types.ts
  tests/__fixtures__/orders/orders.fixtures.mts
  tests/__fixtures__/products/productVariantsMerchantsLocations.fixtures.mts
  yarn.lock
Labels: type: feature, :package: client

#771 Release dev-v1-23-05-23
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/__tests__/omnitracking-helper.test.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/utils/__tests__/getters.test.js
  packages/core/src/analytics/utils/getters.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: react, :package: core

#774 chore: add metadata field to user type and its operations
  packages/client/src/users/authentication/types/postUser.types.ts
  packages/client/src/users/authentication/types/putUser.types.ts
  packages/client/src/users/authentication/types/user.types.ts
Labels: :package: client

#775 chore: use lerna to create github releases
  .github/workflows/CI.yml
  .github/workflows/CreateRelease.yml
  .github/workflows/SendEmail.yml
  scripts/release.sh
Labels: type: maintenance, ignore-for-release

#778 chore: fix release script
  scripts/release.sh
Labels: ignore-for-release
