Repository Farfetch/blackout, pull requests merged in 2023-03, with the labels that each got.

#681 feat(core|redux): add get return workflow endpoint
  packages/core/src/returns/client/__fixtures__/getReturnWorkflow.fixtures.js
  packages/core/src/returns/client/__tests__/__snapshots__/getReturnWorkflow.test.js.snap
  packages/core/src/returns/client/__tests__/getReturnWorkflow.test.js
  packages/core/src/returns/client/getReturnWorkflow.js
  packages/core/src/returns/client/index.js
Labels: type: feature, :package: redux, :package: core

#685 feat(client): add metadata to bag item and requests types
  packages/client/src/bags/types/bagItem.types.ts
  packages/client/src/bags/types/patchBagItem.types.ts
  packages/client/src/bags/types/postBagItem.types.ts
  packages/client/src/types/common/index.ts
  packages/client/src/types/common/jsonValue.types.ts
  packages/client/src/types/common/metadata.types.ts
Labels: :package: client

#688 fix(redux): fix immer imports to work with nodenext
  packages/redux/package.json
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/returns/reducer.ts
  packages/redux/src/users/addresses/reducer.ts
  yarn.lock
Labels: :package: redux

#689 feat(client): add metadata in POST checkout order request and types
  packages/client/src/checkout/__tests__/postCheckoutOrder.test.ts
  packages/client/src/checkout/types/postCheckoutOrder.types.ts
  packages/react/src/checkout/hooks/__tests__/useCheckout.test.tsx
  packages/redux/src/checkout/actions/__tests__/createCheckoutOrder.test.ts
Labels: :package: client, :package: react, :package: redux

#690 fix(react): fix ga4 events
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: bug, :package: react

#692 feat(core|react): add unique id to GTM integration
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/__fixtures__/commonData.fixtures.js
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/__tests__/analytics.test.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/utils/constants.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GTM/GTM.js
  packages/react/src/analytics/integrations/__fixtures__/analyticsPageData.fixtures.json
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/GTM.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
Labels: type: feature, :package: react, :package: core

#691 feat(analytics|react): add unique id to GTM integration for next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/__tests__/analytics.test.ts
  packages/analytics/src/utils/constants.ts
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/constants.ts
  packages/react/src/analytics/integrations/GTM/GTM.ts
  packages/react/src/analytics/integrations/GTM/__tests__/GTM.test.ts
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  tests/__fixtures__/analytics/baseAnalyticsEventData.fixtures.ts
Labels: type: feature, :package: react, :package: analytics

#696 feat(core|react): add parameters checkout started event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#695 feat(analytics|react): add parameters checkout started event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/checkoutStartedTrackData.fixtures.ts
Labels: :package: react, :package: analytics

#694 feat(client): add get return workflow endpoint
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/returns/__fixtures__/getReturnWorkflow.fixtures.ts
  packages/client/src/returns/__tests__/__snapshots__/getReturnWorkflow.test.ts.snap
  packages/client/src/returns/__tests__/getReturnWorkflow.test.ts
  packages/client/src/returns/getReturnWorkflow.ts
  packages/client/src/returns/index.ts
  packages/client/src/returns/types/getReturnWorkflow.types.ts
  packages/client/src/returns/types/index.ts
  tests/__fixtures__/returns/returns.fixtures.ts
Labels: type: feature, :package: client

#697 fix(redux): subfolder on useLocale & serverInitialState
  packages/react/src/contents/hooks/__tests__/__fixtures__/useSeoMetadata.fixtures.ts
  packages/react/src/locale/hooks/__tests__/useLocale.test.tsx
  packages/react/src/locale/hooks/useLocale.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/locale/__tests__/selectors.test.ts
  packages/redux/src/locale/__tests__/serverInitialState.test.ts
  packages/redux/src/locale/actionTypes.ts
  packages/redux/src/locale/reducer.ts
  packages/redux/src/locale/selectors.ts
  packages/redux/src/locale/serverInitialState.ts
  packages/redux/src/locale/types/actions.types.ts
  packages/redux/src/locale/types/reducer.types.ts
  tests/__fixtures__/locale/locale.fixtures.ts
Labels: :package: react, :package: redux

#701 feat(analytics|react): add parameters checkout abandoned event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/Castle/index.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  packages/react/src/analytics/integrations/index.ts
  tests/__fixtures__/analytics/track/checkoutAbandonedTrackData.fixtures.mts
Labels: :package: react, :package: analytics

#700 feat(core|react): add parameters checkout abandoned event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#672 fix(core): refactor server initial state to search content type code
  packages/core/src/contents/redux/actions/__tests__/__snapshots__/doGetContent.test.js.snap
  packages/core/src/contents/redux/serverInitialState.js
  packages/react/src/content/hooks/__tests__/__fixtures__/Page.fixtures.js
  packages/react/src/content/hooks/__tests__/__snapshots__/useContentType.test.js.snap
  packages/react/src/content/hooks/__tests__/useContentType.test.js
  tests/__fixtures__/contents/contents.fixtures.js
Labels: type: bug, :package: react, :package: core

#708 chore: add `release:git` script
  .eslintrc.js
  gitpkg.config.js
  package.json
  packages/analytics/package.json
  packages/client/package.json
  packages/react/package.json
  packages/redux/package.json
  scripts/release-git.sh
  yarn.lock
Labels: :package: client, :package: react, :package: redux, :package: analytics

#709 chore: update typescript to v5
  jest.config.js
  package.json
  packages/client/src/helpers/client/interceptors/authentication/AuthenticationTokenManager.ts
  tests/axiosErrorSerializer.mts
  tests/setupAfterEnv.mts
  tests/setupReactTestingLibrary.mts
  tsconfig.release.base.json
  yarn.lock
Labels: type: enhancement, :package: client
