Repository Farfetch/blackout, pull requests merged in 2023-01, with the labels that each got.

#621 feat(core): add new get user returns endpoints
  packages/core/src/profile/client/__fixtures__/getUserReturns.fixtures.js
  packages/core/src/profile/client/__tests__/__snapshots__/getUserReturns.test.js.snap
  packages/core/src/profile/client/__tests__/getUserReturns.test.js
  packages/core/src/profile/client/getUserReturns.js
  packages/core/src/profile/client/index.js
  packages/core/src/profile/redux/__fixtures__/userReturns.fixtures.js
  packages/core/src/profile/redux/actionTypes.js
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doGetUserReturns.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/doGetUserReturns.test.js
  packages/core/src/profile/redux/actions/doGetUserReturns.js
  packages/core/src/profile/redux/actions/index.js
Labels: type: feature, :package: core

#624 Weekly Release: dev-main-03-01-23
  packages/core/src/profile/client/__fixtures__/getUserReturns.fixtures.js
  packages/core/src/profile/client/__tests__/__snapshots__/getUserReturns.test.js.snap
  packages/core/src/profile/client/__tests__/getUserReturns.test.js
  packages/core/src/profile/client/getUserReturns.js
  packages/core/src/profile/client/index.js
  packages/core/src/profile/redux/__fixtures__/userReturns.fixtures.js
  packages/core/src/profile/redux/actionTypes.js
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doGetUserReturns.test.js.snap
  packages/core/src/profile/redux/actions/__tests__/doGetUserReturns.test.js
  packages/core/src/profile/redux/actions/doGetUserReturns.js
  packages/core/src/profile/redux/actions/index.js
Labels: :package: core

#628 fix(core): save get user returns in store
  packages/core/src/profile/client/index.js
  packages/core/src/profile/redux/__fixtures__/userReturns.fixtures.js
  packages/core/src/profile/redux/actionTypes.js
  packages/core/src/profile/redux/actions/__tests__/__snapshots__/doGetUserReturns.test.js.snap
  packages/core/src/profile/redux/actions/index.js
  packages/core/src/returns/client/__fixtures__/getUserReturns.fixtures.js
  packages/core/src/returns/client/__tests__/__snapshots__/getUserReturns.test.js.snap
  packages/core/src/returns/client/__tests__/getUserReturns.test.js
  packages/core/src/returns/client/getUserReturns.js
  packages/core/src/returns/client/index.js
  packages/core/src/returns/redux/__fixtures__/returns.fixtures.js
  packages/core/src/returns/redux/actionTypes.js
  packages/core/src/returns/redux/actions/__tests__/__snapshots__/doGetUserReturns.test.js.snap
  packages/core/src/returns/redux/actions/__tests__/doGetUserReturns.test.js
  packages/core/src/returns/redux/actions/doGetPickupCapabilities.js
  packages/core/src/returns/redux/actions/doGetUserReturns.js
  packages/core/src/returns/redux/actions/index.js
  packages/core/src/returns/redux/reducer.js
Labels: type: bug, :package: core

#627 fix(analytics): fix omnitracking TID value for signup newsletter event - NEXT
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: :package: analytics

#614 fix(redux|react): fix createSelector types
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/client/src/checkout/types/checkoutOrderMerchant.types.ts
  packages/react/src/bags/hooks/types/useBag.ts
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/wishlists/hooks/types/useWishlistSet.types.ts
  packages/react/src/wishlists/hooks/types/useWishlistSets.types.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
  packages/redux/src/bags/selectors.ts
  packages/redux/src/brands/selectors.ts
  packages/redux/src/categories/selectors/topCategories.ts
  packages/redux/src/checkout/selectors.ts
  packages/redux/src/entities/schemas/order.ts
  packages/redux/src/entities/types/bagItem.types.ts
  packages/redux/src/entities/types/checkoutOrder.types.ts
  packages/redux/src/entities/types/wishlistItem.types.ts
  packages/redux/src/entities/types/wishlistSet.types.ts
  packages/redux/src/merchantsLocations/selectors.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/products/selectors/details.ts
  packages/redux/src/products/selectors/lists.ts
  packages/redux/src/products/selectors/product.ts
  packages/redux/src/products/selectors/sets.ts
  packages/redux/src/products/selectors/sizes.ts
  packages/redux/src/sharedWishlists/__tests__/selectors.test.ts
  packages/redux/src/sharedWishlists/selectors.ts
  packages/redux/src/sizeScales/selectors.ts
  packages/redux/src/subscriptions/selectors/subscriptionPackages.ts
  packages/redux/src/subscriptions/selectors/userSubscriptions.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/updateWishlistItemFactory.ts
  packages/redux/src/wishlists/selectors/wishlists.ts
  packages/redux/src/wishlists/selectors/wishlistsSets.ts
  tests/__fixtures__/sharedWishlists/sharedWishlists.fixtures.ts
Labels: type: bug, :package: client, :package: react, :package: redux, :package: analytics

#622 feat(client): add new get user returns endpoints
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/types/common/address.types.ts
  packages/client/src/users/index.ts
  packages/client/src/users/returns/__fixtures__/getUserReturns.fixtures.ts
  packages/client/src/users/returns/__tests__/__snapshots__/getUserReturns.test.ts.snap
  packages/client/src/users/returns/__tests__/getUserReturns.test.ts
  packages/client/src/users/returns/getUserReturns.ts
  packages/client/src/users/returns/index.ts
  packages/client/src/users/returns/types/getUserReturns.types.ts
  packages/client/src/users/returns/types/index.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/returns/hooks/__tests__/useReturns.test.ts
  packages/react/src/returns/hooks/index.ts
  packages/react/src/returns/hooks/types/index.ts
  packages/react/src/returns/hooks/types/useReturns.ts
  packages/react/src/returns/hooks/useReturns.ts
  tests/__fixtures__/users/index.ts
  tests/__fixtures__/users/userReturns.fixtures.ts
Labels: :package: client, :package: react

#632 feat(react): add password strength helper
  packages/react/src/utils/__tests__/validatePassword.test.js
  packages/react/src/utils/index.js
  packages/react/src/utils/validatePassword.js
Labels: type: feature, :package: react, type: documentation, :package: core

#631 fix(core): add query to get user returns
  packages/core/src/returns/client/__fixtures__/getUserReturns.fixtures.js
  packages/core/src/returns/client/__tests__/getUserReturns.test.js
  packages/core/src/returns/client/getUserReturns.js
  packages/core/src/returns/redux/actions/__tests__/doGetUserReturns.test.js
  packages/core/src/returns/redux/actions/doGetUserReturns.js
Labels: type: bug, :package: core

#639 feat(core): add bag operations endpoints
  packages/core/src/bags/client/__fixtures__/getBagOperation.fixtures.js
  packages/core/src/bags/client/__fixtures__/getBagOperations.fixtures.js
  packages/core/src/bags/client/__tests__/__snapshots__/getBagOperation.test.js.snap
  packages/core/src/bags/client/__tests__/__snapshots__/getBagOperations.test.js.snap
  packages/core/src/bags/client/__tests__/getBagOperation.test.js
  packages/core/src/bags/client/__tests__/getBagOperations.test.js
  packages/core/src/bags/client/getBagOperation.js
  packages/core/src/bags/client/getBagOperations.js
  packages/core/src/bags/client/index.js
  packages/core/src/bags/redux/__tests__/reducer.test.js
  packages/core/src/bags/redux/__tests__/selectors.test.js
  packages/core/src/bags/redux/actionTypes.js
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doAddBagItem.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doDeleteBagItem.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doGetBag.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doGetBagOperation.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doUpdateBagItem.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/doGetBagOperation.test.js
  packages/core/src/bags/redux/actions/__tests__/reset.test.js
  packages/core/src/bags/redux/actions/doGetBagOperation.js
  packages/core/src/bags/redux/actions/index.js
  packages/core/src/bags/redux/actions/reset.js
  packages/core/src/bags/redux/index.js
  packages/core/src/bags/redux/middlewares/__tests__/getOperationsOnBagRequestSuccess.test.js
  packages/core/src/bags/redux/middlewares/getOperationsOnBagRequestSuccess.js
  packages/core/src/bags/redux/middlewares/index.js
  packages/core/src/bags/redux/reducer.js
  packages/core/src/bags/redux/selectors.js
  packages/core/src/bags/redux/utils/bagOperationChangeTypes.js
  packages/core/src/bags/redux/utils/index.js
  packages/core/src/entities/redux/__tests__/__snapshots__/reducer.test.js.snap
  packages/core/src/entities/schemas/bag.js
  packages/core/src/entities/schemas/bagOperation.js
  tests/__fixtures__/bags/bag.fixtures.js
  tests/__fixtures__/bags/bagItem.fixtures.js
  tests/__fixtures__/bags/bagOperations.fixtures.js
  tests/__fixtures__/bags/index.js
Labels: type: feature, :package: core

#638 feat(react): remove vitorino from external script
  packages/react/src/analytics/integrations/Forter/Forter.js
  packages/react/src/analytics/integrations/Forter/constants.js
  packages/react/src/analytics/integrations/Forter/forterHelper.js
  packages/react/src/analytics/integrations/Forter/loadForterScriptForSiteId.js
  packages/react/src/analytics/integrations/Nethone/Nethone.js
  packages/react/src/analytics/integrations/Nethone/__tests__/nethone-helper.test.js
  packages/react/src/analytics/integrations/Riskified.js
  packages/react/src/analytics/integrations/Vitorino/Vitorino.js
  packages/react/src/analytics/integrations/Vitorino/__tests__/Vitorino.test.js
  packages/react/src/analytics/integrations/Vitorino/constants.js
  packages/react/src/analytics/integrations/Vitorino/vitorino-helper.js
  packages/react/src/analytics/integrations/__tests__/Forter.test.js
  packages/react/src/analytics/integrations/__tests__/Nethone.test.js
  packages/react/src/analytics/integrations/index.js
  packages/react/src/analytics/integrations/shared/constants.js
Labels: type: feature, :package: react

#636 chore(core): add metadata params on user register flow
  packages/core/src/authentication/client/__tests__/postRegister.test.js
  packages/core/src/authentication/client/postRegister.js
  packages/core/src/authentication/redux/actions/__tests__/doRegister.test.js
  packages/core/src/authentication/redux/actions/doRegister.js
Labels: :package: core, ignore-for-release

#640 Feat: add base url to seo metadada
  packages/client/src/contents/__tests__/getSEOMetadata.test.ts
  packages/client/src/contents/types/seoMetadata.types.ts
Labels: :package: client

#647 fix: select content analytics event
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: type: bug, :package: analytics
