Repository Farfetch/blackout, pull requests merged in 2023-06, with the labels that each got.

#780 feat: add checkout step to analytics event
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/addressInfoAddedTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#782 feat(react): add legacy guest flow to useUserReturns hook
  packages/react/src/returns/hooks/__tests__/useUserReturns.test.ts
  packages/react/src/returns/hooks/types/useUserReturns.ts
  packages/react/src/returns/hooks/useUserReturns.ts
Labels: type: feature, :package: react

#776 chore: update github release title format
  .github/workflows/CreateRelease.yml
  .github/workflows/SendEmail.yml
Labels: type: maintenance, ignore-for-release

#362 chore: add migration guides templates
  MIGRATION.md
  packages/analytics/MIGRATION.md
  packages/analytics/README.md
  packages/client/MIGRATION.md
  packages/client/README.md
  packages/client/src/contents/types/seoMetadata.types.ts
  packages/client/src/orders/postOrderItemActivity.ts
  packages/client/src/users/preferences/__tests__/__snapshots__/getUserPreferences.test.ts.snap
  packages/client/src/users/preferences/__tests__/__snapshots__/putUserPreferences.test.ts.snap
  packages/client/src/users/preferences/__tests__/getUserPreferences.test.ts
  packages/client/src/users/preferences/__tests__/putUserPreferences.test.ts
  packages/react/MIGRATION.md
  packages/react/README.md
  packages/redux/MIGRATION.md
  packages/redux/README.md
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/analytics/middlewares/helpers.ts
  packages/redux/src/contents/__tests__/selectors.test.ts
  packages/redux/src/contents/selectors.ts
  packages/redux/src/forms/selectors.ts
  packages/redux/src/products/actions/__tests__/fetchRecentlyViewedProducts.test.ts
  packages/redux/src/products/actions/factories/fetchRecentlyViewedProductsFactory.ts
  packages/redux/src/products/selectors/details.ts
  packages/redux/src/sizeScales/selectors.ts
  packages/redux/src/users/addresses/actions/index.ts
  packages/redux/src/users/attributes/actions/index.ts
  packages/redux/src/users/authentication/actions/index.ts
  packages/redux/src/users/authentication/index.ts
  packages/redux/src/users/benefits/actions/index.ts
  packages/redux/src/users/contacts/actions/index.ts
  packages/redux/src/users/credits/actions/index.ts
  packages/redux/src/users/personalIds/actions/index.ts
  packages/redux/src/users/preferences/actions/index.ts
  packages/redux/src/users/titles/actions/index.ts
Labels: :package: client, :package: react, :package: redux, :package: analytics, type: documentation, ignore-for-release

#791 fix(redux): exchanges result reducer
  packages/redux/src/exchanges/__tests__/reducer.test.ts
  packages/redux/src/exchanges/reducer.ts
Labels: type: bug, :package: redux

#797 fix(redux|client): add promocodes prop in bag types
  packages/client/src/bags/types/bag.types.ts
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/redux/src/bags/actions/__tests__/__snapshots__/addBagItem.test.ts.snap
  packages/redux/src/bags/actions/__tests__/__snapshots__/fetchBag.test.ts.snap
  packages/redux/src/bags/actions/__tests__/__snapshots__/removeBagItem.test.ts.snap
  packages/redux/src/bags/actions/__tests__/__snapshots__/updateBagItem.test.ts.snap
  tests/__fixtures__/bags/bag.fixtures.mts
Labels: type: bug, :package: client, :package: react, :package: redux

#784 feat(core): shared wishlists client and redux
  packages/core/src/entities/schemas/sharedWishlist.js
  packages/core/src/entities/schemas/sharedWishlistItem.js
  packages/core/src/sharedWishlists/client/__fixtures__/deleteSharedWishlist.fixtures.js
  packages/core/src/sharedWishlists/client/__fixtures__/getSharedWishlist.fixtures.js
  packages/core/src/sharedWishlists/client/__fixtures__/postSharedWishlist.fixtures.js
  packages/core/src/sharedWishlists/client/__fixtures__/putSharedWishlist.fixtures.js
  packages/core/src/sharedWishlists/client/__tests__/__snapshots__/deleteSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/client/__tests__/__snapshots__/getSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/client/__tests__/__snapshots__/postSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/client/__tests__/__snapshots__/putSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/client/__tests__/deleteSharedWishlist.test.js
  packages/core/src/sharedWishlists/client/__tests__/getSharedWishlist.test.js
  packages/core/src/sharedWishlists/client/__tests__/postSharedWishlist.test.js
  packages/core/src/sharedWishlists/client/__tests__/putSharedWishlist.test.js
  packages/core/src/sharedWishlists/client/deleteSharedWishlist.js
  packages/core/src/sharedWishlists/client/getSharedWishlist.js
  packages/core/src/sharedWishlists/client/index.js
  packages/core/src/sharedWishlists/client/postSharedWishlist.js
  packages/core/src/sharedWishlists/client/putSharedWishlist.js
  packages/core/src/sharedWishlists/redux/__tests__/__snapshots__/doCreateSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/redux/__tests__/__snapshots__/doDeleteSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/redux/__tests__/__snapshots__/doFetchSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/redux/__tests__/__snapshots__/doUpdateSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/redux/__tests__/doCreateSharedWishlist.test.js
  packages/core/src/sharedWishlists/redux/__tests__/doDeleteSharedWishlist.test.js
  packages/core/src/sharedWishlists/redux/__tests__/doFetchSharedWishlist.test.js
  packages/core/src/sharedWishlists/redux/__tests__/doUpdateSharedWishlist.test.js
  packages/core/src/sharedWishlists/redux/__tests__/reset.test.js
  packages/core/src/sharedWishlists/redux/__tests__/resetState.test.js
  packages/core/src/sharedWishlists/redux/actionTypes.js
  packages/core/src/sharedWishlists/redux/actions/doCreateSharedWishlist.js
  packages/core/src/sharedWishlists/redux/actions/doDeleteSharedWishlist.js
  packages/core/src/sharedWishlists/redux/actions/doFetchSharedWishlist.js
  packages/core/src/sharedWishlists/redux/actions/doUpdateSharedWishlist.js
  packages/core/src/sharedWishlists/redux/actions/index.js
  packages/core/src/sharedWishlists/redux/actions/reset.js
  packages/core/src/sharedWishlists/redux/actions/resetState.js
  packages/core/src/sharedWishlists/redux/middlewares/__tests__/updateSharedWishlistUponItemsChanges.test.js
  packages/core/src/sharedWishlists/redux/middlewares/index.js
  packages/core/src/sharedWishlists/redux/middlewares/updateSharedWishlistUponItemsChanges.js
  packages/core/src/sharedWishlists/redux/reducer.js
  packages/core/src/sharedWishlists/redux/selectors.js
  tests/__fixtures__/sharedWishlists/index.js
  tests/__fixtures__/sharedWishlists/sharedWishlist.fixtures.js
Labels: type: feature, :package: core

#794 fix(core): exchanges result reducer
  packages/core/src/exchanges/redux/__tests__/reducer.test.js
  packages/core/src/exchanges/redux/reducer.js
Labels: type: bug, :package: core

#795 feat(react): add exchanges hooks
  packages/client/src/orders/types/order.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/exchanges/hooks/__tests__/useCreateExchangeFilter.test.ts
  packages/react/src/exchanges/hooks/__tests__/useExchange.test.ts
  packages/react/src/exchanges/hooks/__tests__/useExchangeBookRequest.test.ts
  packages/react/src/exchanges/hooks/index.ts
  packages/react/src/exchanges/hooks/types/index.ts
  packages/react/src/exchanges/hooks/types/useExchange.ts
  packages/react/src/exchanges/hooks/types/useExchangeBookRequest.ts
  packages/react/src/exchanges/hooks/useCreateExchangeFilter.ts
  packages/react/src/exchanges/hooks/useExchange.ts
  packages/react/src/exchanges/hooks/useExchangeBookRequest.ts
  packages/react/src/exchanges/index.ts
  packages/react/src/index.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/exchanges/__tests__/selectors.test.ts
  packages/redux/src/exchanges/selectors.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: type: feature, :package: client, :package: react, :package: redux

#800 chore(redux): update migraton guide
  packages/redux/MIGRATION.md
Labels: :package: redux, ignore-for-release

#805 feat(react): create useOrderShippingAddressChangeRequest hook
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/orders/hooks/__tests__/useOrder.test.ts
  packages/react/src/orders/hooks/__tests__/useOrderShippingAddressChangeRequests.test.ts
  packages/react/src/orders/hooks/index.ts
  packages/react/src/orders/hooks/types/index.ts
  packages/react/src/orders/hooks/types/useOrderShippingAddressChangeRequests.ts
  packages/react/src/orders/hooks/useOrder.ts
  packages/react/src/orders/hooks/useOrderShippingAddressChangeRequests.ts
Labels: type: feature, :package: react
