Repository Farfetch/blackout, pull requests merged in 2023-07, with the labels that each got.

#808 fix(client): add isExchangeAvailable to orderItem property
  packages/client/src/orders/types/orderItem.types.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: type: bug, :package: client

#803 fix(core): add missing index file in shared wishlists redux
  packages/core/src/sharedWishlists/redux/index.js
  packages/core/src/sharedWishlists/redux/reducer.js
Labels: type: bug, :package: core

#810 Release dev-v1-04-07-23
  packages/core/src/sharedWishlists/redux/index.js
  packages/core/src/sharedWishlists/redux/reducer.js
Labels: :package: core

#809 fix: fix `useBag` wrong call to `handleFullUpdate`
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/returns/hooks/__tests__/useUserReturns.test.ts
  tests/__fixtures__/products/ids.fixtures.mts
  tests/__fixtures__/products/productSizes.fixtures.mts
Labels: type: bug, :package: react

#816 feat: add postPaymentSession client
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/payments/__fixtures__/postPaymentSession.fixtures.ts
  packages/client/src/payments/__tests__/__snapshots__/postPaymentSession.test.ts.snap
  packages/client/src/payments/__tests__/postPaymentSession.test.ts
  packages/client/src/payments/index.ts
  packages/client/src/payments/postPaymentSession.ts
  packages/client/src/payments/types/index.ts
  packages/client/src/payments/types/paymentInstrument.types.ts
  packages/client/src/payments/types/postPaymentIntentInstrument.types.ts
  packages/client/src/payments/types/postPaymentSession.types.ts
  tests/__fixtures__/payments/payments.fixtures.mts
Labels: type: feature

#813 fix: fix types
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/checkout/__tests__/getCheckoutOrderDetails.test.ts
  packages/client/src/checkout/types/checkoutOrder.types.ts
  packages/client/src/checkout/types/checkoutOrderItem.types.ts
  packages/client/src/checkout/types/checkoutSession.types.ts
  packages/client/src/checkout/types/deliveryBundle.types.ts
  packages/client/src/checkout/types/shippingOption.types.ts
  packages/client/src/payments/types/deletePaymentIntentInstrument.types.ts
  packages/client/src/payments/types/deletePaymentToken.types.ts
  packages/client/src/payments/types/paymentMethods.types.ts
  packages/client/src/payments/types/paymentToken.types.ts
  packages/client/src/payments/types/putPaymentIntentInstrument.types.ts
  packages/client/src/settings/types/configuration.ts
  packages/client/src/types/common/address.types.ts
  packages/client/src/users/addresses/types/deleteUserAddress.types.ts
  packages/client/src/users/addresses/types/deleteUserDefaultContactAddress.types.ts
  packages/client/src/users/addresses/types/putUserDefaultBillingAddress.types.ts
  packages/client/src/users/addresses/types/putUserDefaultContactAddress.types.ts
  packages/client/src/users/addresses/types/putUserDefaultShippingAddress.types.ts
  packages/react/src/exchanges/hooks/__tests__/useExchangeBookRequest.test.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/createCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrderDetails.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderItemTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderPromocodes.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/updateCheckoutOrder.test.ts.snap
  packages/redux/src/payments/actions/factories/removePaymentIntentInstrumentFactory.ts
  packages/redux/src/payments/actions/factories/removePaymentTokenFactory.ts
  packages/redux/src/payments/actions/factories/updatePaymentIntentInstrumentFactory.ts
  packages/redux/src/users/addresses/actions/factories/removeUserAddressFactory.ts
  packages/redux/src/users/addresses/actions/factories/removeUserDefaultContactAddressFactory.ts
  packages/redux/src/users/addresses/actions/factories/setUserDefaultBillingAddressFactory.ts
  packages/redux/src/users/addresses/actions/factories/setUserDefaultContactAddressFactory.ts
  packages/redux/src/users/addresses/actions/factories/setUserDefaultShippingAddressFactory.ts
  tests/__fixtures__/checkout/checkout.fixtures.mts
  tests/__fixtures__/checkout/checkoutSessions.fixtures.mts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: type: bug, :package: client, :package: react, :package: redux

#820 fix: fix recommended product sets slice name
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/payments/types/paymentInstrument.types.ts
  packages/redux/src/payments/actions/__tests__/__snapshots__/fetchPaymentIntentInstrument.test.ts.snap
  packages/redux/src/payments/actions/__tests__/__snapshots__/fetchPaymentIntentInstruments.test.ts.snap
  packages/redux/src/products/reducer/index.ts
Labels: type: bug, priority: high, :package: client, :package: redux

#822 chore(client): add missing controls type to checkout responses
  packages/client/src/bags/types/bag.types.ts
  packages/client/src/bags/types/index.ts
  packages/client/src/checkout/__fixtures__/deleteCheckoutOrderItem.fixtures.ts
  packages/client/src/checkout/__fixtures__/patchCheckoutOrderDeliveryBundleUpgrades.fixtures.ts
  packages/client/src/checkout/__fixtures__/patchCheckoutOrderItem.fixtures.ts
  packages/client/src/checkout/__tests__/deleteCheckoutOrderItem.test.ts
  packages/client/src/checkout/__tests__/patchCheckoutOrderDeliveryBundleUpgrades.test.ts
  packages/client/src/checkout/__tests__/patchCheckoutOrderItem.test.ts
  packages/client/src/checkout/deleteCheckoutOrderItem.ts
  packages/client/src/checkout/patchCheckoutOrderDeliveryBundleUpgrades.ts
  packages/client/src/checkout/patchCheckoutOrderItem.ts
  packages/client/src/checkout/types/deleteCheckoutOrderContext.types.ts
  packages/client/src/checkout/types/deleteCheckoutOrderItem.types.ts
  packages/client/src/checkout/types/getCheckoutOrderResponse.types.ts
  packages/client/src/checkout/types/patchCheckoutOrderDeliveryBundleUpgrades.types.ts
  packages/client/src/checkout/types/patchCheckoutOrderItem.types.ts
  packages/client/src/checkout/types/postCheckoutOrderContext.types.ts
  packages/client/src/helpers/client/__fixtures__/errors.fixtures.ts
  packages/client/src/helpers/client/__tests__/__snapshots__/formatError.test.ts.snap
  packages/client/src/helpers/client/__tests__/formatError.test.ts
  packages/client/src/helpers/client/formatError.ts
  packages/client/src/payments/__tests__/getPaymentTokens.test.ts
  packages/client/src/payments/types/paymentToken.types.ts
  packages/client/src/types/common/controls.types.ts
  packages/client/src/types/common/hypermediaLink.types.ts
  packages/client/src/types/common/index.ts
  packages/client/src/types/error/blackoutError.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/createCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderItemTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderPromocodes.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/updateCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/factories/removeCheckoutOrderContextFactory.ts
  packages/redux/src/checkout/actions/factories/removeCheckoutOrderItemFactory.ts
  packages/redux/src/checkout/actions/factories/updateCheckoutOrderDeliveryBundleUpgradesFactory.ts
  packages/redux/src/checkout/actions/factories/updateCheckoutOrderItemFactory.ts
  packages/redux/src/checkout/types/actions.types.ts
  packages/redux/src/payments/actions/__tests__/__snapshots__/fetchPaymentTokens.test.ts.snap
  tests/__fixtures__/checkout/checkout.fixtures.mts
  tests/__fixtures__/payments/payments.fixtures.mts
Labels: :package: client, :package: redux, ignore-for-release

#824 Release dev-main-18-07-23
  packages/client/src/bags/types/bag.types.ts
  packages/client/src/bags/types/index.ts
  packages/client/src/checkout/__fixtures__/deleteCheckoutOrderItem.fixtures.ts
  packages/client/src/checkout/__fixtures__/patchCheckoutOrderDeliveryBundleUpgrades.fixtures.ts
  packages/client/src/checkout/__fixtures__/patchCheckoutOrderItem.fixtures.ts
  packages/client/src/checkout/__tests__/deleteCheckoutOrderItem.test.ts
  packages/client/src/checkout/__tests__/patchCheckoutOrderDeliveryBundleUpgrades.test.ts
  packages/client/src/checkout/__tests__/patchCheckoutOrderItem.test.ts
  packages/client/src/checkout/deleteCheckoutOrderItem.ts
  packages/client/src/checkout/patchCheckoutOrderDeliveryBundleUpgrades.ts
  packages/client/src/checkout/patchCheckoutOrderItem.ts
  packages/client/src/checkout/types/deleteCheckoutOrderContext.types.ts
  packages/client/src/checkout/types/deleteCheckoutOrderItem.types.ts
  packages/client/src/checkout/types/getCheckoutOrderResponse.types.ts
  packages/client/src/checkout/types/patchCheckoutOrderDeliveryBundleUpgrades.types.ts
  packages/client/src/checkout/types/patchCheckoutOrderItem.types.ts
  packages/client/src/checkout/types/postCheckoutOrderContext.types.ts
  packages/client/src/helpers/client/__fixtures__/errors.fixtures.ts
  packages/client/src/helpers/client/__tests__/__snapshots__/formatError.test.ts.snap
  packages/client/src/helpers/client/__tests__/formatError.test.ts
  packages/client/src/helpers/client/formatError.ts
  packages/client/src/payments/__tests__/getPaymentTokens.test.ts
  packages/client/src/payments/types/paymentToken.types.ts
  packages/client/src/types/common/controls.types.ts
  packages/client/src/types/common/hypermediaLink.types.ts
  packages/client/src/types/common/index.ts
  packages/client/src/types/error/blackoutError.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/createCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderItemTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderPromocodes.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/updateCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/factories/removeCheckoutOrderContextFactory.ts
  packages/redux/src/checkout/actions/factories/removeCheckoutOrderItemFactory.ts
  packages/redux/src/checkout/actions/factories/updateCheckoutOrderDeliveryBundleUpgradesFactory.ts
  packages/redux/src/checkout/actions/factories/updateCheckoutOrderItemFactory.ts
  packages/redux/src/checkout/types/actions.types.ts
  packages/redux/src/payments/actions/__tests__/__snapshots__/fetchPaymentTokens.test.ts.snap
  tests/__fixtures__/checkout/checkout.fixtures.mts
  tests/__fixtures__/payments/payments.fixtures.mts
Labels: :package: client, :package: redux
