Repository Farfetch/blackout, pull requests merged in 2023-09, with the labels that each got.

#857 fix: fix fetchCheckoutOrderOperation action not being exported
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/actions/index.ts
Labels: type: bug, :package: redux

#856 fix: fix user addresses put requests
  packages/client/src/users/addresses/__tests__/putUserDefaultBillingAddress.test.ts
  packages/client/src/users/addresses/__tests__/putUserDefaultContactAddress.test.ts
  packages/client/src/users/addresses/__tests__/putUserDefaultShippingAddress.test.ts
  packages/client/src/users/addresses/putUserDefaultBillingAddress.ts
  packages/client/src/users/addresses/putUserDefaultContactAddress.ts
  packages/client/src/users/addresses/putUserDefaultShippingAddress.ts
Labels: type: bug, :package: client

#858 fix: content metadata type
  packages/client/src/contents/types/contents.types.ts
  packages/redux/src/entities/types/contents.types.ts
Labels: type: bug, :package: client, :package: redux

#837 feat(react): add useSocialLogin hook
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/authentication/hooks/__tests__/useSocialLogin.test.tsx
  packages/react/src/authentication/hooks/index.ts
  packages/react/src/authentication/hooks/useSocialLogin.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  packages/redux/src/users/authentication/actionTypes.ts
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/createAccountLink.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/socialLogin.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/createAccountLink.test.ts
  packages/redux/src/users/authentication/actions/__tests__/socialLogin.test.ts
  packages/redux/src/users/authentication/actions/createAccountLink.ts
  packages/redux/src/users/authentication/actions/factories/createAccountLinkFactory.ts
  packages/redux/src/users/authentication/actions/factories/index.ts
  packages/redux/src/users/authentication/actions/factories/socialLoginFactory.ts
  packages/redux/src/users/authentication/actions/index.ts
  packages/redux/src/users/authentication/actions/socialLogin.ts
  packages/redux/src/users/authentication/reducer.ts
  packages/redux/src/users/reducer.ts
  tests/__fixtures__/authentication/authentication.fixtures.mts
  tests/__fixtures__/users/authentication.fixtures.mts
Labels: type: feature, :package: react, :package: redux

#863 fix: fix social login and account link endpoint paths
  packages/client/src/users/authentication/__fixtures__/postAccountLink.fixtures.ts
  packages/client/src/users/authentication/__fixtures__/postSocialLogin.fixtures.ts
  packages/client/src/users/authentication/__tests__/postAccountLink.test.ts
  packages/client/src/users/authentication/__tests__/postSocialLogin.test.ts
  packages/client/src/users/authentication/postAccountLink.ts
  packages/client/src/users/authentication/postSocialLogin.ts
Labels: type: bug, :package: client

#864 fix(analytics): remove analytics API consent dependency
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.ts
  packages/react/src/analytics/integrations/AnalyticsApi/__tests__/AnalyticsApi.test.ts
Labels: type: bug, :package: react

#865 fix: fix social login actions
  packages/react/src/authentication/hooks/__tests__/useSocialLogin.test.tsx
  packages/react/src/authentication/hooks/useSocialLogin.ts
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/createAccountLink.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/socialLogin.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/socialLogin.test.ts
  packages/redux/src/users/authentication/actions/factories/createAccountLinkFactory.ts
  packages/redux/src/users/authentication/actions/factories/socialLoginFactory.ts
Labels: type: bug, :package: react, :package: redux

#867 feat(client): update payment installments types
  packages/client/src/payments/types/paymentInstrument.types.ts
  packages/client/src/payments/types/paymentMethods.types.ts
  packages/client/src/payments/types/postPaymentIntentInstrument.types.ts
  packages/client/src/payments/types/putPaymentIntentInstrument.types.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/createCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrderPaymentMethods.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/removeCheckoutOrderPromocodes.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderItemTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderPromocodes.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/updateCheckoutOrder.test.ts.snap
  packages/redux/src/payments/actions/__tests__/__snapshots__/fetchPaymentMethodsByCountryAndCurrency.test.ts.snap
  packages/redux/src/payments/actions/__tests__/__snapshots__/fetchPaymentMethodsByIntent.test.ts.snap
  tests/__fixtures__/checkout/checkout.fixtures.mts
  tests/__fixtures__/payments/payments.fixtures.mts
Labels: type: feature, :package: client, :package: redux

#870 Feat(react): Closet hooks
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/users/hooks/__tests__/useUserClosetItems.test.ts
  packages/react/src/users/hooks/__tests__/useUserClosets.test.ts
  packages/react/src/users/hooks/index.ts
  packages/react/src/users/hooks/types/index.ts
  packages/react/src/users/hooks/types/useUserClosetItems.types.ts
  packages/react/src/users/hooks/types/useUserClosets.types.ts
  packages/react/src/users/hooks/useUserClosetItems.ts
  packages/react/src/users/hooks/useUserClosets.ts
  packages/redux/src/users/actionTypes.ts
Labels: :package: react, :package: redux
