Repository Farfetch/blackout, pull requests merged in 2023-02, with the labels that each got.

#648 feat(client): add segment at target on searchContents
  packages/client/src/contents/__tests__/getSearchContents.test.ts
  packages/client/src/contents/getSearchContents.ts
  packages/client/src/contents/types/contents.types.ts
Labels: :package: client

#652 fix(redux): fix product attributes server render
  packages/client/src/checkout/__tests__/getCheckoutOrderDetails.test.ts
  packages/client/src/checkout/types/deliveryBundle.types.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/createCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderItemTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderPromocode.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/updateCheckoutOrder.test.ts.snap
  packages/redux/src/products/serverInitialState/products.ts
  tests/__fixtures__/checkout/checkout.fixtures.ts
Labels: type: bug, :package: client, :package: redux

#651 feat(analytics|react): allow analytics to work with any consent categories - NEXT
  packages/analytics/src/Analytics.ts
  packages/analytics/src/Consent.ts
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/__tests__/consent.test.ts
  packages/analytics/src/integrations/Integration.ts
  packages/analytics/src/integrations/__tests__/Integration.test.ts
  packages/analytics/src/types/analytics.types.ts
  packages/analytics/src/utils/__tests__/__snapshots__/contants.test.ts.snap
  packages/analytics/src/utils/__tests__/contants.test.ts
  packages/analytics/src/utils/constants.ts
  packages/analytics/src/utils/index.ts
  packages/react/src/analytics/integrations/GA/GA.ts
  packages/react/src/analytics/integrations/GA/__tests__/GA.test.ts
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
Labels: :package: react, :package: analytics

#646 feat(core|react): allow analytics to work with any consent categories
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/Consent.js
  packages/core/src/analytics/__tests__/analytics.test.js
  packages/core/src/analytics/__tests__/consent.test.js
  packages/core/src/analytics/integrations/Integration.js
  packages/core/src/analytics/integrations/__tests__/Integration.test.js
  packages/core/src/analytics/utils/__tests__/__snapshots__/contants.test.js.snap
  packages/core/src/analytics/utils/constants.js
  packages/react/src/analytics/integrations/Castle/CastleV1.js
  packages/react/src/analytics/integrations/Castle/CastleV2.js
  packages/react/src/analytics/integrations/Forter/Forter.js
  packages/react/src/analytics/integrations/GA/GA.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GTM/GTM.js
  packages/react/src/analytics/integrations/Riskified.js
  packages/react/src/analytics/integrations/Vitorino/Vitorino.js
Labels: type: feature, :package: react, :package: core

#659 Feat(analytics): add filters validation analytics
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: :package: analytics

#658 fix(react): remove sandbox forter shop
  packages/react/src/analytics/integrations/Forter/Forter.js
  packages/react/src/analytics/integrations/Forter/ForterTokenLoadedEventDetector.js
  packages/react/src/analytics/integrations/Forter/constants.js
  packages/react/src/analytics/integrations/Forter/forterHelper.js
  packages/react/src/analytics/integrations/Riskified.js
  packages/react/src/analytics/integrations/Vitorino/constants.js
  packages/react/src/analytics/integrations/__tests__/Forter.test.js
Labels: type: bug, :package: react

#661 fix(react): add missing export on vitorino
  packages/react/src/analytics/integrations/Vitorino/index.js
Labels: type: bug, :package: react

#660 fix: filters validation analytics
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
Labels: :package: analytics

#663 chore: reintroduce authentication interceptor
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/helpers/client/interceptors/authentication/AuthenticationConfigOptions.ts
  packages/client/src/helpers/client/interceptors/authentication/AuthenticationTokenManager.ts
  packages/client/src/helpers/client/interceptors/authentication/__tests__/AuthenticationTokenManager.test.ts
  packages/client/src/helpers/client/interceptors/authentication/defaults.ts
  packages/client/src/helpers/client/interceptors/authentication/errors.ts
  packages/client/src/helpers/client/interceptors/authentication/index.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/GuestTokenProvider.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/TokenData.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/TokenKinds.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/TokenProvider.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/UserTokenProvider.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/__tests__/GuestTokenProvider.test.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/__tests__/TokenData.test.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/__tests__/TokenProvider.test.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/index.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/types/TokenChangesListeners.types.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/types/TokenContext.types.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/types/TokenData.types.ts
  packages/client/src/helpers/client/interceptors/authentication/token-providers/types/index.ts
  packages/client/src/helpers/client/interceptors/authentication/types/AuthenticationConfigOptions.types.ts
  packages/client/src/helpers/client/interceptors/authentication/types/AuthenticationTokenManager.types.ts
  packages/client/src/helpers/client/interceptors/authentication/types/TokenManagerOptions.types.ts
  packages/client/src/helpers/client/interceptors/authentication/types/UserToken.types.ts
  packages/client/src/helpers/client/interceptors/authentication/types/index.ts
  packages/client/src/helpers/client/interceptors/authentication/utils.ts
  packages/client/src/helpers/index.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/authentication/contexts/AuthenticationContext.ts
  packages/react/src/authentication/contexts/AuthenticationProvider.tsx
  packages/react/src/authentication/contexts/UserProfileContext.ts
  packages/react/src/authentication/contexts/UserProfileProvider.tsx
  packages/react/src/authentication/contexts/__fixtures__/AuthenticationProvider.fixtures.ts
  packages/react/src/authentication/contexts/__mocks__/AuthenticationProvider.tsx
  packages/react/src/authentication/contexts/helpers/setAuthenticationInterceptors.ts
  packages/react/src/authentication/contexts/index.ts
  packages/react/src/authentication/errors/index.ts
  packages/react/src/authentication/hooks/__tests__/useAuthentication.test.tsx
  packages/react/src/authentication/hooks/__tests__/useUserProfile.test.tsx
  packages/react/src/authentication/hooks/index.ts
  packages/react/src/authentication/hooks/useAuthentication.ts
  packages/react/src/authentication/hooks/useUserAuthState.ts
  packages/react/src/authentication/hooks/useUserProfile.ts
  packages/react/src/authentication/index.ts
  packages/react/src/index.ts
Labels: type: enhancement, :package: client, :package: react

#664 fix(client): add crypto-js to client's dependencies
  packages/client/package.json
Labels: type: bug, :package: client

#657 feat(redux) split orders fetch user orders
  jest.config.js
  packages/client/src/orders/__fixtures__/getUserOrders.fixtures.ts
  packages/client/src/orders/types/getUserOrders.types.ts
  packages/client/src/orders/types/orderSummary.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/orders/hooks/__tests__/useOrder.test.ts
  packages/react/src/orders/hooks/__tests__/useOrderReturnOptions.test.ts
  packages/react/src/orders/hooks/__tests__/useOrderReturns.test.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/index.ts
  packages/react/src/orders/hooks/types/index.ts
  packages/react/src/orders/hooks/types/useOrderReturns.ts
  packages/react/src/orders/hooks/useOrder.ts
  packages/react/src/orders/hooks/useOrderReturnOptions.ts
  packages/react/src/orders/hooks/useOrderReturns.ts
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  packages/redux/src/entities/schemas/orderSummary.ts
  packages/redux/src/entities/types/orders.types.ts
  packages/redux/src/orders/__tests__/reducer.test.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/actions/__tests__/fetchUserOrders.test.ts
  packages/redux/src/orders/actions/factories/fetchUserOrdersFactory.ts
  packages/redux/src/orders/actions/factories/helpers/generateUserOrdersRequestHash.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrderResponse.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrdersResponse.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/orders/types/actions.types.ts
  packages/redux/src/orders/types/state.types.ts
  packages/redux/src/types/storeState.types.ts
  packages/redux/src/users/addresses/actions/__tests__/__snapshots__/removeUserDefaultContactAddress.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/fetchUser.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/setUser.test.ts.snap
  packages/redux/src/users/titles/actions/__tests__/fetchUserTitles.test.ts
  tests/__fixtures__/orders/orders.fixtures.ts
  tests/__fixtures__/users/users.fixtures.ts
Labels: :package: client, :package: react, :package: redux

#666 fix(redux): fix checkout reducer
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/reducer.ts
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
Labels: :package: redux, :rotating_light: BREAKING CHANGE

#649 feat(react): Add forter and riskified integrations
  .gitignore
  cspell.json
  jest.config.js
  package.json
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/Forter/Forter.ts
  packages/react/src/analytics/integrations/Forter/__tests__/Forter.test.ts
  packages/react/src/analytics/integrations/Forter/__tests__/forterTokenLoadedEventDetector.test.ts
  packages/react/src/analytics/integrations/Forter/constants.ts
  packages/react/src/analytics/integrations/Forter/forterTokenLoadedEventDetector.ts
  packages/react/src/analytics/integrations/Forter/index.ts
  packages/react/src/analytics/integrations/Forter/loadForterScriptForSiteId.ts
  packages/react/src/analytics/integrations/Forter/types/globals.d.ts
  packages/react/src/analytics/integrations/Forter/types/index.ts
  packages/react/src/analytics/integrations/Forter/types/types.ts
  packages/react/src/analytics/integrations/Riskified/Riskified.ts
  packages/react/src/analytics/integrations/Riskified/__tests__/Riskified.test.ts
  packages/react/src/analytics/integrations/Riskified/index.ts
  packages/react/src/analytics/integrations/Riskified/types/globals.d.ts
  packages/react/src/analytics/integrations/Riskified/types/index.ts
  packages/react/src/analytics/integrations/Riskified/types/types.ts
  packages/react/src/analytics/integrations/Vitorino/Vitorino.ts
  packages/react/src/analytics/integrations/Vitorino/__tests__/Vitorino.test.ts
  packages/react/src/analytics/integrations/Vitorino/constants.ts
  packages/react/src/analytics/integrations/Vitorino/index.ts
  packages/react/src/analytics/integrations/Vitorino/types/globals.d.ts
  packages/react/src/analytics/integrations/Vitorino/types/types.ts
  packages/react/src/analytics/integrations/index.ts
  packages/redux/tsconfig.ci.tests.json
  tsconfig.ci.tests.json
  tsconfig.release.base.json
  yarn.lock
Labels: type: feature, :package: react, :package: redux, :package: analytics, :rotating_light: BREAKING CHANGE

#668 feat(client|redux): refactor guest orders
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/orders/__fixtures__/getGuestOrders.fixtures.ts
  packages/client/src/orders/__tests__/__snapshots__/getGuestOrders.test.ts.snap
  packages/client/src/orders/__tests__/getGuestOrders.test.ts
  packages/client/src/orders/getGuestOrders.ts
  packages/client/src/orders/index.ts
  packages/client/src/orders/types/getGuestOrders.types.ts
  packages/client/src/orders/types/index.ts
  packages/react/src/orders/hooks/__tests__/useOrders.test.tsx
  packages/react/src/orders/hooks/useOrders.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/schemas/orderItem.ts
  packages/redux/src/entities/types/orderItems.types.ts
  packages/redux/src/orders/__tests__/reducer.test.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/actionTypes.ts
  packages/redux/src/orders/actions/__tests__/fetchGuestOrderLegacy.test.ts
  packages/redux/src/orders/actions/__tests__/fetchGuestOrders.test.ts
  packages/redux/src/orders/actions/__tests__/fetchOrder.test.ts
  packages/redux/src/orders/actions/factories/fetchGuestOrderLegacyFactory.ts
  packages/redux/src/orders/actions/factories/fetchGuestOrdersFactory.ts
  packages/redux/src/orders/actions/factories/fetchOrderFactory.ts
  packages/redux/src/orders/actions/factories/helpers/normalizeFetchOrderResponse.ts
  packages/redux/src/orders/actions/factories/index.ts
  packages/redux/src/orders/actions/fetchGuestOrders.ts
  packages/redux/src/orders/actions/index.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/orders/types/actions.types.ts
  packages/redux/src/orders/types/state.types.ts
  tests/__fixtures__/orders/orders.fixtures.ts
Labels: :package: client, :package: react, :package: redux, :rotating_light: BREAKING CHANGE

#655 fix: remove deprecated params from translations
  packages/client/src/language/types/translations.type.ts
Labels: :package: client, :rotating_light: BREAKING CHANGE

#669 Feat(client|redux): add set bags promo codes
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/bags/__fixtures__/putBagPromocodes.fixtures.ts
  packages/client/src/bags/__tests__/__snapshots__/putBagPromocodes.test.ts.snap
  packages/client/src/bags/__tests__/putBagPromocodes.test.ts
  packages/client/src/bags/index.ts
  packages/client/src/bags/putBagPromocodes.ts
  packages/client/src/bags/types/index.ts
  packages/client/src/bags/types/putBagPromocodes.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/bags/__tests__/selectors.test.ts
  packages/redux/src/bags/actionTypes.ts
  packages/redux/src/bags/actions/__tests__/__snapshots__/setBagPromocodes.test.ts.snap
  packages/redux/src/bags/actions/__tests__/setBagPromocodes.test.ts
  packages/redux/src/bags/actions/factories/index.ts
  packages/redux/src/bags/actions/factories/setBagPromocodesFactory.ts
  packages/redux/src/bags/actions/index.ts
  packages/redux/src/bags/actions/setBagPromocodes.ts
  packages/redux/src/bags/index.ts
  packages/redux/src/bags/middlewares/__tests__/fetchBagOnSetPromocodesRequestSuccess.test.ts
  packages/redux/src/bags/middlewares/fetchBagOnSetPromocodesRequestSuccess.ts
  packages/redux/src/bags/middlewares/index.ts
  packages/redux/src/bags/reducer.ts
  packages/redux/src/bags/selectors.ts
  packages/redux/src/bags/types/state.types.ts
  packages/redux/src/entities/types/bagPromocodesInformation.types.ts
  packages/redux/src/entities/types/index.ts
  packages/redux/src/types/storeState.types.ts
  tests/__fixtures__/bags/bag.fixtures.ts
  tests/__fixtures__/products/state.fixtures.ts
Labels: :package: client, :package: redux, :rotating_light: BREAKING CHANGE

#671 feat(core|react): setup promocode applied analytics event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#674 feat(analytics|react): setup promocode applied event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/placeOrderStartedTrackData.fixtures.ts
  tests/__fixtures__/analytics/track/promocodeAppliedTrackData.fixtures.ts
Labels: :package: react, :package: analytics, :rotating_light: BREAKING CHANGE

#654 feat(core|client): add segment at targets on searchContent
  packages/core/src/contents/client/__fixtures__/contents.fixtures.js
  packages/core/src/contents/client/__tests__/getSearchContents.test.js
  packages/core/src/contents/client/getSearchContents.js
Labels: type: feature, :package: core

#665 Feat(core): add put bags promo codes endopint
  packages/core/src/bags/client/__fixtures__/putBagPromocodes.fixtures.js
  packages/core/src/bags/client/__tests__/__snapshots__/putBagPromocodes.test.js.snap
  packages/core/src/bags/client/__tests__/putBagPromocodes.test.js
  packages/core/src/bags/client/index.js
  packages/core/src/bags/client/putBagPromocodes.js
  packages/core/src/bags/redux/__tests__/reducer.test.js
  packages/core/src/bags/redux/__tests__/selectors.test.js
  packages/core/src/bags/redux/actionTypes.js
  packages/core/src/bags/redux/actions/__tests__/__snapshots__/doSetBagPromocodes.test.js.snap
  packages/core/src/bags/redux/actions/__tests__/doSetBagPromocodes.test.js
  packages/core/src/bags/redux/actions/doSetBagPromocodes.js
  packages/core/src/bags/redux/actions/index.js
  packages/core/src/bags/redux/middlewares/__tests__/getBagOnSetPromocodesRequestSuccess.test.js
  packages/core/src/bags/redux/middlewares/getBagOnSetPromocodesRequestSuccess.js
  packages/core/src/bags/redux/middlewares/index.js
  packages/core/src/bags/redux/reducer.js
  packages/core/src/bags/redux/selectors.js
  tests/__fixtures__/bags/bag.fixtures.js
Labels: type: feature, :package: core

#667 feat(redux): review fetch order returns internal storage
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/orders/__tests__/__snapshots__/getOrderReturns.test.ts.snap
  packages/client/src/orders/__tests__/getOrderReturns.test.ts
  packages/client/src/orders/getOrderReturns.ts
  packages/client/src/orders/index.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/types/returns.types.ts
  packages/redux/src/orders/__tests__/reducer.test.ts
  packages/redux/src/orders/__tests__/selectors.test.ts
  packages/redux/src/orders/actionTypes.ts
  packages/redux/src/orders/actions/__tests__/__snapshots__/fetchOrderReturns.test.ts.snap
  packages/redux/src/orders/actions/__tests__/fetchOrderReturns.test.ts
  packages/redux/src/orders/actions/__tests__/resetOrderReturns.test.ts
  packages/redux/src/orders/actions/__tests__/resetOrderReturnsState.test.ts
  packages/redux/src/orders/actions/factories/fetchOrderReturnsFactory.ts
  packages/redux/src/orders/actions/factories/index.ts
  packages/redux/src/orders/actions/fetchOrderReturns.ts
  packages/redux/src/orders/actions/index.ts
  packages/redux/src/orders/actions/resetOrderReturns.ts
  packages/redux/src/orders/actions/resetOrderReturnsState.ts
  packages/redux/src/orders/reducer.ts
  packages/redux/src/orders/selectors.ts
  packages/redux/src/orders/types/actions.types.ts
  packages/redux/src/orders/types/state.types.ts
  packages/redux/src/returns/__tests__/selectors.test.ts
  packages/redux/src/returns/selectors.ts
  packages/redux/src/users/__fixtures__/state.fixtures.ts
  packages/redux/src/users/reducer.ts
  packages/redux/src/users/returns/__tests__/reducer.test.ts
  packages/redux/src/users/returns/__tests__/selectors.test.ts
  packages/redux/src/users/returns/actionTypes.ts
  packages/redux/src/users/returns/actions/__tests__/__snapshots__/fetchUserReturns.test.ts.snap
  packages/redux/src/users/returns/actions/__tests__/fetchUserReturns.test.ts
  packages/redux/src/users/returns/actions/factories/fetchUserReturnsFactory.ts
  packages/redux/src/users/returns/actions/factories/index.ts
  packages/redux/src/users/returns/actions/fetchUserReturns.ts
  packages/redux/src/users/returns/actions/index.ts
  packages/redux/src/users/returns/reducer.ts
  packages/redux/src/users/returns/selectors.ts
  packages/redux/src/users/returns/types/actions.types.ts
  packages/redux/src/users/returns/types/index.ts
  packages/redux/src/users/returns/types/state.types.ts
  packages/redux/src/users/selectors.ts
  packages/redux/src/users/types/state.types.ts
  tests/__fixtures__/checkout/checkout.fixtures.ts
  tests/__fixtures__/orders/orders.fixtures.ts
  tests/__fixtures__/returns/returns.fixtures.ts
  tests/__fixtures__/users/userReturns.fixtures.ts
  tests/__fixtures__/users/users.fixtures.ts
Labels: :package: client, :package: redux

#679 fix: add "type": "module" to all packages
  packages/analytics/package.json
  packages/client/package.json
  packages/react/package.json
  packages/redux/package.json
Labels: :package: client, :package: react, :package: redux, :package: analytics

#670 fix(core): checkout reducer not overwriting address state
  packages/core/src/checkout/redux/__tests__/reducer.test.js
  packages/core/src/checkout/redux/reducer.js
Labels: type: bug, :package: core

#673 fix(redux): checkout reducer not overwriting address state
  packages/redux/src/checkout/__tests__/reducer.test.ts
  packages/redux/src/checkout/reducer.ts
Labels: :package: redux

#680 feat(client|redux): order change address endpoints
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/orders/__fixtures__/getOrderShippingAddressChangeRequests.fixtures.ts
  packages/client/src/orders/__fixtures__/postOrderShippingAddressChangeRequest.fixtures.ts
  packages/client/src/orders/__tests__/__snapshots__/getOrderShippingAddressChangeRequests.test.ts.snap
  packages/client/src/orders/__tests__/__snapshots__/postOrderShippingAddressChangeRequest.test.ts.snap
  packages/client/src/orders/__tests__/getOrderShippingAddressChangeRequests.test.ts
  packages/client/src/orders/__tests__/postOrderShippingAddressChangeRequest.test.ts
  packages/client/src/orders/getOrderShippingAddressChangeRequests.ts
  packages/client/src/orders/index.ts
  packages/client/src/orders/postOrderShippingAddressChangeRequest.ts
  packages/client/src/orders/types/getOrderShippingAddressChangeRequests.types.ts
  packages/client/src/orders/types/index.ts
  packages/client/src/orders/types/orderShippingAddressChangeRequests.types.ts
  packages/client/src/orders/types/postOrderShippingAddressChangeRequest.types.ts
  packages/redux/src/orders/actions/factories/index.ts
  packages/redux/src/orders/actions/index.ts
  tests/__fixtures__/orders/orders.fixtures.ts
Labels: :package: client, :package: redux

#683 chore: update typescript to 4.9
  package.json
  packages/react/src/authentication/hooks/__tests__/useAuthentication.test.tsx
  packages/redux/package.json
  packages/redux/src/contents/__tests__/reducer.test.ts
  packages/redux/src/entities/schemas/order.ts
  yarn.lock
Labels: :package: react, :package: redux

#686 fix(redux): fix useBag hook actions
  packages/react/src/bags/hooks/useBag.ts
  packages/redux/src/bags/actions/factories/addBagItemFactory.ts
  packages/redux/src/bags/actions/factories/fetchBagFactory.ts
  packages/redux/src/bags/actions/factories/fetchBagOperationFactory.ts
  packages/redux/src/bags/actions/factories/removeBagItemFactory.ts
  packages/redux/src/bags/actions/factories/setBagPromocodesFactory.ts
  packages/redux/src/bags/actions/factories/updateBagItemFactory.ts
  packages/redux/src/users/authentication/actions/factories/fetchGuestUserFactory.ts
  packages/redux/src/users/authentication/actions/factories/fetchUserFactory.ts
  packages/redux/src/users/authentication/actions/factories/loginFactory.ts
  packages/redux/src/users/authentication/actions/factories/logoutFactory.ts
  packages/redux/src/users/authentication/actions/factories/registerFactory.ts
  packages/redux/src/wishlists/actions/factories/addWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/addWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/fetchWishlistSetsFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistItemFactory.ts
  packages/redux/src/wishlists/actions/factories/removeWishlistSetFactory.ts
  packages/redux/src/wishlists/actions/factories/updateWishlistItemFactory.ts
Labels: :package: react, :package: redux
