Repository Farfetch/blackout, pull requests merged in 2023-08, with the labels that each got.

#823 feat(client): add social login endpoints
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/users/authentication/__fixtures__/deleteUserExternalLogin.fixtures.ts
  packages/client/src/users/authentication/__fixtures__/getUserExternalLogins.fixtures.ts
  packages/client/src/users/authentication/__fixtures__/postAccountLink.fixtures.ts
  packages/client/src/users/authentication/__fixtures__/postSocialLogin.fixtures.ts
  packages/client/src/users/authentication/__fixtures__/postSocialTokenValidation.fixtures.ts
  packages/client/src/users/authentication/__tests__/__snapshots__/deleteUserExternalLogin.test.ts.snap
  packages/client/src/users/authentication/__tests__/__snapshots__/getUserExternalLogins.test.ts.snap
  packages/client/src/users/authentication/__tests__/__snapshots__/postAccountLink.test.ts.snap
  packages/client/src/users/authentication/__tests__/__snapshots__/postSocialLogin.test.ts.snap
  packages/client/src/users/authentication/__tests__/__snapshots__/postSocialTokenValidation.test.ts.snap
  packages/client/src/users/authentication/__tests__/deleteUserExternalLogin.test.ts
  packages/client/src/users/authentication/__tests__/getUserExternalLogins.test.ts
  packages/client/src/users/authentication/__tests__/postAccountLink.test.ts
  packages/client/src/users/authentication/__tests__/postSocialLogin.test.ts
  packages/client/src/users/authentication/__tests__/postSocialTokenValidation.test.ts
  packages/client/src/users/authentication/deleteUserExternalLogin.ts
  packages/client/src/users/authentication/getUserExternalLogins.ts
  packages/client/src/users/authentication/index.ts
  packages/client/src/users/authentication/postAccountLink.ts
  packages/client/src/users/authentication/postSocialLogin.ts
  packages/client/src/users/authentication/postSocialTokenValidation.ts
  packages/client/src/users/authentication/types/deleteUserExternalLogin.types.ts
  packages/client/src/users/authentication/types/getUserExternalLogins.types.ts
  packages/client/src/users/authentication/types/index.ts
  packages/client/src/users/authentication/types/postAccountLink.types.ts
  packages/client/src/users/authentication/types/postSocialLogin.types.ts
  packages/client/src/users/authentication/types/postSocialTokenValidation.types.ts
  tests/__fixtures__/authentication/authentication.fixtures.mts
Labels: type: feature, :package: client

#826 feat(analytics): update omnitracking contract for `main`
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
Labels: type: feature, :package: analytics

#825 feat(core): update omnitracking contract for `v1`
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#827 feat(react): remove invalid fields on ga4 integration for `main`
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/constants.ts
Labels: type: feature, :package: react

#832 feat(analytics): add analytics versions to omnitracking for `main`
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/__fixtures__/expectedTrackPayload.fixtures.ts
  packages/analytics/src/integrations/Omnitracking/types/Omnitracking.types.ts
Labels: type: feature, :package: analytics

#835 feat: add postApplePaySession client
  packages/analytics/src/types/analytics.types.ts
  packages/client/MIGRATION.md
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/orders/types/order.types.ts
  packages/client/src/payments/__fixtures__/postApplePaySession.fixtures.ts
  packages/client/src/payments/__tests__/__snapshots__/postApplePaySession.test.ts.snap
  packages/client/src/payments/__tests__/postApplePaySession.test.ts
  packages/client/src/payments/index.ts
  packages/client/src/payments/postApplePaySession.ts
  packages/client/src/payments/types/index.ts
  packages/client/src/payments/types/postApplePaySession.types.ts
  packages/redux/src/analytics/middlewares/__tests__/setUser.test.ts
  tests/__fixtures__/orders/orders.fixtures.mts
Labels: type: feature, :package: client, :package: redux, :package: analytics, type: documentation

#836 feat(redux): add shared wishlist middleware for updating snapshop
  packages/redux/src/sharedWishlists/index.ts
  packages/redux/src/sharedWishlists/middlewares/__tests__/updateSharedWishlistUponItemsChanges.test.ts
  packages/redux/src/sharedWishlists/middlewares/index.ts
  packages/redux/src/sharedWishlists/middlewares/updateSharedWishlistUponItemsChanges.ts
Labels: type: feature, :package: redux

#829 feat: add recommendations parameters for `v1`
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#833 feat(react) useUserContact and useUserContacts hooks
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/users/hooks/__tests__/useUserContact.test.ts
  packages/react/src/users/hooks/__tests__/useUserContacts.test.ts
  packages/react/src/users/hooks/index.ts
  packages/react/src/users/hooks/types/index.ts
  packages/react/src/users/hooks/types/useUserContact.types.ts
  packages/react/src/users/hooks/types/useUserContacts.types.ts
  packages/react/src/users/hooks/useUserContact.ts
  packages/react/src/users/hooks/useUserContacts.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/users/contacts/selectors.ts
Labels: :package: react, :package: redux

#830 feat: add recommendations parameters for `main`
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  tests/__fixtures__/analytics/page/productPageData.fixtures.mts
Labels: type: feature, :package: analytics

#817 fix: adjust shared wishlist selectors and reducer
  packages/core/src/entities/schemas/sharedWishlistItem.js
  packages/core/src/sharedWishlists/redux/__tests__/reducer.test.js
  packages/core/src/sharedWishlists/redux/__tests__/selectors.test.js
  packages/core/src/sharedWishlists/redux/actions/__tests__/__snapshots__/doCreateSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/redux/actions/__tests__/__snapshots__/doDeleteSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/redux/actions/__tests__/__snapshots__/doFetchSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/redux/actions/__tests__/__snapshots__/doUpdateSharedWishlist.test.js.snap
  packages/core/src/sharedWishlists/redux/actions/__tests__/doCreateSharedWishlist.test.js
  packages/core/src/sharedWishlists/redux/actions/__tests__/doDeleteSharedWishlist.test.js
  packages/core/src/sharedWishlists/redux/actions/__tests__/doFetchSharedWishlist.test.js
  packages/core/src/sharedWishlists/redux/actions/__tests__/doUpdateSharedWishlist.test.js
  packages/core/src/sharedWishlists/redux/actions/__tests__/reset.test.js
  packages/core/src/sharedWishlists/redux/actions/__tests__/resetState.test.js
  packages/core/src/sharedWishlists/redux/reducer.js
  packages/core/src/sharedWishlists/redux/selectors.js
  tests/__fixtures__/sharedWishlists/sharedWishlist.fixtures.js
Labels: type: bug, :package: core

#841 fix(client): checkout session types
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/checkout/types/checkoutSession.types.ts
  tests/__fixtures__/checkout/checkoutSessions.fixtures.mts
Labels: type: bug, :package: client

#763 feat: improve base components
  packages/react/src/contents/components/base/media/__tests__/Thumbnail.test.tsx
  packages/react/src/contents/components/base/media/__tests__/__snapshots__/Thumbnail.test.tsx.snap
  packages/react/src/contents/components/base/media/components/audio/Audio.tsx
  packages/react/src/contents/components/base/media/components/image/Image.tsx
  packages/react/src/contents/components/base/media/components/image/styles.ts
  packages/react/src/contents/components/base/media/components/thumbnail/Thumbnail.tsx
  packages/react/src/contents/components/base/media/components/thumbnail/index.ts
  packages/react/src/contents/components/base/media/components/thumbnail/styles.ts
  packages/react/src/contents/components/base/media/components/utils/getFallbackSrcImage.ts
  packages/react/src/contents/components/base/media/components/utils/index.ts
  packages/react/src/contents/components/base/media/components/video/Video.tsx
  packages/react/src/contents/types/base.types.ts
Labels: type: feature, :package: react

#845 fix: component thumbnail index export
  packages/react/src/contents/components/base/media/components/thumbnail/index.ts
Labels: type: bug, :package: react

#847 feat(core): add middleware for getting the wishlist sets upon shared wishlist id changes
  packages/core/src/sharedWishlists/redux/__tests__/reducer.test.js
  packages/core/src/sharedWishlists/redux/middlewares/__tests__/getWishlistSetsUponSharedWishlistIdChanges.test.js
  packages/core/src/sharedWishlists/redux/middlewares/__tests__/updateSharedWishlistUponItemsChanges.test.js
  packages/core/src/sharedWishlists/redux/middlewares/getWishlistSetsUponSharedWishlistIdChanges.js
  packages/core/src/sharedWishlists/redux/middlewares/index.js
  packages/core/src/sharedWishlists/redux/middlewares/updateSharedWishlistUponItemsChanges.js
  packages/core/src/sharedWishlists/redux/reducer.js
Labels: type: feature, :package: core

#851 feat(redux): add share wishlist middleware for refetching wishlist sets
  packages/redux/src/sharedWishlists/middlewares/__tests__/getWishlistSetsUponSharedWishlistIdChanges.test.ts
  packages/redux/src/sharedWishlists/middlewares/__tests__/updateSharedWishlistUponItemsChanges.test.ts
  packages/redux/src/sharedWishlists/middlewares/getWishlistSetsUponSharedWishlistIdChanges.ts
  packages/redux/src/sharedWishlists/middlewares/index.ts
  packages/redux/src/sharedWishlists/middlewares/updateSharedWishlistUponItemsChanges.ts
Labels: type: feature, :package: redux

#850 fix(redux): adjust shared wishlists reducer
  packages/redux/src/sharedWishlists/__tests__/reducer.test.ts
  packages/redux/src/sharedWishlists/reducer.ts
Labels: type: bug, :package: redux

#839 feat(analytics|react): update omnitracking integration to work on the server
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/Omnitracking.ts
  packages/analytics/src/integrations/Omnitracking/__fixtures__/expectedPagePayloadWeb.fixtures.ts
  packages/analytics/src/integrations/Omnitracking/__fixtures__/expectedTrackPayload.fixtures.ts
  packages/analytics/src/integrations/Omnitracking/__fixtures__/index.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/analytics/src/integrations/Omnitracking/types/Omnitracking.types.ts
  packages/analytics/src/utils/constants.ts
  packages/analytics/src/utils/getters.ts
  packages/analytics/src/utils/index.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/__tests__/analytics.test.ts
  packages/react/src/analytics/analytics.ts
  packages/react/src/analytics/context.ts
  packages/react/src/analytics/integrations/Castle/__tests__/Castle.test.ts
  packages/react/src/analytics/integrations/GA4/commands.ts
  packages/react/src/analytics/integrations/GA4/index.ts
  packages/react/src/analytics/integrations/GTM/__tests__/GTM.test.ts
  packages/react/src/analytics/integrations/Omnitracking/Omnitracking.ts
  packages/react/src/analytics/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/react/src/analytics/integrations/Omnitracking/index.ts
  packages/react/src/analytics/integrations/Omnitracking/omnitracking-web-helper.ts
  packages/react/src/analytics/integrations/index.ts
  packages/react/src/analytics/uniqueViewIdStorage/UniqueViewIdStorage.ts
  packages/react/src/analytics/uniqueViewIdStorage/UniqueViewIdStorageOptions.ts
  packages/react/src/analytics/uniqueViewIdStorage/__tests__/UniqueViewIdStorage.test.ts
  tests/__fixtures__/analytics/baseAnalyticsEventData.fixtures.mts
  tests/__fixtures__/analytics/context/index.mts
  tests/__fixtures__/analytics/context/mocked_previous_view_uid.mts
  tests/__fixtures__/analytics/context/mocked_view_uid.mts
  tests/__fixtures__/analytics/index.mts
Labels: type: feature, :package: react, :package: analytics
