Repository Farfetch/blackout, pull requests merged in 2023-11, with the labels that each got.

#893 feat: add checkout step to analytics events `v1`
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#889 feat: add isMainWishlist parameter to `v1`
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/redux/middlewares/__tests__/wishlist.test.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#904 fix(core): fix guest orders not returning items by merchant
  packages/core/src/orders/redux/selectors.js
Labels: type: bug, :package: core

#881 fix(redux): avoid facets replacement when multiple listing requests
  packages/redux/src/entities/schemas/facet.ts
  packages/redux/src/entities/schemas/productsList.ts
  packages/redux/src/entities/types/productListing.types.ts
  packages/redux/src/products/selectors/__tests__/listings.test.ts
  packages/redux/src/products/serverInitialState/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/products/serverInitialState/__tests__/__snapshots__/lists.test.ts.snap
  tests/__fixtures__/products/productsLists.fixtures.mts
Labels: type: bug, :package: redux

#905 fix: commerce pages merge strategy not merging correctly
  packages/redux/src/contents/actions/__tests__/__snapshots__/fetchCommercePages.test.ts.snap
  packages/redux/src/contents/utils.ts
  tests/__fixtures__/contents/commercePages.fixtures.mts
Labels: type: bug, :package: redux

#902 feat: omnitracking minor changes for `v1`
  packages/core/src/analytics/integrations/Omnitracking/__tests__/omnitracking-helper.test.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#897 feat: add productId to analytics events `v1`
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#912 feat: add review checkout analytics event to `main`
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/types/EventType.ts
  packages/analytics/src/types/__tests__/__snapshots__/EventType.test.ts.snap
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.ts
  tests/__fixtures__/analytics/track/index.mts
  tests/__fixtures__/analytics/track/reviewCheckoutTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#900 feat: add unitSalePrice to analytics events `main`
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/analytics/src/types/analytics.types.ts
Labels: type: feature, :package: analytics

#911 feat: add review checkout analytics event to `v1`
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/core/src/analytics/types/eventTypes.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#903 feat: add unitSalePrice to analytics events `v1`
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#910 fix: save exchange filters by id
  packages/core/src/entities/redux/__tests__/__snapshots__/reducer.test.js.snap
  packages/core/src/entities/redux/reducer/entitiesMapper.js
  packages/core/src/entities/schemas/exchangeFilter.js
  packages/core/src/exchanges/redux/__fixtures__/exchanges.fixtures.js
  packages/core/src/exchanges/redux/__tests__/reducer.test.js
  packages/core/src/exchanges/redux/__tests__/selectors.test.js
  packages/core/src/exchanges/redux/actionTypes.js
  packages/core/src/exchanges/redux/actions/__tests__/__snapshots__/doCreateExchangeFilter.test.js.snap
  packages/core/src/exchanges/redux/actions/__tests__/doCreateExchangeFilter.test.js
  packages/core/src/exchanges/redux/actions/__tests__/doResetExchangeFilters.test.js
  packages/core/src/exchanges/redux/actions/doCreateExchangeFilter.js
  packages/core/src/exchanges/redux/actions/doResetExchangeFilters.js
  packages/core/src/exchanges/redux/actions/index.js
  packages/core/src/exchanges/redux/index.js
  packages/core/src/exchanges/redux/reducer.js
  packages/core/src/exchanges/redux/selectors.js
Labels: type: bug, :rotating_light: BREAKING CHANGE, :package: core

#924 chore: update maintainers
  README.md
Labels: type: documentation, ignore-for-release

#927 chore: update wishlistset type to include sharedWishlistId
  packages/client/src/wishlists/types/wishlistSet.types.ts
Labels: :package: client, ignore-for-release

#928 Revert "fix: buildQueryStringFromObject query construction"
  packages/redux/src/brands/__tests__/utils.test.ts
  packages/redux/src/helpers/__tests__/buildQueryStringFromObject.test.ts
  packages/redux/src/helpers/buildQueryStringFromObject.ts
  packages/redux/src/products/serverInitialState/__tests__/lists.test.ts
  tests/__fixtures__/brands/brands.fixtures.mts
  tests/__fixtures__/products/productsLists.fixtures.mts
Labels: :package: redux

#921 feat: add new parameters to interact content event `main`
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/types/Omnitracking.types.ts
  packages/analytics/src/types/ElementType.ts
  packages/analytics/src/types/__tests__/ElementType.test.ts
  packages/analytics/src/types/__tests__/__snapshots__/ElementType.test.ts.snap
  packages/analytics/src/types/index.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/index.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
  tests/__fixtures__/analytics/track/interactContentTrackData.fixtures.mts
  tests/__fixtures__/analytics/wishlist/index.mts
  tests/__fixtures__/analytics/wishlist/wishlist.fixtures.mts
Labels: type: feature, :package: react, :package: redux, :package: analytics
