Repository Farfetch/blackout, pull requests merged in 2023-12, with the labels that each got.

#922 feat: add settings endpoints
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/settings/__fixtures__/getAccountSetting.fixtures.ts
  packages/client/src/settings/__fixtures__/getAccountSettings.fixtures.ts
  packages/client/src/settings/__tests__/__snapshots__/getAccountSetting.test.ts.snap
  packages/client/src/settings/__tests__/__snapshots__/getAccountSettings.test.ts.snap
  packages/client/src/settings/__tests__/getAccountSetting.test.ts
  packages/client/src/settings/__tests__/getAccountSettings.test.ts
  packages/client/src/settings/getAccountSetting.ts
  packages/client/src/settings/getAccountSettings.ts
  packages/client/src/settings/index.ts
  packages/client/src/settings/types/getAccountSetting.ts
  packages/client/src/settings/types/getAccountSettings.ts
  packages/client/src/settings/types/index.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/index.ts
  packages/redux/src/settings/actionTypes.ts
  packages/redux/src/settings/actions/__tests__/fetchAccountSetting.test.ts
  packages/redux/src/settings/actions/__tests__/fetchAccountSettings.test.ts
  packages/redux/src/settings/actions/factories/fetchAccountSettingFactory.ts
  packages/redux/src/settings/actions/factories/fetchAccountSettingsFactory.ts
  packages/redux/src/settings/actions/factories/index.ts
  packages/redux/src/settings/actions/fetchAccountSetting.ts
  packages/redux/src/settings/actions/fetchAccountSettings.ts
  packages/redux/src/settings/actions/index.ts
  packages/redux/src/settings/reducer/__tests__/accountSetting.test.ts
  packages/redux/src/settings/reducer/__tests__/accountSettings.test.ts
  packages/redux/src/settings/reducer/__tests__/configurations.test.ts
  packages/redux/src/settings/reducer/accountSetting.ts
  packages/redux/src/settings/reducer/accountSettings.ts
  packages/redux/src/settings/reducer/configurations.ts
  packages/redux/src/settings/reducer/index.ts
  packages/redux/src/settings/selectors/__tests__/accountSetting.test.ts
  packages/redux/src/settings/selectors/__tests__/accountSettings.test.ts
  packages/redux/src/settings/selectors/accountSetting.ts
  packages/redux/src/settings/selectors/accountSettings.ts
  packages/redux/src/settings/selectors/index.ts
  packages/redux/src/settings/types/actions.types.ts
  packages/redux/src/settings/types/state.types.ts
  packages/redux/src/settings/utils.ts
  tests/__fixtures__/settings/accountSettings.fixtures.mts
  tests/__fixtures__/settings/configurations.fixtures.mts
  tests/__fixtures__/settings/index.mts
Labels: type: feature, :package: client, :package: redux

#940 feat: add itemListName parameter to analytics events `main`
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  tests/__fixtures__/analytics/track/productClickedTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#938 Feat/checkout draft orders client
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/checkout/__tests__/__snapshots__/postCheckoutOrder.test.ts.snap
  packages/client/src/checkout/__tests__/postCheckoutOrder.test.ts
  packages/client/src/checkout/draftOrders/__fixtures__/deleteDraftOrder.fixtures.ts
  packages/client/src/checkout/draftOrders/__fixtures__/deleteDraftOrderItem.fixtures.ts
  packages/client/src/checkout/draftOrders/__fixtures__/getDraftOrder.fixtures.ts
  packages/client/src/checkout/draftOrders/__fixtures__/getDraftOrders.fixtures.ts
  packages/client/src/checkout/draftOrders/__fixtures__/patchDraftOrder.fixtures.ts
  packages/client/src/checkout/draftOrders/__fixtures__/patchDraftOrderItem.fixtures.ts
  packages/client/src/checkout/draftOrders/__fixtures__/postDraftsOrders.fixtures.ts
  packages/client/src/checkout/draftOrders/__tests__/__snapshots__/deleteDraftOrder.test.ts.snap
  packages/client/src/checkout/draftOrders/__tests__/__snapshots__/deleteDraftOrderItem.test.ts.snap
  packages/client/src/checkout/draftOrders/__tests__/__snapshots__/getDraftOrder.test.ts.snap
  packages/client/src/checkout/draftOrders/__tests__/__snapshots__/getDraftOrders.test.ts.snap
  packages/client/src/checkout/draftOrders/__tests__/__snapshots__/patchDraftOrder.test.ts.snap
  packages/client/src/checkout/draftOrders/__tests__/__snapshots__/patchDraftOrderItem.test.ts.snap
  packages/client/src/checkout/draftOrders/__tests__/__snapshots__/postDraftOrders.test.ts.snap
  packages/client/src/checkout/draftOrders/__tests__/deleteDraftOrder.test.ts
  packages/client/src/checkout/draftOrders/__tests__/deleteDraftOrderItem.test.ts
  packages/client/src/checkout/draftOrders/__tests__/getDraftOrder.test.ts
  packages/client/src/checkout/draftOrders/__tests__/getDraftOrders.test.ts
  packages/client/src/checkout/draftOrders/__tests__/patchDraftOrder.test.ts
  packages/client/src/checkout/draftOrders/__tests__/patchDraftOrderItem.test.ts
  packages/client/src/checkout/draftOrders/__tests__/postDraftOrders.test.ts
  packages/client/src/checkout/draftOrders/deleteDraftOrder.ts
  packages/client/src/checkout/draftOrders/deleteDraftOrderItem.ts
  packages/client/src/checkout/draftOrders/getDraftOrder.ts
  packages/client/src/checkout/draftOrders/getDraftOrders.ts
  packages/client/src/checkout/draftOrders/index.ts
  packages/client/src/checkout/draftOrders/patchDraftOrder.ts
  packages/client/src/checkout/draftOrders/patchDraftOrderItem.ts
  packages/client/src/checkout/draftOrders/postDraftOrders.ts
  packages/client/src/checkout/draftOrders/types/deleteDraftOrder.types.ts
  packages/client/src/checkout/draftOrders/types/deleteDraftOrderItem.types.ts
  packages/client/src/checkout/draftOrders/types/draftOrder.types.ts
  packages/client/src/checkout/draftOrders/types/draftOrderItem.types.ts
  packages/client/src/checkout/draftOrders/types/draftOrdersQuery.types.ts
  packages/client/src/checkout/draftOrders/types/getDraftOrder.types.ts
  packages/client/src/checkout/draftOrders/types/getDraftOrders.types.ts
  packages/client/src/checkout/draftOrders/types/index.ts
  packages/client/src/checkout/draftOrders/types/patchDraftOrder.types.ts
  packages/client/src/checkout/draftOrders/types/patchDraftOrderItem.types.ts
  packages/client/src/checkout/draftOrders/types/postDraftOrders.types.ts
  packages/client/src/checkout/index.ts
  packages/client/src/checkout/types/index.ts
  packages/client/src/checkout/types/postCheckoutOrder.types.ts
  packages/client/src/types/common/address.types.ts
  packages/client/src/types/common/index.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/createCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrderDetails.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/removeCheckoutOrderPromocodes.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderItemTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderPromocodes.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/updateCheckoutOrder.test.ts.snap
  tests/__fixtures__/checkout/checkout.fixtures.mts
  tests/__fixtures__/checkout/checkoutSessions.fixtures.mts
  tests/__fixtures__/checkout/draftOrders.fixtures.mts
  tests/__fixtures__/checkout/index.mts
Labels: :package: client, :package: redux

#943 fix(client|redux): account settings type and reducer export
  packages/client/src/settings/types/getAccountSetting.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/settings/reducer/index.ts
Labels: type: bug, :package: client, :package: redux

#939 feat: add itemListName parameter to analytics events `v1`
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/__tests__/omnitracking-helper.test.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: type: feature, :package: core

#946 Weekly release: dev-v1-19-12-23
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/__tests__/omnitracking-helper.test.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
Labels: :package: core
