Repository Farfetch/blackout, pull requests merged in 2023-10, with the labels that each got.

#876 feat: update forter script for `v1`
  packages/react/src/analytics/integrations/Forter/loadForterScriptForSiteId.js
Labels: type: feature, :package: react

#873 feat(core|react): update recommendations tracking parameters
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/__tests__/omnitracking-helper.test.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#874 feat(analytics|react): update recommendations tracking parameters
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/omnitracking-helper.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/page/productPageData.fixtures.mts
  tests/__fixtures__/analytics/track/productRemovedFromWishlistTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#880 feat: add new locations to Analytics FROM types for `main`
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/types/FromParameterType.ts
  packages/analytics/src/types/__tests__/__snapshots__/FromParameterType.test.ts.snap
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
Labels: type: feature, :package: react, :package: analytics

#879 feat: add new locations to Analytics FROM types for `v1`
  packages/core/src/analytics/types/__tests__/__snapshots__/fromParameterTypes.test.js.snap
  packages/core/src/analytics/types/fromParameterTypes.js
Labels: type: feature, :package: core

#884 feat: add parameters to payment info added event
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/paymentInfoAddedTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#883 feat: add parameters to payment info added event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#886 feat: add site performance measuring event to analytics for `main`
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/types/EventType.ts
  packages/analytics/src/types/__tests__/__snapshots__/EventType.test.ts.snap
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  tests/__fixtures__/analytics/track/index.mts
  tests/__fixtures__/analytics/track/sitePerformanceTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#887 feat: add parameters to interact content event for `main`
  packages/analytics/src/integrations/Omnitracking/__tests__/Omnitracking.test.ts
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
Labels: type: feature, :package: react, :package: analytics

#885 feat: add site performance measuring event to analytics to `v1`
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/core/src/analytics/types/eventTypes.js
Labels: type: feature, :package: core

#888 feat: add parameters to interact content event for `v1`
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/Omnitracking.test.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#890 feat: add isMainWishlist parameter to `main`
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
  packages/redux/src/wishlists/types/actions.types.ts
  tests/__fixtures__/analytics/track/productAddedToWishlistTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/productRemovedFromWishlistTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/productUpdatedWishlistTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: redux, :package: analytics

#894 feat: add checkout step to analytics events `main`
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/paymentInfoAddedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/placeOrderStartedTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics
