Repository Farfetch/blackout, pull requests merged in 2023-04, with the labels that each got.

#703 feat(core|react): add delivery method added event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/core/src/analytics/types/eventTypes.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#704 feat(analytics|react): add delivery method added event next
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/types/EventTypes.ts
  packages/analytics/src/types/__tests__/__snapshots__/EventTypes.test.ts.snap
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/deliveryMethodAddedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/index.mts
Labels: type: feature, :package: react, :package: analytics

#705 fix(core|react): fix filters events
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: bug, :package: react, :package: core

#706 fix(analytics|react): fix filters events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
Labels: :package: react, :package: analytics

#714 feat: add config parameter to `useBag` and `useBagItem` actions
  packages/react/src/bags/hooks/__tests__/useBag.test.tsx
  packages/react/src/bags/hooks/__tests__/useBagItem.test.tsx
  packages/react/src/bags/hooks/types/useBag.ts
  packages/react/src/bags/hooks/useBag.ts
  packages/react/src/bags/hooks/useBagItem.ts
Labels: type: feature, :package: react

#712 feat(core|react): add parameters edit checkout step event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#715 feat: add parameters add shipping method event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/checkoutStartedTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/shippingMethodAddedTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#722 fix: fix `patchCheckoutOrderItems` types
  packages/client/src/checkout/types/patchCheckoutOrderItems.types.ts
  packages/redux/src/checkout/actions/__tests__/updateCheckoutOrderItems.test.ts
  tests/__fixtures__/checkout/checkout.fixtures.mts
Labels: type: bug, :package: client, :package: redux

#716 feat: add parameters add shipping method event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#724 Release dev-main-11-04-23
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: :package: react, :package: core

#725 chore: update Product Variant types with publication features
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/products/types/productVariant.types.ts
  tests/__fixtures__/products/productVariantsMerchantsLocations.fixtures.mts
Labels: :package: client

#732 feat: add parameters add shipping info event
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#731 feat: add parameters add shipping info event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/shippingInfoAddedTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#729 feat: add parameters add address info event next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/addressInfoAddedTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#728 feat: add index parameter to events
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/Omnitracking/omnitracking-helper.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#727 feat: add index parameter to events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/integrations/Omnitracking/omnitracking-helper.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/productAddedToCartTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/productAddedToWishlistTrackData.fixtures.mts
  tests/__fixtures__/analytics/track/productUpdatedTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#717 feat(core): exclude update product event
  packages/core/src/analytics/redux/middlewares/__tests__/bag.test.js
  packages/core/src/analytics/redux/middlewares/__tests__/wishlist.test.js
  packages/core/src/analytics/redux/middlewares/bag.js
  packages/core/src/analytics/redux/middlewares/wishlist.js
Labels: type: feature, :package: core

#719 feat(redux): exclude update product event for next
  packages/redux/src/analytics/middlewares/__tests__/bag.test.ts
  packages/redux/src/analytics/middlewares/__tests__/wishlist.test.ts
  packages/redux/src/analytics/middlewares/bag.ts
  packages/redux/src/analytics/middlewares/wishlist.ts
Labels: type: feature, :package: redux

#726 feat(analytics|react): add package version to analytics next
  packages/react/src/analytics/__tests__/analytics.test.ts
  packages/react/src/analytics/analytics.ts
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
Labels: type: feature, :package: react

#723 feat(core|react): add package version analytics ga4 omni
  packages/core/src/analytics/Analytics.js
  packages/core/src/analytics/utils/constants.js
  packages/react/src/analytics/__tests__/analytics.test.js
  packages/react/src/analytics/analytics.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#737 chore(client): add metadata to order item types
  packages/client/src/orders/types/orderItem.types.ts
Labels: :package: client

#740 feat(core|react): add location id parameter on analytics product events
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#739 feat(analytics|react): add location id parameter on analytics product events next
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/track/productUpdatedTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics
