Repository Farfetch/blackout, pull requests merged in 2024-01, with the labels that each got.

#945 fix(redux): add sort by date on recently viewed `main`
  packages/redux/src/products/reducer/__tests__/recentlyViewed.test.ts
  packages/redux/src/products/reducer/recentlyViewedProducts.ts
  tests/__fixtures__/products/recentlyViewed.fixtures.mts
Labels: type: bug, :package: redux

#947 fix(core): add sort by date on recently viewed `v1`
  packages/core/src/recentlyViewed/redux/__mocks__/getRecentlyViewed.js
  packages/core/src/recentlyViewed/redux/__tests__/reducer.test.js
  packages/core/src/recentlyViewed/redux/reducer.js
Labels: type: bug, :package: core

#956 New impersonation flow types - customerId on Post order
  packages/client/src/checkout/types/postCheckoutOrder.types.ts
Labels: :package: client

#954 chore: adding unit test to guarantee the right baseURL
  packages/client/src/helpers/client/__tests__/axiosInstance.test.ts
Labels: :package: client, ignore-for-release

#952 feat(react): create package draft orders react
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/checkout/draftOrders/__tests__/useDraftOrder.test.tsx
  packages/react/src/checkout/draftOrders/__tests__/useDraftOrders.test.tsx
  packages/react/src/checkout/draftOrders/hooks/index.ts
  packages/react/src/checkout/draftOrders/hooks/useDraftOrder.ts
  packages/react/src/checkout/draftOrders/hooks/useDraftOrders.ts
  packages/react/src/checkout/draftOrders/index.ts
  packages/react/src/checkout/index.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/draftOrders/__tests__/selectors.test.ts
  packages/redux/src/checkout/draftOrders/actions/factories/createDraftOrderFactory.ts
  packages/redux/src/checkout/draftOrders/actions/factories/fetchDraftOrderFactory.ts
  packages/redux/src/checkout/draftOrders/actions/factories/fetchDraftOrdersFactory.ts
  packages/redux/src/checkout/draftOrders/selectors.ts
  packages/redux/src/checkout/draftOrders/types/actions.types.ts
  packages/redux/src/checkout/draftOrders/types/state.types.ts
  packages/redux/src/entities/schemas/draftOrder.ts
  tests/__fixtures__/checkout/draftOrders.fixtures.mts
Labels: type: feature, :package: react, :package: redux

#950 feat(redux): create draft orders redux
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/checkout/draftOrders/__tests__/__snapshots__/postDraftOrder.test.ts.snap
  packages/client/src/checkout/draftOrders/__tests__/postDraftOrder.test.ts
  packages/client/src/checkout/draftOrders/index.ts
  packages/client/src/checkout/draftOrders/postDraftOrder.ts
  packages/client/src/checkout/draftOrders/types/getDraftOrders.types.ts
  packages/client/src/checkout/draftOrders/types/index.ts
  packages/client/src/checkout/draftOrders/types/postDraftOrder.types.ts
  packages/client/src/types/common/pagedResponse.types.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/checkout/draftOrders/__tests__/reducer.test.ts
  packages/redux/src/checkout/draftOrders/__tests__/selectors.test.ts
  packages/redux/src/checkout/draftOrders/actionTypes.ts
  packages/redux/src/checkout/draftOrders/actions.ts
  packages/redux/src/checkout/draftOrders/actions/__tests__/createDraftOrder.test.ts
  packages/redux/src/checkout/draftOrders/actions/__tests__/fetchDraftOrder.test.ts
  packages/redux/src/checkout/draftOrders/actions/__tests__/fetchDraftOrders.test.ts
  packages/redux/src/checkout/draftOrders/actions/__tests__/removeDraftOrder.test.ts
  packages/redux/src/checkout/draftOrders/actions/__tests__/removeDraftOrderItem.test.ts
  packages/redux/src/checkout/draftOrders/actions/__tests__/updateDraftOrder.test.ts
  packages/redux/src/checkout/draftOrders/actions/__tests__/updateDraftOrderItem.test.ts
  packages/redux/src/checkout/draftOrders/actions/createDraftOrder.ts
  packages/redux/src/checkout/draftOrders/actions/factories/createDraftOrderFactory.ts
  packages/redux/src/checkout/draftOrders/actions/factories/fetchDraftOrderFactory.ts
  packages/redux/src/checkout/draftOrders/actions/factories/fetchDraftOrdersFactory.ts
  packages/redux/src/checkout/draftOrders/actions/factories/index.ts
  packages/redux/src/checkout/draftOrders/actions/factories/removeDraftOrderFactory.ts
  packages/redux/src/checkout/draftOrders/actions/factories/removeDraftOrderItemFactory.ts
  packages/redux/src/checkout/draftOrders/actions/factories/updateDraftOrderFactory.ts
  packages/redux/src/checkout/draftOrders/actions/factories/updateDraftOrderItemFactory.ts
  packages/redux/src/checkout/draftOrders/actions/fetchDraftOrder.ts
  packages/redux/src/checkout/draftOrders/actions/fetchDraftOrders.ts
  packages/redux/src/checkout/draftOrders/actions/index.ts
  packages/redux/src/checkout/draftOrders/actions/removeDraftOrder.ts
  packages/redux/src/checkout/draftOrders/actions/removeDraftOrderItem.ts
  packages/redux/src/checkout/draftOrders/actions/updateDraftOrder.ts
  packages/redux/src/checkout/draftOrders/actions/updateDraftOrderItem.ts
  packages/redux/src/checkout/draftOrders/index.ts
  packages/redux/src/checkout/draftOrders/reducer.ts
  packages/redux/src/checkout/draftOrders/selectors.ts
  packages/redux/src/checkout/draftOrders/types/actions.types.ts
  packages/redux/src/checkout/draftOrders/types/draftOrdersAction.types.ts
  packages/redux/src/checkout/draftOrders/types/index.ts
  packages/redux/src/checkout/draftOrders/types/state.types.ts
  packages/redux/src/checkout/index.ts
  packages/redux/src/entities/schemas/draftOrder.ts
  packages/redux/src/entities/types/draftOrder.types.ts
  packages/redux/src/entities/types/index.ts
  packages/redux/src/types/storeState.types.ts
  tests/__fixtures__/checkout/draftOrders.fixtures.mts
Labels: type: feature, :package: client, :package: redux

#955 feat: add search changes to analytics events for `main`
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/types/FromParameterType.ts
  packages/analytics/src/types/InputType.ts
  packages/analytics/src/types/SearchType.ts
  packages/analytics/src/types/SortOptionType.ts
  packages/analytics/src/types/__tests__/InputType.test.ts
  packages/analytics/src/types/__tests__/SearchType.test.ts
  packages/analytics/src/types/__tests__/SortOptionType.test.ts
  packages/analytics/src/types/__tests__/__snapshots__/FromParameterType.test.ts.snap
  packages/analytics/src/types/__tests__/__snapshots__/InputType.test.ts.snap
  packages/analytics/src/types/__tests__/__snapshots__/SearchType.test.ts.snap
  packages/analytics/src/types/__tests__/__snapshots__/SortOptionType.test.ts.snap
  packages/analytics/src/types/index.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/index.ts
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  tests/__fixtures__/analytics/page/listingPageData.fixtures.mts
  tests/__fixtures__/analytics/page/searchPageData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#949 feat: add support to consent management protocol v2 to `main`
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/constants.ts
  packages/react/src/analytics/integrations/GA4/types/index.ts
  packages/react/src/analytics/integrations/GTM/GTM.ts
  packages/react/src/analytics/integrations/GTM/constants.ts
  packages/react/src/analytics/integrations/GTM/gtmTag.ts
  packages/react/src/analytics/integrations/GTM/types/index.ts
  packages/react/src/analytics/integrations/index.ts
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/GoogleConsentMode.ts
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/__tests__/GoogleConsentMode.test.ts
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/__tests__/__snapshots__/GoogleConsentMode.test.ts.snap
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/index.ts
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/types.ts
  packages/react/src/analytics/integrations/shared/index.ts
Labels: type: feature, :package: react

#951 feat: add support to google consent mode for `v1`
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/GA4/constants.js
  packages/react/src/analytics/integrations/GTM/GTM.js
  packages/react/src/analytics/integrations/GTM/constants.js
  packages/react/src/analytics/integrations/GTM/gtmTag.js
  packages/react/src/analytics/integrations/index.js
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/GoogleConsentMode.js
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/__tests__/GoogleConsentMode.test.js
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/__tests__/__snapshots__/GoogleConsentMode.test.js.snap
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/index.js
  packages/react/src/analytics/integrations/shared/index.js
Labels: type: feature, :package: react

#953 feat: add search changes to analytics events for `v1`
  packages/core/src/analytics/__fixtures__/pageData.fixtures.js
  packages/core/src/analytics/index.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/fromParameterTypes.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/inputTypes.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/searchTypes.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/sortOptions.test.js.snap
  packages/core/src/analytics/types/__tests__/inputTypes.test.js
  packages/core/src/analytics/types/__tests__/searchTypes.test.js
  packages/core/src/analytics/types/__tests__/sortOptions.test.js
  packages/core/src/analytics/types/fromParameterTypes.js
  packages/core/src/analytics/types/inputTypes.js
  packages/core/src/analytics/types/searchTypes.js
  packages/core/src/analytics/types/sortOptions.js
  packages/react/src/analytics/index.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
Labels: type: feature, :package: react, :package: core

#965 fix: fix `productsList` schema
  packages/client/src/products/types/filterSegment.types.ts
  packages/react/src/contents/utils/__tests__/__fixtures__/getListingSeoMetadataParams.fixtures.ts
  packages/redux/src/entities/schemas/productsList.ts
  packages/redux/src/products/selectors/__tests__/listings.test.ts
  tests/__fixtures__/products/products.fixtures.mts
  tests/__fixtures__/products/productsLists.fixtures.mts
Labels: type: bug, :package: client, :package: react, :package: redux

#966 feat: add external logins redux actions
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/users/authentication/__tests__/reducer.test.ts
  packages/redux/src/users/authentication/__tests__/selectors.test.ts
  packages/redux/src/users/authentication/actionTypes.ts
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/fetchUserExternalLogins.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/__snapshots__/removeUserExternalLogin.test.ts.snap
  packages/redux/src/users/authentication/actions/__tests__/fetchUserExternalLogins.test.ts
  packages/redux/src/users/authentication/actions/__tests__/removeUserExternalLogin.test.ts
  packages/redux/src/users/authentication/actions/factories/fetchUserExternalLoginsFactory.ts
  packages/redux/src/users/authentication/actions/factories/index.ts
  packages/redux/src/users/authentication/actions/factories/removeUserExternalLoginFactory.ts
  packages/redux/src/users/authentication/actions/fetchUserExternalLogins.ts
  packages/redux/src/users/authentication/actions/index.ts
  packages/redux/src/users/authentication/actions/removeUserExternalLogin.ts
  packages/redux/src/users/authentication/reducer.ts
  packages/redux/src/users/authentication/selectors.ts
  packages/redux/src/users/authentication/types/actions.types.ts
  packages/redux/src/users/authentication/types/state.types.ts
  tests/__fixtures__/checkout/checkout.fixtures.mts
  tests/__fixtures__/users/authentication.fixtures.mts
  tests/__fixtures__/users/users.fixtures.mts
Labels: type: feature, :package: redux

#958 feat: expose missing address endpoints on main
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/users/addresses/__fixtures__/deleteUserDefaultBillingAddress.fixtures.ts
  packages/client/src/users/addresses/__fixtures__/deleteUserDefaultShippingAddress.fixtures.ts
  packages/client/src/users/addresses/__tests__/__snapshots__/deleteUserDefaultBillingAddress.test.ts.snap
  packages/client/src/users/addresses/__tests__/__snapshots__/deleteUserDefaultShippingAddress.test.ts.snap
  packages/client/src/users/addresses/__tests__/deleteUserDefaultBillingAddress.test.ts
  packages/client/src/users/addresses/__tests__/deleteUserDefaultShippingAddress.test.ts
  packages/client/src/users/addresses/deleteUserDefaultBillingAddress.ts
  packages/client/src/users/addresses/deleteUserDefaultShippingAddress.ts
  packages/client/src/users/addresses/index.ts
  packages/client/src/users/addresses/types/deleteUserDefaultBillingAddress.types.ts
  packages/client/src/users/addresses/types/deleteUserDefaultShippingAddress.types.ts
  packages/client/src/users/addresses/types/index.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/__tests__/__snapshots__/reducer.test.ts.snap
  packages/redux/src/users/addresses/__tests__/reducer.test.ts
  packages/redux/src/users/addresses/actionTypes.ts
  packages/redux/src/users/addresses/actions/__tests__/__snapshots__/removeUserDefaultBillingAddress.test.ts.snap
  packages/redux/src/users/addresses/actions/__tests__/__snapshots__/removeUserDefaultShippingAddress.test.ts.snap
  packages/redux/src/users/addresses/actions/__tests__/removeUserDefaultBillingAddress.test.ts
  packages/redux/src/users/addresses/actions/__tests__/removeUserDefaultShippingAddress.test.ts
  packages/redux/src/users/addresses/actions/factories/index.ts
  packages/redux/src/users/addresses/actions/factories/removeUserDefaultBillingAddressFactory.ts
  packages/redux/src/users/addresses/actions/factories/removeUserDefaultShippingAddressFactory.ts
  packages/redux/src/users/addresses/actions/index.ts
  packages/redux/src/users/addresses/actions/removeUserDefaultBillingAddress.ts
  packages/redux/src/users/addresses/actions/removeUserDefaultShippingAddress.ts
  packages/redux/src/users/addresses/reducer.ts
  packages/redux/src/users/addresses/types/actions.types.ts
Labels: type: feature, :package: client, :package: redux

#967 fix: fix updateCheckoutOrder factory recovery case
  packages/redux/src/checkout/actions/__tests__/__snapshots__/updateCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/updateCheckoutOrder.test.ts
  packages/redux/src/checkout/actions/factories/updateCheckoutOrderFactory.ts
Labels: type: bug, :package: redux

#970 fix: fix recentlyViewedProducts reducer to sort descending
  packages/redux/src/products/actions/__tests__/__snapshots__/fetchRecentlyViewedProducts.test.ts.snap
  packages/redux/src/products/reducer/__tests__/recentlyViewed.test.ts
  packages/redux/src/products/reducer/recentlyViewedProducts.ts
  packages/redux/src/products/selectors/__tests__/recentlyViewed.test.ts
  tests/__fixtures__/products/recentlyViewed.fixtures.mts
Labels: type: bug, :package: redux

#968 feat: analytics referrer attribution spa on `v1`
  packages/core/src/analytics/Analytics.js
  packages/react/src/analytics/__tests__/analytics.test.js
  packages/react/src/analytics/analytics.js
  packages/react/src/analytics/integrations/GA4/GA4.js
Labels: type: feature, :package: react, :package: core

#976 feat: create UseUserCredit hook
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/users/hooks/__tests__/useUserCredit.test.ts
  packages/react/src/users/hooks/index.ts
  packages/react/src/users/hooks/types/index.ts
  packages/react/src/users/hooks/types/useUserCredit.types.ts
  packages/react/src/users/hooks/useUserCredit.ts
  packages/redux/src/__tests__/__snapshots__/index.test.ts.snap
  packages/redux/src/entities/types/user.types.ts
  packages/redux/src/users/credits/selectors.ts
  tests/__fixtures__/users/credit.fixtures.mts
  tests/__fixtures__/users/creditMovements.fixtures.mts
Labels: type: feature, :package: react, :package: redux

#980 fix: fix tracking of uniqueViewId and previousUniqueViewId in analytics
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/WebContextStateManager.ts
  packages/react/src/analytics/__tests__/analytics.test.ts
  packages/react/src/analytics/analytics.ts
Labels: type: bug, :package: react

#972 feat: expose missing address endpoints on v1
  packages/core/src/addresses/client/__fixtures__/deleteDefaultBillingAddress.fixtures.js
  packages/core/src/addresses/client/__fixtures__/deleteDefaultShippingAddress.fixtures.js
  packages/core/src/addresses/client/__tests__/__snapshots__/deleteDefaultBillingAddress.test.js.snap
  packages/core/src/addresses/client/__tests__/__snapshots__/deleteDefaultShippingAddress.test.js.snap
  packages/core/src/addresses/client/__tests__/deleteDefaultBillingAddress.test.js
  packages/core/src/addresses/client/__tests__/deleteDefaultShippingAddress.test.js
  packages/core/src/addresses/client/deleteDefaultBillingAddress.js
  packages/core/src/addresses/client/deleteDefaultShippingAddress.js
  packages/core/src/addresses/client/index.js
  packages/core/src/addresses/redux/__tests__/reducer.test.js
  packages/core/src/addresses/redux/actionTypes.js
  packages/core/src/addresses/redux/actions/__tests__/__snapshots__/doDeleteDefaultBillingAddress.test.js.snap
  packages/core/src/addresses/redux/actions/__tests__/__snapshots__/doDeleteDefaultShippingAddress.test.js.snap
  packages/core/src/addresses/redux/actions/__tests__/doDeleteDefaultBillingAddress.test.js
  packages/core/src/addresses/redux/actions/__tests__/doDeleteDefaultShippingAddress.test.js
  packages/core/src/addresses/redux/actions/doDeleteDefaultBillingAddress.js
  packages/core/src/addresses/redux/actions/doDeleteDefaultShippingAddress.js
  packages/core/src/addresses/redux/actions/index.js
  packages/core/src/addresses/redux/reducer.js
  packages/core/src/entities/redux/__tests__/__snapshots__/reducer.test.js.snap
Labels: type: feature, :package: core
