Repository Farfetch/blackout, pull requests merged in 2024-02, with the labels that each got.

#983 fix: fix useUser hook infinite loading
  packages/react/src/users/hooks/__tests__/useUser.test.ts
  packages/react/src/users/hooks/useUser.ts
Labels: type: bug, :package: react

#977 feat: add parity between ga4 and gtm for `main`
  packages/analytics/src/__tests__/__snapshots__/index.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/__tests__/__snapshots__/Omnitracking.test.ts.snap
  packages/analytics/src/integrations/Omnitracking/definitions.ts
  packages/analytics/src/types/EventType.ts
  packages/analytics/src/types/__tests__/__snapshots__/EventType.test.ts.snap
  packages/analytics/src/types/analytics.types.ts
  packages/react/src/__tests__/__snapshots__/index.test.ts.snap
  packages/react/src/analytics/integrations/GA4/__tests__/__snapshots__/GA4.test.ts.snap
  packages/react/src/analytics/integrations/GA4/eventMapping.ts
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.ts
  packages/react/src/analytics/integrations/GTM/__tests__/GTM.test.ts
  packages/react/src/analytics/integrations/GTM/__tests__/__snapshots__/GTM.test.ts.snap
  packages/react/src/analytics/integrations/GTM/eventsMapper.ts
  packages/react/src/analytics/integrations/GTM/utils.ts
  tests/__fixtures__/analytics/track/index.mts
  tests/__fixtures__/analytics/track/reviewCheckoutTrackData.fixtures.mts
Labels: type: feature, :package: react, :package: analytics

#981 feat: add parity between ga4 and gtm for `v1`
  packages/core/src/analytics/__fixtures__/trackData.fixtures.js
  packages/core/src/analytics/integrations/Omnitracking/definitions.js
  packages/core/src/analytics/integrations/__tests__/__snapshots__/Omnitracking.test.js.snap
  packages/core/src/analytics/types/__tests__/__snapshots__/eventTypes.test.js.snap
  packages/core/src/analytics/types/eventTypes.js
  packages/react/src/analytics/integrations/GA4/eventMapping.js
  packages/react/src/analytics/integrations/GA4/validation/eventSchemas.js
  packages/react/src/analytics/integrations/GTM/eventsMapper.js
  packages/react/src/analytics/integrations/GTM/utils.js
  packages/react/src/analytics/integrations/__fixtures__/gaData.fixtures.js
  packages/react/src/analytics/integrations/__tests__/GTM.test.js
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GA4.test.js.snap
  packages/react/src/analytics/integrations/__tests__/__snapshots__/GTM.test.js.snap
Labels: type: feature, :package: react, :package: core

#987 feat: add advanced mode gcm for `main`
  packages/react/src/analytics/integrations/GA4/GA4.ts
  packages/react/src/analytics/integrations/GA4/__tests__/GA4.test.ts
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/GoogleConsentMode.ts
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/types.ts
Labels: type: feature, :package: react

#986 Feat add advanced mode gcm on `v1`
  packages/react/src/analytics/integrations/AnalyticsApi/AnalyticsApi.js
  packages/react/src/analytics/integrations/GA4/GA4.js
  packages/react/src/analytics/integrations/__tests__/AnalyticsApi.test.js
  packages/react/src/analytics/integrations/__tests__/GA4.test.js
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/GoogleConsentMode.js
Labels: type: feature, :package: react

#988 feat(client): add packaging options client
  packages/client/src/__tests__/__snapshots__/index.test.ts.snap
  packages/client/src/checkout/__fixtures__/getPackagingOptions.fixtures.ts
  packages/client/src/checkout/__tests__/__snapshots__/getPackagingOptions.test.ts.snap
  packages/client/src/checkout/__tests__/getCheckoutOrderDetails.test.ts
  packages/client/src/checkout/__tests__/getPackagingOptions.test.ts
  packages/client/src/checkout/getPackagingOptions.ts
  packages/client/src/checkout/index.ts
  packages/client/src/checkout/types/checkoutOrder.types.ts
  packages/client/src/checkout/types/checkoutOrderItem.types.ts
  packages/client/src/checkout/types/getPackagingOptions.types.ts
  packages/client/src/checkout/types/index.ts
  packages/client/src/checkout/types/packagingOption.types.ts
  packages/client/src/checkout/types/patchCheckoutOrder.types.ts
  packages/client/src/checkout/types/postCheckoutOrder.types.ts
  packages/redux/src/checkout/actions/__tests__/__snapshots__/createCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/fetchCheckoutOrder.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/removeCheckoutOrderPromocodes.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderItemTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderPromocodes.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/setCheckoutOrderTags.test.ts.snap
  packages/redux/src/checkout/actions/__tests__/__snapshots__/updateCheckoutOrder.test.ts.snap
  tests/__fixtures__/checkout/checkout.fixtures.mts
  tests/__fixtures__/checkout/index.mts
  tests/__fixtures__/checkout/packagingOptions.fixtures.mts
Labels: type: feature, :package: client, :package: redux
