Repository Farfetch/blackout, pull requests merged in 2024-03, with the labels that each got.

#993 feat: add support for sharing gcm v1
  packages/core/src/analytics/utils/getters.js
  packages/react/src/analytics/analytics.js
  packages/react/src/analytics/constants.js
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/GoogleConsentMode.js
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/__tests__/GoogleConsentMode.test.js
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/__tests__/__snapshots__/GoogleConsentMode.test.js.snap
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/cookieUtils.js
Labels: type: feature, :package: react, :package: core

#994 feat: add support for sharing gcm
  packages/analytics/src/utils/getters.ts
  packages/react/src/analytics/analytics.ts
  packages/react/src/analytics/constants.ts
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/GoogleConsentMode.ts
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/__tests__/GoogleConsentMode.test.ts
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/__tests__/__snapshots__/GoogleConsentMode.test.ts.snap
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/cookieUtils.ts
Labels: type: feature, :package: react, :package: analytics

#995 Fix SSR
  packages/react/src/analytics/constants.js
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/GoogleConsentMode.js
  packages/react/src/analytics/integrations/shared/GoogleConsentMode/cookieUtils.js
Labels: :package: react

#996 fix: referencedListing serverInitialState Validation
  packages/redux/src/products/serverInitialState/listings.ts
Labels: type: bug, :package: redux
